<p-messages [value]="msgs"></p-messages>
<div class="row">
   <div class="col-md-12">
      <p-accordion (onOpen)="onTabShow($event)" id="accordion">
         <p-accordionTab header="{{ 'ADMIN_FORMULARIOS.LBL_FUNCIONALIDAD' | translate:param }}" [disabled]="true"
                         [selected]="acordion == 0 || acordion == null ">
            <div *ngIf="functionality">
               <form (ngSubmit)="f.valid && onCreateF(acordion)" #f="ngForm" novalidate id="formulario">
                  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                     <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                           <label for="funcionalidad">{{ 'ADMIN_FORMULARIOS.LBL_FUNCIONALIDAD' | translate:param
                              }}</label>
                           <p-dropdown id="funcionalidad" name="funcionalidad" required="true"
                                       [options]="listFunctionality" [autoWidth]="false"
                                       [(ngModel)]="functionality.idMenu"
                                       #funcionalidad="ngModel"
                           ></p-dropdown>
                           <div class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="f.submitted && !funcionalidad.valid">
                              <i class="fa fa-close"></i>
                              Funcionalidad requerida
                           </div>
                        </div>
                        <div class="ui-grid-col-4">
                           <label></label><br>
                           <p-checkbox id="seccion" name="seccion" [(ngModel)]="indicadorSeccion"
                                       binary="true"
                                       label="{{ 'ADMIN_FORMULARIOS.LBL_SECCION' | translate:param }}"></p-checkbox>
                        </div>
                        <div class="ui-grid-col-4">
                           <label></label><br>
                           <p-checkbox id="Habilitado" name="Habilitado" [(ngModel)]="functionality.indicadorHabilitado"
                                       binary="true" label="{{'LBL_HABILITADO' | translate:param }}"></p-checkbox>
                        </div>
                     </div>
                     <div class="ui-grid-row form-footer-buttons">
                        <div class="ui-grid-col-4"></div>
                        <div class="ui-grid-col-1">
                           <a (click)="goBack()" class="cancelar">{{'BTN_CANCELAR' | translate:param }}</a>
                        </div>
                        <div class="ui-grid-col-2">
                           <button pButton icon="fa-plus" label="{{'BTN_GUARDAR' | translate:param }}"
                                   type="submit"></button>
                        </div>
                        <div class="ui-grid-col-5"></div>
                     </div>
                  </div>
               </form>
            </div>
            <p-confirmDialog width="400"></p-confirmDialog>
            <!--<button icon="fa-arrow-right" label="Siguiente" type="button" (click)="step()" pButton></button>-->
            <!--<p-checkbox id="Habilitado" name="Habilitado" [(ngModel)]="seccion" binary="true" label="Sección"></p-checkbox>-->
         </p-accordionTab>
         <p-accordionTab *ngIf="indicadorSeccion" header="{{ 'ADMIN_FORMULARIOS.LBL_SECCION' | translate:param }}"
                         [disabled]="secciondisabled" [selected]="acordion==2">

               <h3 class="first">{{ 'ADMIN_FORMULARIOS.LBL_SECCION' | translate:param }}</h3>
               <form (ngSubmit)="fs.valid && onCreateS()" #fs="ngForm" novalidate id="formularioseccion">
                  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                     <div class="ui-grid-row">
                        <div class="ui-grid-col-6">
                           <label for="nombre">{{ 'LBL_NOMBRE' | translate:param }}</label>
                           <input id="nombre" name="nombre" #nombre="ngModel" pInputText type="text"
                                  [(ngModel)]="functionalityControl.control" required/>
                           <div class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="fs.submitted && !nombre.valid">
                              <i class="fa fa-close"></i>
                              {{ 'ADMIN_FORMULARIOS.MSG_NOMBREREQUERIDO' | translate:param }}
                           </div>
                        </div>
                        <div class="ui-grid-col-6">
                           <label for="codigo">{{'LBL_CODIGO' | translate:param }}</label>
                           <input id="codigo" name="codigo" #codigo="ngModel" pInputText type="text"
                                  [(ngModel)]="functionalityControl.codigo" required/>
                           <div class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="fs.submitted && !codigo.valid">
                              <i class="fa fa-close"></i>
                              {{ 'ADMIN_FORMULARIOS.MSG_CODIGOREQUERIDO' | translate:param }}
                           </div>
                        </div>
                     </div>
                     <div class="ui-grid-row">
                        <div class="ui-grid-col-6">
                           <label for="clasificacion">{{ 'ADMIN_FORMULARIOS.LBL_CLASIFICACION' | translate:param
                              }}</label>
                           <p-dropdown id="clasificacion" name="clasificacion" required="true"
                                       [options]="listClassificationSeccion" [autoWidth]="false"
                                       [(ngModel)]="functionalityControl.idClasificacion"
                                       #clasificacion="ngModel"
                           ></p-dropdown>
                           <div class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="fs.submitted && !clasificacion.valid">
                              <i class="fa fa-close"></i>
                              {{ 'ADMIN_FORMULARIOS.MSG_CLASIFICACIONREQUERIDO' | translate:param }}
                           </div>
                        </div>
                        <div class="ui-grid-col-3">
                           <label></label><br>
                           <p-checkbox id="visible" name="visible" [(ngModel)]="functionalityControl.indicadorVisible"
                                       binary="true"
                                       label="{{ 'ADMIN_FORMULARIOS.LBL_VISIBLE' | translate:param }}"></p-checkbox>
                        </div>
                        <div class="ui-grid-col-3">
                           <label></label><br>
                           <p-checkbox id="imprimir" name="imprimir"
                                       [(ngModel)]="functionalityControl.indicadorImprimir"
                                       binary="true"
                                       label="{{ 'ADMIN_FORMULARIOS.LBL_IMPRIMIR' | translate:param }}"></p-checkbox>
                        </div>
                     </div>
                     <div class="ui-grid-row form-footer-buttons">
                        <div class="ui-grid-col-4"></div>
                        <div class="ui-grid-col-1">
                        </div>
                        <div class="ui-grid-col-5"></div>
                        <div class="ui-grid-col-2">
                           <button pButton icon="fa-plus" label="{{ 'BTN_AGREGAR' | translate:param }}"
                                   type="submit"></button>
                        </div>
                     </div>
                  </div>
               </form>
               <div>
                  <div class="row datable-header">
                     <div class="col-md-6 col-xs-12 datatable-header-add">
                        <!--<button type="button" icon="fa-plus" label="Añadir funcionalidad"-->
                        <!--pButton (click)="add()"></button>-->
                     </div>
                     <div class="col-md-6 col-xs-12 datatable-header-search">
                        <div class="input-group">
                           <div class="input-group-addon"><i class="fa fa-search"></i></div>
                           <input #gbs type="text" pInputText size="40"
                                  placeholder="{{ 'LBL_BUSCAR' | translate:param }}"
                                  class="form-control">
                        </div>
                     </div>
                  </div>
                  <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate:param }}"
                               [value]="functionalitySection"
                               [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gbs">
                     <p-column field="idFuncionalidadControl" header="Id" [sortable]="true"></p-column>
                     <p-column field="codigo" header="{{'LBL_CODIGO' | translate:param }}"
                               [sortable]="true"></p-column>
                     <p-column field="control" header="{{'LBL_NOMBRE' | translate:param }} "
                               [sortable]="true"></p-column>
                     <p-column field="idClasificacion"
                               header="{{'ADMIN_FORMULARIOS.LBL_CLASIFICACIONINFORMACION' | translate:param }} "
                               [sortable]="true"></p-column>
                     <p-column header="{{'LBL_HABILITADO' | translate:param }}" styleClass="datatable-col-action">
                        <template let-func="rowData" pTemplate="body">
                           <p-checkbox name="indicadorHabilitado" [(ngModel)]="func.indicadorHabilitado" binary="true"
                                       disabled="true"></p-checkbox>
                        </template>
                     </p-column>
                     <p-column header="{{'LBL_ACCIONES' | translate:param }}" styleClass="datatable-col-action">
                        <template let-func="rowData" pTemplate="body">
                           <button *ngIf="func.notFoundFiel" type="button" icon="fa-plus" class="ui-button-success"
                                   pButton (click)="addField(func)"></button>
                           <button *ngIf="!func.notFoundFiel" type="button" icon="fa-pencil" class="ui-button-success"
                                   pButton (click)="updateSection(func)"></button>
                        </template>
                     </p-column>
                  </p-dataTable>
               </div>

            <div *ngIf="editingSection">
               <!--<h3 class="first">{{ 'ADMIN_FORMULARIOS.LBL_SECCION' | translate:param }}</h3>-->
               <!--<form (ngSubmit)="fs.valid && onUpdateS()" #fs="ngForm" novalidate id="formularioseccionu">-->
                  <!--<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">-->
                     <!--<div class="ui-grid-row">-->
                        <!--<div class="ui-grid-col-6">-->
                           <!--<label for="nombre">{{ 'LBL_NOMBRE' | translate:param }}</label>-->
                           <!--<input id="nombres" name="nombres" #nombres="ngModel" pInputText type="text"-->
                                  <!--[(ngModel)]="functionalityControlSection.control" required/>-->
                           <!--<div class="ui-message ui-messages-error ui-corner-all"-->
                                <!--*ngIf="fs.submitted && !nombres.valid">-->
                              <!--<i class="fa fa-close"></i>-->
                              <!--{{ 'ADMIN_FORMULARIOS.MSG_NOMBREREQUERIDO' | translate:param }}-->
                           <!--</div>-->
                        <!--</div>-->
                        <!--<div class="ui-grid-col-6">-->
                           <!--<label for="codigos">{{'LBL_CODIGO' | translate:param }}</label>-->
                           <!--<input id="codigos" name="codigos" #codigos="ngModel" pInputText type="text"-->
                                  <!--[(ngModel)]="functionalityControlSection.codigo" required/>-->
                           <!--<div class="ui-message ui-messages-error ui-corner-all"-->
                                <!--*ngIf="fs.submitted && !codigos.valid">-->
                              <!--<i class="fa fa-close"></i>-->
                              <!--{{ 'ADMIN_FORMULARIOS.MSG_CODIGOREQUERIDO' | translate:param }}-->
                           <!--</div>-->
                        <!--</div>-->
                     <!--</div>-->
                     <!--<div class="ui-grid-row">-->
                        <!--<div class="ui-grid-col-6">-->
                           <!--<label for="clasificacions">{{ 'ADMIN_FORMULARIOS.LBL_CLASIFICACION' | translate:param-->
                              <!--}}</label>-->
                           <!--<p-dropdown id="clasificacions" name="clasificacions" required="true"-->
                                       <!--[options]="listClassificationSeccion" [autoWidth]="false"-->
                                       <!--[(ngModel)]="functionalityControlSection.idClasificacion"-->
                                       <!--#clasificacions="ngModel"-->
                           <!--&gt;</p-dropdown>-->
                           <!--<div class="ui-message ui-messages-error ui-corner-all"-->
                                <!--*ngIf="fs.submitted && !clasificacions.valid">-->
                              <!--<i class="fa fa-close"></i>-->
                              <!--{{ 'ADMIN_FORMULARIOS.MSG_CLASIFICACIONREQUERIDO' | translate:param }}-->
                           <!--</div>-->
                        <!--</div>-->
                        <!--<div class="ui-grid-col-3">-->
                           <!--<label></label><br>-->
                           <!--<p-checkbox id="visibles" name="visibles"-->
                                       <!--[(ngModel)]="functionalityControlSection.indicadorVisible"-->
                                       <!--binary="true"-->
                                       <!--label="{{ 'ADMIN_FORMULARIOS.LBL_VISIBLE' | translate:param }}"></p-checkbox>-->
                        <!--</div>-->
                        <!--<div class="ui-grid-col-3">-->
                           <!--<label></label><br>-->
                           <!--<p-checkbox id="imprimirs" name="imprimirs"-->
                                       <!--[(ngModel)]="functionalityControlSection.indicadorImprimir"-->
                                       <!--binary="true"-->
                                       <!--label="{{ 'ADMIN_FORMULARIOS.LBL_IMPRIMIR' | translate:param }}"></p-checkbox>-->
                        <!--</div>-->
                     <!--</div>-->
                     <!--<div class="ui-grid-row form-footer-buttons">-->
                        <!--<div class="ui-grid-col-4"></div>-->
                        <!--<div class="ui-grid-col-1">-->
                        <!--</div>-->
                        <!--<div class="ui-grid-col-5"></div>-->
                        <!--<div class="ui-grid-col-2">-->
                           <!--<button pButton icon="fa-plus" label="{{ 'BTN_AGREGAR' | translate:param }}"-->
                                   <!--type="submit"></button>-->
                        <!--</div>-->
                     <!--</div>-->
                  <!--</div>-->
               <!--</form>-->
            </div>
         </p-accordionTab>
         <p-accordionTab header="{{ 'ADMIN_FORMULARIOS.LBL_CAMPO' | translate:param }}" [selected]="acordion==3"
                         [disabled]="campodisabled">
            <div *ngIf="!editingSection">
               <div *ngIf="!editingField">
                  <h3 class="first">{{ 'ADMIN_FORMULARIOS.LBL_CAMPO' | translate:param }}</h3>
                  <form (ngSubmit)="fc.valid && onCreateC(acordion)" #fc="ngForm" novalidate id="formulariocampo">
                     <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                        <div class="ui-grid-row">
                           <div class="ui-grid-col-6">
                              <label for="nombrec">{{ 'LBL_NOMBRE' | translate:param }}</label>
                              <input id="nombrec" name="nombrec" #nombrec="ngModel" pInputText type="text"
                                     [(ngModel)]="functionalityControl.control" required/>
                              <div class="ui-message ui-messages-error ui-corner-all"
                                   *ngIf="fc.submitted && !nombrec.valid">
                                 <i class="fa fa-close"></i>
                                 {{ 'ADMIN_FORMULARIOS.MSG_NOMBREREQUERIDO' | translate:param }}
                              </div>
                           </div>
                           <div class="ui-grid-col-6">
                              <label for="codigoc">{{ 'LBL_CODIGO' | translate:param }}</label>
                              <input id="codigoc" name="codigoc" #codigoc="ngModel" pInputText type="text"
                                     [(ngModel)]="functionalityControl.codigo" required/>
                              <div class="ui-message ui-messages-error ui-corner-all"
                                   *ngIf="fc.submitted && !codigoc.valid">
                                 <i class="fa fa-close"></i>
                                 {{ 'ADMIN_FORMULARIOS.MSG_CODIGOREQUERIDO' | translate:param }}
                              </div>
                           </div>
                        </div>
                        <div class="ui-grid-row">
                           <div class="ui-grid-col-6">
                              <label for="clasificacionc">{{ 'ADMIN_FORMULARIOS.LBL_CLASIFICACION' |
                                 translate:param}}</label>

                              <p-dropdown id="clasificacionc" name="clasificacionc" required="true"
                                          [options]="listClassificationCampo" [autoWidth]="false"
                                          [(ngModel)]="functionalityControl.idClasificacion"
                                          #clasificacionc="ngModel"
                              ></p-dropdown>
                              <div class="ui-message ui-messages-error ui-corner-all"
                                   *ngIf="fc.submitted && !clasificacionc.valid">
                                 <i class="fa fa-close"></i>
                                 {{ 'ADMIN_FORMULARIOS.MSG_CLASIFICACIONREQUERIDA' | translate:param }}
                              </div>
                           </div>
                           <div class="ui-grid-col-3">
                              <label></label><br>
                              <p-checkbox id="visiblec" name="visiblec"
                                          [(ngModel)]="functionalityControl.indicadorVisible"
                                          binary="true"
                                          label="{{ 'ADMIN_FORMULARIOS.LBL_VISIBLE' | translate:param }}"></p-checkbox>
                           </div>
                           <div class="ui-grid-col-3">
                              <label></label><br>
                              <p-checkbox id="obligatorio" name="obligatorio"
                                          [(ngModel)]="functionalityControl.indicadorImprimir" binary="true"
                                          label="{{ 'ADMIN_FORMULARIOS.LBL_OBLIGATORIO' | translate:param }}"></p-checkbox>
                           </div>
                        </div>
                        <div class="ui-grid-row form-footer-buttons">
                           <div class="ui-grid-col-4"></div>
                           <div class="ui-grid-col-1">
                           </div>
                           <div class="ui-grid-col-5"></div>
                           <div class="ui-grid-col-2">
                              <button pButton icon="fa-plus" label="{{ 'BTN_AGREGAR' | translate:param }}"
                                      type="submit"></button>
                           </div>
                        </div>
                     </div>
                  </form>
                  <div class="row-fluid">
                     <div class="row datable-header">
                        <div class="col-md-6 col-xs-12 datatable-header-add">
                           <!--<button type="button" icon="fa-plus" label="Añadir funcionalidad"-->
                           <!--pButton (click)="add()"></button>-->
                        </div>
                        <div class="col-md-6 col-xs-12 datatable-header-search">
                           <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-search"></i></div>
                              <input #gbc type="text" pInputText size="40"
                                     placeholder="{{ 'LBL_BUSCAR' | translate:param }}"
                                     class="form-control">
                           </div>
                        </div>
                     </div>
                     <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate:param }}"
                                  [value]="functionalityField"
                                  [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gbc">
                        <p-column field="idFuncionalidadControl" header="Id" [sortable]="true"></p-column>
                        <p-column field="codigo" header="{{'LBL_CODIGO' | translate:param }}"
                                  [sortable]="true"></p-column>
                        <p-column field="control" header="{{'LBL_NOMBRE' | translate:param }} "
                                  [sortable]="true"></p-column>
                        <p-column field="idClasificacion"
                                  header="{{'ADMIN_FORMULARIOS.LBL_CLASIFICACIONINFORMACION' | translate:param }}"
                                  [sortable]="true"></p-column>
                        <p-column header="{{'LBL_HABILITADO' | translate:param }}" styleClass="datatable-col-action">
                           <template let-func="rowData" pTemplate="body">
                              <p-checkbox name="indicadorHabilitado" [(ngModel)]="func.indicadorHabilitado"
                                          binary="true"
                                          disabled="true"></p-checkbox>
                           </template>
                        </p-column>
                        <p-column header="{{'LBL_ACCIONES' | translate:param }}" styleClass="datatable-col-action">
                           <template let-func="rowData" pTemplate="body">
                              <button type="button" icon="fa-pencil" class="ui-button-success"
                                      pButton (click)="updateField(func)"></button>
                           </template>
                        </p-column>
                     </p-dataTable>
                     <br>
                     <div class="row form-footer-buttons">
                        <div class="form-group col-md-3 col-md-offset-9">
                           <button label="{{'ADMIN_FORMULARIOS.LBL_TERMINAR' | translate:param }}" type="button"
                                   (click)="goBack()"
                                   pButton></button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div *ngIf="editingField">
               <form (ngSubmit)="fc.valid && onUpdateC(acordion)" #fc="ngForm" novalidate id="formulariocampo">
                  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                     <div class="ui-grid-row">
                        <div class="ui-grid-col-6">
                           <label for="nombreca">{{ 'LBL_NOMBRE' | translate:param }}</label>
                           <input id="nombreca" name="nombreca" #nombreca="ngModel" pInputText type="text"
                                  [(ngModel)]="functionalityControlField.control" required/>
                           <div class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="fc.submitted && !nombreca.valid">
                              <i class="fa fa-close"></i>
                              {{ 'ADMIN_FORMULARIOS.MSG_NOMBREREQUERIDO' | translate:param }}
                           </div>
                        </div>
                        <div class="ui-grid-col-6">
                           <label for="codigoca">{{ 'LBL_CODIGO' | translate:param }}</label>
                           <input id="codigoca" name="codigoca" #codigoca="ngModel" pInputText type="text"
                                  [(ngModel)]="functionalityControlField.codigo" required/>
                           <div class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="fc.submitted && !codigoca.valid">
                              <i class="fa fa-close"></i>
                              {{ 'ADMIN_FORMULARIOS.MSG_CODIGOREQUERIDO' | translate:param }}
                           </div>
                        </div>
                     </div>
                     <div class="ui-grid-row">
                        <div class="ui-grid-col-6">
                           <label for="clasificacionc">{{ 'ADMIN_FORMULARIOS.LBL_CLASIFICACION' |
                              translate:param}}</label>

                           <p-dropdown id="clasificacionca" name="clasificacionca" required="true"
                                       [options]="listClassificationCampo" [autoWidth]="false"
                                       [(ngModel)]="functionalityControlField.idClasificacion"
                                       #clasificacionca="ngModel"
                           ></p-dropdown>
                           <div class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="fc.submitted && !clasificacionca.valid">
                              <i class="fa fa-close"></i>
                              {{ 'ADMIN_FORMULARIOS.MSG_CLASIFICACIONREQUERIDA' | translate:param }}
                           </div>
                        </div>
                        <div class="ui-grid-col-3">
                           <label></label><br>
                           <p-checkbox id="visibleca" name="visibleca"
                                       [(ngModel)]="functionalityControlField.indicadorVisible"
                                       binary="true"
                                       label="{{ 'ADMIN_FORMULARIOS.LBL_VISIBLE' | translate:param }}"></p-checkbox>
                        </div>
                        <div class="ui-grid-col-3">
                           <label></label><br>
                           <p-checkbox id="obligatorioa" name="obligatorioa"
                                       [(ngModel)]="functionalityControlField.indicadorImprimir" binary="true"
                                       label="{{ 'ADMIN_FORMULARIOS.LBL_OBLIGATORIO' | translate:param }}"></p-checkbox>
                        </div>
                     </div>
                     <div class="ui-grid-row form-footer-buttons">
                        <div class="ui-grid-col-4"></div>
                        <div class="ui-grid-col-5"></div>
                        <div class="ui-grid-col-1">
                           <a (click)="goBackField()" class="cancelar">{{'BTN_CANCELAR' | translate:param }}</a>
                        </div>
                        <div class="ui-grid-col-2">
                           <button pButton icon="fa-plus" label="{{ 'BTN_GUARDAR' | translate:param }}"
                                   type="submit"></button>
                        </div>
                     </div>
                  </div>
               </form>
            </div>

            <div *ngIf="editingSection">
               <h3 class="first">{{ 'ADMIN_FORMULARIOS.LBL_SECCION' | translate:param }}</h3>
               <form (ngSubmit)="fs.valid && onUpdateS()" #fs="ngForm" novalidate id="formularioseccionu">
                  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                     <div class="ui-grid-row">
                        <div class="ui-grid-col-6">
                           <label for="nombre">{{ 'LBL_NOMBRE' | translate:param }}</label>
                           <input id="nombres" name="nombres" #nombres="ngModel" pInputText type="text"
                                  [(ngModel)]="functionalityControlSection.control" required/>
                           <div class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="fs.submitted && !nombres.valid">
                              <i class="fa fa-close"></i>
                              {{ 'ADMIN_FORMULARIOS.MSG_NOMBREREQUERIDO' | translate:param }}
                           </div>
                        </div>
                        <div class="ui-grid-col-6">
                           <label for="codigos">{{'LBL_CODIGO' | translate:param }}</label>
                           <input id="codigos" name="codigos" #codigos="ngModel" pInputText type="text"
                                  [(ngModel)]="functionalityControlSection.codigo" required/>
                           <div class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="fs.submitted && !codigos.valid">
                              <i class="fa fa-close"></i>
                              {{ 'ADMIN_FORMULARIOS.MSG_CODIGOREQUERIDO' | translate:param }}
                           </div>
                        </div>
                     </div>
                     <div class="ui-grid-row">
                        <div class="ui-grid-col-6">
                           <label for="clasificacions">{{ 'ADMIN_FORMULARIOS.LBL_CLASIFICACION' | translate:param
                              }}</label>
                           <p-dropdown id="clasificacions" name="clasificacions" required="true"
                                       [options]="listClassificationSeccion" [autoWidth]="false"
                                       [(ngModel)]="functionalityControlSection.idClasificacion"
                                       #clasificacions="ngModel"
                           ></p-dropdown>
                           <div class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="fs.submitted && !clasificacions.valid">
                              <i class="fa fa-close"></i>
                              {{ 'ADMIN_FORMULARIOS.MSG_CLASIFICACIONREQUERIDO' | translate:param }}
                           </div>
                        </div>
                        <div class="ui-grid-col-3">
                           <label></label><br>
                           <p-checkbox id="visibles" name="visibles"
                                       [(ngModel)]="functionalityControlSection.indicadorVisible"
                                       binary="true"
                                       label="{{ 'ADMIN_FORMULARIOS.LBL_VISIBLE' | translate:param }}"></p-checkbox>
                        </div>
                        <div class="ui-grid-col-3">
                           <label></label><br>
                           <p-checkbox id="imprimirs" name="imprimirs"
                                       [(ngModel)]="functionalityControlSection.indicadorImprimir"
                                       binary="true"
                                       label="{{ 'ADMIN_FORMULARIOS.LBL_IMPRIMIR' | translate:param }}"></p-checkbox>
                        </div>
                     </div>
                     <div class="ui-grid-row form-footer-buttons">
                        <div class="ui-grid-col-4"></div>
                        <div class="ui-grid-col-1">
                        </div>
                        <div class="ui-grid-col-5"></div>
                        <div class="ui-grid-col-2">
                           <button pButton icon="fa-plus" label="{{ 'BTN_AGREGAR' | translate:param }}"
                                   type="submit"></button>
                        </div>
                     </div>
                  </div>
               </form>
            </div>

         </p-accordionTab>
      </p-accordion>
   </div>
</div>