<h3 class="first">{{'EMPLOYEES.LBL_EDUCACION' | translate}}</h3>
<div>
    <div class="row datable-header">
        <div class="col-md-6 col-xs-12 datatable-header-add">
            <button type="button" pButton icon="fa-plus" (click)="add()" label="{{'EMPLOYEES.LBL_NUEVOESTUDIO' | translate}}"></button>
        </div>
		 <div class="col-md-6 col-xs-12 datatable-header-search">
			 <div class="input-group">
				 <div class="input-group-addon"><i class="fa fa-search"></i></div>
				 <input #gb type="text" pInputText size="40" placeholder="{{ 'LBL_BUSCAR' | translate }}" class="form-control">
			 </div>
		 </div>
    </div>
    <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}"  [value]="fstudies" selectionMode="single" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
        <p-column field="tituloEstudio" header="{{'EMPLOYEES.LBL_TITULOOBTENIDO' | translate}}" [sortable]="true"></p-column>
        <p-column field="fechaIngresa" header="{{'EMPLOYEES.LBL_INGRESO' | translate}} " [sortable]="true"></p-column>
        <p-column field="fechaTermina" header="{{'EMPLOYEES.LBL_FINALIZACION' | translate}}" [sortable]="true"></p-column>
        <p-column field="ciudad" header="{{'LBL_CIUDAD' | translate}}" [sortable]="true"></p-column>
        <p-column  header="{{'EMPLOYEES.LBL_INSTITUCION' | translate}}" [sortable]="true">
          <template let-const="rowData" pTemplate="body">
            <p *ngIf="const.idInstitucion == null">{{const.otraInstitucion}}</p>
            <p *ngIf="const.idInstitucion != null">{{const.institucion}}</p>
          </template>
        </p-column>
        <p-column field="indicadorVerificado" header="{{'EMPLOYEES.LBL_CONFIRMADA' | translate}}" [sortable]="true"></p-column>
        <p-column header="Acciones" styleClass="datatable-col-action">
            <template let-fstudy="rowData" pTemplate="body">
                <div class="btn-group" role="group">
                    <button type="button"  class="ui-button btn" icon="fa-eye"
                            pButton (click)="detail(fstudy)"></button>
                    <button type="button"  class="ui-button ui-button-success btn" icon="fa-pencil"
                            pButton (click)="update(fstudy)"></button>
                    <button type="button"  class="ui-button ui-button-danger btn" icon="fa-trash"
                            pButton (click)="delete(fstudy)" ></button>
                </div>
            </template>
        </p-column>
    </p-dataTable>
</div>
<p-confirmDialog width="400" acceptLabel="{{'BTN_SI' | translate }}" rejectLabel="{{'BTN_NO' | translate }}"></p-confirmDialog>