<div *ngIf="study">
    <div class="row">
        <div class="col-md-12">
            <h3 class="first">Estudio Formal</h3>
        </div>
    </div>

    <div class="row">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">

                  <div class="row">
                    <label class="col-md-3 col-sm-6 col-xs-12 control-label">Titulo:</label>
                    <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.tituloEstudio}}</strong></label>

                    <label class="col-md-3 col-sm-6 col-xs-12 control-label">Ciudad:</label>
                    <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.ciudad}}</strong></label>
                  </div>
                  <div class="row">
                    <label class="col-md-3 col-sm-6 col-xs-12 control-label">Ingreso:</label>
                    <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.fechaIngresa}}</strong></label>

                    <label class="col-md-3 col-sm-6 col-xs-12 control-label">Finalizacion:</label>
                    <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.fechaTermina}}</strong></label>
                  </div>
                  <div class="row">
                    <label class="col-md-3 col-sm-6 col-xs-12 control-label">Institucion:</label>
                    <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.institucion}}</strong></label>

                    <label class="col-md-3 col-sm-6 col-xs-12 control-label">Confirmada:</label>
                    <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.indicadorVerificado}}</strong></label>
                  </div>
                  <div class="row">
                    <label class="col-md-3 col-sm-6 col-xs-12 control-label">Nivel Estudio:</label>
                    <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.nivelEstudio}}</strong></label>

                    <label class="col-md-3 col-sm-6 col-xs-12 control-label">Area Estudio:</label>
                    <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.areaEstudio}}</strong></label>
                  </div>
                  <div class="row">
                    <label class="col-md-3 col-sm-6 col-xs-12 control-label">Otra Institucion:</label>
                    <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.otraInstitucion}}</strong></label>

                    <label class="col-md-3 col-sm-6 col-xs-12 control-label">Estado Estudio:</label>
                    <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.estadoEstudio}}</strong></label>
                  </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>

<div class="row form-footer-buttons">
  <div class="form-group col-md-12">
    <button icon="fa-arrow-left" label="Regresar" type="button"
            pButton (click)="goBack()"></button>
  </div>
</div>

