<div *ngIf="study">

    <div class="row">
		 <div class="col-md-10 col-md-offset-1">
        <form class="form-horizontal">
			  <p-panel header="{{'EMPLOYEES.LBL_ESTUDIOFORMAL' | translate}}">
            <fieldset>
                <div class="form-group">

                  <div class="row">
                    <label class="col-md-2 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_TITULO' | translate}}:</label>
                    <label class="col-md-4 col-sm-6 col-xs-12 "><strong>{{study.tituloEstudio}}</strong></label>

                    <label class="col-md-2 col-sm-6 col-xs-12 control-label">{{'LBL_CIUDAD' | translate}}:</label>
                    <label class="col-md-4 col-sm-6 col-xs-12 "><strong>{{study.ciudad}}</strong></label>
                  </div>
                  <div class="row">
                    <label class="col-md-2 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_INGRESO' | translate}}:</label>
                    <label class="col-md-4 col-sm-6 col-xs-12 "><strong>{{study.fechaIngresa}}</strong></label>

                    <label class="col-md-2 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_FINALIZACION' | translate}}:</label>
                    <label class="col-md-4 col-sm-6 col-xs-12 "><strong>{{study.fechaTermina}}</strong></label>
                  </div>
                  <div class="row">
                    <label class="col-md-2 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_INSTITUCION' | translate}}:</label>
                    <label class="col-md-4 col-sm-6 col-xs-12 "><strong>{{study.institucion}}</strong></label>

                    <label class="col-md-2 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_CONFIRMADA' | translate}}:</label>
                    <label class="col-md-4 col-sm-6 col-xs-12 "><strong>{{study.indicadorVerificado}}</strong></label>
                  </div>
                  <div class="row">
                    <label class="col-md-2 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_NIVELESTUDIOS' | translate}}:</label>
                    <label class="col-md-4 col-sm-6 col-xs-12 "><strong>{{study.nivelEstudio}}</strong></label>

                    <label class="col-md-2 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_AREAESTUDIOS' | translate}}:</label>
                    <label class="col-md-4 col-sm-6 col-xs-12 "><strong>{{study.areaEstudio}}</strong></label>
                  </div>
                  <div class="row">
                    <label class="col-md-2 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_OTRAINSTITUCION' | translate}}:</label>
                    <label class="col-md-4 col-sm-6 col-xs-12 "><strong>{{study.otraInstitucion}}</strong></label>

                    <label class="col-md-2 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_ESTADOS' | translate}}:</label>
                    <label class="col-md-4 col-sm-6 col-xs-12 "><strong>{{study.estadoEstudio}}</strong></label>
                  </div>
                </div>
            </fieldset>
				  <div class="row form-footer-buttons">
					  <div class="form-group col-md-12">
						  <button icon="fa-arrow-left" label="{{'BTN_REGRESAR' | translate}}" type="button"
									 pButton (click)="goBack()"></button>
					  </div>
				  </div>

			  </p-panel>
        </form>
		 </div>
    </div>
</div>

