<p-messages [value]="msgs"></p-messages>
<p-confirmDialog width="400" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<div *ngIf="nfstudy">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <h4 class="title">{{header}}</h4>
            </div>
        </div>
    </div>
    <form  (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">

          <div class="ui-grid-row">
              <div class="ui-grid-col-6">
                  <label for="tipoEstudio">{{ 'LBL_TIPOESTUDIO' | translate:param }}</label>
                  <p-dropdown name="tipoEstudio" id="tipoEstudio" #tipoEstudio="ngModel" [required]="otroTipoEstudio.value === '' || otroTipoEstudio.value === null"
                              [autoWidth]="false" [(ngModel)]="nfstudy.idTipoEstudio" [options]="studyTypeList" (onChange)="changeTipoestudio($event)"
                  ></p-dropdown>
                  <div class="ui-message ui-messages-error ui-corner-all"  *ngIf="f.submitted && !tipoEstudio.valid">
                    {{ 'MSG_TIPOESTUDIOREQUERIDO' | translate:param }}
                  </div>
              </div>
              <div class="ui-grid-col-6">
                  <label for="otroTipoEstudio">{{ 'LBL_OTROTIPOESTUDIO' | translate:param }}</label>
                  <input id="otroTipoEstudio" pInputText type="text" name="otroTipoEstudio" #otroTipoEstudio="ngModel" (change)="removeEstudio()"
                         [(ngModel)]="nfstudy.otroEstudio" #otroTipoEstudio="ngModel" [required]="tipoEstudio.value === null" />
                  <div  class="ui-message ui-messages-error ui-corner-all"  *ngIf="f.submitted && !otroTipoEstudio.valid" >
                      {{ 'MSG_OTROTIPOESTUDIOREQUERIDO' | translate:param }}
                  </div>
              </div>
          </div>
          <div class="ui-grid-row">
              <div class="ui-grid-col-6">
                <label for="ciudad">{{ 'LBL_CIUDAD' | translate:param }}</label>
                <p-autoComplete placeholder="Buscar ciudad" field="camino" #ciudad="ngModel" name="ciudad" id="ciudad"
                                [(ngModel)]="selectedCity" [suggestions]="cityList" required="true"
                                (completeMethod)="citySearch($event)" (onSelect)="captureCityId($event)" >
                </p-autoComplete>
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !ciudad.valid">
                  {{ 'MSG_CIUDADREQUERIDA' | translate:param }}
                </div>
              </div>
              <div class="ui-grid-col-6">
                <label for="titulo">{{ 'LBL_TITULO' | translate:param }}</label>
                <input type="text" pInputText name="titulo" id="titulo"  #titulo="ngModel" required="true"
                       [(ngModel)]="nfstudy.tituloEstudio"  />
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !titulo.valid">
                  {{ 'MSG_TITULOREQUERIDO' | translate:param }}
                </div>
              </div>

          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">
              <label for="areaEstudio">{{ 'LBL_AREAESTUDIOS' | translate:param }}</label>
              <p-dropdown name="areaEstudio" id="areaEstudio" #areaEstudio="ngModel" required="true"
                          [autoWidth]="false" [(ngModel)]="nfstudy.idAreaEstudio" [options]="studyAreaList"></p-dropdown>
              <div class="ui-message ui-messages-error ui-corner-all"  *ngIf="f.submitted && !areaEstudio.valid">
                {{ 'MSG_AREAESTUDIOREQUERIDO' | translate:param }}
              </div>
            </div>
              <div class="ui-grid-col-6">
                <label for="indicadorTerminacion">{{ 'LBL_ESTUDIOTERMINAOD' | translate:param }}</label>
                <p-checkbox id="indicadorTerminacion"  name="indicadorTerminacion"
                            #indicadorTerminacion="ngModel" (onChange)="updateEnd()"
                            [(ngModel)]="nfstudy.indicadorTerminacion" binary="true"></p-checkbox>
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !indicadorTerminacion.valid">
                  {{ 'MSG_ESTUDIOTERMINADOREQUERIDO' | translate:param }}
                </div>
              </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">
              <label for="ingreso">{{ 'LBL_INGRESO' | translate:param }}</label>
              <p-calendar id="ingreso" name="ingreso"  [showIcon]="true" [disabled]="disabled"
                          [yearNavigator]="true" [yearRange]="range" [locale]="es" readonlyInput="true"
                          [maxDate]="maxDate"
                          [dataType]="date" (onSelect)="onSelectBegin($event)" #ingreso="ngModel" required="true"
                          [(ngModel)]="fechaIngresa"></p-calendar>
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !ingreso.valid">
                {{ 'MSG_INGRESOREQUERIDO' | translate:param }}
              </div>
            </div>
            <div class="ui-grid-col-6" *ngIf="(indicadorTerminacion.value)">
              <label for="finalizacion">{{ 'LBL_FINALIZACION' | translate:param }}</label>
              <p-calendar id="finalizacion" name="finalizacion"  [showIcon]="true" [disabled]="disabled"
                          [yearNavigator]="true" [yearRange]="range" [locale]="es" readonlyInput="true"
                          [minDate]="minDate" [maxDate]="maxDateFinal"
                          [dataType]="date" (onSelect)="onSelectEnd($event)" #finalizacion="ngModel" [required]="indicadorTerminacion.value"
                          [(ngModel)]="fechaTermina"></p-calendar>
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !finalizacion.valid">
                {{ 'MSG_FINALIZACIONREQUERIDO' | translate:param }}
              </div>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">
              <label for="institucion">{{ 'LBL_INSTITUCION' | translate:param }}</label>
              <input id="institucion" pInputText type="text" name="institucion" #institucion="ngModel"
                     [(ngModel)]="nfstudy.institucion" #institucion="ngModel" required="true" />
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !institucion.valid">
                {{ 'MSG_OTRAINSTITUCIONREQUERIDO' | translate:param }}
              </div>
            </div>
            <div class="ui-grid-col-6">
                  <label for="intensidad">{{ 'LBL_INTENSIDAD' | translate:param }}</label>
                  <p-dropdown name="intensidad" id="intensidad" #intensidad="ngModel" required="true"
                            [autoWidth]="false" [(ngModel)]="nfstudy.idIntensidadHoraria" [options]="studyIntensityList"></p-dropdown>
                  <div  class="ui-message ui-messages-error ui-corner-all"  *ngIf="f.submitted && !intensidad.valid" >
                      {{ 'MSG_INTENSIDADREQUERIDO' | translate:param }}
                  </div>
              </div>
          </div>
          <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                  <label for="descripcion">{{ 'LBL_DESCRIPCION' | translate:param }}</label>
                  <textarea pInputTextarea id="descripcion" name="descripcion"  [(ngModel)]="nfstudy.descripcion"
                          #descripcion="ngModel">
                  </textarea>
              </div>
          </div>

          <div class="ui-grid-row form-footer-buttons">
            <div class="ui-grid-col-4"></div>
            <div class="ui-grid-col-1">
              <a (click)="goBack()" class="cancelar">{{ 'BTN_CANCELAR' | translate:param }}</a>
            </div>
            <div class="ui-grid-col-2">
              <button icon="fa-plus" label="Guardar" type="submit" pButton></button>
            </div>
            <div class="ui-grid-col-5"></div>
          </div>

      </div>
    </form>
</div>
