<div *ngIf="study">
    <div class="row">
        <div class="col-md-12">
            <h3 class="first">{{'EMPLOYEES.LBL_EDUCACION' | translate:param}}</h3>
        </div>
    </div>

    <div class="row">
      <form class="form-horizontal">
        <fieldset>
          <div class="form-group">

            <div class="row">
              <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'ACADEMICEDUCATION.LBL_TITULO' | translate:param}}:</label>
              <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.tituloEstudio}}</strong></label>

              <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{ 'LBL_CIUDAD' | translate:param }}:</label>
              <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.ciudad}}</strong></label>
            </div>
            <div class="row">
              <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'ACADEMICEDUCATION.LBL_INGRESO' | translate:param}}:</label>
              <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.fechaIngresa}}</strong></label>

              <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'ACADEMICEDUCATION.LBL_NIVELESTUDIOS' | translate:param}}:</label>
              <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.fechaTermina}}</strong></label>
            </div>
            <div class="row">
              <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_INSTITUCION' | translate:param}}:</label>
              <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.institucion}}</strong></label>

            </div>
            <div class="row">
              <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_INTENSIDAD' | translate:param}}:</label>
              <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.intensidadHoraria}}</strong></label>

              <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_TIPOESTUDIO' | translate:param}}:</label>
              <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{studysType}}</strong></label>
            </div>
            <div class="row">
              <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{ 'LBL_DESCRIPCION' | translate:param }}:</label>
              <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.descripcion}}</strong></label>

              <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'ACADEMICEDUCATION.LBL_AREAESTUDIOS' | translate:param}}:</label>
              <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{study.areaEstudio}}</strong></label>
            </div>
          </div>
        </fieldset>
      </form>

    </div>
</div>

<div class="row form-footer-buttons">
  <div class="form-group col-md-12">
    <button icon="fa-arrow-left" label="{{'BTN_REGRESAR' | translate:param}}" type="button"
            pButton (click)="goBack()"></button>
  </div>
</div>
