<div *ngIf="nfstudy">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <h4 class="title">{{header}}</h4>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate
                  class="form">
                <div class="row">
                    <div class="form-group col-md-6"
                         [ngClass]="{ 'has-error': f.submitted && !tipoEstudio.valid }">
                        <label for="tipoEstudio">Tipo de Estudio</label>
                        <input id="tipoEstudio" type="text" class="form-control" name="tipoEstudio"
                               [(ngModel)]="nfstudy.tipoEstudio" #tipoEstudio="ngModel"
                               required/>
                        <div *ngIf="f.submitted && !tipoEstudio.valid" class="help-block">
                            Tipo de Estudio es requerido
                        </div>
                    </div>
                    <div class="form-group col-md-6"
                         [ngClass]="{ 'has-error': f.submitted && !otroTipoEstudio.valid }">
                        <label for="otroTipoEstudio">Otro Tipo de Estudio</label>
                        <input id="otroTipoEstudio" type="text" class="form-control" name="otroTipoEstudio"
                               [(ngModel)]="nfstudy.otroTipoEstudio" #otroTipoEstudio="ngModel"
                               required/>
                        <div *ngIf="f.submitted && !otroTipoEstudio.valid" class="help-block">
                            Otro Tipo de Estudio es requerido
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6"
                         [ngClass]="{ 'has-error': f.submitted && !ciudad.valid }">
                        <label for="ciudad">Ciudad</label>
                        <input id="ciudad" type="text" class="form-control" name="ciudad"
                               [(ngModel)]="nfstudy.ciudad" #ciudad="ngModel"
                               required/>
                        <div *ngIf="f.submitted && !ciudad.valid" class="help-block">
                            Ciudad es requerido
                        </div>
                    </div>
                    <div class="form-group col-md-6"
                         [ngClass]="{ 'has-error': f.submitted && !titulo.valid }">
                        <label for="titulo">Título</label>
                        <input id="titulo" type="text" class="form-control" name="titulo"
                               [(ngModel)]="nfstudy.titulo" #titulo="ngModel"
                               required/>
                        <div *ngIf="f.submitted && !titulo.valid" class="help-block">
                            Título es requerido
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-md-6"
                         [ngClass]="{ 'has-error': f.submitted && !institucion.valid }">
                        <label for="institucion">Institución</label>
                        <input id="institucion" type="text" class="form-control" name="institucion"
                               [(ngModel)]="nfstudy.institucion" #institucion="ngModel"
                               required/>
                        <div *ngIf="f.submitted && !institucion.valid" class="help-block">
                            Institución es requerido
                        </div>
                    </div>
                    <div class="form-group col-md-6"
                         [ngClass]="{ 'has-error': f.submitted && !areaEstudio.valid }">
                        <label for="areaEstudio">Area de Estudios</label>
                        <input id="areaEstudio" type="text" class="form-control" name="areaEstudio"
                               [(ngModel)]="nfstudy.areaEstudio"
                               #areaEstudio="ngModel" required/>
                        <div *ngIf="f.submitted && !areaEstudio.valid" class="help-block">Area de
                            Estudios es requerido
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6"
                         [ngClass]="{ 'has-error': f.submitted && !ingreso.valid }">
                        <label for="ingreso">Ingreso</label>
                        <input id="ingreso" type="text" class="form-control" name="ingreso"
                               [(ngModel)]="nfstudy.ingreso" #ingreso="ngModel"
                               required/>
                        <div *ngIf="f.submitted && !ingreso.valid" class="help-block">
                            Ingreso es requerido
                        </div>
                    </div>
                    <div class="form-group col-md-6"
                         [ngClass]="{ 'has-error': f.submitted && !finalizacion.valid }">
                        <label for="finalizacion">Finalización</label>
                        <input id="finalizacion" type="text" class="form-control" name="finalizacion"
                               [(ngModel)]="nfstudy.finalizacion" #finalizacion="ngModel"
                               required/>
                        <div *ngIf="f.submitted && !finalizacion.valid" class="help-block">
                            Finalización es requerido
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6"
                         [ngClass]="{ 'has-error': f.submitted && !intensidad.valid }">
                        <label for="intensidad">Intensidad Horaria</label>
                        <input id="intensidad" type="text" class="form-control" name="intensidad"
                               [(ngModel)]="nfstudy.intensidad" #intensidad="ngModel"
                               required/>
                        <div *ngIf="f.submitted && !intensidad.valid" class="help-block">
                            Intensidad Horaria es requerido
                        </div>
                    </div>
                    <div class="form-group col-md-6"
                         [ngClass]="{ 'has-error': f.submitted && !estadoEstudio.valid }">
                        <label for="estadoEstudio">Estado Estudio</label>
                        <input id="estadoEstudio" type="text" class="form-control" name="estadoEstudio"
                               [(ngModel)]="nfstudy.estadoEstudio" #estadoEstudio="ngModel"
                               required/>
                        <div *ngIf="f.submitted && !estadoEstudio.valid" class="help-block">
                            Estado Estudio es requerido
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12"
                         [ngClass]="{ 'has-error': f.submitted && !descripcion.valid }">
                        <label for="descripcion">Descripción</label>
                        <input id="descripcion" type="text" class="form-control" name="descripcion"
                               [(ngModel)]="nfstudy.descripcion" #descripcion="ngModel"
                               required/>
                        <div *ngIf="f.submitted && !descripcion.valid" class="help-block">
                            Descripción es requerido
                        </div>
                    </div>
                </div>
                <div class="row form-footer-buttons">
                    <div class="form-group col-md-12">
                        <a (click)="goBack()" class="cancelar">Cancelar</a>
                        <button class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>

