<p-messages [value]="msgs"></p-messages>
<p-confirmDialog width="400" #cd>
   <p-footer>
      <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
   </p-footer>
</p-confirmDialog>
<div *ngIf="absence">
   <div class="row">
      <div class="col-md-12">
         <div class="header">
            <h3 class="title">{{'POSITION.LBL_POSICION' | translate}}</h3>
         </div>
      </div>
   </div>
   <form (ngSubmit)="fr.valid && onSubmitREE()" #fr="ngForm" novalidate id="formulario" *ngIf="!guardandoA">
      <div class="ui-grid-row">
         <div class="ui-grid-col-12">
            <label for="idCargoREP"><h3>{{'POSITION.LBL_REEMPLAZA' | translate}}</h3></label>
         </div>
      </div>
      <div class="ui-grid-row">
         <div class="ui-grid-col-9">
            <p-dropdown id="idCargoREE" name="idCargoREE" required="true"
                        [options]="listPositionREE" [autoWidth]="false" filter="filter"
                        [(ngModel)]="idCargoRelacionREE" #idCargoREE="ngModel"
            ></p-dropdown>
            <div class="ui-message ui-messages-error ui-corner-all"
                 *ngIf="fr.submitted && !idCargoREE.valid">
               <i class="fa fa-close"></i>
               {{'POSITION.LBL_CARGO' | translate}} {{'LBL_REQUERIDO' | translate}}
            </div>
         </div>
         <div class="ui-grid-col-3">
            <button class="btn-block" pButton icon="fa-plus" label="{{'BTN_AGREGAR' | translate}}" type="submit"></button>
         </div>
      </div>
   </form>
   <div class="row">
      <div class="col-md-12">
         <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listAbsenceREE" [paginator]="true" [rows]="10"
                        [responsive]="true">
            <p-column field="cargo" header="{{'POSITION.LBL_CARGO' | translate}}" [sortable]="true"></p-column>
            <p-column header="Acciones" styleClass="datatable-col-action">
               <template let-absence="rowData" pTemplate="body">
                  <button type="button" icon="fa-trash" class="ui-button-danger" data-toggle="tooltip" title="{{'BTN_INACTIVAR' | translate}}"
                          pButton (click)="delREE(absence)"></button>
               </template>
            </p-column>
         </p-dataTable>
      </div>
   </div>
   <form (ngSubmit)="f.valid && onSubmitREP()" #f="ngForm" novalidate id="formularioREP" *ngIf="!guardandoP">
      <div class="ui-grid-row">
         <div class="ui-grid-col-12">
            <label for="idCargoREP"><h3>{{'POSITION.LBL_REEMPLAZAPOR' | translate}}</h3></label>
         </div>
      </div>
      <div class="ui-grid-row">
         <div class="ui-grid-col-9">
            <p-dropdown id="idCargoREP" name="idCargoREP" required="true"
                        [options]="listPositionREP" [autoWidth]="false" filter="filter"
                        [(ngModel)]="idCargoRelacionREP" #idCargoREP="ngModel"
            ></p-dropdown>
            <div class="ui-message ui-messages-error ui-corner-all"
                 *ngIf="f.submitted && !idCargoREP.valid">
               <i class="fa fa-close"></i>
               {{'POSITION.LBL_CARGO' | translate}} {{'LBL_REQUERIDO' | translate}}
            </div>
         </div>
         <div class="ui-grid-col-3">
            <button class="btn-block" pButton icon="fa-plus" label="{{'BTN_AGREGAR' | translate}}" type="submit"></button>
         </div>
      </div>
   </form>
   <div class="row">
      <div class="col-md-12">
         <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listAbsenceREP" [paginator]="true" [rows]="10" [responsive]="true">
            <p-column field="cargo" header="{{'POSITION.LBL_CARGO' | translate}}" [sortable]="true"></p-column>
            <p-column header="Acciones" styleClass="datatable-col-action">
               <template let-absence="rowData" pTemplate="body">
                  <button type="button" icon="fa-trash" class="ui-button-danger" data-toggle="tooltip" title="{{'BTN_INACTIVAR' | translate}}"
                          pButton (click)="delREP(absence)"></button>
               </template>
            </p-column>
         </p-dataTable>
      </div>
   </div>
</div>
<div class="ui-grid-row">
   <div class="ui-grid-col-10">
      <p-messages [value]="msgsAlert"></p-messages>
   </div>
	<div class="row form-footer-buttons">
		<div class="form-group col-md-12">
			<button icon="fa-arrow-right" label="{{ 'BTN_SIGUIENTE' | translate }}" type="button" (click)="next()"
					  pButton></button>
		</div>
	</div>
</div>
