
<div *ngIf="areas">

  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-sm-12">
    <form class="form-horizontal">
		 <p-panel header="{{ 'TIPODEAREA.LBL_DETALLETIPO' | translate }}">
			 <fieldset>
          <div class="row">
            <label class="col-md-6 col-xs-4 control-label">{{ 'LBL_CODIGO' | translate }}:</label>
            <label class="col-md-6 col-xs-8 "><strong>{{areas.codigoArea}}</strong></label>

            <label class="col-md-6 col-xs-4 control-label">{{ 'LBL_NOMBRE' | translate }}:</label>
            <label class="col-md-6 col-xs-8"><strong>{{areas.estructuraArea}}</strong></label>

				 <label class="col-md-6 col-xs-4 control-label">{{ 'LBL_HABILITADO' | translate }}:</label>
				 <label class="col-md-6 col-xs-8"><strong>{{habilitado}}</strong></label>

			 </div>
				 <div class="row form-footer-buttons">
					 <div class="form-group col-md-12">
						 <button icon="fa-arrow-left" label="{{ 'BTN_REGRESAR' | translate }}" type="button"
									pButton (click)="goBack()"></button>
					 </div>
				 </div>
			 </fieldset>
		 </p-panel>

    </form>
  </div>
  </div>

</div>

