<h3>Tipo de Área</h3>
<div class="row datable-header">
    <div class="col-md-6 col-xs-12 datatable-header-add">
        <button type="button" pButton icon="fa-plus" (click)="addArea()" label="Nuevo Tipo de área"></button>
    </div>
    <div class="col-md-6 col-xs-12 datatable-header-search">
        <i class="fa fa-search"></i>
        <input #gb type="text" pInputText size="40" placeholder="Buscar...">
    </div>
</div>
<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate:param }}"  [value]="listadoAreas" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
    <p-column field="idEstructuraArea" header="Id" [sortable]="true"></p-column>
    <p-column field="codigoArea" header="Código" [sortable]="true"></p-column>
    <p-column field="estructuraArea" header="Nombre" [sortable]="true"></p-column>
    <p-column field="indicadorHabilitado" header="Estado" [sortable]="true">
        <template let-const="rowData" pTemplate="body">
            <p-checkbox [(ngModel)]="const.indicadorHabilitado" binary="true" disabled="true"></p-checkbox>
        </template>
    </p-column>
    <p-column header="Acciones" styleClass="datatable-col-action">
        <template let-areaData="rowData" pTemplate="body">
            <div class="btn-group" role="group">
                <button type="button" class="ui-button btn" icon="fa-eye"
                        pButton (click)="viewArea(areaData)"></button>
                <button type="button" class="ui-button ui-button-success btn" icon="fa-pencil" pButton
                        (click)="editArea(areaData)"></button>
            </div>
        </template>
    </p-column>
</p-dataTable>