<p-accordion (onOpen)="onTabShow($event)" id="accordion">
	<p-accordionTab header="{{'EMPLOYEES.LBL_DATOSGENERALES' | translate}}" [selected]="acordion == 0 || acordion == null">
		<div class="clearfix">
			<p-messages [value]="msgs"></p-messages>
			<p-confirmDialog width="400" #cd>
				<p-footer>
					<button type="button" pButton icon="fa-close" label="{{'BTN_NO' | translate }}" (click)="cd.reject()"></button>
					<button type="button" pButton icon="fa-check" label="{{'BTN_SI' | translate }}" (click)="cd.accept()"></button>
				</p-footer>
			</p-confirmDialog>
			<div class="col-md-10 col-md-offset-1">
				<h3>{{ 'EMPLOYEENOVELTY.LBL_NOVEDAD' | translate }}</h3>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<form (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate id="formulario">
					<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
						<div class="ui-grid-row">
							<div class="ui-grid-col-6">
								<label for="idTipoNovedad">{{ 'EMPLOYEENOVELTY.LBL_TIPONOVEDAD' | translate }}</label>
								<p-dropdown id="idTipoNovedad" name="idTipoNovedad"
								            [options]="listTypeEvent" [autoWidth]="false"
								            [(ngModel)]="idTipoNovedad"
								            #idTipoNov="ngModel" (onChange)="changeTypeEvent()"
								></p-dropdown>
								<div class="ui-message ui-messages-error ui-corner-all"
								     *ngIf="f.submitted && !idTipoNov.valid">
									<i class="fa fa-close"></i>
									{{ 'EMPLOYEENOVELTY.LBL_TIPONOVEDAD' | translate }} {{ 'LBL_REQUERIDO' | translate }}
								</div>
							</div>
							<div class="ui-grid-col-6">
								<label for="idNovedad">{{ 'EMPLOYEENOVELTY.LBL_NOVEDAD' | translate }}</label>
								<p-dropdown id="idNovedad" name="idNovedad"
								            [options]="listEventualities" [autoWidth]="false"
								            [(ngModel)]="employeeEventuality.idNovedad"
								            #idNov="ngModel" (onChange)="changeEventuality()"
								></p-dropdown>
								<div class="ui-message ui-messages-error ui-corner-all"
								     *ngIf="f.submitted && !idNov.valid">
									<i class="fa fa-close"></i>
									{{ 'EMPLOYEENOVELTY.LBL_NOVEDAD' | translate }} {{ 'LBL_REQUERIDO' | translate }}
								</div>
							</div>
						</div>
						
						<div class="ui-grid-row">
							<div class="ui-grid-col-3" *ngIf="showfechainicio">
								<label for="fechaInicio">{{ 'EMPLOYEENOVELTY.LBL_FECHAINICIO' | translate }}</label>
								<p-calendar id="fechaInicio" name="fechaInicio" #fechaIni="ngModel" [showIcon]="true"
								            [minDate]="minDateInicio" [monthNavigator]="true" [yearNavigator]="true"
								            [locale]="es" readonlyInput="readonlyInput" [required]="requiredfechainicio"
								            dataType="date" [(ngModel)]="fechaInicio" [yearRange]="rangeFin"
								            dateFormat="yy'-'mm'-'dd" (onSelect)="selectInicio()"></p-calendar>
								<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !fechaIni.valid">
									<i class="fa fa-close"></i>
									{{'EMPLOYEENOVELTY.LBL_FECHAINICIO' | translate }} {{'LBL_REQUERIDO' | translate }}
								</div>
							</div>
							<div class="ui-grid-col-3" *ngIf="showhorainicio">
								<label for="horaInicio">{{ 'EMPLOYEENOVELTY.LBL_HORAINICIO' | translate }}</label>
								<p-calendar id="horaInicio" name="horaInicio" #horaIni="ngModel" [showIcon]="true" class="calendarTime"
								            [monthNavigator]="true" [yearNavigator]="true"
								            readonlyInput="readonlyInput" [timeOnly]="true" [required]="requiredhorainicio"
								            dataType="date" [(ngModel)]="horaInicio"
								            dateFormat="yy'-'mm'-'dd"></p-calendar>
								<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !horaIni.valid">
									<i class="fa fa-close"></i>
									{{'EMPLOYEENOVELTY.LBL_HORAINICIO' | translate }} {{'LBL_REQUERIDO' | translate }}
								</div>
							</div>
							<div class="ui-grid-col-3" *ngIf="showfechafinal">
								<label for="fechaFinl">{{ 'EMPLOYEENOVELTY.LBL_FECHAFINAL' | translate }}</label>
								<p-calendar id="fechaFinl" name="fechaFinl" #fechaFin="ngModel" [showIcon]="true"
								            [minDate]="minDateFin" [monthNavigator]="true" [yearNavigator]="true"
								            [locale]="es" readonlyInput="readonlyInput" [required]="requiredfechafinal"
								            dataType="date" [(ngModel)]="fechaFinal" [yearRange]="rangeFin"
								            dateFormat="yy'-'mm'-'dd" (onSelect)="selectFinal()"></p-calendar>
								<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !fechaFin.valid">
									<i class="fa fa-close"></i>
									{{'EMPLOYEENOVELTY.LBL_FECHAFINAL' | translate }} {{'LBL_REQUERIDO' | translate }}
								</div>
							</div>
							<div class="ui-grid-col-3" *ngIf="showhorafinal">
								<label for="horaFinl">{{ 'EMPLOYEENOVELTY.LBL_HORAFINAL' | translate }}</label>
								<p-calendar id="horaFinl" name="horaFinl" #horaFin="ngModel" [showIcon]="true"
								            [monthNavigator]="true" [yearNavigator]="true"
								            readonlyInput="readonlyInput" [timeOnly]="true" [required]="requiredhorafinal"
								            dataType="date" [(ngModel)]="horaFinal" [showTime]="true"
								            dateFormat="yy'-'mm'-'dd"></p-calendar>
								<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !horaFin.valid">
									<i class="fa fa-close"></i>
									{{'EMPLOYEENOVELTY.LBL_HORAFINAL' | translate }} {{'LBL_REQUERIDO' | translate }}
								</div>
							</div>
						</div>
						<div class="ui-grid-row">
							<div class="ui-grid-col-12" *ngIf="showdescripcion">
								<label for="observacion">* {{'EMPLOYEENOVELTY.LBL_DESCRIPCION' | translate }}</label>
								<textarea id="observacion" name="observacion" pInputTextarea rows="4" cols="35" #decrip="ngModel"
								          [(ngModel)]="employeeEventuality.descripcion" class="form-control" [required]="requireddescripcion"
								          maxlength="500" (keyup)="capitalize($event)"></textarea>
								<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !decrip.valid">
									<i class="fa fa-close"></i>
									{{'EMPLOYEENOVELTY.LBL_DESCRIPCION' | translate }} {{'LBL_REQUERIDO' | translate }}
								</div>
							</div>
						</div>
						<div class="ui-grid-row">
							<div class="ui-grid-col-6" *ngIf="showdiagnostico">
								<label>{{'EMPLOYEENOVELTY.LBL_DIAGNOSTICO' | translate }}</label>
								<p-autoComplete placeholder="Buscar diagnóstico" field="label" name="diagnostico" id="diagnostico"
								                [(ngModel)]="employeeEventuality.idDiagnostico" [required]="requireddiagnostico"
								                #diagnostico="ngModel" [suggestions]="diagnosticList"
								                (completeMethod)="diagnosticSearch($event)" (onSelect)="captureDiagnosticId($event)">
								</p-autoComplete>
								<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && wrongDiagnostic">
									<i class="fa fa-close"></i>{{'EMPLOYEENOVELTY.LBL_DIAGNOSTICO' | translate}} {{'LBL_REQUERIDO' | translate}}
								</div>
							</div>
							<div class="ui-grid-col-6" *ngIf="showreemplazado">
								<label for="reemplazado">{{ 'EMPLOYEENOVELTY.LBL_REEMPLAZADOPOR' | translate }}</label>
								<input id="reemplazado" name="reemplazado" #reemplaz="ngModel" pInputText type="text"
								       maxlength="100" [(ngModel)]="employeeEventuality.reemplazadoPor" (keyup)="capitalize($event)"
								       [required]="requiredreemplazado"/>
								<div class="ui-message ui-messages-error ui-corner-all"
								     *ngIf="f.submitted && !reemplaz.valid ">
									<i class="fa fa-close"></i>
									{{ 'EMPLOYEENOVELTY.LBL_REEMPLAZADOPOR' | translate }} {{ 'LBL_REQUERIDO' | translate }}
								</div>
							</div>
						</div>
						<div class="ui-grid-row">
							<div class="ui-grid-col-3" *ngIf="showfechareintegro">
								<label for="fechaReintegr">{{ 'EMPLOYEENOVELTY.LBL_FECHAREINTEGRO' | translate }}</label>
								<p-calendar id="fechaReintegr" name="fechaReintegr" #fechaReint="ngModel" [showIcon]="true"
								            [minDate]="minDateReint" [monthNavigator]="true" [yearNavigator]="true"
								            [locale]="es" readonlyInput="readonlyInput" [required]="requiredfechareintegro"
								            dataType="date" [(ngModel)]="fechaReintegro" [yearRange]="rangeFin"
								            dateFormat="yy'-'mm'-'dd"></p-calendar>
								<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !fechaReint.valid">
									<i class="fa fa-close"></i>
									{{'EMPLOYEENOVELTY.LBL_FECHAREINTEGRO' | translate }} {{'LBL_REQUERIDO' | translate }}
								</div>
							</div>
							<div class="ui-grid-col-3" *ngIf="showhorareintegro">
								<label for="horaReintegr">{{ 'EMPLOYEENOVELTY.LBL_HORAREINTEGRO' | translate }}</label>
								<p-calendar id="horaReintegr" name="horaReintegr" #horaReint="ngModel" [showIcon]="true"
								            [minDate]="minDateInicio" [monthNavigator]="true" [yearNavigator]="true"
								            [locale]="es" readonlyInput="readonlyInput" [timeOnly]="true" [required]="requiredhorareintegro"
								            dataType="date" [(ngModel)]="horaReintergo"
								            dateFormat="yy'-'mm'-'dd"></p-calendar>
								<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !horaReint.valid">
									<i class="fa fa-close"></i>
									{{'EMPLOYEENOVELTY.LBL_HORAREINTEGRO' | translate }} {{'LBL_REQUERIDO' | translate }}
								</div>
							</div>
							<div class="ui-grid-col-3" *ngIf="showdias">
								<label for="dia">{{ 'EMPLOYEENOVELTY.LBL_DIAS' | translate }}</label>
								<input id="dia" name="dia" #dias="ngModel" pInputText type="text"
								       (keyup)="inputNumber($event)" maxlength="50" [required]="requireddias"
								       [(ngModel)]="employeeEventuality.dias"/>
								<div class="ui-message ui-messages-error ui-corner-all"
								     *ngIf="f.submitted && !dias.valid ">
									<i class="fa fa-close"></i>
									{{ 'EMPLOYEENOVELTY.LBL_DIAS' | translate }} {{ 'LBL_REQUERIDO' | translate }}
								</div>
							</div>
						</div>
						<div class="ui-grid-row">
							<div class="ui-grid-col-3" *ngIf="showperiodoinicial">
								<label for="periodoinicial">{{ 'EMPLOYEENOVELTY.LBL_PERIODOINICIAL' | translate }}</label>
								<p-calendar id="periodoinicial" name="periodoinicial" #periodoini="ngModel" [showIcon]="true"
								            [minDate]="minDateInicio" [monthNavigator]="true" [yearNavigator]="true"
								            [locale]="es" readonlyInput="readonlyInput" [required]="requiredperiodoinicial"
								            dataType="date" [(ngModel)]="periodoInicio" [yearRange]="rangeFin"
								            dateFormat="yy'-'mm'-'dd" (onSelect)="selectPeriodoInicio()"></p-calendar>
								<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !periodoini.valid">
									<i class="fa fa-close"></i>
									{{'EMPLOYEENOVELTY.LBL_PERIODOINICIAL' | translate }} {{'LBL_REQUERIDO' | translate }}
								</div>
							</div>
							<div class="ui-grid-col-3" *ngIf="showperiodofinal">
								<label for="periodofinal">{{ 'EMPLOYEENOVELTY.LBL_PERIODOFINAL' | translate }}</label>
								<p-calendar id="periodofinal" name="periodofinal" #periodofin="ngModel" [showIcon]="true" class="mesanno"
								            [minDate]="minDateFinPer" [monthNavigator]="true" [yearNavigator]="true"
								            [locale]="es" readonlyInput="readonlyInput" [required]="requiredperiodofinal"
								            dataType="date" [(ngModel)]="periodoFin" [yearRange]="rangeFin"
								            dateFormat="yy'-'mm'-'dd"></p-calendar>
								<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !periodofin.valid">
									<i class="fa fa-close"></i>
									{{'EMPLOYEENOVELTY.LBL_PERIODOFINAL' | translate }} {{'LBL_REQUERIDO' | translate }}
								</div>
							</div>
							<div class="ui-grid-col-3" *ngIf="showretiro">
								<label></label><br>
								<p-checkbox binary="true" id="retiro" name="retiro"
								            [(ngModel)]="employeeEventuality.retiro"
								            label="{{ 'EMPLOYEENOVELTY.LBL_RETIRO' | translate }}"
								            #indicador="ngModel"></p-checkbox>
							</div>
						</div>
						<div class="ui-grid-row">
							<div class="ui-grid-col-4" *ngIf="showeps">
								<label for="ideps">{{ 'EMPLOYEENOVELTY.LBL_EPS' | translate }}</label>
								<p-dropdown id="ideps" name="ideps"
								            [options]="listEPS" [autoWidth]="false"
								            [(ngModel)]="employeeEventuality.idEps"
								            #eps="ngModel" [required]="requiredeps"
								></p-dropdown>
								<div class="ui-message ui-messages-error ui-corner-all"
								     *ngIf="f.submitted && !eps.valid">
									<i class="fa fa-close"></i>
									{{ 'EMPLOYEENOVELTY.LBL_EPS' | translate }} {{ 'LBL_REQUERIDO' | translate }}
								</div>
							</div>
							<div class="ui-grid-col-4" *ngIf="showfp">
								<label for="idfp">{{ 'EMPLOYEENOVELTY.LBL_FP' | translate }}</label>
								<p-dropdown id="idfp" name="idfp"
								            [options]="listFP" [autoWidth]="false"
								            [(ngModel)]="employeeEventuality.idFp"
								            #fp="ngModel" [required]="requiredfp"
								></p-dropdown>
								<div class="ui-message ui-messages-error ui-corner-all"
								     *ngIf="f.submitted && !fp.valid">
									<i class="fa fa-close"></i>
									{{ 'EMPLOYEENOVELTY.LBL_FP' | translate }} {{ 'LBL_REQUERIDO' | translate }}
								</div>
							</div>
							<div class="ui-grid-col-4" *ngIf="showccf">
								<label for="idccf">{{ 'EMPLOYEENOVELTY.LBL_CCF' | translate }}</label>
								<p-dropdown id="idccf" name="idccf"
								            [options]="listCCF" [autoWidth]="false"
								            [(ngModel)]="employeeEventuality.idCcf"
								            #ccf="ngModel" [required]="requiredccf"
								></p-dropdown>
								<div class="ui-message ui-messages-error ui-corner-all"
								     *ngIf="f.submitted && !ccf.valid">
									<i class="fa fa-close"></i>
									{{ 'EMPLOYEENOVELTY.LBL_CCF' | translate }} {{ 'LBL_REQUERIDO' | translate }}
								</div>
							</div>
						</div>
						<div class="ui-grid-row">
							<div class="ui-grid-col-3" *ngIf="showvalor">
								<label for="valor">{{ 'EMPLOYEENOVELTY.LBL_VALOR' | translate }}</label>
								<input id="valor" name="valor" #valor="ngModel" pInputText type="text"
								       maxlength="15" [required]="requiredvalor" [(ngModel)]="employeeEventuality.valor"
								       currencyMask
								       [options]="{ prefix: '$ ', thousands: '.', decimal: ',', align: 'left', allowNegative:false, precision : 0 }"/>
								<div class="ui-message ui-messages-error ui-corner-all"
								     *ngIf="f.submitted && !valor.valid ">
									<i class="fa fa-close"></i>
									{{ 'EMPLOYEENOVELTY.LBL_VALOR' | translate }} {{ 'LBL_REQUERIDO' | translate }}
								</div>
							</div>
							<div class="ui-grid-col-3" *ngIf="showcuotas">
								<label for="nrocuotas">{{ 'EMPLOYEENOVELTY.LBL_CUOTAS' | translate }}</label>
								<input id="nrocuotas" name="nrocuotas" #cuotas="ngModel" pInputText type="text"
								       (keyup)="inputNumber($event)" maxlength="12" [required]="requiredcuotas"
								       [(ngModel)]="employeeEventuality.nroCuotas"/>
								<div class="ui-message ui-messages-error ui-corner-all"
								     *ngIf="f.submitted && !cuotas.valid ">
									<i class="fa fa-close"></i>
									{{ 'EMPLOYEENOVELTY.LBL_CUOTAS' | translate }} {{ 'LBL_REQUERIDO' | translate }}
								</div>
							</div>
							<div class="ui-grid-col-3" *ngIf="showreferencia">
								<label for="nroreferencia">{{ 'EMPLOYEENOVELTY.LBL_REFERENCIA' | translate }}</label>
								<input id="nroreferencia" name="nroreferencia" #referencia="ngModel" pInputText type="text"
								       (keyup)="inputRef($event)" maxlength="12" [required]="requiredreferencia"
								       [(ngModel)]="employeeEventuality.nroReferencia"/>
								<div class="ui-message ui-messages-error ui-corner-all"
								     *ngIf="f.submitted && !referencia.valid ">
									<i class="fa fa-close"></i>
									{{ 'EMPLOYEENOVELTY.LBL_REFERENCIA' | translate }} {{ 'LBL_REQUERIDO' | translate }}
								</div>
							</div>
							<div class="ui-grid-col-3" *ngIf="showentidad">
								<label for="identidad">{{ 'EMPLOYEENOVELTY.LBL_ENTIDAD' | translate }}</label>
								<p-dropdown id="identidad" name="identidad"
								            [options]="listEntidad" [autoWidth]="false"
								            [(ngModel)]="employeeEventuality.idEntidad"
								            #entidad="ngModel" [required]="requiredentidad"
								></p-dropdown>
								<div class="ui-message ui-messages-error ui-corner-all"
								     *ngIf="f.submitted && !entidad.valid">
									<i class="fa fa-close"></i>
									{{ 'EMPLOYEENOVELTY.LBL_ENTIDAD' | translate }} {{ 'LBL_REQUERIDO' | translate }}
								</div>
							</div>
						</div>
						<div class="ui-grid-row form-footer-buttons">
							<div class="col-md-1"></div>
							<div class="col-md-4" *ngIf="!eventuality.indicadorConfirmacion"></div>
							<div class="col-md-4" *ngIf="eventuality.indicadorConfirmacion && !employeeEventuality.idTerceroNovedad"></div>
							<div  class="col-md-4" *ngIf="eventuality.indicadorConfirmacion">
								<div class="col-md-8">
									<button (click)="generarCodigo()" label="{{'PROCESOSELECCION.LBL_GENERCOD' | translate }}" type="button"
									        pButton></button>
								</div>
									<div class="col-md-4">
									<input id="codigoinst" name="codigoinst" #codInst="ngModel" pInputText type="text"
									       required maxlength="50" [(ngModel)]="codigoVerificacion"/>
									<div class="ui-message ui-messages-error ui-corner-all"
									     *ngIf="f.submitted && !codInst.valid">
										<i class="fa fa-close"></i>
										{{ 'DOCMANAGMENT.LBL_CODIGO' | translate }} {{ 'LBL_REQUERIDO' | translate }}
									</div>
								</div>
							</div>
							<div class="col-md-1">
								<a (click)="goBack((f.dirty === true))" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
							</div>
							<div class="col-md-2">
								<button pButton icon="fa-plus" label="{{'BTN_GUARDAR' | translate }}" type="submit"></button>
							</div>
							<!--<div class="ui-grid-col-5"></div>-->
						</div>
					</div>
				</form>
			</div>
		</div>
	</p-accordionTab>
</p-accordion>
