<div>
	<div class="row datable-header">
		<div class="col-md-6 col-xs-12 datatable-header-add">
			<button type="button" icon="fa-plus" label="{{'EMPLOYEENOVELTY.LBL_AGREGAR' | translate }}"
			        pButton (click)="add()"></button>
		</div>
		<div class="col-md-6 col-xs-12 datatable-header-search">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
				<input #gb type="text" pInputText size="40" placeholder="{{'LBL_BUSCAR' | translate }}" class="form-control"
				       [(ngModel)]="busqueda" (change)="setSearch()">
			</div>
		</div>
	</div>
	<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listEventualities" [paginator]="true" [rows]="10"
	             [responsive]="true" [globalFilter]="gb">
		<p-column field="idDocumentoTercero" header="{{'EMPLOYEENOVELTY.LBL_TIPONOVEDAD' | translate }}" [sortable]="true"></p-column>
		<p-column field="nombre" header="{{'EMPLOYEENOVELTY.LBL_NOVEDAD' | translate }}" [sortable]="true"></p-column>
		<p-column field="nombre" header="{{'EMPLOYEENOVELTY.LBL_FECHASOLICITUD' | translate }}" [sortable]="true"></p-column>
		<p-column field="nombre" header="{{'EMPLOYEENOVELTY.LBL_ESTADONOVEDAD' | translate }}" [sortable]="true"></p-column>
		<p-column field="nombre" header="{{'EMPLOYEENOVELTY.LBL_REPORTADOPOR' | translate }}" [sortable]="true"></p-column>
		<p-column header="{{'LBL_ACCIONES' | translate }}" styleClass="datatable-col-action">
			<template let-nv="rowData" pTemplate="body">
				<button type="button" icon="fa-eye" class="ui-button-success" data-toggle="tooltip" title="{{'BTN_INACTIVAR' | translate}}"
				        pButton (click)="detail(nv)"></button>
				<button type="button" icon="fa-pencil" class="ui-button-success" data-toggle="tooltip" title="{{'BTN_EDITAR' | translate}}"
				        pButton (click)="update(nv)"></button>
			</template>
		</p-column>
	</p-dataTable>
</div>
<p-confirmDialog icon="fa fa-question-circle" #cd width="400">
	<p-footer>
		<button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
		<button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
	</p-footer>
</p-confirmDialog>
