<aside class="main-sidebar">
   <!-- Sidebar -->
   <section class="sidebar">

      <ul class="sidebar-menu">

         <li class="header">
            {{ 'TEMPLATE.LBL_MENUPRINCIPAL' | translate:param }}
         </li>

         <li class="treeview" routerLinkActive="active">
            <a routerLink="/dashboard">
               <i class="icon-THDashboard icon-mainmenu"></i>
               <span>Dashboard</span>
            </a>
         </li>


         <li class="treeview" routerLinkActive="active">
            <a routerLink="/employees">
               <i class="fa fa-users" aria-hidden="true" style="font-size: 1.5em;"></i>
               <span>Colaboradores</span>
            </a>
         </li>


         <li class="treeview" routerLinkActive="active">
            <a href="#">
               <i class="fa fa-cogs" aria-hidden="true" style="font-size: 1.5em;"></i>
               <span> Sistema </span>
            </a>
            <ul class="treeview-menu">
               <li routerLinkActive="active">
                  <a routerLink="/usuarios"><i class="fa fa-circle-o"></i> Usuarios</a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/constantes" routerLinkActive="active"><i class="fa fa-circle-o"></i> Constantes</a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/gruposGestion" routerLinkActive="active"><i class="fa fa-circle-o"></i> Grupos de Gestión</a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/listas" routerLinkActive="active"><i class="fa fa-circle-o"></i> Listas</a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/menus" routerLinkActive="active"><i class="fa fa-circle-o"></i> Menús
                     <span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                     </span>
                  </a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/roles" routerLinkActive="active"><i class="fa fa-circle-o"></i>Roles
                     <span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                     </span>
                  </a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/ocupaciones" routerLinkActive="active"><i class="fa fa-circle-o"></i> Ocupaciones</a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/divisionPolitica" routerLinkActive="active"><i class="fa fa-circle-o"></i> División Política</a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/actividadeconomica" routerLinkActive="active"><i class="fa fa-circle-o"></i> Actividad Económica</a>
               </li>
            </ul>
         </li>


         <li class="treeview" routerLinkActive="active">
            <a href="#">
               <i class="icon-THApl icon-mainmenu"></i>
               <span> Administración </span>
            </a>
            <ul class="treeview-menu">
               <li routerLinkActive="active">
                  <a routerLink="/centroCostos" routerLinkActive="active"><i class="fa fa-circle-o"></i> Centros de Costos</a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/tipoArea" routerLinkActive="active"><i class="fa fa-circle-o"></i> Tipos de Areas</a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/faults" routerLinkActive="active"><i class="fa fa-circle-o"></i> Faltas y<br />Sanciones
                     <span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                     </span>
                  </a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/competencies-groups" routerLinkActive="active"><i class="fa fa-circle-o"></i> Competencias<br/>Habilidades
                     <span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                     </span>
                  </a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/risks" routerLinkActive="active"><i class="fa fa-circle-o"></i> Riesgos<br />Laborales
                     <span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                     </span>
                  </a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/positions" routerLinkActive="active"><i class="fa fa-circle-o"></i> Cargos
                     <span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                     </span>
                  </a>
               </li>
            </ul>
         </li>


         <li class="treeview" routerLinkActive="active">
            <a href="#">
               <i class="icon-THDO icon-mainmenu"></i>
               <span> Organización </span>
            </a>
            <ul class="treeview-menu">
               <li routerLinkActive="active">
                  <a routerLink="/physic-structure"><i class="fa fa-circle-o"></i> Estructura Fisica
                     <span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                     </span>
                  </a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/organizational-structure"><i class="fa fa-circle-o"></i> Estructura<br/>Organizacional
                     <span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                     </span>
                  </a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/organizational-structure-positions"><i class="fa fa-circle-o"></i> Planta de<br/>Colaboradores
                     <span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                     </span>
                  </a>
               </li>
               <li routerLinkActive="active">
                  <a routerLink="/job-projection"><i class="fa fa-circle-o"></i> Proyección<br/>Laboral
                     <span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                     </span>
                  </a>
               </li>

            </ul>
         </li>
      </ul>
   </section>
   <!-- /.sidebar -->
</aside>
