<p-messages [value]="msgs"></p-messages>
<div *ngIf="rolFuncionality">
   <div class="row-fluid">
      <div class="col-md-12">
         <form novalidate>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
               <div class="row">
                  <div class="form-group col-md-1">
                  </div>
                  <div class="ui-grid-col-10">
                     <h3><label >Funcionalidad: </label>{{rolFuncionality.menu}}</h3>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<div>
   <p-tabView>
      <p-tabPanel header="{{ 'ROLES.LBL_SECCIONES' | translate }}" >
         <div class="row datable-header">
            <div class="col-md-6 col-xs-12 datatable-header-add">
            </div>
            <div class="col-md-6 col-xs-12 datatable-header-search">
               <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-search"></i></div>
                  <input #gb type="text" pInputText size="30" placeholder="Buscar..." class="form-control">
               </div>
            </div>
         </div>
         <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="secciones" [paginator]="true"
                      [rows]="10" [responsive]="true" [globalFilter]="gb">
            <p-column field="idFuncionalidadControl" header="Id" [sortable]="true"></p-column>
            <p-column field="codigo" header="Codigo" [sortable]="true"></p-column>
            <p-column field="control" header="Nombre" [sortable]="true"></p-column>
            <p-column field="indicadorHabilitado" header="Consultar" [sortable]="true" styleClass="datatable-col-center">
               <template let-lfuncionalityControl="rowData" pTemplate="body">
                  <p-inputSwitch onLabel="Si" offLabel="No" [(ngModel)]="lfuncionalityControl.indicadorHabilitado"
                                 (onChange)="changeControl(lfuncionalityControl)"></p-inputSwitch>
               </template>
            </p-column>
         </p-dataTable>
      </p-tabPanel>
      <p-tabPanel header="{{ 'ROLES.LBL_CONTROLES' | translate }}" >
         <div class="row datable-header">
            <div class="col-md-6 col-xs-12 datatable-header-add">
            </div>
            <div class="col-md-6 col-xs-12 datatable-header-search">
               <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-search"></i></div>
                  <input #gb type="text" pInputText size="30" placeholder="Buscar..." class="form-control">
               </div>
            </div>
         </div>
         <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate:param }}" [value]="controles" [paginator]="true"
                      [rows]="10" [responsive]="true" [globalFilter]="gb">
            <p-column field="idFuncionalidadControl" header="Id" [sortable]="true"></p-column>
            <p-column field="codigo" header="Código" [sortable]="true"></p-column>
            <p-column field="control" header="Nombre" [sortable]="true"></p-column>
            <p-column field="indicadorHabilitado" header="Visualizar" [sortable]="true" styleClass="datatable-col-center">
               <template let-lfuncionalityControl="rowData" pTemplate="body">
                  <p-inputSwitch onLabel="Si" offLabel="No" [(ngModel)]="lfuncionalityControl.indicadorHabilitado"
                                 (onChange)="changeControl(lfuncionalityControl)"></p-inputSwitch>
               </template>
            </p-column>
            <p-column field="indicadorEditar" header="Consultar" [sortable]="true" styleClass="datatable-col-center">
               <template let-lfuncionalityControl="rowData" pTemplate="body">
                  <p-inputSwitch onLabel="Si" offLabel="No" [(ngModel)]="lfuncionalityControl.indicadorHabilitado"
                                 (onChange)="changeControl(lfuncionalityControl)"></p-inputSwitch>
               </template>
            </p-column>
         </p-dataTable>
      </p-tabPanel>
   </p-tabView>
   
</div>
<p-confirmDialog width="400"></p-confirmDialog>
