<p-messages [value]="msgs"></p-messages>
<div *ngIf="showForm">
	<div class="row-fluid">
		<div class="col-md-12">
			<form name="func" (ngSubmit)="rf.valid && onSubmit()" #rf="ngForm" novalidate>
				<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
					<div class="row">
						<div class="form-group col-md-1">
						</div>
						<div class="ui-grid-col-10">
							<label for="idFuncionalidad">Funcionalidades</label>
							<p-dropdown id="idFuncionalidad" name="idFuncionalidad" #idFuncionalidad="ngModel"
											[options]="menus" filter="filter"
											[autoWidth]="false" [readonly]="isUpdating"
											[(ngModel)]="rolFuncionality.idFuncionalidad" required></p-dropdown>
							<div class="ui-message ui-messages-error ui-corner-all"
								  *ngIf="rf.submitted && !idFuncionalidad.valid">
								<i class="fa fa-close"></i>
								Funcionalidades es requerido
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-3">
							<label for="indicadorHabilitado">Habilitado</label>
							<p-checkbox binary="true" id="indicadorHabilitado" name="indicadorHabilitado"
											[(ngModel)]="rolFuncionality.indicadorHabilitado"
							></p-checkbox>
						</div>
						<div class="form-group col-md-2">
							<label for="indicadorImprimir">Imprimir</label>
							<p-checkbox binary="true" id="indicadorImprimir" name="indicadorImprimir"
											[(ngModel)]="rolFuncionality.indicadorImprimir"
							></p-checkbox>
						</div>
						<div class="form-group col-md-2">
							<label for="indicadorExportar">Exportar</label>
							<p-checkbox binary="true" id="indicadorExportar" name="indicadorExportar"
											[(ngModel)]="rolFuncionality.indicadorExportar"
							></p-checkbox>
						</div>
						<div class="form-group col-md-2">
							<label for="indicadorInsertar">Insertar</label>
							<p-checkbox binary="true" id="indicadorInsertar" name="indicadorInsertar"
											[(ngModel)]="rolFuncionality.indicadorInsertar"
							></p-checkbox>
						</div>
						<div class="form-group col-md-3">
							<label for="indicadorMostrarEnMenu">Mostrar en Menú</label>
							<p-checkbox binary="true" id="indicadorMostrarEnMenu" name="indicadorMostrarEnMenu"
											[(ngModel)]="rolFuncionality.indicadorMostrarEnMenu"
							></p-checkbox>
						</div>
					</div>
				</div>
				<div class="row form-footer-buttons">
					<div class="form-group col-md-12">
						<a (click)="goBackUpdate()" class="cancelar">Cancelar</a>
						<button icon="fa-plus" label="Agregar" type="submit"
								  pButton></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div>
	<div class="row datable-header">
		<div class="col-md-6 col-xs-12 datatable-header-add">
			<button type="button" pButton icon="fa-plus" (click)="add()" label="Nueva Funcionalidad"></button>
		</div>
		<div class="col-md-6 col-xs-12 datatable-header-search">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
				<input #gb type="text" pInputText size="30" placeholder="Buscar..." class="form-control">
			</div>
		</div>
	</div>
	<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="funcionalities" [paginator]="true"
					 [rows]="10" [responsive]="true" [globalFilter]="gb">
		<p-column field="menu" header="Menú" [sortable]="true"></p-column>
		<p-column field="indicadorHabilitado" header="Estado" [sortable]="true" styleClass="datatable-col-center">
			<template let-lfuncionality="rowData" pTemplate="body">
				<p-checkbox [(ngModel)]="lfuncionality.indicadorHabilitado" binary="true" disabled="true"></p-checkbox>
			</template>
		</p-column>

		<p-column header="Configuración" styleClass="datatable-col-action">
			<template let-lfuncionality="rowData" pTemplate="body">
				<div class="btn-group" role="group">
					<button type="button" class="ui-button ui-button-success btn" icon="fa-pencil" data-toggle="tooltip"
							  title="{{'BTN_EDITAR' | translate}}"
							  pButton (click)="update(lfuncionality)"></button>
					<button type="button" class="ui-button ui-button-success btn" icon="fa-cog" data-toggle="tooltip"
							  title="{{'BTN_CONFIGURAR' | translate}}"
							  pButton (click)="config(lfuncionality)"></button>
				</div>
			</template>
		</p-column>
	</p-dataTable>
</div>
<p-confirmDialog width="400" #cd>
	<p-footer>
		<button type="button" pButton icon="fa-close" label="{{ 'BTN_NO' | translate}}" (click)="cd.reject()"></button>
		<button type="button" pButton icon="fa-check" label="{{ 'BTN_SI' | translate}}" (click)="cd.accept()"></button>
	</p-footer>
</p-confirmDialog>