<p-messages [value]="msgs"></p-messages>
<div *ngIf="show_form">
   <div class="row-fluid">
      <div class="col-md-12">
         <form name="func" (ngSubmit)="rw.valid && onSubmit()" #rw="ngForm" novalidate>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
               <div class="row">
                  <div class="form-group col-md-1">
                  </div>
                  <div class="ui-grid-col-10">
                     <label for="idWidget">Widget</label>
                     <p-dropdown id="idWidget" name="idWidget" #idWidget="ngModel" [options]="widgets"
                                 [autoWidth]="false"
                                 [(ngModel)]="rolWidget.idWidget" required></p-dropdown>
                     <div class="ui-message ui-messages-error ui-corner-all"
                          *ngIf="rw.submitted && !idWidget.valid">
                        <i class="fa fa-close"></i>
                        Widget es requerido
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="form-group col-md-3">
                     <label for="indicadorHabilitado">Habilitado</label>
                        <p-checkbox binary="true" id="indicadorHabilitado" name="indicadorHabilitado"
                                    [(ngModel)]="rolWidget.indicadorHabilitado"
                        ></p-checkbox>
                  </div>
                  <div class="form-group col-md-3">
                     <label for="indicadorObligatorio">Obligatorio</label>
                        <p-checkbox binary="true" id="indicadorObligatorio" name="indicadorObligatorio"
                                    [(ngModel)]="rolWidget.indicadorObligatorio"
                        ></p-checkbox>
                  </div>
               </div>
            </div>
            <div class="row form-footer-buttons">
               <div class="form-group col-md-12">
                  <a (click)="goBackUpdate()" class="cancelar">Cancelar</a>
                  <button icon="fa-plus" label="Agregar" type="submit"
                          pButton></button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<div>
   <div class="row datable-header">
      <div class="col-md-6 col-xs-12 datatable-header-add">
         <button type="button" pButton icon="fa-plus" (click)="add()" label="Nuevo Widget"></button>
      </div>
      <div class="col-md-6 col-xs-12 datatable-header-search">
         <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input #gb type="text" pInputText size="30" placeholder="Buscar..." class="form-control">
         </div>
      </div>
   </div>
   <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate:param }}" [value]="contacts" [paginator]="true"
                [rows]="10" [responsive]="true" [globalFilter]="gb">
      <p-column field="widget" header="Widget" [sortable]="true"></p-column>
      <p-column header="Acciones" styleClass="datatable-col-action">
         <template let-lcontact="rowData" pTemplate="body">
            <div class="btn-group" role="group">
               <button type="button" class="ui-button ui-button-success btn" icon="fa-pencil"
                       pButton (click)="update(lcontact)"></button>
            </div>
         </template>
      </p-column>
   </p-dataTable>
</div>
<p-confirmDialog width="400"></p-confirmDialog>
