<p-messages [value]="msgs"></p-messages>
<p-confirmDialog width="400" #cd>
   <p-footer>
      <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
   </p-footer>
</p-confirmDialog>
<div *ngIf="rol">
   <div class="row">
      <div class="col-md-12">
         <div class="header">
            <h4 class="title">Administrador de Roles</h4>
         </div>
      </div>
   </div>
   <form (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
         <div class="ui-grid-row">
            <div class="ui-grid-col-4">
               <label for="codigoRol">* Código</label>
               <input type="text" pInputText id="codigoRol" name="codigoRol" [readonly]="rol.idRol!==null"
                      [(ngModel)]="rol.codigoRol" maxlength="6"
                      (change)="validateCode()" (keyup)="capitalizeCode()"
                      #codigoRol="ngModel" required/>
               
               <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="f.submitted && !codigoRol.valid">
                  <i class="fa fa-close"></i>
                  Código es requerido
               </div>
            </div>
            <div class="ui-grid-col-8">
               <label for="nombre">* Nombre</label>
               <input pInputText type="text" id="nombre" name="nombre"
                      [(ngModel)]="rol.rol" #nombre="ngModel" required/>
               <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="f.submitted && !nombre.valid">
                  <i class="fa fa-close"></i>
                  Nombre es requerido
               </div>
            </div>
         </div>
         <div class="ui-grid-row">
            <div class="ui-grid-col-3">
               <label for="fInicio">* Fecha Inicio</label>
               <p-calendar id="fInicio" name="fInicio" [showIcon]="true" [dataType]="date"
                           [maxDate]="maxDate" [locale]="es" readonlyInput="true"
                           [(ngModel)]="fechaInicio" #fInicio="ngModel"
                           (onSelect)="onFechaInicio($event)"
                           [yearRange]="range" [monthNavigator]="true" [yearNavigator]="true"
               >
               </p-calendar>
            </div>
            <div class="col-sm-1 pull-right">
               <label for="fInicio">Borrar</label>
               <button pButton type="button" class="ui-button-danger"
                       (click)="clearSelectionRol()"
                       icon="fa-close"></button>
            </div>
            <div class="ui-grid-col-3">
               <label for="fFin">* Fecha Fin</label>
               <p-calendar id="fFin" name="fFin" [showIcon]="true" [dataType]="date"
                           [minDate]="minDate" [locale]="es" readonlyInput="true" [disabled]="fechaInicio == null"
                           [(ngModel)]="fechaFin" #fFin="ngModel" [required]="fechaInicio != null"
                           (onSelect)="onFechaFin($event)"
                           [yearRange]="range" [monthNavigator]="true" [yearNavigator]="true"
               >
               </p-calendar>
               <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !fFin.valid && fechaInicio != null">
                  <i class="fa fa-close"></i>
                  Fecha Fin es requerida
               </div>
            </div>
            <div class="form-group col-md-4">
               <label for="indicador" class="control-label col-sm-3">Habilitado</label>
               <div class=" col-sm-9">
                  <p-checkbox binary="true" id="indicador" name="indicador"
                              [(ngModel)]="rol.indicadorHabilitado"
                              #indicador="ngModel"></p-checkbox>
               </div>
            </div>
         </div>
         <div class="ui-grid-row">
            <div class="form-group col-sm-12">
               <label for="descripcion">Descripción</label>
               <textarea pInputTextarea id="descripcion" name="descripcion"
                         [(ngModel)]="rol.descripcion" maxlength="500"
                         ></textarea>
            </div>
         </div>
         <div class="ui-grid-row form-footer-buttons">
            <div class="ui-grid-col-4"></div>
            <div class="ui-grid-col-1">
               <a (click)="goBack()" class="cancelar">Cancelar</a>
            </div>
            <div class="ui-grid-col-2">
               <button pButton icon="fa-plus" label="Guardar" type="submit"></button>
            </div>
            <div class="ui-grid-col-5"></div>
         </div>
      </div>
   </form>
</div>

<p-tabView *ngIf="rol.idRol">
   <p-tabPanel header="Funcionalidades">
      <rol-fucionalities *ngIf="rol.idRol" [rol]="rol"></rol-fucionalities>
   </p-tabPanel>
   <p-tabPanel header="Widgets">
      <rol-widges *ngIf="rol.idRol" [rol]="rol"></rol-widges>
   </p-tabPanel>
</p-tabView>
