<p-confirmDialog width="400" #cd>
   <p-footer>
      <button type="button" pButton icon="fa-close" label="{{'BTN_NO' | translate:param }}" (click)="cd.reject()"></button>
      <button type="button" pButton icon="fa-check" label="{{'BTN_SI' | translate:param }}" (click)="cd.accept()"></button>
   </p-footer>
</p-confirmDialog>
<div *ngIf="risk">
   <div class="row">
      <div class="col-md-12">
         <div class="header">
            <h4 class="title">{{header}}</h4>
         </div>
      </div>
   </div>
   <form (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate id="formulario">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
         <div class="ui-grid-row">
            <div class="ui-grid-col-6" *ngIf="risk.idRiesgo">
               <label for="idTipoRiesgou">{{'RISKS.LBL_TIPO' | translate:param }}</label>
               <p-dropdown id="idTipoRiesgou" name="idTipoRiesgou" required="true"
                           [options]="listTypeRisks" [autoWidth]="false"
                           [(ngModel)]="risk.idTipoRiesgo" (onChange)="changeType()"
                           #idTipoRiesgo="ngModel" disabled="true"
               ></p-dropdown>
              </div>
            <div class="ui-grid-col-6" *ngIf="!risk.idRiesgo">
               <label for="idTipoRiesgo">{{'RISKS.LBL_TIPO' | translate:param }}</label>
               <p-dropdown id="idTipoRiesgo" name="idTipoRiesgo" required="true"
                           [options]="listTypeRisks" [autoWidth]="false"
                           [(ngModel)]="risk.idTipoRiesgo" (onChange)="changeType()"
                           #idTipoRiesgo="ngModel"
               ></p-dropdown>
               <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="f.submitted && !idTipoRiesgo.valid">
                  <i class="fa fa-close"></i>
                  {{'RISKS.LBL_TIPO' | translate:param }} {{'RISKS.LBL_RIESGO' | translate:param }} {{'LBL_REQUERIDO' | translate:param }}
               </div>
            </div>
            <div class="ui-grid-col-6"  *ngIf="risk.idRiesgo">
               <label for="idSubTipoRiesgou">{{'RISKS.LBL_SUBTIPO' | translate:param }}</label>
               <p-dropdown id="idSubTipoRiesgou" name="idSubTipoRiesgou" required="true"
                           [options]="listSubTypeRisks" [autoWidth]="false"
                           [(ngModel)]="risk.idSubTipoRiesgo"
                           #idSubTipoRiesgo="ngModel" disabled="true"
               ></p-dropdown>
            </div>
            <div class="ui-grid-col-6"  *ngIf="!risk.idRiesgo">
               <label for="idSubTipoRiesgo">{{'RISKS.LBL_SUBTIPO' | translate:param }}</label>
               <p-dropdown id="idSubTipoRiesgo" name="idSubTipoRiesgo" required="true"
                           [options]="listSubTypeRisks" [autoWidth]="false"
                           [(ngModel)]="risk.idSubTipoRiesgo"
                           #idSubTipoRiesgo="ngModel"
               ></p-dropdown>
               <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="f.submitted && !idSubTipoRiesgo.valid">
                  <i class="fa fa-close"></i>
                  {{'RISKS.LBL_SUBTIPO' | translate:param }} {{'LBL_REQUERIDO' | translate:param }}
               </div>
            </div>
         </div>
         <div class="ui-grid-row">
            <div class="ui-grid-col-6">
               <label for="descripcion">{{'LBL_DESCRIPCION' | translate:param }}</label>
               <textarea id="descripcion" name="descripcion" pInputTextarea  rows="2" cols="35" #descripcion="ngModel"
                         [(ngModel)]="risk.riesgo" required="true">p</textarea>
               <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="f.submitted && !descripcion.valid">
                  <i class="fa fa-close"></i>
                  {{'LBL_DESCRIPCION' | translate:param }} {{'LBL_REQUERIDO' | translate:param }}
               </div>
            </div>
            <div class="ui-grid-col-6" ><br>
               <label for="indicadorHabilitado">{{'LBL_HABILITADO' | translate:param }}</label>
               <p-checkbox id="indicadorHabilitado" name="indicadorHabilitado" [(ngModel)]="risk.indicadorHabilitado" binary="true"  ></p-checkbox>
            </div>
         </div>
         <div class="ui-grid-row form-footer-buttons">
            <div class="ui-grid-col-4"></div>
            <div class="ui-grid-col-1">
               <a (click)="goBack()" class="cancelar">{{'BTN_CANCELAR' | translate:param }}</a>
            </div>
            <div class="ui-grid-col-2">
               <button pButton icon="fa-plus" label="{{'BTN_AGREGAR' | translate:param }}" type="submit"></button>
            </div>
            <div class="ui-grid-col-5"></div>
         </div>
      </div>
   </form>
</div>
