<p-confirmDialog width="400" #cd>
   <p-footer>
      <button type="button" pButton icon="fa-close" label="{{'BTN_NO' | translate }}" (click)="cd.reject()"></button>
      <button type="button" pButton icon="fa-check" label="{{'BTN_SI' | translate }}" (click)="cd.accept()"></button>
   </p-footer>
</p-confirmDialog>
<div *ngIf="risk">

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
         <div class="header">
            <h3 class="title">{{header}}</h3>
         </div>
		<form (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate id="formulario">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
         <div class="row">
            <div class="col-md-12" *ngIf="risk.idRiesgo">
               <label for="idTipoRiesgou">{{'RISKS.LBL_TIPO' | translate }}</label>
               <p-dropdown id="idTipoRiesgou" name="idTipoRiesgou" required="true"
                           [options]="listTypeRisks" [autoWidth]="false"
                           [(ngModel)]="risk.idTipoRiesgo" (onChange)="changeType()"
                           #idTipoRiesgo="ngModel" disabled="true"
               ></p-dropdown>
              </div>
			</div>
			<div class="row">
			<div class="col-md-12" *ngIf="!risk.idRiesgo">
               <label for="idTipoRiesgo">{{'RISKS.LBL_TIPO' | translate }}</label>
               <p-dropdown id="idTipoRiesgo" name="idTipoRiesgo" required="true"
                           [options]="listTypeRisks" [autoWidth]="false"
                           [(ngModel)]="risk.idTipoRiesgo" (onChange)="changeType()"
                           #idTipoRiesgo="ngModel"
               ></p-dropdown>
               <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="f.submitted && !idTipoRiesgo.valid">
                  <i class="fa fa-close"></i>
                  {{'RISKS.LBL_TIPO' | translate }} {{'RISKS.LBL_RIESGO' | translate }} {{'LBL_REQUERIDO' | translate }}
               </div>
            </div>
			</div>

			<div class="row">
			<div class="col-md-12"  *ngIf="risk.idRiesgo">
               <label for="idSubTipoRiesgou">{{'RISKS.LBL_SUBTIPO' | translate }}</label>
               <p-dropdown id="idSubTipoRiesgou" name="idSubTipoRiesgou" required="true"
                           [options]="listSubTypeRisks" [autoWidth]="false"
                           [(ngModel)]="risk.idSubTipoRiesgo"
                           #idSubTipoRiesgo="ngModel" disabled="true"
               ></p-dropdown>
            </div>
			</div>

			<div class="row">
			<div class="col-md-12"  *ngIf="!risk.idRiesgo">
               <label for="idSubTipoRiesgo">{{'RISKS.LBL_SUBTIPO' | translate }}</label>
               <p-dropdown id="idSubTipoRiesgo" name="idSubTipoRiesgo" required="true"
                           [options]="listSubTypeRisks" [autoWidth]="false"
                           [(ngModel)]="risk.idSubTipoRiesgo"
                           #idSubTipoRiesgo="ngModel"
               ></p-dropdown>
               <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="f.submitted && !idSubTipoRiesgo.valid">
                  <i class="fa fa-close"></i>
                  {{'RISKS.LBL_SUBTIPO' | translate }} {{'LBL_REQUERIDO' | translate }}
               </div>
            </div>
			</div>

			<div class="row">
			<div class="col-md-12">
               <label for="descripcion">{{'LBL_DESCRIPCION' | translate }}</label>
               <textarea id="descripcion" name="descripcion" pInputTextarea  rows="2" cols="35" #descripcion="ngModel"
                         [(ngModel)]="risk.riesgo" required="true" maxlength="100">p</textarea>
               <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="f.submitted && !descripcion.valid">
                  <i class="fa fa-close"></i>
                  {{'LBL_DESCRIPCION' | translate }} {{'LBL_REQUERIDO' | translate }}
               </div>
            </div>
			</div>
				<div class="row">
				<div class="col-md-12"><br>
               <label for="indicadorHabilitado">{{'LBL_HABILITADO' | translate }}</label>
               <p-checkbox id="indicadorHabilitado" name="indicadorHabilitado" [(ngModel)]="risk.indicadorHabilitado" binary="true"  ></p-checkbox>
            </div>
			</div>
      </div>
			<div class="row form-footer-buttons">
				<div class="form-group col-md-12">
                    <a (click)="goBack((f.dirty === true))" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
					<button pButton icon="fa-plus" label="{{'BTN_AGREGAR' | translate }}" type="submit"></button>
				</div>
			</div>
   </form>
	</div>
	</div>
</div>


