<h3 class="first">{{'SUPPLIES.LBL_SUPPLIESGROUPS' | translate}}</h3>
<div *ngIf="showForm">
	<div class="row datable-header">
		<div class="col-md-6 col-xs-12 datatable-header-add">
			<button type="button" icon="fa-plus"
			        label="{{'LBL_NUEVO' | translate}} {{'LBL_GRUPO' | translate}}"
			        pButton (click)="add()"></button>
		</div>
		<div class="col-md-6 col-xs-12 datatable-header-search">
			
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
				<input #gb type="text" pInputText size="40" placeholder="{{'LBL_BUSCAR' | translate}}" class="form-control"
				       [(ngModel)]="busqueda" (change)="setSearch()">
			</div>
		
		</div>
	</div>
	<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listSuppliesGroups" [paginator]="true" [rows]="10"
	             [responsive]="true" [globalFilter]="gb">
		<p-column field="idGrupoDotacion" header="{{'LBL_ID' | translate}}" [sortable]="true"></p-column>
		<p-column field="grupoDotacion" header="{{'LBL_NOMBRE' | translate}}" [sortable]="true"></p-column>
		<p-column field="descripcion" header="{{'LBL_DESCRIPCION' | translate}}" [sortable]="true"></p-column>
		<p-column field="indicadorHabilitado" header="{{ 'LBL_HABILITADO' | translate }}" [sortable]="true" styleClass="datatable-col-center">
			<template let-datos="rowData" pTemplate="body">
				<p-checkbox [(ngModel)]="datos.indicadorHabilitado" binary="true" disabled="true"></p-checkbox>
			</template>
		</p-column>
		<p-column header="{{'LBL_ACCIONES' | translate}}" styleClass="datatable-col-action">
			<template let-datos="rowData" pTemplate="body">
				<button type="button" icon="fa-pencil" class="ui-button-success" data-toggle="tooltip" title="{{'BTN_EDITAR' | translate}}"
				        pButton (click)="update(datos)"></button>
			</template>
		</p-column>
	</p-dataTable>
</div>
<fieldset *ngIf="showForm">
	<form (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate>
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-6">
					<label for="dotacion">* {{ 'SUPPLIES.LBL_SUPPLY' | translate}}</label>
					<p-dropdown id="dotacion" name="dotacion" required="true"
					            [options]="listSupplies" [autoWidth]="false"
					            [(ngModel)]="suppliesAdditional.idDotacion"
					            #NGdotacion="ngModel"
					></p-dropdown>
					<div class="ui-message ui-messages-error ui-corner-all"
					     *ngIf="f.submitted && !NGdotacion.valid ">
						<i class="fa fa-close"></i>{{ 'SUPPLIES.LBL_SUPPLY' | translate}} {{ 'LBL_REQUERIDO' | translate}}
					</div>
				</div>
				<div class="ui-grid-col-6">
					<label for="cantidad">* {{ 'SUPPLIES.LBL_QUANTITY' | translate}}</label>
					<input type="number" pInputText id="cantidad" name="cantidad"
					       [(ngModel)]="suppliesAdditional.idDotacion" min="0" max="99999"
					       #NGnombre="ngModel" required/>
					<div class="ui-message ui-messages-error ui-corner-all"
					     *ngIf="f.submitted && !NGnombre.valid">
						<i class="fa fa-close"></i>{{ 'SUPPLIES.LBL_QUANTITY' | translate}} {{ 'LBL_REQUERIDO' | translate}}
					</div>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-4">
					<label for="valor">* {{ 'SUPPLIES.LBL_SUPPLY' | translate}}</label>
					<input type="valor" pInputText id="valor" name="cantidad"
					       [(ngModel)]="suppliesAdditional.idDotacion" min="0" max="99999"
					       #NGnombre="ngModel" required/>
					<div class="ui-message ui-messages-error ui-corner-all"
					     *ngIf="f.submitted && !NGdotacion.valid ">
						<i class="fa fa-close"></i>{{ 'SUPPLIES.LBL_SUPPLY' | translate}} {{ 'LBL_REQUERIDO' | translate}}
					</div>
				</div>
				<div class="ui-grid-col-4">
					<label for="costo">* {{ 'SUPPLIES.LBL_COST' | translate}}</label>
					<input type="text" pInputText id="costo" name="costo"
					       [(ngModel)]="supply.costo" maxlength="11"
					       currencyMask
					       [options]="{ prefix: '$ ', thousands: '.', decimal: ',', align: 'left', allowNegative:false, precision : 0 }"
					       #NGcostoS="ngModel" required/>
					<div class="ui-message ui-messages-error ui-corner-all"
					     *ngIf="s.submitted && !NGcostoS.valid ">
						<i class="fa fa-close"></i>{{ 'SUPPLIES.LBL_COST' | translate}} {{ 'LBL_REQUERIDO' | translate}}
					</div>
				</div>
			</div>
			
			<div class="ui-grid-row">
				<div class="form-group col-md-4" style="margin-top: 24px">
					<p-checkbox binary="true" id="indicador" name="indicador"
					            [(ngModel)]="suppliesGroup.indicadorHabilitado" label="{{ 'LBL_HABILITADO' | translate}}"
					></p-checkbox>
				</div>
			</div>
			<div class="ui-grid-row form-footer-buttons">
				<div class="ui-grid-col-4"></div>
				<div class="ui-grid-col-1">
					<a (click)="goBack((f.dirty === true))" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
				</div>
				<div class="ui-grid-col-2">
					<button pButton icon="fa-plus" label="{{'BTN_GUARDAR' | translate }}" type="submit"></button>
				</div>
				<div class="ui-grid-col-5"></div>
			</div>
		</div>
	</form>
</fieldset>