<div *ngIf="constant">
  <div class="row">
    <div class="col-md-12">
      <h3 class="first">Detalle Constante</h3>
    </div>
  </div>

  <div class="row">

    <form class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-12 control-label">Constante:</label>
            <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{constant.constante}}</strong></label>

            <label class="col-md-3 col-sm-6 col-xs-12 control-label">Tipo Dato:</label>
            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{dataType}}</strong></label>
          </div>
          <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-12 control-label">Valor:</label>
            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{constant.valor}}</strong></label>

            <label class="col-md-3 col-sm-6 col-xs-12 control-label">Descripcion:</label>
            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{constant.descripcion}}</strong></label>
          </div>
          <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-12 control-label">Habilitado:</label>
            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{habilitado}}</strong></label>
          </div>
        </div>
      </fieldset>
    </form>

  </div>

</div>

<div class="row form-footer-buttons">
  <div class="form-group col-md-12">
    <button icon="fa-arrow-left" label="Regresar" type="button"
            pButton (click)="goBack()"></button>
  </div>
</div>
