<h3 class="first">{{'SUPPLIES.LBL_SUPPLIESGROUPS' | translate}}</h3>
<p-tabView orientation="left" id="tbvCompetenciasHabilidades">
	<p-tabPanel *ngFor="let item of listSupplies; let i = index" header="{{item.dotacion}}" [selected]="i == selectedGroup">
		<form class="form-horizontal">
			<fieldset>
				<div>
					<div class="row">
						<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'SUPPLIES.LBL_SUPPLIESGROUPS' | translate}}:</label>
						<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{item.grupoDotacion}}</strong></label>
						
						<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'SUPPLIES.LBL_TOTAL' | translate}}:</label>
						<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{item.total}}</strong></label>
					</div>
					<div class="row">
						<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'SUPPLIES.LBL_REQUESTDATE' | translate}}:</label>
						<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{item.fechaSolicitud}}</strong></label>
						
						<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'SUPPLIES.LBL_QUANTITY' | translate}}:</label>
						<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{item.cantidad}}</strong></label>
					</div>
				</div>
			</fieldset>
		</form>
		<div class="row">
			<div class="col-md-12">
				<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="item.totales">
					<p-column field="talla" header="{{'SUPPLIES.LBL_SIZE' | translate}}" [sortable]="true"></p-column>
					<p-column field="genero" header="{{'LBL_GENERO' | translate}}" [sortable]="true"></p-column>
					<p-column field="Total" header="{{'LBL_TOTAL' | translate}}" [sortable]="true"></p-column>
				</p-dataTable>
			</div>
		</div>
	</p-tabPanel>
	<!--<p-tabPanel header="" *ngIf="1!=1"></p-tabPanel>-->
</p-tabView>