<div>
	<div class="row datable-header">
		<div class="col-md-6 col-xs-12 datatable-header-add">
			<button type="button" pButton icon="fa-plus" (click)="showRiskMap()" label="{{ 'POSITION.LBL_MAPARIESGOS' | translate }}"></button>
		</div>
		<div class="col-md-6 col-xs-12 datatable-header-search">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
				<input #gb type="text" pInputText size="40" placeholder="{{ 'LBL_BUSCAR' | translate }}" class="form-control"
				       [(ngModel)]="busqueda" (change)="setSearch()">
			</div>
		</div>
	</div>
	<p-dataTable emptyMessage="{{ 'POSITION.MSG_DOSEARCH' | translate }}" [value]="positions" [paginator]="true" [rows]="10"
	             [responsive]="true" [globalFilter]="gb">
		<p-column field="proceso" header="{{ 'POSITION.LBL_PROCESS' | translate }}" [sortable]="true"></p-column>
		<p-column field="subProceso" header="{{ 'POSITION.LBL_SUBPROCESS' | translate }}" [sortable]="true"></p-column>
		<p-column field="codigoCargo" header="{{ 'LBL_CODIGO' | translate }}" [sortable]="true"></p-column>
		<p-column field="cargo" header="{{ 'LBL_NOMBRE' | translate }} " [sortable]="true"></p-column>
		<p-column field="estructuraArea" header="{{ 'POSITION.LBL_AREA' | translate }} " [sortable]="true"></p-column>
		<p-column field="avanceValoracion" header="{{ 'POSITION.LBL_PORCENTAJEVALORACION' | translate }} " [sortable]="true"></p-column>
		<p-column field="indHab" header="{{ 'LBL_HABILITADO' | translate }}" [sortable]="true" styleClass="datatable-col-center">
			<template let-position="rowData" pTemplate="body">
				<p-checkbox [(ngModel)]="position.indicadorHabilitado" binary="true" disabled="true"></p-checkbox>
			</template>
		</p-column>
		<p-column header="Acciones" styleClass="datatable-col-action">
			<template let-position="rowData" pTemplate="body">
				
				<button type="button" icon="fa-pencil" class="ui-button-success" data-toggle="tooltip" title="{{'BTN_EDITAR' | translate}}"
				        pButton (click)="makeAssessment(position)"></button>
			
			</template>
		</p-column>
	</p-dataTable>
</div>