<div *ngIf="employeeEstate">
  <div class="row">
    <div class="col-md-12">
      <h3 class="first">{{ 'EMPLOYEES.LBL_INMUEBLES' | translate }},</h3>
    </div>
  </div>

  <div class="row">

    <form class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_TIPOINMUEBLE' | translate }}:</label>
            <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{employeeEstate.tipoVivienda}}</strong></label>

            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_TIPOINMUEBLEES' | translate }}:</label>
            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employeeEstate.claseVivienda}}</strong></label>
          </div>
          <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_TIPOCONSTRUCCION' | translate }}:</label>
            <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{employeeEstate.tipoConstruccionVivienda}}</strong></label>

            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_NUMEROPISOS' | translate }}:</label>
            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employeeEstate.numeroPisos}}</strong></label>
          </div>
          <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_ANOCONSTRUCCION' | translate }}:</label>
            <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{employeeEstate.anioConstruccion}}</strong></label>

            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_NUMEROSOTANOS' | translate }}:</label>
            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employeeEstate.numeroSotanos}}</strong></label>
          </div>
          <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_ESTRATO' | translate }}:</label>
            <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{employeeEstate.estrato}}</strong></label>
          </div>
        </div>
      </fieldset>
    </form>

  </div>

</div>

<div class="row form-footer-buttons">
  <div class="form-group col-md-12">
    <button icon="fa-arrow-left" label="{{'BTN_REGRESAR' | translate }}" type="button"
            pButton (click)="goBack()"></button>
  </div>
</div>
