<h3 class="first">{{ 'EMPLOYEES.LBL_INMUEBLES' | translate }}</h3>
<div>
  <div class="row datable-header">
    <div class="col-md-6 col-xs-12 datatable-header-add">
      <button type="button" icon="fa-plus" label="{{ 'EMPLOYEES.LBL_NUEVOINMUEBLE' | translate }}"
              *ngIf="seccion.NUEVO ? seccion.NUEVO.visible : true"
              pButton (click)="add()"></button>
    </div>
    <div class="col-md-6 col-xs-12 datatable-header-search" >

      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input #gb type="text" pInputText size="40" placeholder="{{ 'LBL_BUSCAR' | translate }}" class="form-control">
      </div>

    </div>
  </div>

  <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}"  [value]="employeesEstate" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
    <p-column field="tipoVivienda" header="Tipo" [sortable]="true"></p-column>
    <p-column field="claseVivienda" header="La Vivienda es? " [sortable]="true"></p-column>
    <p-column field="tipoConstruccionVivienda" header="Tipo Construcción" [sortable]="true"></p-column>
    <p-column field="anioConstruccion" header="Año Construcción" [sortable]="true"></p-column>
    <p-column field="numeroSotanos" header="# Sótanos" [sortable]="true"></p-column>
    <p-column field="numeroPisos" header="# Pisos" [sortable]="true"></p-column>
    <p-column field="idEstrato" header="Estrato" [sortable]="true"></p-column>
    <p-column header="Acciones" styleClass="datatable-col-action">
      <template let-employeeEstate="rowData" pTemplate="body">

        <!--<button type="button" icon="fa-eye" class="ui-button-info"-->
                <!--pButton (click)="detail(employeeEstate)"></button>-->
        <button type="button" icon="fa-pencil" class="ui-button-success" data-toggle="tooltip" title="{{'BTN_EDITAR' | translate}}"
                pButton (click)="update(employeeEstate)"
                *ngIf="seccion.EDITAR ? seccion.EDITAR.visible : true"
        ></button>
        <button type="button" icon="fa-trash" class="ui-button-danger" data-toggle="tooltip" title="{{'BTN_INACTIVAR' | translate}}"
                pButton (click)="del(employeeEstate)"
                *ngIf="seccion.ELIMINAR ? seccion.ELIMINAR.visible : true"
        ></button>

      </template>
    </p-column>
  </p-dataTable>
</div>
<p-confirmDialog icon="fa fa-question-circle" #cd width="400">
	<p-footer>
		<button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
		<button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
	</p-footer>
</p-confirmDialog>
