<div class="row">
	<div class="col-md-7">
		<form (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate id="formulario">
		<p-fieldset legend="" *ngIf="!isTerceroSet">
			<div class="clearfix card-header">
				<div class="col-md-2">
					<img class="thumbnail pull-left img-responsive"
					     src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg">
				</div>
				<div class="col-md-8">
					<!--<h4>{{ organizationalStructure.nombre }}</h4>-->
					<span>{{vacancy.cargo}} / {{vacancy.estructuraFisica}}</span><br/>
					<span>{{vacancy.fechaSolicitud}}</span><br/>
					<span>{{ 'VACANCIES.LBL_SALARY' | translate}}: {{vacancy.salario}}</span><br/>
					<span>{{ 'PLANTACOLABORADORES.LBL_NUMEROPLAZAS' | translate}}: {{vacancy.cantidadVacantes}}</span>
				</div>
			
			</div>
			<div class="row">
				<label for="acciones">{{ 'LBL_ACCIONES' | translate}}</label>
				<p-dropdown id="acciones" name="acciones" required="true"
				            [options]="listAcciones" [autoWidth]="false"
				            [(ngModel)]="requirementsAction.idAccion"
				            #action="ngModel"
				></p-dropdown>
				<div class="ui-message ui-messages-error ui-corner-all"
				     *ngIf="f.submitted && !action.valid">
					<i class="fa fa-close"></i>{{ 'LBL_ACCIONES' | translate}} {{ 'LBL_REQUERIDO' | translate}}
				</div>
			</div>
			<div class="row" *ngIf="requirementsAction.idAccion === codigoAsiPro">
				<label for="profesional">{{ 'VACANCIES.LBL_PROFESSIONAL' | translate}}</label>
				<p-dropdown id="profesional" name="profesional" required="true"
				            [options]="listUsuarios" [autoWidth]="false"
				            [(ngModel)]="vacancy.idResponsableSeleccion"
				            #professional="ngModel"
				></p-dropdown>
				<div class="ui-message ui-messages-error ui-corner-all"
				     *ngIf="f.submitted && !professional.valid">
					<i class="fa fa-close"></i>{{ 'VACANCIES.LBL_PROFESSIONAL' | translate}} {{ 'LBL_REQUERIDO' | translate}}
				</div>
			</div>
			<div class="row" *ngIf="requirementsAction.idAccion === codigoAsiPro">
				<label for="reclutamiento">{{ 'VACANCIES.LBL_RECRUITMENT' | translate}}</label>
				<p-dropdown id="reclutamiento" name="reclutamiento" required="true"
				            [options]="listReclutamiento" [autoWidth]="false"
				            [(ngModel)]="vacancy.idFormaReclutamiento"
				            #recruitment="ngModel"
				></p-dropdown>
				<div class="ui-message ui-messages-error ui-corner-all"
				     *ngIf="f.submitted && !recruitment.valid">
					<i class="fa fa-close"></i>{{ 'VACANCIES.LBL_RECRUITMENT' | translate}} {{ 'LBL_REQUERIDO' | translate}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-10">
					<button pButton  label="{{ 'LBL_ENVIAR' | translate}}" type="submit"></button>
				</div>
			</div>
		</p-fieldset>
		</form>
	</div>
	<div class="col-md-5">
		<p-fieldset legend="Ultimas actividades sobre el proceso" *ngIf="!isTerceroSet">
		
		</p-fieldset>
	</div>
</div>