<div class="row">
	<div class="col-md-7">
		<form (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate id="formulario">
		<p-fieldset legend="" *ngIf="!isTerceroSet">
			<div class="clearfix card-header">
				<div class="col-md-2">
					<img class="thumbnail pull-left img-responsive"
					     src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg">
				</div>
				<div class="col-md-8">
					<h4>{{employee.nombreCompleto}} - {{employee.fechaNacimiento}}</h4>
					<span>{{employee.tipoDocumento}} : {{employee.numeroDocumento}}</span><br/>
					<span>{{employee.cargoActual}}({{employee.fechaCreacion}})</span>
					<span>{{employee.cargoActual}}({{employee.fechaCreacion}})</span>
				</div>
			
			</div>
			<div class="row">
				<label for="acciones">Acciones</label>
				<p-dropdown id="acciones" name="acciones" required="true"
				            [options]="listCategory" [autoWidth]="false"
				            [(ngModel)]="employee.idTipoDocumento"
				            #acciones="ngModel"
				></p-dropdown>
				<div class="ui-message ui-messages-error ui-corner-all"
				     *ngIf="f.submitted && !acciones.valid">
					<i class="fa fa-close"></i>
					{{ 'ESTRUCTURAFISICA.MSG_CATEGORIAREQ' | translate}}
				</div>
			</div>
			<div class="row">
				<label for="profesional">Profecional de reclutamiento y selección</label>
				<p-dropdown id="profesional" name="profesional" required="true"
				            [options]="listCategory" [autoWidth]="false"
				            [(ngModel)]="employee.idTipoDocumento"
				            #profesional="ngModel"
				></p-dropdown>
				<div class="ui-message ui-messages-error ui-corner-all"
				     *ngIf="f.submitted && !profesional.valid">
					<i class="fa fa-close"></i>
					{{ 'ESTRUCTURAFISICA.MSG_CATEGORIAREQ' | translate}}
				</div>
			</div>
			<div class="row">
				<label for="reclutamiento">Forma de reclutamiento</label>
				<p-dropdown id="reclutamiento" name="reclutamiento" required="true"
				            [options]="listCategory" [autoWidth]="false"
				            [(ngModel)]="employee.idTipoDocumento"
				            #reclutamiento="ngModel"
				></p-dropdown>
				<div class="ui-message ui-messages-error ui-corner-all"
				     *ngIf="f.submitted && !reclutamiento.valid">
					<i class="fa fa-close"></i>
					{{ 'ESTRUCTURAFISICA.MSG_CATEGORIAREQ' | translate}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-10">
					<button pButton  label="{{ 'LBL_ENVIAR' | translate}}" type="submit"></button>
				</div>
			</div>
		</p-fieldset>
		</form>
	</div>
	<div class="col-md-5">
		<p-fieldset legend="Ultimas actividades sobre el proceso" *ngIf="!isTerceroSet">
		
		</p-fieldset>
	</div>
</div>