<div *ngIf="masterList">
  <div class="row">
    <div class="col-md-12">
      <h3 class="first">Listas</h3>
    </div>
  </div>
  <p-fieldset legend="Parámetros Lista">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-12">
    <form class="form-horizontal">
      <fieldset>
          <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-4 control-label">Codigo:</label>
            <label class="col-md-3 col-sm-6 col-xs-8 "><strong>{{masterList.codigoLista}}</strong></label>

            <label class="col-md-3 col-sm-6 col-xs-4 control-label">Lista:</label>
            <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{masterList.lista}}</strong></label>
          </div>
          <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-4 control-label">Id:</label>
            <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{masterList.idLista}}</strong></label>

            <label class="col-md-3 col-sm-6 col-xs-4 control-label">Habilitado:</label>
            <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{habilitado}}</strong></label>
          </div>
          <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-4 control-label" *ngIf="masterList.dependeLista">Depende de Item:</label>
            <label class="col-md-3 col-sm-6 col-xs-8" *ngIf="masterList.dependeLista"><strong>{{masterList.dependeItem}}</strong></label>

            <label class="col-md-3 col-sm-6 col-xs-4 control-label">Depende de Lista:</label>
            <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{masterList.dependeLista}}</strong></label>
          </div>
      </fieldset>
    </form>
    </div>
  </div>
  </p-fieldset>

<p-fieldset legend="Elementos de la Lista">
    <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate:param }}"  [value]="detailsList" [paginator]="true" [rows]="10" [responsive]="true">
        <header>Listas</header>
        <p-column field="codigoItem" header="Código"></p-column>
        <p-column field="item" header="Item"></p-column>
        <p-column field="descripcion" header="Descripcion"></p-column>
        <p-column field="indicadorPredeterminado" header="Predeterminado">
            <template let-const="rowData" pTemplate="body">
                <p-checkbox [(ngModel)]="const.indicadorPredeterminado" binary="true" disabled="true"></p-checkbox>
            </template>
        </p-column>
        <p-column field="indicadorHabilitado" header="Habilitado">
            <template let-const="rowData" pTemplate="body">
                <p-checkbox [(ngModel)]="const.indicadorHabilitado" binary="true" disabled="true"></p-checkbox>
            </template>
        </p-column>
    </p-dataTable>
</p-fieldset>
  <div class="row form-footer-buttons">
    <div class="form-group col-md-12">
      <button icon="fa-arrow-left" label="Regresar" type="button"
              pButton (click)="goBack()"></button>
    </div>
  </div>
</div>
