<div *ngIf="masterList">
  <div class="col-md-10 col-md-offset-1">
	<div class="row">
    <div class="col-md-12">
      <h3 class="first">{{ 'LISTAS.LBL_LISTAS' | translate }}</h3>
    </div>
  </div>
  <p-panel header="{{ 'LISTAS.LBL_PARAMETROSLISTA' | translate }}">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-12">
    <form class="form-horizontal">
      <fieldset>
          <div class="row">
            <!--<label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'LBL_CODIGO' | translate }}:</label>-->
            <!--<label class="col-md-3 col-sm-6 col-xs-8 "><strong>{{masterList.codigoLista}}</strong></label>-->

            <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'LISTAS.LBL_LISTA' | translate }}:</label>
            <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{masterList.lista}}</strong></label>
          </div>
          <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'LBL_ID' | translate }}:</label>
            <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{masterList.idLista}}</strong></label>

            <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'LISTAS.LBL_EDITABLE' | translate }}:</label>
            <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{masterList.indicadorEditable ? 'Si' : 'No'}}</strong></label>
          </div>
	      <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'LISTAS.LBL_ROLMODIFICA' | translate }}:</label>
            <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{rolModifica}}</strong></label>
          </div>
      </fieldset>
    </form>
    </div>
  </div>
  </p-panel>

<p-panel header="{{ 'LISTAS.LBL_ELEMENTLISTA' | translate }}">
    <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}"  [value]="detailsList" [paginator]="true" [rows]="10" [responsive]="true">
        <header>Listas</header>
       <p-column field="codigo" header="{{ 'LBL_CODIGO' | translate }}"></p-column>
       <p-column field="nombre" header="{{ 'LBL_NOMBRE' | translate }}"></p-column>
       <p-column field="indicadorHabilitado" header="{{ 'LBL_HABILITADO' | translate }}" styleClass="datatable-col-center">
            <template let-const="rowData" pTemplate="body">
                <p-checkbox [(ngModel)]="const.indicadorHabilitado" binary="true" disabled="true"></p-checkbox>
            </template>
        </p-column>
    </p-dataTable>
</p-panel>
  <div class="row form-footer-buttons">
    <div class="form-group col-md-12">
      <button icon="fa-arrow-left" label="{{ 'BTN_REGRESAR' | translate }}" type="button"
              pButton (click)="goBack()"></button>
    </div>
  </div>
</div>
</div>