<h3>{{ 'GRUPOSDEGESTION.LBL_GESTION' | translate }}</h3>
<div class="col-sm-6 col-sm-offset-3">
    <h2 class="text-center">{{ 'GRUPOSDEGESTION.LBL_EDITARGRUPO' | translate }}</h2>
    <form class="form-horizontal" #f="ngForm" (ngSubmit)="isGreater&&!codeExists&&f.form.valid&&createGruposGestion()"
          (keydown.enter)="$event.preventDefault()" novalidate>
        <div class="form-group" >
            <label for="codigoGrupoGestion" class="control-label col-sm-3">{{ 'LBL_CODIGO' | translate }} </label>
	        <p id="codigoGrupoGestion"> <strong>{{grupoGestion.codigoGrupoGestion}}</strong></p>
            <!--<div class=" col-sm-9">-->
                <!--<input type="text" pInputText class="form-control" id="codigoGrupoGestion" name="codigoGrupoGestion"-->
                       <!--#codigoGrupoGestion="ngModel"-->
                       <!--[(ngModel)]="grupoGestion.codigoGrupoGestion" required maxlength="10" pattern="[A-Z0-9]{0,10}"-->
                       <!--(change)="validateCode()" (keyup)="inputCleanUp($event.target.value)"-->
                       <!--(paste)="inputCleanUp($event.target.value)">-->
                <!--<div *ngIf="codeExists" class="alert alert-danger">-->
                   <!--{{ 'GRUPOSDEGESTION.MSG_CODIGOREPETIDO' | translate }}-->
                <!--</div>-->
                <!--<div *ngIf="f.submitted&&!codigoGrupoGestion.valid" class="alert alert-danger">-->
                    <!--<div [hidden]="!codigoGrupoGestion.errors.required">{{ 'GRUPOSDEGESTION.MSG_INGRESOCODGRUPOGES' | translate }}-->
                    <!--</div>-->
                    <!--<div [hidden]="!codigoGrupoGestion.errors.maxlength">{{ 'GRUPOSDEGESTION.MSG_COD10CARACTERES' | translate }}-->
                    <!--</div>-->
                    <!--<div [hidden]="!codigoGrupoGestion.errors.pattern">{{ 'GRUPOSDEGESTION.MSG_CODMAYUSCULA' | translate }}</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !gGestion.valid }">
            <label for="gGestion" class="control-label col-sm-3">Nombre </label>
            <div class=" col-sm-9">
                <input type="text" pInputText class="form-control" id="gGestion" name="gGestion" #gGestion="ngModel"
                       [(ngModel)]="grupoGestion.grupoGestion" required maxlength="64"
                       pattern="[A-Z]{1}.*" (keyup)="capitalizeName()">
                <div *ngIf="f.submitted&&!gGestion.valid" class="alert alert-danger">
                    <div [hidden]="!gGestion.errors.required">{{ 'GRUPOSDEGESTION.MSG_INGRESANOMBRE' | translate }}</div>
                    <div [hidden]="!gGestion.errors.maxlength">{{ 'GRUPOSDEGESTION.MSG_COD64CARACTERES' | translate }}</div>
                    <div [hidden]="!gGestion.errors.pattern">{{ 'GRUPOSDEGESTION.MSG_CARACTERMAYUSCULA' | translate }}</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="fechaInicio" class="control-label col-sm-3">{{ 'LBL_FECHAINICIO' | translate }}</label>
            <div class=" col-sm-8 form-inline">
                <p-calendar id="fechaInicio" name="fechaInicio" [(ngModel)]="grupoGestion.fechaInicio" [showIcon]="true"
                            dateFormat="yy-mm-dd" [minDate]="currentDate" [locale]="es"
                            readonlyInput="true" (onSelect)="isRequired=true;validateGreater();"></p-calendar>

            </div>
            <div [hidden]="!grupoGestion.fechaInicio" class="col-sm-1 pull-right">
            <button pButton type="button" class="ui-button-danger"
                    (click)="clearSelection()"
                    icon="fa-close"></button>
        </div>
        </div>
        <div class="form-group">
            <label for="fechaFin" class="control-label col-sm-3">{{ 'LBL_FECHAFIN' | translate }}</label>
            <div class=" col-sm-9">
                <p-calendar id="fechaFin" name="fechaFin" [(ngModel)]="grupoGestion.fechaFin" [locale]="es"
                            [showIcon]="true" dateFormat="yy-mm-dd" [minDate]="grupoGestion.fechaInicio"
                            [required]="isRequired" [disabled]="!isRequired" (onSelect)="validateGreater();"
                            readonlyInput="true" #fechaFin="ngModel"></p-calendar>
                <div *ngIf="f.submitted&&!isGreater" class="alert alert-danger">{{ 'GRUPOSDEGESTION.MSG_FECHAFINAL' | translate }}
                </div>
                <div *ngIf="f.submitted&&isRequired&&grupoGestion.fechaFin==null" class="alert alert-danger">{{ 'GRUPOSDEGESTION.MSG_SELECFECHAFINAL' | translate }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="funciones" class="control-label col-sm-3">{{ 'GRUPOSDEGESTION.LBL_FUNCIONES' | translate }} </label>
            <div class=" col-sm-9">
                <textarea pInputTextarea class="form-control" id="funciones" name="funciones"
                          #funciones="ngModel" required autoResize="autoResize"
                          (keydown.enter)="$event.initEvent('enterKey');"
                          [(ngModel)]="grupoGestion.funciones" maxlength="500"></textarea>
                <div *ngIf="f.submitted&&!funciones.valid"
                     class="alert alert-danger">
                    <div [hidden]="!funciones.errors.required">{{ 'GRUPOSDEGESTION.MSG_FUNCIONES' | translate }}</div>
                    <div [hidden]="!funciones.errors.maxlength">{{ 'GRUPOSDEGESTION.MSG_FUNCIONESCARACT' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="responsabilidades" class="control-label col-sm-3">{{ 'GRUPOSDEGESTION.LBL_RESPONSABILIDADES' | translate }}</label>
            <div class=" col-sm-9">
                <textarea pInputTextarea class="form-control" id="responsabilidades" name="responsabilidades"
                          #descripcion="ngModel" [(ngModel)]="grupoGestion.responsabilidades" autoResize="autoResize"
                          maxlength="500"></textarea>
                <div *ngIf="f.submitted&&!descripcion.valid"
                     class="alert alert-danger">
                    <div [hidden]="!descripcion.errors.maxlength">{{ 'GRUPOSDEGESTION.MSG_DESCRIP50CARACT' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="indicador" class="control-label col-sm-3">{{ 'LBL_HABILITADO' | translate }}</label>
            <div class=" col-sm-9">
                <p-checkbox [(ngModel)]="grupoGestion.indicadorHabilitado" binary="true" id="indicador" name="indicador"
                            #indicador="ngModel"></p-checkbox>
            </div>
        </div>
        <div class="row form-footer-buttons">
            <div class="form-group col-md-12">
            <a (click)="(f.dirty === true) ? displayDialog=true : goBack()" class="cancelar">{{ 'BTN_CANCELAR' | translate }}</a>
            <button type="submit" pButton icon="fa-plus" label="{{ 'BTN_GUARDAR' | translate }}"></button>
        </div>
        </div>
    </form>
</div>
<p-dialog header="Confirmación" [(visible)]="displayDialog"
          responsive="true" modal="true">
    <p>{{ 'GRUPOSDEGESTION.MSG_CONFIRMACIONSALIR' | translate }}</p>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="displayDialog=false" label="{{ 'BTN_NO' | translate }}"></button>
            <button type="button" pButton icon="fa-check" (click)="goBack()" label="{{ 'BTN_SI' | translate }}"></button>
        </div>
    </p-footer>
</p-dialog>
