<h3>{{ 'LBL_NUEVO' | translate }} {{ 'GRUPOSDEGESTION.LBL_GRUPOGESTION' | translate }}</h3>
<div class="row datable-header">
    <div class="col-md-6 col-xs-12 datatable-header-add">
        <button type="button" pButton icon="fa-plus" (click)="addGrupoGestion()" label="{{ 'BTN_AGREGAR' | translate }} {{ 'GRUPOSDEGESTION.LBL_GRUPOGESTION' | translate }}"></button>
    </div>
    <div class="col-md-6 col-xs-12 datatable-header-search">
		 <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
			 <input #gb type="text" pInputText size="40" placeholder="{{ 'LBL_BUSCAR' | translate }}" class="form-control"
			        [(ngModel)]="busqueda" (change)="setSearch()">
		 </div>
	 </div>
</div>
<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}"  [value]="gruposGestion" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb" emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}">
    <p-column field="idGrupoGestion" header="{{ 'LBL_ID' | translate }}" [sortable]="true"></p-column>
    <p-column field="codigoGrupoGestion" header="{{ 'LBL_CODIGO' | translate }}" [sortable]="true"></p-column>
    <p-column field="grupoGestion" header="{{ 'LBL_NOMBRE' | translate }}" [sortable]="true"></p-column>
    <p-column field="indicadorHabilitado" header="{{ 'LBL_HABILITADO' | translate }}" [sortable]="true" styleClass="datatable-col-center">
        <template let-const="rowData" pTemplate="body">
            <p-checkbox [(ngModel)]="const.indicadorHabilitado" binary="true" disabled="true"></p-checkbox>
        </template>
    </p-column>
    <p-column header="{{ 'LBL_ACCIONES' | translate }}" styleClass="datatable-col-action">
        <template let-constantData="rowData" pTemplate="body">
            <div class="btn-group" role="group">
                <button type="button" class="ui-button btn" icon="fa-eye" data-toggle="tooltip" title="{{'BTN_VISUALIZAR' | translate}}"
                        pButton (click)="viewGrupoGestion(constantData)"></button>
                <button type="button" class="ui-button ui-button-success btn" icon="fa-pencil" data-toggle="tooltip" title="{{'BTN_EDITAR' | translate}}" pButton
                        (click)="editGrupoGestion(constantData)"></button>
            </div>
        </template>
    </p-column>
</p-dataTable>
