<div *ngIf="grupoGestion">
  <div class="row">
    <div class="col-md-12">
      <h3 class="first">Grupos de Gestión</h3>
    </div>
  </div>

  <div class="row">

    <form class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-12 control-label">Codigo:</label>
            <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{grupoGestion.codigoGrupoGestion}}</strong></label>

            <label class="col-md-3 col-sm-6 col-xs-12 control-label">Nombre:</label>
            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{grupoGestion.grupoGestion}}</strong></label>
          </div>
          <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-12 control-label">Fecha Inicio:</label>
            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{grupoGestion.fechaInicio}}</strong></label>

            <label class="col-md-3 col-sm-6 col-xs-12 control-label">Fecha Fin:</label>
            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{grupoGestion.fechaFin}}</strong></label>
          </div>
          <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-12 control-label">Funciones:</label>
            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{grupoGestion.funciones}}</strong></label>

            <label class="col-md-3 col-sm-6 col-xs-12 control-label">Responsabilidades:</label>
            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{grupoGestion.responsabilidades}}</strong></label>
          </div>
          <div class="row">
            <label class="col-md-3 col-sm-6 col-xs-12 control-label">Habilitado:</label>
            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{grupoGestion.indicadorHabilitado}}</strong></label>

          </div>
        </div>
      </fieldset>
    </form>

  </div>

</div>

<div class="row form-footer-buttons">
  <div class="form-group col-md-12">
    <button icon="fa-arrow-left" label="Regresar" type="button"
            pButton (click)="goBack()"></button>
  </div>
</div>
