<p-messages [value]="msgs"></p-messages>
<p-confirmDialog width="400" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
  </p-footer>

</p-confirmDialog>
<div *ngIf="familyInformation">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <h4 class="title">{{header}}</h4>
            </div>
        </div>
    </div>
    <form [formGroup]="familyform" (ngSubmit)="onSubmit(familyform.value)" id="formulario">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <label for="idTipoDocumento">* Tipo de documento</label>
                    <p-dropdown id="idTipoDocumento"  name="idTipoDocumento" [options]="documentTypes" formControlName="idTipoDocumento" [autoWidth]="false" (onChange)="onChangeMethod($event)"
                                [(ngModel)]="selectedDocument"></p-dropdown>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!familyform.controls['idTipoDocumento'].valid&&familyform.controls['idTipoDocumento'].dirty">
                        <i class="fa fa-close"></i>
                        Tipo de documento es requerido
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <label for="numeroDocumento">* Número de documento</label>
                    <input id="numeroDocumento" name="numeroDocumento" pInputText type="text" formControlName="numeroDocumento"
                           [(ngModel)]="familyInformation.numeroDocumento"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!familyform.controls['numeroDocumento'].valid&&familyform.controls['numeroDocumento'].dirty">
                        <i class="fa fa-close"></i>
                        Número de documento es requerido
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <label for="primerNombre">* Primer nombre</label>
                    <input id="primerNombre" name="primerNombre" pInputText type="text" formControlName="primerNombre"
                           [(ngModel)]="familyInformation.primerNombre" (keyup)="capitalize($event)"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!familyform.controls['primerNombre'].valid&&familyform.controls['primerNombre'].dirty">
                        <i class="fa fa-close"></i>
                        Primer nombre es requerido
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <label for="segundoNombre">Segundo nombre</label>
                    <input id="segundoNombre" name="segundoNombre" pInputText type="text" formControlName="segundoNombre"
                           [(ngModel)]="familyInformation.segundoNombre" (keyup)="capitalize($event)"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <label for="primerApellido">* Primer apellido</label>
                    <input id="primerApellido" name="primerApellido" pInputText type="text" formControlName="primerApellido"
                           [(ngModel)]="familyInformation.primerApellido" (keyup)="capitalize($event)"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!familyform.controls['primerApellido'].valid&&familyform.controls['primerApellido'].dirty">
                        <i class="fa fa-close"></i>
                        Primer apellido es requerido
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <label for="segundoApellido">Segundo apellido</label>
                    <input id="segundoApellido" name="segundoApellido" pInputText type="text" formControlName="segundoApellido"
                           [(ngModel)]="familyInformation.segundoApellido" (keyup)="capitalize($event)"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label for="fechaNacimiento">* Fecha de nacimiento</label>
                    <p-calendar id="fechaNacimiento" name="fechaNacimiento"  [showIcon]="true"
                                [maxDate]="maxDate" [minDate]="minDate" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="range" [locale]="es" readonlyInput="readonlyInput"
                                formControlName="fechaNacimiento" [dataType]="date" (onSelect)="onSelectMethod($event)" [disabled]="disabled"
                                [(ngModel)]="familyInformation.fechaNacimiento"></p-calendar>

                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!familyform.controls['fechaNacimiento'].valid && familyform.controls['fechaNacimiento'].dirty">
                        <i class="fa fa-close"></i>
                        Fecha de nacimiento es requerida
                    </div>
                </div>
                <div class="ui-grid-col-4">
                    <label for="correoElectronico">* Correo electronico</label>
                    <input id="correoElectronico" name="correoElectronico" pInputText type="text" formControlName="correoElectronico"
                           [(ngModel)]="familyInformation.correoElectronico" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!familyform.controls['correoElectronico'].valid && familyform.controls['correoElectronico'].dirty">
                        <i class="fa fa-close"></i>
                        <span *ngIf="familyform.controls['correoElectronico'].errors['required']">Correo electronico es requerido</span>
                        <span *ngIf="familyform.controls['correoElectronico'].errors['pattern']">formato xxx@xxx.com</span>
                    </div>
                </div>
                <div class="ui-grid-col-4">
                    <label for="idParentezco">* Parentezco</label>
                    <p-dropdown id="idParentezco"  name="idParentezco" [options]="relationship" formControlName="idParentezco" [autoWidth]="false"
                                [(ngModel)]="selectedRelationship "></p-dropdown>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!familyform.controls['idParentezco'].valid&&familyform.controls['idParentezco'].dirty">
                        <i class="fa fa-close"></i>
                        Parentezco es requerido
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-5">
                    <label for="telefonoFijo">* Teléfono 1</label>
                    <input id="telefonoFijo" name="telefonoFijo" pInputText type="text" formControlName="telefonoFijo"
                           [(ngModel)]="familyInformation.telefonoFijo"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!familyform.controls['telefonoFijo'].valid&&familyform.controls['telefonoFijo'].dirty">
                        <i class="fa fa-close"></i>
                        Teléfono es requerido
                    </div>
                </div>
                <div class="ui-grid-col-5">
                    <label for="telefonoCelular">Teléfono 2</label>
                    <input id="telefonoCelular" name="telefonoCelular" pInputText type="text" formControlName="telefonoCelular"
                           [(ngModel)]="familyInformation.telefonoCelular" />
                </div>
                <div class="ui-grid-col-2">
                    <label for="idConvivencia">idConvivencia</label>
                    <p-checkbox id="idConvivencia"  name="idConvivencia" formControlName="idConvivencia"
                                [(ngModel)]="familyInformation.idConvivencia" binary="true"></p-checkbox>

                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <label for="direccion">* Dirección de residencia</label>
                    <textarea id="direccion" name="direccion" pInputTextarea formControlName="direccion" rows="5"
                              [(ngModel)]="familyInformation.direccion" ></textarea>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!familyform.controls['direccion'].valid&&familyform.controls['direccion'].dirty">
                        <i class="fa fa-close"></i>
                        Dirección de residencia es requerido
                    </div>
                </div>

            </div>
            <div class="ui-grid-row form-footer-buttons">
                <div class="ui-grid-col-4"></div>
                <div class="ui-grid-col-1">
                    <a (click)="goBack()" class="cancelar">Cancelar</a>
                </div>
                <div class="ui-grid-col-2">
                    <button icon="fa-plus" label="Guardar" type="submit"
                            [disabled]="!familyform.valid" pButton></button>
                </div>
                <div class="ui-grid-col-5"></div>
            </div>
        </div>
    </form>
</div>
