<div *ngIf="familyInformation">
    <div class="row">
        <div class="col-md-12">
            <h3 class="first">{{ 'EMPLOYEES.LBL_IINFROMACIONFAMILIAR' | translate:param }}</h3>
        </div>
    </div>

    <div class="row">


            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'LBL_TIPODOCUMENTO' | translate:param }}:</label>
                        <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{familyInformation.tipoDocumento}}</strong></label>

                        <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'LBL_NUMERODOCUMENTO' | translate:param }}:</label>
                        <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{familyInformation.numeroDocumento}}</strong></label>
                      </div>
                      <div class="row">
                        <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_PRIMER' | translate:param }}:</label>
                        <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{familyInformation.primerNombre}}</strong></label>

                        <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_SEGUNDO' | translate:param }}:</label>
                        <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{familyInformation.segundoNombre}}</strong></label>
                      </div>
                      <div class="row">
                        <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_PRIMERAPELLIDO' | translate:param }}:</label>
                        <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{familyInformation.primerApellido}}</strong></label>

                        <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_SEGUNDOAPELLIDO' | translate:param }}:</label>
                        <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{familyInformation.segundoApellido}}</strong></label>
                      </div>
                      <div class="row">
                        <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_FECHANACIMIENTO' | translate:param }}:</label>
                        <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{familyInformation.fechaNacimiento}}</strong></label>

                        <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_PARENTESCO' | translate:param }}:</label>
                        <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{familyInformation.parentesco}}</strong></label>
                      </div>
                      <div class="row">
                        <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'LBL_CORREOELECTRONICO' | translate:param }}:</label>
                        <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{familyInformation.correoElectronico}}</strong></label>

                        <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'LBL_TELEFONO' | translate:param }}:</label>
                        <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{familyInformation.telefonoFijo}}</strong></label>
                      </div>
                      <div class="row">
                        <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'LBL_CELULAR' | translate:param }}:</label>
                        <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{familyInformation.telefonoCelular}}</strong></label>

                        <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'LBL_DIRECCION' | translate:param }}:</label>
                        <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{familyInformation.direccion}}</strong></label>
                      </div>
                      <div class="row">
                        <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_CONVIVE' | translate:param }}:</label>
                        <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{familyInformation.idConvivencia === 1 ? 'Si' : 'No'}}</strong></label>
                      </div>
                    </div>
                </fieldset>
            </form>

        </div>

</div>

<div class="row form-footer-buttons">
    <div class="form-group col-md-12">
        <button icon="fa-arrow-left" label="{{'BTN_REGRESAR' | translate:param }}" type="button"
                pButton (click)="goBack()"></button>
    </div>
</div>
