<p-messages [value]="msgs"></p-messages>
<p-confirmDialog width="400" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="{{'BTN_NO' | translate }}" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="{{'BTN_SI' | translate }}" (click)="cd.accept()"></button>
  </p-footer>

</p-confirmDialog>
<p-dialog header="Documento repetido" [(visible)]="repeatedDocument" modal="modal" width="300" responsive="true">
   {{'EMPLOYEES.MSG_DOCUMENTO' | translate }}
</p-dialog>
<div *ngIf="addinglocation">
<div *ngIf="familyInformation">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <h4 class="title">{{header}}</h4>
            </div>
        </div>
    </div>
    <form (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate id="formulario">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <label for="idTipoDocumento">* {{'LBL_TIPODOCUMENTO' | translate }}</label>
                    <p-dropdown id="idTipoDocumento"  name="idTipoDocumento" #idTipoDocumento="ngModel" [options]="documentTypes" [autoWidth]="false" (onChange)="onChangeMethod($event)"
                                [(ngModel)]="selectedDocument"required></p-dropdown>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !idTipoDocumento.valid">
                        <i class="fa fa-close"></i>
                        {{'LBL_TIPODOCUMENTO' | translate }} {{'LBL_REQUERIDO' | translate }}
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <label for="numeroDocumento">* {{'LBL_NUMERODOCUMENTO' | translate }}</label>
                    <input id="numeroDocumento" name="numeroDocumento" #numeroDocumento="ngModel" pInputText type="text"
                           [(ngModel)]="familyInformation.numeroDocumento" required (change)="validateDocument()" />
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !numeroDocumento.valid">
                        <i class="fa fa-close"></i>
                        {{'LBL_NUMERODOCUMENTO' | translate }} {{'LBL_REQUERIDO' | translate }}
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <label for="primerNombre">* {{'EMPLOYEES.LBL_PRIMER' | translate }}</label>
                    <input id="primerNombre" name="primerNombre" #primerNombre="ngModel" pInputText type="text"
                           [(ngModel)]="familyInformation.primerNombre" (keyup)="capitalize($event)"required/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !primerNombre.valid">
                        <i class="fa fa-close"></i>
                        {{'EMPLOYEES.LBL_PRIMER' | translate }} {{'LBL_REQUERIDO' | translate }}
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <label for="segundoNombre">{{'EMPLOYEES.LBL_SEGUNDO' | translate }}</label>
                    <input id="segundoNombre" name="segundoNombre" #segundoNombre="ngModel" pInputText type="text"
                           [(ngModel)]="familyInformation.segundoNombre" (keyup)="capitalize($event)"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <label for="primerApellido">* {{'EMPLOYEES.LBL_PRIMERAPELLIDO' | translate }}</label>
                    <input id="primerApellido" name="primerApellido" #primerApellido="ngModel" pInputText type="text"
                           [(ngModel)]="familyInformation.primerApellido" (keyup)="capitalize($event)"required/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !primerApellido.valid">
                        <i class="fa fa-close"></i>
                        {{'EMPLOYEES.LBL_PRIMERAPELLIDO' | translate }} {{'LBL_REQUERIDO' | translate }}
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <label for="segundoApellido">{{'EMPLOYEES.LBL_SEGUNDOAPELLIDO' | translate }}</label>
                    <input id="segundoApellido" name="segundoApellido" #segundoApellido="ngModel" pInputText type="text"
                           [(ngModel)]="familyInformation.segundoApellido" (keyup)="capitalize($event)"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label for="fechaNacimiento">* {{'EMPLOYEES.LBL_FECHANACIMIENTO' | translate }}</label>
                    <p-calendar id="fechaNacimiento" name="fechaNacimiento" #fechaNacimiento="ngModel"  [showIcon]="true"
                                [maxDate]="maxDate"  [monthNavigator]="true" [yearNavigator]="true" [yearRange]="range" [locale]="es" readonlyInput="readonlyInput"
                                dataType="date" (onSelect)="onSelectMethod($event)"
                                [(ngModel)]="familyInformation.fechaNacimiento"required></p-calendar>

                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !fechaNacimiento.valid ">
                        <i class="fa fa-close"></i>
                        {{'EMPLOYEES.LBL_FECHANACIMIENTO' | translate }} {{'LBL_REQUERIDO' | translate }}
                    </div>
                </div>
                <div class="ui-grid-col-4">
                    <label for="correoElectronico">* {{'LBL_CORREOELECTRONICO' | translate }}</label>
                    <input id="correoElectronico" name="correoElectronico" #correoElectronico="ngModel" pInputText type="text"required
                           [(ngModel)]="familyInformation.correoElectronico" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !correoElectronico.valid ">
                        <i class="fa fa-close"></i>
                        {{'LBL_CORREOELECTRONICO' | translate }}  {{'LBL_REQUERIDO' | translate }}
                    </div>
                </div>
                <div class="ui-grid-col-4">
                    <label for="idParentezco">* {{'EMPLOYEES.LBL_PARENTESCO' | translate }}</label>
                    <p-dropdown id="idParentezco"  name="idParentezco" #idParentezco="ngModel" [options]="relationship" [autoWidth]="false"
                                [(ngModel)]="selectedRelationship" required></p-dropdown>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !idParentezco.valid">
                        <i class="fa fa-close"></i>
                        {{'EMPLOYEES.LBL_PARENTESCO' | translate }} {{'LBL_REQUERIDO' | translate }}
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-5">
                    <label for="telefonoFijo">* {{'EMPLOYEES.LBL_TELEFONO1' | translate }}</label>
                    <input id="telefonoFijo" name="telefonoFijo" #telefonoFijo="ngModel"
                           [required]="telefonoCelular.value === '' || telefonoCelular.value === undefined "
                           [(ngModel)]="familyInformation.telefonoFijo" pInputText pattern="[0-9]{7,10}"
                           (keyup)="childInputCleanUp($event.target.value)" type="text"
                           (paste)="childInputCleanUp($event.target.value)"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !telefonoFijo.valid">
                        <i class="fa fa-close"></i>
                        {{'EMPLOYEES.LBL_TELEFONO1' | translate }} {{'LBL_REQUERIDO' | translate }}
                    </div>
                </div>
                <div class="ui-grid-col-5">
                    <label for="telefonoCelular">{{'EMPLOYEES.LBL_CELULAR' | translate }}</label>
                    <input id="telefonoCelular" name="telefonoCelular" #telefonoCelular="ngModel" pInputText type="text"
                           [(ngModel)]="familyInformation.telefonoCelular" pattern="[0-9]{7,10}"
                           [required]="telefonoFijo.value === '' || telefonoFijo.value === undefined"
                           (keyup)="childInputCleanUp1($event.target.value)"/>
                   <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !telefonoCelular.valid">
                      <i class="fa fa-close"></i>
                      {{'EMPLOYEES.LBL_CELULAR' | translate }} {{'LBL_REQUERIDO' | translate }}
                   </div>
                </div>
                <div class="ui-grid-col-2">
                    <label for="idConvivencia">{{'EMPLOYEES.LBL_CONVIVE' | translate }}</label>
                    <p-checkbox id="idConvivencia"  name="idConvivencia" #idConvivencia="ngModel"
                                [(ngModel)]="convive" binary="true"></p-checkbox>

                </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-10">
                <label for="direccion">* {{'EMPLOYEES.LBL_DIRECCIONRESIDENCIA' | translate }}</label>
                <textarea id="direccion" name="direccion" #direccion="ngModel" pInputTextarea  rows="5" disabled
                          [(ngModel)]="familyInformation.direccion" required></textarea>
                <div class="ui-message ui-messages-error ui-corner-all"
                     *ngIf="f.submitted && familyInformation.direccion===''">
                  <i class="fa fa-close"></i>
                  {{'EMPLOYEES.LBL_DIRECCIONRESIDENCIA' | translate }} {{'LBL_REQUERIDO' | translate }}
                </div>
              </div>
              <div class="ui-grid-col-2">
                <button pButton icon="fa-plus" label="{{'BTN_EDITARDIRECCION' | translate }}" (click)="toggleform()"></button>
              </div>
            </div>
            <div class="ui-grid-row form-footer-buttons">
                <div class="ui-grid-col-4"></div>
                <div class="ui-grid-col-1">
                    <a (click)="goBack()" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
                </div>
                <div class="ui-grid-col-2">
                  <button pButton icon="fa-plus" label="{{'BTN_GUARDAR' | translate }}" type="submit" ></button>
                </div>
                <div class="ui-grid-col-5"></div>
            </div>
        </div>
    </form>
</div>
</div>
<div *ngIf="!addinglocation">
  <locations-form [parentTitle]="'Información familiar'" (dismiss)="toggleform()" (create)="bindLocation($event)" [localizacion]="localizacion"></locations-form>
</div>
