<div class="row" style="margin-bottom: 10px;">
   <div class="col-md-6 col-xs-12 " style="text-align: left">
     <label>{{ 'INICIO_DASHBOARD.LBL_ULTIMOINGRESO' | translate }}: </label>
   </div>
   <div class="col-md-6 col-xs-12 ">
      <button class=" pull-right" (click)="displayDialog=true" type="button" pButton icon="fa-plus"
              label="{{ 'WIDGETS.LBL_CONFIGURARWIDGETS' | translate }}"></button>
   </div>
</div>

<div class="row">
	
         <div class="col-md-8" id="rolesSistema"
              *ngIf="allWidgets[0].habilitado && allWidgets[0].visible">
            <p-panel>
               <p-header>
                  <div class="ui-helper-clearfix">
                     <span class="ui-panel-title">{{ usuariosTitle }}</span>
                     <button class="pull-right" type="text" (click)="allWidgets[0].visible = !allWidgets[0].visible" icon=""><i
                        class="fa fa-close"></i></button>
                     <!--<input pButton=""  [style]="{'float':'right'}" label="Save" icon="fa-check" (onClick)="save()" [model]="items"></input>-->
                  </div>
               </p-header>
               <div *ngIf="isData">
                  <p-chart id="chrRolesUsuarios" type="doughnut" [data]="data" width="400" height="400" [options]="options"></p-chart>
               </div>
            </p-panel>
         </div>

         <div class="col-md-4" id="usuariosAct"
              *ngIf="allWidgets[1].habilitado && allWidgets[1].visible">

            <p-panel>
               <p-header>
                  <div class="ui-helper-clearfix">
                     <span class="ui-panel-title">{{ 'LBL_USUARIOS' | translate }} {{ 'INICIO_DASHBOARD.LBL_ACTIVO' | translate }}/{{ 'INICIO_DASHBOARD.LBL_INACTIVO' | translate }}</span>
                     <button class="pull-right" type="text" (click)="allWidgets[1].visible = !allWidgets[1].visible" icon=""><i
                        class="fa fa-close"></i></button>
                     <!--<input pButton=""  [style]="{'float':'right'}" label="Save" icon="fa-check" (onClick)="save()" [model]="items"></input>-->
                  </div>
               </p-header>
               <div class="ui-grid-row ">

                  <div class="info-box" style="background: #f9f9f9;">
                     <span class="info-box-icon bg-green"><i class="fa fa-user"></i></span>
                     <div class="info-box-content">
                        <span class="info-box-text">{{ 'LBL_USUARIOS' | translate }} {{ 'INICIO_DASHBOARD.LBL_ACTIVO' | translate }}</span>
                        <span class="info-box-number"
                              style="text-align: center;font-size: 2.4em;">{{usuariosActivos}}</span>
                     </div>
                  </div>

                  <div class="info-box" style="background: #f9f9f9;">
                     <span class="info-box-icon bg-yellow"><i class="fa fa-user-times"></i></span>
                     <div class="info-box-content">
                        <span class="info-box-text">{{ 'LBL_USUARIOS' | translate }} {{ 'INICIO_DASHBOARD.LBL_INACTIVO' | translate }}</span>
                        <span class="info-box-number"
                              style="text-align: center;font-size: 2.4em;">{{usuariosInactivos}}</span>
                     </div>
                  </div>


                  <div class="pull-right">
                     <a (click)="user()" class="verMás btn btn-primary btn-sm">
                        Ver Más <i class="fa fa-chevron-right"></i>
                     </a>
                  </div>

               </div>


            </p-panel>
         </div>
	
			<div class="col-md-4" id="VACANTES" *ngIf="allWidgets[2].habilitado && allWidgets[2].visible">
				<p-panel>
					<p-header>
						<div class="ui-helper-clearfix">
							<span class="ui-panel-title">{{ 'WIDGETS.LBL_VACANTES' | translate }}</span>
							<button class="pull-right" type="text" (click)="allWidgets[2].visible = !allWidgets[2].visible" icon=""><i
								class="fa fa-close"></i></button>
						</div>
					</p-header>
					<div class="ui-grid-row ">
						
						<ul class="list-group">
							<li *ngFor="let vacancy of publications" class="list-group-item">
								<h4>{{vacancy.cargo}}</h4>
								<h5>{{ 'WIDGETS.LBL_FECHALIMITE' | translate}}: {{vacancy.fechaFin}}</h5>
								<p>{{vacancy.descripcionGeneral}}</p>
								<button pButton icon="fa-check" label="{{'WIDGETS.BTN_APLICAR' | translate }}" (click)="aplicar()"></button>
							</li>
						</ul>
						
						<div class="pull-right">
							<a (click)="user()" class="verMás btn btn-primary btn-sm">
								{{ 'WIDGETS.BTN_VERMAS' | translate }} <i class="fa fa-chevron-right"></i>
							</a>
						</div>
					
					</div>
				
				
				</p-panel>
			</div>

</div>


<p-dialog header="{{ 'INICIO_DASHBOARD.CONF_WIDGETS' | translate }}" [(visible)]="displayDialog" responsive="true" modal="true">
   <template ngFor let-widget [ngForOf]="allWidgets" let-i="index">
      <div class="col-md-12">
         <p-checkbox name="widgets" *ngIf="widget.habilitado"  value="{{widget.codigo}}" [(ngModel)]="widget.visible" label="{{widget.nombre}}" binary="true"></p-checkbox>
      </div>
   </template>
</p-dialog>
