<div>
   <div *ngIf="!guardando">
      <div class="row">
         <div class="col-md-12">
            <h3>{{ 'BTN_EDITAR' | translate }} {{ 'POSITION.LBL_RESPONSABILIDADES' | translate }}</h3>
         </div>
      </div>
      <div class="row">
         <div class="col-md-9">
            <label for="responsabilidad"> * {{ 'POSITION.LBL_RESPONSABILIDAD' | translate }}</label>
         </div>
      </div>
      <form (ngSubmit)="d.valid && save(tr)" #d="ngForm" novalidate id="responsabilitiesForm">
         <div class="ui-grid-row">
            <div class="ui-grid-col-9">
               <p-dropdown id="responsabilidad" name="responsabilidad"
                           [options]="responsabilities" required #responsabilidad="ngModel"
                           [autoWidth]="false" [(ngModel)]="tr.idResponsabilidad"></p-dropdown>
               <div class="ui-message ui-messages-error ui-corner-all" *ngIf="d.submitted && !responsabilidad.valid">
                  <i class="fa fa-close"></i>
                  {{ 'POSITION.LBL_RESPONSABILIDAD' | translate }}
               </div>
            </div>
            <div class="ui-grid-col-3">
               <button class="ui-button ui-button-success btn" icon="fa-plus" pButton icon="fa-plus" type="submit"
                       label="{{ 'BTN_AGREGAR' | translate }}"></button>
            </div>
         </div>
      </form>
   </div>
   <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="positionResponsabilities"
                [paginator]="true"
                [rows]="10" [responsive]="true" >
      <p-column field="responsabilidad" header="{{ 'POSITION.LBL_RESPONSABILIDAD' | translate }}" [sortable]="true"></p-column>
      <p-column header="{{ 'LBL_ACCIONES' | translate }}" styleClass="datatable-col-action">
         <template let-positionResponsability="rowData" pTemplate="body">
            <div class="btn-group" role="group" aria-label="...">
               <button type="button" pButton class="ui-button ui-button-danger btn" icon="fa-trash"
                       pButton (click)="del(positionResponsability)"></button>
            </div>
         </template>
      </p-column>
   </p-dataTable>
</div>
<div>
   <div class="ui-grid-row form-footer-buttons">
      <div class="ui-grid-col-10">
         <p-messages [value]="msgsAlert"></p-messages>
      </div>
      <div class="ui-grid-col-2 pull-right">
         <button pButton label="{{ 'BTN_SIGUIENTE' | translate }}" type="button" (click)="next()"></button>
      </div>
   </div>
</div>
<p-confirmDialog width="400"></p-confirmDialog>
