<p-messages [value]="msgs"></p-messages>
<p-messages [value]="msgs"></p-messages>
<p-confirmDialog width="400" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="{{'BTN_NO' | translate }}" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="{{'BTN_SI' | translate }}" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<div class="col-md-10 col-md-offset-1">
<div *ngIf="localizacion">
  <div class="row">
    <div class="col-md-12">
      <div class="header">
        <h4 class="title">{{header}}</h4>
      </div>
    </div>
  </div>
  <!--<locations [parentTitle]="'Ubicaciones'" (create)="bindLocation($event)" [localizacion]="employLocation"></locations>-->
  <form (ngSubmit)="l.valid && createLocation()" #l="ngForm" novalidate id="formulario">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="tipoDireccionLabel">* Tipo de Dirección</label>
          <p-dropdown id="tipoDireccionLabel" name="tipoDireccionLabel" [options]="addressTypeList" [autoWidth]="false"
                      required [(ngModel)]="selectedAddressType" #eltipoDireccion="ngModel"></p-dropdown>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="l.submitted && !eltipoDireccion.valid">
            <i class="fa fa-close"></i> {{'UBICACION.LBL_TIPODIRECCION' | translate }}
          </div>
        </div>
        <div class="ui-grid-col-8">
          <label for="barrio">Barrio / Vereda / Ciudad </label>

				  <p-autoComplete placeholder="Buscar barrio" field="camino" name="barrio" id="barrio"
										[(ngModel)]="localizacion.locacion"
										#barrio="ngModel" [suggestions]="hoodList" required="true"
										(completeMethod)="hoodSearch($event)" (onSelect)="captureHoodId($event)"
										emptyMessage="No se encontro info que mostrar">
				  </p-autoComplete>
			  <div style="margin-top: -26px;position: relative;margin-left: 4px;">
				  <i class="fa fa-refresh fa-spin fa-fw" *ngIf="loadingAutocomplete"></i>
			  </div>

          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="l.submitted && !barrio.valid">
            <i class="fa fa-close"></i> {{'UBICACION.LBL_BARRIO' | translate }} {{'LBL_REQUERIDO' | translate }}
          </div>
           <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!wrongCity">
            <i class="fa fa-close"></i> Barrio es requerida
          </div>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="ppal">{{'UBICACION.LBL_NOMENCLATURAPRINCIPAL' | translate }}</label>
          <p-dropdown [options]="principalNomenclatureList" id="ppal" name="ppal" #elppal="ngModel" [autoWidth]="false"
                      [(ngModel)]="selectedPrincipalNomenclature" required="true" (onChange)="capturePrincipalNomenclature()" ></p-dropdown>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="l.submitted && !elppal.valid">
            <i class="fa fa-close"></i> {{'UBICACION.LBL_NOMENCLATURAPRINCIPAL' | translate }} {{'LBL_REQUERIDO' | translate }}
          </div>
        </div>
        <div class="ui-grid-col-3">
          <label for="principalNomenclature">.</label>
          <input type="text" pInputText name="principalNomenclature" id="principalNomenclature"
                 (change)="composeAddress()" [(ngModel)]="principalNomenclature"
                 #pncl="ngModel" required="true"/>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="l.submitted && !pncl.valid">
            <i class="fa fa-close"></i> {{'LBL_CAMPO' | translate }} {{'LBL_REQUERIDO' | translate }}
          </div>
        </div>
        <div class="ui-grid-col-3">
          <label for="numberOne">#</label>
          <input type="text" pInputText name="numberOne" id="numberOne" (change)="composeAddress()"
                 [(ngModel)]="numberOne" #nmbOne="ngModel"
          />
        </div>
        <div class="ui-grid-col-3">
          <label for="numberTwo">-</label>
          <input type="text" pInputText name="numberTwo" id="numberTwo" (change)="composeAddress()"
                 [(ngModel)]="numberTwo" #nmbTwo="ngModel"
          />
        </div>
      </div>

      <div class="ui-grid-row" *ngFor="let cpml of complementaries; let i = index">
          <div class="ui-grid-col-4">
            <label for="cpl{{i}}">{{'UBICACION.LBL_NOMENCLATURACOMPLEMENTARIA' | translate }}</label>
            <p-dropdown [options]="complementaryNomenclatureList" id="cpl{{i}}" name="cpl{{i}}" [autoWidth]="false"
                        (onChange)="composeAddress()"
                        [(ngModel)]="cpml.tipo"></p-dropdown>
          </div>
          <div class="ui-grid-col-6">
            <label for="cpld{{i}}">-</label>
            <input type="text" pInputText name="cpld{{i}}" id="cpld{{i}}" (change)="composeAddress()"
                   [(ngModel)]="cpml.detalle"/>
          </div>
          <div class="ui-grid-col-1">
            <label>-</label>
            <button *ngIf="i == 0" pButton type="button" (click)="addComplementary()" label="+"></button>
            <button *ngIf="i > 0" pButton type="button" label="-" (click)="removeComplementary(i)"></button>
          </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-6 ">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <label for="comollegar">{{'UBICACION.LBL_COMOLLEGAR' | translate }}</label>
              <input pInputText type="text" id="comollegar" name="comollegar" [(ngModel)]="localizacion.comoLlegar"
                     #comoLlegar="ngModel"
              />
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <label for="direccion">{{'UBICACION.LBL_DIRECCION' | translate }}</label>
              <textarea id="direccion" name="direccion" pInputTextarea rows="5" disabled="true"
                        [(ngModel)]="finalAddress"></textarea>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <label for="latitud">{{'UBICACION.LBL_LATITUD' | translate }}</label>
              <input type="text" pInputText id="latitud" name="latitud" [(ngModel)]="localizacion.latitud"
                     #latitud="ngModel" disabled
              />
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <label for="longitud">{{'UBICACION.LBL_LONGITUD' | translate }}</label>
              <input type="text" pInputText id="longitud" name="longitud" [(ngModel)]="localizacion.longitud"
                     #longitud="ngModel" disabled/>
            </div>
          </div>
        </div>
        <div class="ui-grid-col-6">
          <div id="graphMap" style="width: 420px; height: 330px; position: relative; overflow: hidden; margin: 20px;">
          </div>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-6">

          <label for="reside">{{'UBICACION.LBL_RESIDE' | translate }}</label>
          <p-checkbox id="reside"  name="reside" #reside="ngModel"
                      [(ngModel)]="residencia.indicadorHabilitado" binary="true"></p-checkbox>
        </div>
      </div>

      <div class="ui-grid-row" *ngIf="residencia.indicadorHabilitado" >
        <div class="ui-grid-col-6">
          <label for="idTipoVivienda">{{'EMPLOYEES.LBL_TIPOINMUEBLE' | translate }}</label>
          <p-dropdown id="idTipoVivienda" name="idTipoVivienda" [required]="residencia.indicadorHabilitado"
                      [options]="listTypeEstate" [autoWidth]="false"
                      [(ngModel)]="residencia.idTipoVivienda"
                      #idTipoVivienda="ngModel"
          ></p-dropdown>
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="l.submitted && !idTipoVivienda.valid">
            <i class="fa fa-close"></i>
            {{'EMPLOYEES.LBL_TIPOINMUEBLE' | translate }} {{'LBL_REQUERIDO' | translate }}
          </div>
        </div>
        <div class="ui-grid-col-6">
          <label for="idClaseVivienda">{{'EMPLOYEES.LBL_VIVIENDA' | translate }}</label>
          <p-dropdown id="idClaseVivienda" name="idClaseVivienda" [required]="residencia.indicadorHabilitado"
                      [options]="listClassEstate" [autoWidth]="false"
                      [(ngModel)]="residencia.idClasesViviendas"
                      #idClaseVivienda="ngModel"
          ></p-dropdown>
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="l.submitted && !idClaseVivienda.valid">
            <i class="fa fa-close"></i>
            {{'EMPLOYEES.LBL_CLASEVIVIENDA' | translate }} {{'LBL_REQUERIDO' | translate }}
          </div>
        </div>
      </div>

      <div class="ui-grid-row" *ngIf="residencia.indicadorHabilitado">
        <div class="ui-grid-col-6">
          <label for="idTipoConstruccionVivienda">{{'EMPLOYEES.LBL_TIPOCONSTRUCCION' | translate }}</label>
          <p-dropdown id="idTipoConstruccionVivienda" name="idTipoConstruccionVivienda" [required]="residencia.indicadorHabilitado"
                      [options]="listTypeConstruction" [autoWidth]="false"
                      [(ngModel)]="residencia.idTipoConstruccionVivienda"
                      #idTipoConstruccionVivienda="ngModel"
          ></p-dropdown>
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="l.submitted && !idTipoConstruccionVivienda.valid">
            <i class="fa fa-close"></i>
            {{'EMPLOYEES.LBL_TIPOCONSTRUCCION' | translate }} {{'LBL_REQUERIDO' | translate }}
          </div>
        </div>
        <div class="ui-grid-col-6">
          <label for="idEstrato">{{'EMPLOYEES.LBL_ESTRATO' | translate }}</label>
          <p-dropdown id="idEstrato" name="idEstrato" [required]="residencia.indicadorHabilitado"
                      [options]="listStratum" [autoWidth]="false"
                      [(ngModel)]="residencia.idEstrato"
                      #idEstrato="ngModel"
          ></p-dropdown>
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="l.submitted && !idEstrato.valid">
            <i class="fa fa-close"></i>
            {{'EMPLOYEES.LBL_ESTRATO' | translate }} {{'LBL_REQUERIDO' | translate }}
          </div>
        </div>
      </div>

      <div class="ui-grid-row form-footer-buttons">
        <div class="ui-grid-col-4"></div>
        <div class="ui-grid-col-1">
          <a (click)="goBack((l.dirty === true))" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
        </div>
        <div class="ui-grid-col-2">
          <button pButton icon="fa-plus" label="{{'BTN_GUARDAR' | translate }}" type="submit"></button>
        </div>
        <div class="ui-grid-col-5"></div>
      </div>
    </div>
  </form>
</div>
</div>