<p-messages [value]="msgs"></p-messages>
<p-messages [value]="msgs"></p-messages>
<p-confirmDialog width="400" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
<div *ngIf="localizacion">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <h4 class="title">{{header}}</h4>
            </div>
        </div>
    </div>
    <!--<locations [parentTitle]="'Ubicaciones'" (create)="bindLocation($event)" [localizacion]="employLocation"></locations>-->
    <form (ngSubmit)="l.valid && createLocation()" #l="ngForm" novalidate id="formulario">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label for="tipoDireccionLabel">* Tipo de Dirección</label>
                    <p-dropdown id="tipoDireccionLabel" name="tipoDireccionLabel" [options]="addressTypeList" [autoWidth]="false" required="true"
                        [(ngModel)]="selectedAddressType" #tipoDireccionLabel="ngModel" (onChange)="captureTipoDireccion($event)"></p-dropdown>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="l.submitted && !tipoDireccionLabel.valid" (focus)="!tipoDireccionLabel.valid">
                        <i class="fa fa-close"></i> Tipo de Dirección es requerido
                    </div>
                </div>
                <div class="ui-grid-col-8">
                    <label for="barrio">Barrio / Vereda / Ciudad</label>
                    <p-autoComplete placeholder="Buscar barrio" field="camino" name="barrio" id="barrio" [(ngModel)]="localizacion.locacion"
                        #barrio="ngModel" [suggestions]="hoodList" required="true" (completeMethod)="hoodSearch($event)" (onSelect)="captureHoodId($event)">
                    </p-autoComplete>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="l.submitted && !barrio.valid">
                        <i class="fa fa-close"></i> Barrio es requerida
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label for="ppal">Nomenclatura principal</label>
                    <p-dropdown [options]="principalNomenclatureList" id="ppal" name="ppal" #ppal="ngModel" [autoWidth]="false" (onChange)="capturePrincipalNomenclature(ppal.valueAccessor.label)"
                        [(ngModel)]="selectedPrincipalNomenclature" required="true"></p-dropdown>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="l.submitted && !ppal.valid">
                        <i class="fa fa-close"></i> Nomenclatura principal es requerido
                    </div>
                </div>
                <div class="ui-grid-col-3">
                    <label for="principalNomenclature">.</label>
                    <input type="text" pInputText name="principalNomenclature" id="principalNomenclature" (change)="composeAddress()" [(ngModel)]="principalNomenclature"
                        #pncl="ngModel" required="true" />
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="l.submitted && !pncl.valid">
                        <i class="fa fa-close"></i> Campo requerido
                    </div>
                </div>
                <div class="ui-grid-col-3">
                    <label for="numberOne">#</label>
                    <input type="text" pInputText name="numberOne" id="numberOne" (change)="composeAddress()" [(ngModel)]="numberOne" #nmbOne="ngModel"
                        />
                </div>
                <div class="ui-grid-col-3">
                    <label for="numberTwo">-</label>
                    <input type="text" pInputText name="numberTwo" id="numberTwo" (change)="composeAddress()" [(ngModel)]="numberTwo" #nmbTwo="ngModel"
                         />
                </div>
            </div>

            <div *ngFor="let cpml of complementaries; let i = index">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <label for="cpl{{i}}">Nomenclatura complementaria</label>
                        <p-dropdown [options]="complementaryNomenclatureList" id="cpl{{i}}" name="cpl{{i}}" [autoWidth]="false" (onChange)="composeAddress()"
                            [(ngModel)]="cpml.tipo"></p-dropdown>
                    </div>
                    <div class="ui-grid-col-6">
                        <label for="cpld{{i}}">-</label>
                        <input type="text" pInputText name="cpld{{i}}" id="cpld{{i}}" (change)="composeAddress()" [(ngModel)]="cpml.detalle" />
                    </div>
                    <div class="ui-grid-col-1">
                        <label>-</label>
                        <button *ngIf="i == 0" pButton type="button" (click)="addComplementary()" label="+"></button>
                        <button *ngIf="i > 0" pButton type="button" label="-" (click)="removeComplementary(i)"></button>
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="comollegar">Cómo llegar</label>
                            <input pInputText type="text" id="comollegar" name="comollegar" [(ngModel)]="localizacion.comoLlegar" #comoLlegar="ngModel"
                            />
                        </div>
                        <div class="col-md-12">
                            <label for="direccion">Dirección</label>
                            <textarea id="direccion" name="direccion" pInputTextarea rows="5" disabled="true" [(ngModel)]="finalAddress"></textarea>
                        </div>
                        <div class="col-md-12">
                            <label for="latitud">Latitud</label>
                            <input type="text" pInputText id="latitud" name="latitud" [(ngModel)]="localizacion.latitud" #latitud="ngModel" disabled
                            />
                        </div>
                        <div class="col-md-12">
                            <label for="longitud">Longitud</label>
                            <input type="text" pInputText id="longitud" name="longitud" [(ngModel)]="localizacion.longitud" #longitud="ngModel" disabled/>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <div id="graphMap" style="width: 420px; height: 330px; position: relative; overflow: hidden; margin: 20px;">
                    </div>
                </div>
            </div>

            <div class="ui-grid-row form-footer-buttons">
                <div class="ui-grid-col-4"></div>
                <div class="ui-grid-col-1">
                    <a (click)="goBack()" class="cancelar">Cancelar</a>
                </div>
                <div class="ui-grid-col-2">
                    <button pButton icon="fa-plus" label="Guardar" type="submit"></button>
                </div>
                <div class="ui-grid-col-5"></div>
            </div>
        </div>
    </form>
    <!--<form (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate id="formulario">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label for="tipoDireccionLabel">* Tipo de Dirección</label>
                    <p-dropdown id="tipoDireccionLabel" name="tipoDireccionLabel" [options]="addressTypeList" [autoWidth]="false" required="true"
                        [(ngModel)]="selectedAddressType" #tipoDireccionLabel="ngModel" (onChange)="captureTipoDireccion($event)"></p-dropdown>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !tipoDireccionLabel.valid" (focus)="!tipoDireccionLabel.valid">
                        <i class="fa fa-close"></i> Tipo de Dirección es requerido
                    </div>
                </div>
                <div class="ui-grid-col-8">
                    <label for="ciudad">* Ciudad</label>
                    <p-autoComplete placeholder="Buscar ciudad" field="descripcionDivisionPolitica" name="ciudad" id="ciudad" [(ngModel)]="employLocation.ciudad.label"
                        #ciudad="ngModel" [suggestions]="cityList" required="true" (completeMethod)="citySearch($event)" (onSelect)="captureId($event)">
                    </p-autoComplete>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !ciudad.valid">
                        <i class="fa fa-close"></i> Ciudad es requerida
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label for="ppal">Nomenclatura principal</label>
                    <p-dropdown [options]="principalNomenclatureList" id="ppal" name="ppal" #ppal="ngModel" [autoWidth]="false" (onChange)="capturePrincipalNomenclature($event)"
                        [(ngModel)]="selectedPrincipalNomenclature" required="true"></p-dropdown>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !ppal.valid">
                        <i class="fa fa-close"></i> Nomenclatura principal es requerido
                    </div>
                </div>
                <div class="ui-grid-col-3">
                    <label for="principalNomenclature">.</label>
                    <input type="text" pInputText name="principalNomenclature" id="principalNomenclature" (change)="composeAddress()" [(ngModel)]="principalNomenclature"
                        #pncl="ngModel" required="true" />
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !pncl.valid">
                        <i class="fa fa-close"></i> Campo requerido
                    </div>
                </div>
                <div class="ui-grid-col-3">
                    <label for="numberOne">#</label>
                    <input type="text" pInputText name="numberOne" id="numberOne" (change)="composeAddress()" [(ngModel)]="numberOne" #nmbOne="ngModel"
                        required="true" />
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !nmbOne.valid">
                        <i class="fa fa-close"></i> Campo requerido
                    </div>
                </div>
                <div class="ui-grid-col-3">
                    <label for="numberTwo">-</label>
                    <input type="text" pInputText name="numberTwo" id="numberTwo" (change)="composeAddress()" [(ngModel)]="numberTwo" #nmbTwo="ngModel"
                        required="true" />
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !nmbTwo.valid">
                        <i class="fa fa-close"></i> Campo requerido
                    </div>
                </div>
            </div>

            <div *ngFor="let cpml of complementaries; let i = index">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <label for="cpl{{i}}">Nomenclatura complementaria</label>
                        <p-dropdown [options]="complementaryNomenclatureList" id="cpl{{i}}" name="cpl{{i}}" [autoWidth]="false" (onChange)="composeAddress()"
                            [(ngModel)]="cpml.tipo"></p-dropdown>
                    </div>
                    <div class="ui-grid-col-6">
                        <label for="cpld{{i}}">-</label>
                        <input type="text" pInputText name="cpld{{i}}" id="cpld{{i}}" (change)="composeAddress()" [(ngModel)]="cpml.detalle" required/>
                    </div>
                    <div class="ui-grid-col-1">
                        <label>-</label>
                        <button *ngIf="i == 0" pButton type="button" (click)="addComplementary()" label="+"></button>
                        <button *ngIf="i > 0" pButton type="button" label="-" (click)="removeComplementary(i)"></button>
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <label for="barrio">Barrio</label>
                    <p-autoComplete placeholder="Buscar barrio" field="descripcionDivisionPolitica" name="barrio" id="barrio" [(ngModel)]="employLocation.barrio.label"
                        #barrio="ngModel" [suggestions]="hoodList" required="true" (completeMethod)="hoodSearch($event)" (onSelect)="captureHoodId($event)">
                    </p-autoComplete>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !barrio.valid">
                        <i class="fa fa-close"></i> Barrio es requerida
                    </div>-->
    <!--<input type="text" pInputText id="barrio" name="barrio" required
                        [(ngModel)]="employLocation.barrio" #barrio="ngModel"/>-->
    <!--</div>
                <div class="ui-grid-col-3">
                    <label for="latitud">Latitud</label>
                    <input type="text" pInputText id="latitud" name="latitud" [(ngModel)]="employLocation.latitud" #latitud="ngModel" disabled
                    />
                </div>
                <div class="ui-grid-col-3">
                    <label for="longitud">Longitud</label>
                    <input type="text" pInputText id="longitud" name="longitud" [(ngModel)]="employLocation.longitud" #longitud="ngModel" disabled/>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <label for="comollegar">Cómo llegar</label>
                    <input pInputText type="text" id="comollegar" name="comollegar" [(ngModel)]="employLocation.comoLlegar" #comoLlegar="ngModel"
                    />
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <label for="correoElectronico">Correo Electronico</label>
                    <input pInputText type="text" id="correoElectronico" name="correoElectronico" [(ngModel)]="employLocation.correoElectronico"
                        #correoElectronico="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" />
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !correoElectronico.valid">
                        <i class="fa fa-close"></i>formato xxx@xxx.com
                    </div>
                </div>

                <div class="ui-grid-col-6">
                    <label for="telefono">* Teléfono</label>
                    <input pInputText type="text" id="telefono" name="telefono" #telefono="ngModel" [(ngModel)]="employLocation.telefono" #comoLlegar="ngModel"
                        required/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !telefono.valid">
                        <i class="fa fa-close"></i> Teléfono es requerido
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <label for="celular">* Celular</label>
                    <input pInputText type="text" id="celular" name="celular" #celular="ngModel" [(ngModel)]="employLocation.celular" #celular="ngModel"
                        required/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !celular.valid">
                        <i class="fa fa-close"></i> Celular es requerido
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <div class="ui-grid-col-6" style="border: dotted; border-color: black; background-color: #666; color: white;">{{finalAddress}}</div>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <div id="ubicacionColaborador" style="width:500px;height:380px;"></div>
                </div>
            </div>

            <div class="ui-grid-row form-footer-buttons">
                <div class="ui-grid-col-4"></div>
                <div class="ui-grid-col-1">
                    <a (click)="goBack()" class="cancelar">Cancelar</a>
                </div>
                <div class="ui-grid-col-2">
                    <button pButton icon="fa-plus" label="Guardar" type="submit" (click)="focusUP()"></button>
                </div>
                <div class="ui-grid-col-5"></div>
            </div>
        </div>
    </form>-->
</div>