<h3 class="first">{{'UBICACION.LBL_UBICACIONES' | translate:param }}</h3>
<div>
    <div class="row datable-header">
        <div class="col-md-6 col-xs-12 datatable-header-add">
            <button type="button" pButton icon="fa-plus" (click)="add()" label="Nueva Ubicación"></button>
        </div>
        <div class="col-md-6 col-xs-12 datatable-header-search" >
            <i class="fa fa-search"></i>
            <input #gb type="text" pInputText size="40" placeholder="Buscar...">
        </div>
    </div>
    <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate:param }}"  [value]="employeesLocations" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
        <p-column field="nombre" header="{{'UBICACION.LBL_TIPODIRECCION' | translate:param }}" [sortable]="true"></p-column>
        <p-column field="direccion" header="{{'UBICACION.LBL_DIRECCION' | translate:param }}" [sortable]="true"></p-column>
        <p-column field="divisionPolitica" header="{{'UBICACION.LBL_UBICACION' | translate:param }}" [sortable]="true"></p-column>
        <p-column header="Acciones" styleClass="datatable-col-action" >
            <template let-elocation="rowData" pTemplate="body">
                <div class="btn-group" role="group">
                    <button type="button" pButton class="ui-button ui-button-success btn" icon="fa-pencil"
                            pButton (click)="update(elocation)" ></button>
                    <button type="button" pButton class="ui-button ui-button-danger btn" icon="fa-trash"
                            pButton (click)="del(elocation)" ></button>
                </div>
            </template>
        </p-column>
    </p-dataTable>
</div>
<p-confirmDialog width="400" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
