<h3 class="first">{{ 'ESTRUCTURAFISICA.LBL_ESTRUCTURA' | translate}}</h3>
<div>
   <div class="row datable-header">
      <div class="col-md-6 col-xs-12 datatable-header-add">
         <button type="button" icon="fa-plus" label="{{ 'ESTRUCTURAFISICA.BTN_AGREGARNUEVO' | translate}}"
                 pButton (click)="add()"></button>
      </div>
      <div class="col-md-6 col-xs-12 datatable-header-search">
         <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input #gb type="text" pInputText size="40" placeholder="{{ 'LBL_BUSCAR' | translate}}" class="form-control"
                   [(ngModel)]="busqueda" (change)="setSearch()">
         </div>
      </div>
   </div>
   <p-dataTable  emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="ListPhysicStructure" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
      <p-column field="codigo" header="{{ 'LBL_CODIGO' | translate}}" [sortable]="true"></p-column>
      <p-column field="estructuraFisica" header="{{ 'LBL_NOMBRE' | translate}}" [sortable]="true"></p-column>
      <p-column field="clasificacionSede" header="{{ 'ESTRUCTURAFISICA.LBL_CATEGORIA' | translate}}" [sortable]="true"></p-column>
      <p-column field="direccion" header="{{ 'LBL_DIRECCION' | translate}}" [sortable]="true"></p-column>
      <p-column header="{{ 'ESTRUCTURAFISICA.LBL_VIRTUAL' | translate}}" styleClass="datatable-col-action">
         <template let-physicStructure="rowData" pTemplate="body">
            <p-checkbox name="indicadorVirtual" [(ngModel)]="physicStructure.indicadorVirtual" binary="true" disabled="true" ></p-checkbox>
         </template>
      </p-column>
      <p-column header="{{ 'LBL_HABILITADO' | translate}}" styleClass="datatable-col-action">
         <template let-physicStructure="rowData" pTemplate="body">
            <p-checkbox name="indicadorHabilitado" [(ngModel)]="physicStructure.indicadorHabilitado" binary="true" disabled="true" ></p-checkbox>
         </template>
      </p-column>
      <p-column header="{{ 'LBL_ACCIONES' | translate}}" styleClass="datatable-col-action">
         <template let-physicStructure="rowData" pTemplate="body">
            <button type="button" icon="fa-eye" class="ui-button-info" data-toggle="tooltip" title="{{'BTN_VISUALIZAR' | translate}}"
                    pButton (click)="detail(physicStructure)"></button>
            <button type="button" icon="fa-pencil" class="ui-button-success" data-toggle="tooltip" title="{{'BTN_EDITAR' | translate}}"
                    pButton (click)="update(physicStructure)"></button>
         </template>
      </p-column>
   </p-dataTable>
</div>
<p-confirmDialog width="400" #cd>
	<p-footer>
		<button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
		<button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
	</p-footer>
</p-confirmDialog>