<h3 class="first">Estructura Física</h3>
<div>
   <div class="row datable-header">
      <div class="col-md-6 col-xs-12 datatable-header-add">
         <button type="button" icon="fa-plus" label="Agregar Nuevo"
                 pButton (click)="add()"></button>
      </div>
      <div class="col-md-6 col-xs-12 datatable-header-search">
         <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input #gb type="text" pInputText size="40" placeholder="Buscar..." class="form-control">
         </div>
      </div>
   </div>
   <p-dataTable [value]="ListPhysicStructure" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
      <p-column field="codigo" header="Id" [sortable]="true"></p-column>
      <p-column field="estructuraFisica" header="Nombre" [sortable]="true"></p-column>
      <p-column field="clasificacionSede" header="Categoria" [sortable]="true"></p-column>
      <p-column field="direccion" header="Dirección" [sortable]="true"></p-column>
      <p-column header="Ind. Virtual" styleClass="datatable-col-action">
         <template let-physicStructure="rowData" pTemplate="body">
            <p-checkbox name="indicadorVirtual" [(ngModel)]="physicStructure.indicadorVirtual" binary="true" disabled="true" ></p-checkbox>
         </template>
      </p-column>
      <p-column header="Ind. Habilitado" styleClass="datatable-col-action">
         <template let-physicStructure="rowData" pTemplate="body">
            <p-checkbox name="indicadorHabilitado" [(ngModel)]="physicStructure.indicadorHabilitado" binary="true" disabled="true" ></p-checkbox>
         </template>
      </p-column>
      <p-column header="Acciones" styleClass="datatable-col-action">
         <template let-physicStructure="rowData" pTemplate="body">
            <button type="button" icon="fa-eye" class="ui-button-info"
                    pButton (click)="detail(physicStructure)"></button>
            <button type="button" icon="fa-pencil" class="ui-button-success"
                    pButton (click)="update(physicStructure)"></button>
         </template>
      </p-column>
   </p-dataTable>
</div>
<p-confirmDialog width="400"></p-confirmDialog>