<div *ngIf="physicStructure">
   <div class="row">
      <div class="col-md-12">
         <h3 class="first">{{ 'ESTRUCTURAFISICA.LBL_DETALLEESTRUCT' | translate}}</h3>
      </div>
   </div>
   <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12">
         <form class="form-horizontal">
            <fieldset>
               <div class="row">
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'LBL_CODIGO' | translate}}:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8 "><strong>{{physicStructure.codigo}}</strong></label>

                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'LBL_NOMBRE' | translate}}:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{physicStructure.estructuraFisica}}</strong></label>
               </div>
               <div class="row">
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'ESTRUCTURAFISICA.LBL_CATEGORIA' | translate}}:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8 "><strong>{{physicStructure.clasificacionSede}}</strong></label>

                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'LBL_DIRECCION' | translate}}:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{physicStructure.direccion}}</strong></label>
               </div>
               <div class="row">
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'LBL_HABILITADO' | translate}}:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8 "><strong>{{habilitado}}</strong></label>

                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'ESTRUCTURAFISICA.LBL_VIRTUAL' | translate}}:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{virtual}}</strong></label>
               </div>
            </fieldset>
         </form>
      </div>
   </div>
</div>
<div class="row form-footer-buttons">
   <div class="form-group col-md-12">
      <button icon="fa-arrow-left" label="{{ 'BTN_REGRESAR' | translate}}" type="button"
              pButton (click)="goBack()"></button>
   </div>
</div>