
<div id="loginBg">

</div>
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-offset-3 ">

              <div class="account-wall">
                  <img id="imgLogin" class="img-responsive"
                       src="./assets/images/logo_login_sp.png" >


                  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate class="form-signin">
                      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                          <label for="username">Usuario</label>
                          <div class="input-group input-block-level">
                            <span class="input-group-addon"> <i class="fa fa-user"></i> </span>
                            <input type="text" id="username" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                          </div>
                          <div *ngIf="f.submitted && !username.valid" class="help-block">El nombre de usuario es
                              requerido</div>
                      </div>
                      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                          <label for="password">Contraseña</label>
                          <div class="input-group input-block-level">
                            <span class="input-group-addon"> <i class="fa fa-key"></i> </span>
                            <input type="password" id="password"   class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                          </div>
                          <div *ngIf="f.submitted && !password.valid" class="help-block">Debe ingresar una
                              contraseña</div>
                      </div>
                      <re-captcha *ngIf="intentos>=3" #captchaControl="ngModel" name="captchControl"
                                  siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU" (required)="true"
                                  [(ngModel)]="captcha"></re-captcha>
                      <div class="form-group">
                          <button id="btnIniciarSesion" [disabled]="loading"pButton  label="Iniciar Sesión" ></button>
                      </div>
                      <div *ngIf="error" class="alert alert-danger">{{error}}</div>

                      <div id="recordarcontrasena">
                          <a (click)="cambioContrasena()">Olvide mi contraseña</a>
                      </div>
                  </form>

              </div>

          </div>
      </div>
  </div>