<h3 class="first">Datos de contacto en caso de emergencia</h3>
<p-messages [value]="msgs"></p-messages>
<div *ngIf="show_form">
  <div class="row-fluid">
    <div class="col-md-12">
      <form name="formulario emergencia" (ngSubmit)="fe.valid && onSubmit()" #fe="ngForm" novalidate id="formulario">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
          <div class="row">
            <div class="form-group col-md-8">
              <label for="nombre">* Nombre Contacto</label>
              <input type="text" pInputText id="nombre" name="nombre"
                     [(ngModel)]="contact.contacto" #contacto="ngModel" required
              />
              <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="fe.submitted && !contacto.valid">
                 <i class="fa fa-close"></i>
                Nombre Contacto es requerido
               </div>
            </div>
            <div class="ui-grid-col-4">
              <label for="idParentezco">* Relación</label>
              <p-dropdown id="idParentezco"  name="idParentezco" #idParentezco="ngModel" [options]="relationship" [autoWidth]="false"
                          [(ngModel)]="contact.idListaParentesco" required></p-dropdown>
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="fe.submitted && !idParentezco.valid">
                <i class="fa fa-close"></i>
                Parentezco es requerido
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="fijo">Teléfono fijo</label>
<!--              <input type="text" pInputText id="fijo" name="fijo"
                     [(ngModel)]="contact.telefono" #telefonoFijo="ngModel"
              />-->
              <p-inputMask id="fijo" name="fijo"
                           mask="(999) 999-9999? Ext 9999" placeholder="(999) 999-9999? Ext 99999"
                           [(ngModel)]="contact.telefono" #telefonoFijo="ngModel"
              ></p-inputMask>
            </div>
            <div class="form-group col-md-6">
              <label for="cel">Teléfono Celular</label>
              <!--<input type="text" pInputText id="cel" name="cel"
                     [(ngModel)]="contact.celular" #telefonoCelular="ngModel"

              />-->
              <p-inputMask id="cel" name="cel"
                           mask="(999) 999-9999" placeholder="(999) 999-9999"
                           [(ngModel)]="contact.celular" #celular="ngModel"
              ></p-inputMask>
            </div>
          </div>
        </div>
        <div class="row form-footer-buttons">
          <div class="form-group col-md-12">
            <a (click)="goBackUpdate()" class="cancelar">Cancelar</a>
            <button icon="fa-plus" label="Guardar" type="submit"
                    pButton></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div>
    <div class="row datable-header">
        <div class="col-md-6 col-xs-12 datatable-header-add">
            <button type="button" pButton icon="fa-plus" (click)="add()" label="Nuevo Contacto"></button>
        </div>
        <div class="col-md-6 col-xs-12 datatable-header-search" >
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input #gb type="text" pInputText size="30" placeholder="Buscar..." class="form-control">
          </div>
        </div>
    </div>
    <p-dataTable [value]="contacts" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
        <p-column field="contacto" header="Nombre Contacto" [sortable]="true"></p-column>
        <p-column field="nombreListaParentesco" header="Parentesco" [sortable]="true"></p-column>
        <p-column field="telefono" header="Teléfono" [sortable]="true"></p-column>
        <p-column field="celular" header="Celular" [sortable]="true"></p-column>
        <p-column header="Acciones" styleClass="datatable-col-action">
            <template let-lcontact="rowData" pTemplate="body">
                <div class="btn-group" role="group">
                    <button type="button"  class="ui-button ui-button-success btn" icon="fa-pencil"
                            pButton (click)="update(lcontact)"></button>
                    <button type="button"  class="ui-button ui-button-danger btn" icon="fa-trash"
                            pButton (click)="delete(lcontact)" ></button>
                </div>
            </template>
        </p-column>
    </p-dataTable>
</div>
<p-confirmDialog width="400"></p-confirmDialog>
