<p-panel header="{{'EMPLOYEES.LBL_COLABORADORES' | translate}}">
	<div class="clearfix card-header">
		<div class="col-md-2">
			<div class="thumbnail img-responsive" *ngIf="employee.imagen">
				<img src="{{svcThUrl}}/file/{{employee.imagen }}" alt="...">
			</div>
		</div>
		<div class="col-md-8">
			<h2>{{employee.nombreCompleto}} ({{ employee.estadoTercero }})</h2>
			<h4>{{employee.tipoDocumento}} : {{employee.numeroDocumento}}</h4>
			<span>{{employee.fechaNacimiento}} ({{employee.edad}})</span><br />
			<span>Cargo actual : {{employee.cargoActual}}</span><br />
			<span>Usuario desde : {{employee.fechaCreacion}}</span><br />
		</div>
		<div class="col-md-2">
			<!--<a href="#" class="btn btn-primary">{{'EMPLOYEES.LBL_HISTORIALABORAL' | translate}}</a>-->
		</div>
	</div>
</p-panel>
<p-accordion (onOpen)="onTabShow($event)" id="accordion">
	<p-accordionTab header="{{'NOVEDADES.LBL_NOVEDAD' | translate}}" [selected]="acordion == 0 || acordion == null">
		<div *ngIf="employeeEventuality">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal">
						<p-panel header="{{ 'EMPLOYEES.LBL_DATOSGENERALES' | translate }}">
							<fieldset>
								<div class="form-group">
									<div class="row">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEENOVELTY.LBL_TIPONOVEDAD' | translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{employeeEventuality.tipoNovedad}}</strong></label>
									</div>
									<div class="row">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEENOVELTY.LBL_NOVEDAD' | translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{employeeEventuality.novedad}}</strong></label>
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showdescripcion">{{'EMPLOYEENOVELTY.LBL_DESCRIPCION'
											|translate}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12" *ngIf="showdescripcion">
											<strong>{{employeeEventuality.descripcion}}</strong></label>
									</div>
									<div class="row">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showdiagnostico">{{'EMPLOYEENOVELTY.LBL_DIAGNOSTICO'
											|
											translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12 "
										       *ngIf="showdiagnostico"><strong>{{employeeEventuality.diagnostico}}</strong></label>
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showreemplazado">{{'EMPLOYEENOVELTY.LBL_REEMPLAZADOPOR'
											| translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12"
										       *ngIf="showreemplazado"><strong>{{employeeEventuality.reemplazadoPor}}</strong></label>
									</div>
									<div class="row">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showfechainicio">{{'EMPLOYEENOVELTY.LBL_FECHAINICIO'
											|
											translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12 "
										       *ngIf="showfechainicio"><strong>{{employeeEventuality.fechaInicio}}</strong></label>
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf=" showhorainicio">{{'EMPLOYEENOVELTY.LBL_HORAINICIO'
											|
											translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12"
										       *ngIf="showhorainicio"><strong>{{employeeEventuality.horaInicio | date:"h:mma"}}</strong></label>
									</div>
									<div class="row">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showfechafinal">{{'EMPLOYEENOVELTY.LBL_FECHAFINAL'
											|
											translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12 "
										       *ngIf="showfechafinal"><strong>{{employeeEventuality.fechaFin}}</strong></label>
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showhorafinal">{{'EMPLOYEENOVELTY.LBL_HORAFINAL'
											|
											translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12" *ngIf="showhorafinal"><strong>{{employeeEventuality.horaFin |
											date:"h:mma"}}</strong></label>
									</div>
									<div class="row">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showdias">{{'EMPLOYEENOVELTY.LBL_DIAS' |
											translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12 "
										       *ngIf="showdias"><strong>{{employeeEventuality.dias}}</strong></label>
									</div>
									<div class="row">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showfechareintegro">{{'EMPLOYEENOVELTY.LBL_FECHAREINTEGRO'
											| translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12 "
										       *ngIf="showfechareintegro"><strong>{{employeeEventuality.fechaReintegro}}</strong></label>
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showhorareintegro">{{'EMPLOYEENOVELTY.LBL_HORAREINTEGRO'
											| translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12" *ngIf="showhorareintegro"><strong>{{employeeEventuality.horaReintergo
											|
											date:"h:mma"
											}}</strong></label>
									</div>
									<div class="row">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showretiro">{{'EMPLOYEENOVELTY.LBL_RETIRO' |
											translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12 "
										       *ngIf="showretiro"><strong>{{employeeEventuality.retiro?'Si':'No'}}</strong></label>
									</div>
									<div class="row">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showperiodoinicial">{{'EMPLOYEENOVELTY.LBL_PERIODOINICIAL'
											| translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12 "
										       *ngIf="showperiodoinicial"><strong>{{employeeEventuality.periodoInicio}}</strong></label>
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showperiodofinal">{{'EMPLOYEENOVELTY.LBL_PERIODOFINAL'
											| translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12"
										       *ngIf="showperiodofinal"><strong>{{employeeEventuality.periodoFinal}}</strong></label>
									</div>
									<div class="row">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showvalor">{{'EMPLOYEENOVELTY.LBL_VALOR' |
											translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12 "
										       *ngIf="showvalor"><strong>{{employeeEventuality.valor}}</strong></label>
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showcuotas">{{'EMPLOYEENOVELTY.LBL_CUENTA' |
											translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12"
										       *ngIf="showcuotas"><strong>{{employeeEventuality.nroCuotas}}</strong></label>
									</div>
									<div class="row">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showreferencia">{{'EMPLOYEENOVELTY.LBL_REFERENCIA'
											|
											translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12 "
										       *ngIf="showreferencia"><strong>{{employeeEventuality.nroReferencia}}</strong></label>
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showentidad">{{'EMPLOYEENOVELTY.LBL_ENTIDAD' |
											translate }}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12"
										       *ngIf="showentidad"><strong>{{employeeEventuality.entidad}}</strong></label>
									</div>
									<div class="row">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showeps">{{'EMPLOYEENOVELTY.LBL_EPS' |
											translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12 "
										       *ngIf="showeps"><strong>{{employeeEventuality.eps}}</strong></label>
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showfp">{{'EMPLOYEENOVELTY.LBL_FP' | translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12" *ngIf="showfp"><strong>{{employeeEventuality.fp}}</strong></label>
									</div>
									<div class="row">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label" *ngIf="showccf">{{'EMPLOYEENOVELTY.LBL_CCF' |
											translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12 "
										       *ngIf="showccf"><strong>{{employeeEventuality.ccf}}</strong></label>
									</div>
									<div class="row">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEENOVELTY.LBL_REPORTADOPOR' | translate
											}}:</label>
										<label
											class="col-md-3 col-sm-6 col-xs-12 "><strong>{{employeeEventuality.nombreTerceroReporta}}</strong></label>
										<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEENOVELTY.LBL_FECHASOLICITUD' | translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employeeEventuality.fechaReporte}}</strong></label>
									</div>
									<div class="row">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEENOVELTY.LBL_ESTADO' | translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{employeeEventuality.estadoNovedad}}</strong></label>
										<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'LBL_HABILITADO' | translate }}:</label>
										<label
											class="col-md-3 col-sm-6 col-xs-12"><strong>{{employeeEventuality.indicadorHabilitado?'Si':'No'}}</strong></label>
									</div>
								</div>
							</fieldset>
						</p-panel>
						<p-panel header="{{'NOVEDADES.LBL_ADJUNTOS' | translate}}">
							<fieldset>
								<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listAttachment" [paginator]="true"
								             [rows]="10"
								             [responsive]="true">
									<p-column field="nombreArchivo" header="{{'EMPLOYEENOVELTY.LBL_TIPONOVEDAD' | translate }}"
									          [sortable]="true"></p-column>
									<p-column header="{{'LBL_ACCIONES' | translate }}" styleClass="datatable-col-action">
										<template let-atta="rowData" pTemplate="body">
											<button type="button" icon="fa-download" class="ui-button-success" data-toggle="tooltip"
											        title="{{'BTN_DOWNLOAD' | translate}}"
											        pButton (click)="downloadFile(atta.idAdjunto)"></button>
										</template>
									</p-column>
								</p-dataTable>
							</fieldset>
						</p-panel>
					</form>
				</div>
			</div>
		</div>
	</p-accordionTab>
	<p-accordionTab header="{{'NOVEDADES.LBL_ACTIVIDADES' | translate}}" [selected]="acordion == 1">
		<div *ngIf="!saveActivity">
			<div class="row datable-header">
				<div class="col-md-6 col-xs-12 datatable-header-add">
					<button type="button" icon="fa-plus" label="{{'EMPLOYEENOVELTY.LBL_AGREGARACTIVIDAD' | translate }}"
					        pButton (click)="add()"></button>
				</div>
				<div class="col-md-6 col-xs-12 datatable-header-search">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-search"></i></div>
						<input #gb type="text" pInputText size="40" placeholder="{{'LBL_BUSCAR' | translate }}" class="form-control"
						       [(ngModel)]="busqueda" (change)="setSearch()">
					</div>
				</div>
			</div>
			<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listActivities" [paginator]="true" [rows]="10"
			             [responsive]="true" [globalFilter]="gb">
				<p-column header="{{'EMPLOYEENOVELTY.LBL_FECHAHORA' | translate }}" [sortable]="true">
					<template let-nv="rowData" pTemplate="body">
						<label>{{nv.fechaCreacion | date:"MM-dd-yyyy 'a las' h:mma"}}</label>
					</template>
				</p-column>
				<p-column field="estadoNovedad" header="{{'EMPLOYEENOVELTY.LBL_ESTADONOVEDAD' | translate }}" [sortable]="true"></p-column>
				<p-column field="actividadRealizada" header="{{'EMPLOYEENOVELTY.LBL_ACTIVIDADREALIZADA' | translate }}"
				          [sortable]="true"></p-column>
				<p-column header="{{'LBL_HABILITADO' | translate }}" styleClass="datatable-col-action">
					<template let-nv="rowData" pTemplate="body">
						<p-checkbox name="indicadorHabilitado" [(ngModel)]="nv.indicadorHabilitado" binary="true" disabled="true"></p-checkbox>
					</template>
				</p-column>
				<p-column header="{{'LBL_ACCIONES' | translate }}" styleClass="datatable-col-action">
					<template let-nv="rowData" pTemplate="body">
						<button type="button" icon="fa-pencil" class="ui-button-success" data-toggle="tooltip"
						        title="{{'BTN_VISUALIZAR' | translate}}"
						        pButton (click)="update(nv)"></button>
					</template>
				</p-column>
			</p-dataTable>
		</div>
		<div class="clearfix" *ngIf="saveActivity">
			<div class="col-md-10 col-md-offset-1">
				<form (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate id="formulario">
					<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
						<div class="row">
							<div class="col-md-6">
								<label for="idTipoNovedad">{{ 'EMPLOYEENOVELTY.LBL_ESTADONOVEDAD' | translate }}</label>
								<p-dropdown id="idTipoNovedad" name="idTipoNovedad"
								            [options]="listEstados" [autoWidth]="false"
								            [(ngModel)]="employeeEventualityActivity.idEstadoNovedad" required
								            #idTipoNov="ngModel" ></p-dropdown>
								<div class="ui-message ui-messages-error ui-corner-all"
								     *ngIf="f.submitted && !idTipoNov.valid">
									<i class="fa fa-close"></i>
									{{ 'EMPLOYEENOVELTY.LBL_ESTADONOVEDAD' | translate }} {{ 'LBL_REQUERIDO' | translate }}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label for="observacion">* {{'EMPLOYEENOVELTY.LBL_ACTIVIDADREALIZADA' | translate }}</label>
								<textarea id="observacion" name="observacion" pInputTextarea rows="4" cols="35" #decrip="ngModel"
								          [(ngModel)]="employeeEventualityActivity.actividadRealizada" class="form-control" required
								          maxlength="500" (keyup)="capitalize($event)"></textarea>
								<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !decrip.valid">
									<i class="fa fa-close"></i>
									{{'EMPLOYEENOVELTY.LBL_ACTIVIDADREALIZADA' | translate }} {{'LBL_REQUERIDO' | translate }}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6"></div>
							<div class="col-md-6">
								<label></label><br>
								<p-checkbox binary="true" id="retiro" name="retiro"
								            [(ngModel)]="employeeEventualityActivity.indicadorHabilitado"
								            label="{{ 'LBL_HABILITADO' | translate }}"
								            #indicador="ngModel"></p-checkbox>
							</div>
						</div>
						<div class="ui-grid-row form-footer-buttons">
							<div class="col-md-1"></div>
							<div class="col-md-4"></div>
							<div class="col-md-1">
								<a (click)="cancelSave((f.dirty === true))" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
							</div>
							<div class="col-md-2">
								<button pButton icon="fa-plus" label="{{'BTN_GUARDAR' | translate }}" type="submit"></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</p-accordionTab>
</p-accordion>
<div class="row form-footer-buttons">
	<div class="form-group col-md-12">
		<button icon="fa-arrow-left" label="{{'BTN_REGRESAR' | translate }}" type="button"
		        pButton (click)="goBack()"></button>
	</div>
</div>
