<!--<form (ngSubmit)="f.valid " #f="ngForm" novalidate id="formulario">
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-4">
				<label for="idEstructuraFisica">{{ 'EMPLOYEENOVELTY.LBL_OFICINA' | translate }}</label>
				<p-dropdown id="idEstructuraFisica" name="idEstructuraFisica"
				            [options]="ListaOficinas" [autoWidth]="false"
				            [(ngModel)]="filter.idEstructuraFisica" (onChange)="changeFilter()"
				            #idEstructuraFisica="ngModel"
				></p-dropdown>
			</div>
			<div class="ui-grid-col-4">
				<label for="idArea">{{ 'EMPLOYEENOVELTY.LBL_AREA' | translate }}</label>
				<p-dropdown id="idArea" name="idArea" required="true"
				            [options]="ListaAreas" [autoWidth]="false" (onChange)="changeFilter()"
				            [(ngModel)]="filter.idEstructuraArea"
				            #idEstructuraArea="ngModel"
				></p-dropdown>
			</div>
			<div class="ui-grid-col-4">
				<label for="idArea">{{ 'EMPLOYEENOVELTY.LBL_ESTADONOVEDAD' | translate }}</label>
				<p-dropdown id="idEstadoNovedad" name="idEstadoNovedad" required="true"
				            [options]="ListaEstados" [autoWidth]="false" (onChange)="changeFilter()"
				            [(ngModel)]="filter.idEstadoNovedad"
				            #idEstadoNovedad="ngModel"
				></p-dropdown>
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-4">
				<label for="idEstructuraFisica">{{ 'EMPLOYEENOVELTY.LBL_OFICINA' | translate }}</label>
				<p-dropdown id="tipoNovedad" name="tipoNovedad"
				            [options]="ListaTipos" [autoWidth]="false"
				            [(ngModel)]="filter.tipoNovedad" (onChange)="changeFilter()"
				            #tipoNovedad="ngModel"
				></p-dropdown>
			</div>
			<div class="ui-grid-col-4">
				<label for="idArea">{{ 'EMPLOYEENOVELTY.LBL_AREA' | translate }}</label>
				<p-dropdown id="novedad" name="novedad" required="true"
				            [options]="ListaNovedad" [autoWidth]="false" (onChange)="changeFilter()"
				            [(ngModel)]="filter.novedad"
				            #novedad="ngModel"
				></p-dropdown>
			</div>
		</div>
	</div>
</form>-->
<div class="row datable-header">
	<div class="col-md-6 col-xs-12 datatable-header-add">
		<!--<button type="button" icon="fa-plus" label="{{'EMPLOYEENOVELTY.LBL_AGREGAR' | translate }}"
		        pButton (click)="add()"></button>-->
	</div>
	<div class="col-md-6 col-xs-12 datatable-header-search">
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-search"></i></div>
			<input #gb type="text" pInputText size="40" placeholder="{{'LBL_BUSCAR' | translate }}" class="form-control"
			       [(ngModel)]="busqueda" (change)="setSearch()">
		</div>
	</div>
</div>
<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listEventualities" [paginator]="true" [rows]="10"
             [responsive]="true" [globalFilter]="gb">
	<p-column field="numeroDocumento" header="{{'LBL_DOCUMENTO' | translate }}" [sortable]="true"></p-column>
	<p-column field="nombreTercero" header="{{'EMPLOYEES.LBL_COLABORADOR' | translate }}" [sortable]="true"></p-column>
	<p-column field="estructuraFisica" header="{{'EMPLOYEENOVELTY.LBL_OFICINA' | translate }}" [sortable]="true"></p-column>
	<p-column field="estructuraArea" header="{{'EMPLOYEENOVELTY.LBL_AREA' | translate }}" [sortable]="true"></p-column>
	<p-column field="tipoNovedad" header="{{'EMPLOYEENOVELTY.LBL_TIPONOVEDAD' | translate }}" [sortable]="true"></p-column>
	<p-column field="novedad" header="{{'EMPLOYEENOVELTY.LBL_NOVEDAD' | translate }}" [sortable]="true"></p-column>
	<p-column field="fechaReporte" header="{{'EMPLOYEENOVELTY.LBL_FECHASOLICITUD' | translate }}" [sortable]="true"></p-column>
	<p-column field="estadoNovedad" header="{{'EMPLOYEENOVELTY.LBL_ESTADONOVEDAD' | translate }}" [sortable]="true"></p-column>
	<p-column field="nombreTerceroReporta" header="{{'EMPLOYEENOVELTY.LBL_REPORTADOPOR' | translate }}"
	          [sortable]="true"></p-column>
	<!--<p-column header="{{'LBL_ACCIONES' | translate }}" styleClass="datatable-col-action">
		<template let-nv="rowData" pTemplate="body">
			<button type="button" icon="fa-eye" class="ui-button-success" data-toggle="tooltip" title="{{'BTN_INACTIVAR' | translate}}"
			pButton (click)="detail(nv)"></button>
			<button *ngIf="nv.idEstadoNovedad===1" type="button" icon="fa-pencil" class="ui-button-success" data-toggle="tooltip"
			        title="{{'BTN_EDITAR' | translate}}"
			        pButton (click)="update(nv)"></button>
		</template>
	</p-column>-->
</p-dataTable>
<p-confirmDialog icon="fa fa-question-circle" #cd width="400">
	<p-footer>
		<button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
		<button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
	</p-footer>
</p-confirmDialog>
