<div *ngIf="!detailEventuality">
	<div *ngIf="!editEventuality">
		<div *ngIf="!saveEventuality">
			<form (ngSubmit)="f.valid " #f="ngForm" novalidate id="formulario">
				<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<label for="idEstructuraFisica">{{ 'EMPLOYEENOVELTY.LBL_OFICINA' | translate }}</label>
							<p-dropdown id="idEstructuraFisica" name="idEstructuraFisica"
							            [options]="ListaOficinas" [autoWidth]="false"
							            (onChange)="dt.filter($event.value,'estructuraFisica','startsWith')"
							></p-dropdown>
						</div>
						<div class="ui-grid-col-4">
							<label for="idArea">{{ 'EMPLOYEENOVELTY.LBL_AREA' | translate }}</label>
							<p-dropdown id="idArea" name="idArea"
							            [options]="ListaAreas" [autoWidth]="false"
							            (onChange)="dt.filter($event.value,'estructuraArea','startsWith')"
							></p-dropdown>
						</div>
						<div class="ui-grid-col-4">
							<label for="idEstadoNovedad">{{ 'EMPLOYEENOVELTY.LBL_ESTADONOVEDAD' | translate }}</label>
							<p-dropdown id="idEstadoNovedad" name="idEstadoNovedad"
							            [options]="ListaEstados" [autoWidth]="false"
							            (onChange)="dt.filter($event.value,'estadoNovedad','startsWith')"
							></p-dropdown>
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-3">
							<label for="tipoNovedad">{{ 'EMPLOYEENOVELTY.LBL_TIPONOVEDAD' | translate }}</label>
							<p-dropdown id="tipoNovedad" name="tipoNovedad"
							            [options]="ListaTipos" [autoWidth]="false"
							            [(ngModel)]="filter.tipoNovedad"
							            (onChange)="dt.filter($event.value,'tipoNovedad','startsWith')"
							></p-dropdown>
						</div>
						<div class="ui-grid-col-4">
							<label for="novedad">{{ 'EMPLOYEENOVELTY.LBL_NOVEDAD' | translate }}</label>
							<p-dropdown id="novedad" name="novedad"
							            [options]="ListaNovedad" [autoWidth]="false"
							            (onChange)="dt.filter($event.value,'novedad','startsWith')"
							></p-dropdown>
						</div>
						<div class="ui-grid-col-5">
							<label for="nombreTerceroReporta">{{ 'EMPLOYEENOVELTY.LBL_REPORTADOPOR' | translate }}</label>
							<p-dropdown id="nombreTerceroReporta" name="nombreTerceroReporta"
							            [options]="ListaReporta" [autoWidth]="false" filter="filter"
							            (onChange)="dt.filter($event.value,'nombreTerceroReporta','startsWith')"
							></p-dropdown>
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-3">
							<label for="fInicio">{{ 'EMPLOYEENOVELTY.LBL_FECHASOLICITUD' | translate }}</label>
							<p-calendar [locale]="es" [showIcon]="true"
							            id="fInicio" name="fInicio"
							            dateFormat="yy'-'mm'-'dd" [maxDate]="today"
							            readonlyInput="true" placeholder='Desde' dataType="date" #fechaI="ngModel"
							            [(ngModel)]="fechaInicio" (onSelect)="changeDate();"
							></p-calendar>
						</div>
						<div class="pull-right ui-grid-col-1" *ngIf="fechaInicio !== undefined && fechaInicio !== null && fechaInicio !== ''">
							<label>Limpiar Fecha</label>
							<button pButton type="button" class="ui-button-danger "
							        (click)="clearDate()"
							        icon="fa-close"></button>
						</div>
						<div class="ui-grid-col-3">
							<label for="fFinal">{{ 'EMPLOYEENOVELTY.LBL_FECHASOLICITUD' | translate }}</label>
							<p-calendar [locale]="es" [showIcon]="true"
							            id="fFinal" name="fFinal"
							            dateFormat="yy'-'mm'-'dd" [maxDate]="today" [minDate]="fechaInicio"
							            readonlyInput="true" placeholder='Hasta' dataType="date"
							            [(ngModel)]="fechaFin" (onSelect)="changeDate();"
							></p-calendar>
						</div>
						<div class="ui-grid-col-5">
							<label for="nombreTercero">{{ 'EMPLOYEES.LBL_COLABORADOR' | translate }}</label>
							<p-dropdown id="nombreTercero" name="nombreTercero"
							            [options]="ListaColaborador" [autoWidth]="false" filter="filter"
							            (onChange)="dt.filter($event.value,'nombreTercero','startsWith')"
							></p-dropdown>
						</div>
					</div>
				</div>
			</form>
			<div class="row datable-header">
				<div class="col-md-6 col-xs-12 datatable-header-add">
					<button type="button" icon="fa-plus" label="{{'EMPLOYEENOVELTY.LBL_AGREGAR' | translate }}"
					        pButton (click)="add()"></button>
				</div>
				<div class="col-md-6 col-xs-12 datatable-header-search">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-search"></i></div>
						<input #gb type="text" pInputText size="40" placeholder="{{'LBL_BUSCAR' | translate }}" class="form-control"
						       [(ngModel)]="busqueda" (change)="setSearch()">
					</div>
				</div>
			</div>
			<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listEventualities" [paginator]="true" [rows]="10"
			             [responsive]="true" [globalFilter]="gb" #dt>
				<p-column field="numeroDocumento" header="{{'LBL_DOCUMENTO' | translate }}" [sortable]="true"></p-column>
				<p-column field="nombreTercero" header="{{'EMPLOYEES.LBL_COLABORADOR' | translate }}" [sortable]="true"></p-column>
				<p-column field="estructuraFisica" header="{{'EMPLOYEENOVELTY.LBL_OFICINA' | translate }}" [sortable]="true"></p-column>
				<p-column field="estructuraArea" header="{{'EMPLOYEENOVELTY.LBL_AREA' | translate }}" [sortable]="true"></p-column>
				<p-column field="tipoNovedad" header="{{'EMPLOYEENOVELTY.LBL_TIPONOVEDAD' | translate }}" [sortable]="true"></p-column>
				<p-column field="novedad" header="{{'EMPLOYEENOVELTY.LBL_NOVEDAD' | translate }}" [sortable]="true"></p-column>
				<p-column field="fechaReporte" header="{{'EMPLOYEENOVELTY.LBL_FECHASOLICITUD' | translate }}" [sortable]="true"></p-column>
				<p-column field="estadoNovedad" header="{{'EMPLOYEENOVELTY.LBL_ESTADONOVEDAD' | translate }}" [sortable]="true"></p-column>
				<p-column field="nombreTerceroReporta" header="{{'EMPLOYEENOVELTY.LBL_REPORTADOPOR' | translate }}"
				          [sortable]="true"></p-column>
				<p-column header="{{'LBL_ACCIONES' | translate }}" styleClass="datatable-col-action">
					<template let-datos="rowData" pTemplate="body">
						<button type="button" icon="fa-eye" class="ui-button-success" data-toggle="tooltip"
						        title="{{'BTN_INACTIVAR' | translate}}"
						        pButton (click)="detail(datos)"></button>
						<button *ngIf="datos.codigoNovedad==='SOLICI' || datos.codigoNovedad==='DEVUEL'" type="button" icon="fa-pencil"
						        class="ui-button-success" data-toggle="tooltip"
						        title="{{'BTN_EDITAR' | translate}}"
						        pButton (click)="update(datos)"></button>
						<button *ngIf="datos.idTerceroReporta === idTercero" type="button" icon="fa-external-link"
						        class="ui-button-success" data-toggle="tooltip"
						        title="{{'EMPLOYEENOVELTY.BTN_TRAMITAR' | translate}}"
						        pButton (click)="refer(datos)"></button>
					</template>
				</p-column>
			</p-dataTable>
		</div>
		<div *ngIf="saveEventuality">
			<tray-employee-eventuality-add [employeeEventuality]="employeeEventuality" (dismiss)="closeSave()"></tray-employee-eventuality-add>
		</div>
	</div>
	<div *ngIf="editEventuality">
		<tray-employee-eventuality-add [employeeEventuality]="employeeEventuality" (dismiss)="closeEdit()"></tray-employee-eventuality-add>
	</div>
</div>
<div *ngIf="detailEventuality">
	<tray-employees-eventuality-detail [employeeEventuality]="employeeEventuality" (dismiss)="closeDetail()"></tray-employees-eventuality-detail>
</div>
<p-confirmDialog icon="fa fa-question-circle" #cd width="400">
	<p-footer>
		<button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
		<button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
	</p-footer>
</p-confirmDialog>
