<p-messages [value]="msgs"></p-messages>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<p-accordion (onOpen)="onTabShow($event)" id="accordion">
			<p-accordionTab header="{{ 'MEDICALINSTITUTION.LBL_DATOSGENERALES' | translate }}"
			                [selected]="acordion == 0 || acordion == null ">
				<div *ngIf="addinglocation">
					<div *ngIf="medicalInstitution">
						<form (ngSubmit)="f.valid && onSubmit(acordion)" #f="ngForm" novalidate id="formulario">
							<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
								<div class="ui-grid-row">
									<div class="ui-grid-col-6">
										<label for="entidad">{{ 'MEDICALINSTITUTION.LBL_CODIGO' | translate }}</label>
										<h3>{{medicalInstitution.idInstitucionMedica}}</h3>
									</div>
								</div>
								<div class="ui-grid-row">
									<div class="ui-grid-col-6">
										<label for="entidad">{{ 'MEDICALINSTITUTION.LBL_NOMBRE' | translate }}</label>
										<input id="entidad" name="entidad" #nombre="ngModel" pInputText type="text"
										       [(ngModel)]="medicalInstitution.institucionMedica" required
										       (keyup)="capitalize($event)"/>
										<div class="ui-message ui-messages-error ui-corner-all"
										     *ngIf="f.submitted && !nombre.valid">
											<i class="fa fa-close"></i>
											{{ 'MEDICALINSTITUTION.LBL_NOMBRE' | translate }} {{ 'LBL_REQUERIDO' | translate }}
										</div>
									</div>
									<div class="ui-grid-col-6">
										<label for="resplegal">{{ 'MEDICALINSTITUTION.LBL_REPRESENTANTELEGAL' | translate }}</label>
										<input id="resplegal" name="resplegal" #legal="ngModel" pInputText type="text"
										       [(ngModel)]="medicalInstitution.representanteLegal" required
										       (keyup)="capitalize($event)"/>
										<div class="ui-message ui-messages-error ui-corner-all"
										     *ngIf="f.submitted && !legal.valid">
											<i class="fa fa-close"></i>
											{{ 'MEDICALINSTITUTION.LBL_REPRESENTANTELEGAL' | translate }} {{ 'LBL_REQUERIDO' | translate }}
										</div>
									</div>
								</div>
								<div class="ui-grid-row">
									<div class="ui-grid-col-10">
										<label for="direccion">* {{'MEDICALINSTITUTION.LBL_DIRECCION' | translate }}</label>
										<textarea id="direccion" name="direccion" #direccion="ngModel" pInputTextarea rows="5" disabled
										          [(ngModel)]="medicalInstitution.direccion" required></textarea>
										<div class="ui-message ui-messages-error ui-corner-all"
										     *ngIf="f.submitted && medicalInstitution.direccion===''">
											<i class="fa fa-close"></i>
											{{'MEDICALINSTITUTION.LBL_DIRECCION' | translate }} {{'LBL_REQUERIDO' | translate }}
										</div>
									</div>
									<div class="ui-grid-col-2" style="margin-top: 24px;">
										<button pButton icon="fa-plus" label="{{'BTN_EDITARDIRECCION' | translate }}" (click)="toggleform()"></button>
									</div>
								</div>
								<div class="ui-grid-row">
									<div class="ui-grid-col-5">
										<label for="telefonoFijo">* {{'MEDICALINSTITUTION.LBL_TELEFONO' | translate }}</label>
										<p-inputMask id="telefonoFijo" name="telefonoFijo"
										             mask="?(999) 999-9999 Ext 9999" placeholder="(999) 999-9999 Ext 99999" #telefonoFijo="ngModel"
										             required [(ngModel)]="medicalInstitution.telefonoContacto" type="text"
										></p-inputMask>
										<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !telefonoFijo.valid">
											<i class="fa fa-close"></i>
											{{'MEDICALINSTITUTION.LBL_TELEFONO' | translate }} {{'LBL_REQUERIDO' | translate }}
										</div>
									</div>
									<div class="ui-grid-col-7">
										<label for="correoElectronico">* {{'LBL_CORREOELECTRONICO' | translate }}</label>
										<input id="correoElectronico" name="correoElectronico" #correoElectronico="ngModel" pInputText
										       type="text" required [(ngModel)]="medicalInstitution.correoElectronico"
										       pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"/>
										<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !correoElectronico.valid ">
											<i class="fa fa-close"></i>
											{{'LBL_CORREOELECTRONICO' | translate }} {{'LBL_REQUERIDO' | translate }}
										</div>
									</div>
								</div>
								<div class="ui-grid-row">
									<div class="ui-grid-col-6">
										<label for="osteo">* {{'MEDICALINSTITUTION.LBL_EXAMENOSTEOMUSCULAR' | translate }}</label>
										<input id="osteo" name="osteo" #examosteo="ngModel" pInputText
										       type="text" required [(ngModel)]="medicalInstitution.valorExamenOsteosmuscular"
										       (change)="calcularVaor()" (keyup)="inputNumberOsteo()"/>
										<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !examosteo.valid ">
											<i class="fa fa-close"></i>
											{{'MEDICALINSTITUTION.LBL_EXAMENOSTEOMUSCULAR' | translate }} {{'LBL_REQUERIDO' | translate }}
										</div>
									</div>
									<div class="ui-grid-col-6">
										<label for="visio">* {{'MEDICALINSTITUTION.LBL_EXAMENVISION' | translate }}</label>
										<input id="visio" name="visio" #examvisio="ngModel" pInputText
										       type="text" required [(ngModel)]="medicalInstitution.valorExamenVisiometria"
										       (change)="calcularVaor()" (keyup)="inputNumberVision()"/>
										<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !examvisio.valid ">
											<i class="fa fa-close"></i>
											{{'MEDICALINSTITUTION.LBL_EXAMENVISION' | translate }} {{'LBL_REQUERIDO' | translate }}
										</div>
									</div>
								</div>
								<div class="ui-grid-row">
									<div class="ui-grid-col-6">
										<label for="opto">* {{'MEDICALINSTITUTION.LBL_EXAMENOPTPMETRIA' | translate }}</label>
										<input id="opto" name="opto" #examopto="ngModel" pInputText
										       type="text" required [(ngModel)]="medicalInstitution.valorExamenOptometria"
										       (change)="calcularVaor()" (keyup)="inputNumberOpto()"/>
										<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !examopto.valid ">
											<i class="fa fa-close"></i>
											{{'MEDICALINSTITUTION.LBL_EXAMENOPTPMETRIA' | translate }} {{'LBL_REQUERIDO' | translate }}
										</div>
									</div>
									<div class="ui-grid-col-6">
										<label>{{'MEDICALINSTITUTION.LBL_EXAMENVALOR' | translate }}</label>
										<h3>{{totalExamenes}}</h3>
									</div>
								</div>
								<div class="ui-grid-row">
									<div class="ui-grid-col-3"></div>
									<div class="ui-grid-col-3">
										<label for="Habilitado">{{ 'LBL_HABILITADO' | translate}}</label>
										<p-checkbox id="Habilitado" name="Habilitado" [(ngModel)]="medicalInstitution.indicadorHabilitado"
										            binary="true"></p-checkbox>
									</div>
								</div>
								<div class="ui-grid-row form-footer-buttons">
									<div class="ui-grid-col-4"></div>
									<div class="ui-grid-col-1">
										<a (click)="goBack(f.dirty == true)" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
									</div>
									<div class="ui-grid-col-2">
										<button pButton icon="fa-plus" label="{{'BTN_GUARDAR' | translate }}"
										        type="submit"></button>
									</div>
									<div class="ui-grid-col-5"></div>
								</div>
							</div>
						</form>
					</div>
					<p-confirmDialog width="400" #cd>
						<p-footer>
							<button type="button" pButton icon="fa-close" label="{{ 'BTN_NO' | translate }}" (click)="cd.reject()"></button>
							<button type="button" pButton icon="fa-check" label="{{ 'BTN_SI' | translate }}" (click)="cd.accept()"></button>
						</p-footer>
					</p-confirmDialog>
				</div>
				<div *ngIf="!addinglocation">
					<locations-form [parentTitle]="'Institución medica'" (dismiss)="toggleform()" (create)="bindLocation($event)"
					                [localizacion]="localizacion"></locations-form>
				</div>
			</p-accordionTab>
			<p-accordionTab header="{{ 'MEDICALINSTITUTION.LBL_ESTRUCTURAFISICA' | translate }}" [selected]="acordion==1"
			                [disabled]="!medicalInstitution.idInstitucionMedica">
				<form (ngSubmit)="fs.valid && onSubmitEstructura()" #fs="ngForm" novalidate id="estructura" *ngIf="addingStructure">
					<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
						<div class="ui-grid-row">
							<div class="ui-grid-col-12">
								<label for="estrucFisica">{{ 'MEDICALINSTITUTION.LBL_ESTRUCTURAFISICA' | translate}}</label>
								<p-dropdown id="estrucFisica" name="estrucFisica" required="true"
								            [options]="physicStructure" [autoWidth]="false" filter="filter"
								            [(ngModel)]="medicalInstitutionStructure.idEstructuraFisica"
								            #estructura="ngModel"
								></p-dropdown>
								<div class="ui-message ui-messages-error ui-corner-all"
								     *ngIf="fs.submitted && !estructura.valid">
									<i class="fa fa-close"></i>
									{{ 'MEDICALINSTITUTION.LBL_ESTRUCTURAFISICA' | translate }} {{'LBL_REQUERIDO' | translate }}
								</div>
							</div>
						</div>
						<div class="ui-grid-row">
							<div class="ui-grid-col-3" *ngIf="editing">
								<label></label><br>
								<p-checkbox id="habilitadoE" name="habilitadoE" [(ngModel)]="medicalInstitutionStructure.indicadorHabilitado"
								            binary="true" label="{{ 'LBL_HABILITADO' | translate }}"></p-checkbox>
							</div>
							<div class="ui-grid-col-3">
								<label></label><br>
								<p-checkbox id="viaja" name="viaja" [(ngModel)]="medicalInstitutionStructure.indicadorViaja"
								            binary="true" label="{{ 'MEDICALINSTITUTION.LBL_VIAJA' | translate }}"></p-checkbox>
							</div>
							<div class="ui-grid-col-4" *ngIf="medicalInstitutionStructure.indicadorViaja">
								<label for="valorviaje">* {{'MEDICALINSTITUTION.LBL_VALORVIAJA' | translate }}</label>
								<input id="valorviaje" name="valorviaje" #valorv="ngModel" pInputText
								       type="text" [required]="medicalInstitutionStructure.indicadorViaja"
								       [(ngModel)]="medicalInstitutionStructure.valorViaje"
								       (keyup)="inputNumber()"/>
								<div class="ui-message ui-messages-error ui-corner-all" *ngIf="fs.submitted && !valorv.valid ">
									<i class="fa fa-close"></i>
									{{'MEDICALINSTITUTION.LBL_VALORVIAJA' | translate }} {{'LBL_REQUERIDO' | translate }}
								</div>
							</div>
						
						</div>
						<div class="row form-footer-buttons">
							<div class="ui-grid-col-4"></div>
							<div class="ui-grid-col-1">
							</div>
							<div class="ui-grid-col-6">
								<a (click)="cancelEditing(fs.dirty == true)" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
								<button pButton icon="fa-plus" label="{{ 'BTN_AGREGAR' | translate }}"
								        type="submit"></button>
							</div>
						</div>
					</div>
				</form>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listMedicalInstitutionStructure" [paginator]="true"
						             [rows]="10" [responsive]="true" [globalFilter]="gb">
							<p-column field="estructuraFisica" header="{{ 'MEDICALINSTITUTION.LBL_ESTRUCTURAFISICA' | translate }}"
							          [sortable]="true"></p-column>
							<p-column header="{{ 'MEDICALINSTITUTION.LBL_VIAJA' | translate}}" styleClass="datatable-col-action">
								<template let-mi="rowData" pTemplate="body">
									<label>{{mi.indicadorViaja?'Si':'No'}}</label>
								</template>
							</p-column>
							<p-column field="valorViaje" header="{{ 'MEDICALINSTITUTION.LBL_CIUDAD' | translate }}"
							          [sortable]="true"></p-column>
							<p-column header="{{ 'LBL_HABILITADO' | translate}}" styleClass="datatable-col-action">
								<template let-mi="rowData" pTemplate="body">
									<p-checkbox name="indicadorHabilitado" [(ngModel)]="mi.indicadorHabilitado" binary="true"
									            disabled="true"></p-checkbox>
								</template>
							</p-column>
							<p-column header="{{ 'LBL_ACCIONES' | translate }}" styleClass="datatable-col-action">
								<template let-mi="rowData" pTemplate="body">
									<button type="button" icon="fa-pencil" class="ui-button-success" data-toggle="tooltip"
									        title="{{'BTN_EDITAR' | translate}}"
									        pButton (click)="updateStructure(mi)"></button>
								</template>
							</p-column>
						</p-dataTable>
					</div>
				</div>
			
			</p-accordionTab>
		</p-accordion>
	</div>
</div>