<h3 class="first">Colaboradores</h3>
<div>
    <div class="row datable-header">
        <div class="col-md-6 col-xs-12 datatable-header-add">
            <button type="button" icon="fa-plus" label="Nuevo Colaborador"
                    pButton (click)="add()"></button>
        </div>
        <div class="col-md-6 col-xs-12 datatable-header-search" >
            <i class="fa fa-search"></i>
            <input #gb type="text" pInputText size="40" placeholder="Buscar...">
        </div>
    </div>

    <p-dataTable [value]="employees" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
        <p-column field="numeroDocumento" header="Número de documento" [sortable]="true"></p-column>
        <p-column field="primerNombre" header="Nombre " [sortable]="true"></p-column>
        <p-column field="fechaDesde" header="Desde" [sortable]="true"></p-column>
        <p-column field="cargoActual" header="Cargo Actual" [sortable]="true"></p-column>
        <p-column header="Acciones" styleClass="datatable-col-action">
            <template let-employee="rowData" pTemplate="body">

                    <button type="button" icon="fa-eye" class="ui-button-info"
                            pButton (click)="detail(employee)"></button>
                    <button type="button" icon="fa-pencil" class="ui-button-success"
                            pButton (click)="update(employee)"></button>
                    <button type="button" icon="fa-trash" class="ui-button-danger"
                            pButton (click)="delete(employee)" ></button>

            </template>
        </p-column>
    </p-dataTable>
</div>
<p-confirmDialog width="400"></p-confirmDialog>