<div *ngIf="employee">


  <div class="row">

    <div class="col-md-12">

      <div class="header">
        <h4 class="title">{{'EMPLOYEES.LBL_COLABORADORES' | translate}}</h4>
      </div>

      <div class="clearfix card-header">
        <div class="col-md-2">
          <img class="img-circle img-responsive user-avatar"
               src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg">
        </div>
        <div class="col-md-8">
          <h2>{{employee.nombreCompleto}}</h2>
			  <h4>{{employee.fechaNacimiento}} ({{employee.edad}})</h4>
          <span>{{employee.tipoDocumento}} : {{employee.numeroDocumento}}</span><br />
          <span>Cargo actual : {{employee.cargoActual}}</span><br />
			  <span>Usuario desde : {{employee.fechaCreacion}}</span><br />
        </div>
        <div class="col-md-2">
          <!--<a href="#" class="btn btn-primary">{{'EMPLOYEES.LBL_HISTORIALABORAL' | translate}}</a>-->
        </div>
      </div>
		<div id="infoEmploye" class="clearfix">


      <p-tabView id="tbvInfoPersonal" orientation="right" styleClass="clearfix">
          <p-tabPanel header="Info Personal" [selected]="true">

              <p-accordion (onOpen)="onTabShow($event)" id="accordion">
                  <p-accordionTab header="Datos Generales" [selected]="acordion == 0 || acordion == null ">
                    <form class="form-horizontal">
                      <fieldset>
                        <div class="form-group">
                          <div class="row">
                            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_FECHAEXPEDICION' | translate}}:</label>
                            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employee.fechaDocumento}}</strong></label>

                            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_CIUDADEXPEDICION' | translate}}:</label>
                            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employee.ciudadExpDocumento}}</strong></label>

                          </div>
                          <div class="row">
                            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_FECHANACIMIENTO' | translate}}:</label>
                            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employee.fechaNacimiento}}</strong></label>

                            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_CIUDADNACIMIENTO' | translate}}:</label>
                            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employee.ciudadNacimiento}}</strong></label>

                          </div>
                          <div class="row">
                            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_NACIONALIDAD' | translate}}:</label>
                            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employee.gentilicio}}</strong></label>

                            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_GENERO' | translate}}</label>
                            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employee.genero}}</strong></label>

                          </div>
                          <div class="row">
                            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_ESTADOCIVIL' | translate}}:</label>
                            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employee.estadoCivil}}</strong></label>

                            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_FACTORRH' | translate}}:</label>
                            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employee.factorRh}}</strong></label>

                          </div>
                          <div class="row">
                            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_NUMEROHIJOS' | translate}}:</label>
                            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employee.nroHijos}}</strong></label>

                            <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_NIVELESTUDIOS' | translate}}:</label>
                            <label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employee.nivelEstudio}}</strong></label>

                          </div>
                          <div class="row">
                            <!--<label class="col-md-3 col-sm-6 col-xs-12 control-label">Lateralidad:</label>-->
                            <!--<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employee.lateralidad}}</strong></label>-->

                            <!--<label class="col-md-3 col-sm-6 col-xs-12 control-label">Profesión:</label>-->
                            <!--<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{employee.profesion}}</strong></label>-->

                          </div>
                          <div class="row form-footer-buttons">
                            <div class="form-group col-md-12">
                              <button type="button" icon="fa-pencil" label="{{'BTN_EDITAR' | translate}}" class="ui-button-success"
                                      pButton (click)="update(employee.idTercero)">
										</button>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </p-accordionTab>

                  <p-accordionTab header="{{'EMPLOYEES.LBL_DATOSADICIONALES' | translate}}" [selected]="acordion == 1">
                    <fieldset>
                      <employees-additional-data *ngIf="employee.idTercero" [employee]="employee"></employees-additional-data>
                    </fieldset>
                  </p-accordionTab>

                  <p-accordionTab header="{{'EMPLOYEES.LBL_DATOSCONTACTO' | translate}}" [selected]="acordion == 2">
                    <fieldset *ngIf="employee.idTercero">
                      <employees-contact  [employee]="employee"></employees-contact>
                      <employees-contact-list [employee]="employee"></employees-contact-list>
                    </fieldset>
                  </p-accordionTab>

                  <p-accordionTab header="{{'EMPLOYEES.LBL_INFORMACIONFAMILIAR' | translate}}" [selected]="acordion == 3">
                    <family-information *ngIf="employee.idTercero" [employee]="employee"></family-information>
                  </p-accordionTab>

                  <p-accordionTab header="{{'UBICACION.LBL_UBICACION' | translate}}" [selected]="acordion == 4">
                    <employees-locations *ngIf="employee.idTercero" [colaborador]="employee"></employees-locations>
                  </p-accordionTab>

                  <p-accordionTab header="{{'EMPLOYEES.LBL_ACTIVOS' | translate}}" [selected]="acordion == 5">
                    <employees-estate *ngIf="employee.idTercero" [employee]="employee"></employees-estate>
                    <employees-vehicle *ngIf="employee.idTercero" [employee]="employee"></employees-vehicle>
                  </p-accordionTab>

                  <p-accordionTab header="{{'EMPLOYEES.LBL_FORMACIONACADEMICA' | translate}}" [selected]="acordion == 6">
                    <academic-education-formal *ngIf="employee.idTercero" [employee]="employee"></academic-education-formal>
                    <academic-education-no-formal *ngIf="employee.idTercero" [employee]="employee"></academic-education-no-formal>
                  </p-accordionTab>

                  <p-accordionTab header="{{'EMPLOYEES.LBL_EXPERIENCIALABORAL' | translate}}" [selected]="acordion == 7">
                     <work-experience *ngIf="employee.idTercero" [employee]="employee"></work-experience>
                  </p-accordionTab>

                  <p-accordionTab header="{{'EMPLOYEES.LBL_REFERENCIAS' | translate}}" [selected]="acordion == 8">
                    <references-component *ngIf="employee.idTercero" [employee]="employee"></references-component>
                  </p-accordionTab>

                  <p-accordionTab header="{{'EMPLOYEES.LBL_DATOSCLINICOS' | translate}}" [selected]="acordion == 9">
                    <clinical-information *ngIf="employee.idTercero" [employee]="employee"></clinical-information>
                  </p-accordionTab>

              </p-accordion>

          </p-tabPanel>
        <p-tabPanel header="Reclutamiento" styleClass="clearfix">
          <h3>{{'EMPLOYEES.LBL_RECLUTAMIENTO' | translate}}</h3>
        </p-tabPanel>
        <p-tabPanel header="Novedades">
          <h3>{{'EMPLOYEES.LBL_NOVEDADES' | translate}}</h3>
        </p-tabPanel>
        <p-tabPanel header="Formación y Capacitación">
          <h3>{{'EMPLOYEES.LBL_FORMACIONCAPACITACION' | translate}}</h3>
        </p-tabPanel>
        <p-tabPanel header="Evaluación de Competencias">
          <h3>{{'EMPLOYEES.LBL_EVALUACIONCOPETENCIAS' | translate}}</h3>
        </p-tabPanel>
        <p-tabPanel header="Rituales Gerenciales">
          <h3>{{'EMPLOYEES.LBL_RITUALESGERENCIALES' | translate}}</h3>
        </p-tabPanel>
        <p-tabPanel header="Procesos Disciplinarios">
          <h3>{{'EMPLOYEES.LBL_PROCESOSDISCIPLINARIOS' | translate}}</h3>
        </p-tabPanel>
        <p-tabPanel header="Plan de Beneficio">
          <h3>{{'EMPLOYEES.LBL_PLANBENEFICIO' | translate}}</h3>
        </p-tabPanel>
        <p-tabPanel header="Examenes Ocupacionales">
          <h3>{{'EMPLOYEES.LBL_EXAMENESOCUPACIONALES' | translate}}</h3>
        </p-tabPanel>
        <p-tabPanel header="Dotaciones">
          <h3>{{'EMPLOYEES.LBL_DOTACIONES' | translate}}</h3>
        </p-tabPanel>
      </p-tabView>


		</div>

    </div>
  </div>
</div>
