<div *ngIf="employee">
	<div class="row">
		<div class="col-md-12">
			<h3 class="first">{{ 'EMPLOYEES.LBL_HOJADEVIDA' | translate }}</h3>
		</div>
	</div>
	<div id="curriculum" class="row">
		<div class="col-md-8 col-md-offset-2">
			<div id="CV">
			<div class="clearfix card-header perfil">
				<div class="col-md-2">
					<div class="thumbnail img-responsive">
						<img src="{{svcThUrl}}/file/{{employee.imagen}}" alt="...">
					</div>
					<span>{{employee.tipoDocumento}} : {{employee.numeroDocumento}}</span><br/>
					<span>{{fechaNacimicento}}</span>
				</div>
				<div class="col-md-10">
					<h2>{{employee.nombreCompleto}}</h2>
					<h3 class="titulo">{{ 'EMPLOYEES.LBL_PERFIL' | translate }}</h3>
					<p>Sección para descripción del perfil</p>
				</div>
			</div>
			<div class="curriculum-content clearfix">
				<div class="col-md-8"><!--principal-->
					<div class="row">
						<div class="col-md-12">
							<h3 class="hv-ribon hv-ribon-left">{{ 'EMPLOYEES.LBL_EXPERIENCIA' | translate }}</h3>
							<ul class="item experiencia">
								<li *ngFor="let e of experiences">
									<strong>{{e.cargo}}</strong><br />
									<strong>{{e.empresa}} </strong> {{e.fechaIngresa}}-{{e.fechaTermina}}
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="hv-ribon hv-ribon-left">{{ 'EMPLOYEES.LBL_EDUCACION' | translate }}</h3>
							<ul class="item educacion">
								<li *ngFor="let fe of fstudies">
									<strong>{{fe.tituloEstudio}}</strong> - {{fe.institucion}}<br />
									{{fe.fechaIngresa}} - {{fe.fechaTermina}}
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="hv-ribon hv-ribon-left">{{ 'EMPLOYEES.LBL_COMPETHABILI' | translate }}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="hv-ribon hv-ribon-left">{{ 'EMPLOYEES.LBL_REFERENCIAS' | translate }}</h3>
							<ul>
								<li *ngFor="let r of references">
									<strong>{{r.tipoReferencia}}</strong><br />
									{{r.nombreCompleto}}<br />
									{{r.numeroContacto}}
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4"><!--lateral derecha-->
					<div class="row">
						<div class="col-md-12">
							<h3 class="hv-ribon hv-ribon-rigth">{{ 'EMPLOYEES.LBL_DIRECCION' | translate }}</h3>
							<i class="fa fa-map-marker" aria-hidden="true"></i> {{direcccionResidencia}}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="hv-ribon hv-ribon-rigth">{{ 'EMPLOYEES.LBL_CONTACTO' | translate }}</h3>
							<i class="fa fa-envelope" aria-hidden="true"></i> {{employee.correoElectronico}}<br />
							<i class="fa fa-phone" aria-hidden="true"></i> {{employee.telefonoCelular}}<br />
							<i class="fa fa-phone" aria-hidden="true"></i> {{employee.telefonoFijo}}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="hv-ribon hv-ribon-rigth">{{ 'EMPLOYEES.LBL_CONTACTOEMERG' | translate }}</h3>
							<ul class="item contacto-emergencia">
								<li *ngFor="let c of contacts">
									<i class="fa fa-user-circle"></i> {{c.contacto}} - {{c.nombre}}<br />
									<i class="fa fa-phone" aria-hidden="true"></i> {{c.telefono}}<br />
									<i class="fa fa-phone" aria-hidden="true"></i> {{c.celular}}
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="hv-ribon hv-ribon-rigth">{{ 'EMPLOYEES.LBL_IDIOMA' | translate }}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="hv-ribon hv-ribon-rigth">{{ 'EMPLOYEES.LBL_AREAINTERES' | translate }}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="hv-ribon hv-ribon-rigth">{{ 'EMPLOYEES.LBL_DEPORTES' | translate }}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="hv-ribon hv-ribon-rigth">{{ 'EMPLOYEES.LBL_LIDERAZGO' | translate }}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="hv-ribon hv-ribon-rigth">{{ 'EMPLOYEES.LBL_HOBBIES' | translate }}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>

</div>
<div class="row form-footer-buttons">
	<div class="form-group col-md-12">
		<button icon="fa-arrow-left" label="{{'BTN_REGRESAR' | translate }}" type="button"
		        pButton (click)="goBack()"></button>
		<a class="btn btn-default" (click)="getPDF()">
			<i class="fa fa-file-pdf-o" aria-hidden="true"></i> Generar PDF
		</a>
	</div>
</div>
