<p-messages [value]="msgs"></p-messages>
<p-confirmDialog width="400" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
<div *ngIf="employee">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <h4 class="title">{{header}}</h4>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <form name="formulario" (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate id="formulario">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="NGpersonTypes">{{'EMPLOYEES.LBL_NATURALEZA' | translate:param}}</label>
                            <p-dropdown id="NGpersonTypes"  name="NGpersonTypes" required="true"
                                        [options]="personTypes" [autoWidth]="false"
                                        [(ngModel)]="employee.idTipoPersona"
                                        #NGpersonTypes="ngModel"
                            ></p-dropdown>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !NGpersonTypes.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_NATURALEZA' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="NGdocumentTypes">{{ 'LBL_TIPODOCUMENTO' | translate:param }}</label>
                            <p-dropdown id="NGdocumentTypes"  name="NGdocumentTypes" required="true"
                                        [options]="documentTypes" [autoWidth]="false"
                                        [(ngModel)]="employee.idTipoDocumento"
                                        #NGdocumentTypes="ngModel"
                                        (onChange)="updateDate()"
                          ></p-dropdown>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !NGdocumentTypes.valid">
                              <i class="fa fa-close"></i>
                              {{ 'LBL_TIPODOCUMENTO' | translate:param }} {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="numeroDocumento">{{ 'LBL_NUMERODOCUMENTO' | translate:param }}</label>
                            <input id="numeroDocumento" type="text" pInputText  name="numeroDocumento"
                                   [(ngModel)]="employee.numeroDocumento"
                                   #numeroDocumento="ngModel" required
                                   (change)="validateDocument()"
                                   (keyup)="inputCleanUp($event.target.value)"
                            />
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !numeroDocumento.valid">
                              <i class="fa fa-close"></i>
                              {{ 'LBL_NUMERODOCUMENTO' | translate:param }} {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="NGexpeditionDate">{{'EMPLOYEES.LBL_FECHAEXPEDICION' | translate:param}}</label>
                          <p-calendar id="NGexpeditionDate" name="NGexpeditionDate"  [showIcon]="true" [disabled]="disabled"
                                      [maxDate]="maxDateDocumento" [monthNavigator]="true" [yearNavigator]="true"
                                      [yearRange]="range" [locale]="es" readonlyInput="readonlyInput"
                                      [dataType]="date"  #NGexpeditionDate="ngModel" required="true"
                                      [(ngModel)]="expeditionDate" (onSelect)="onExpeditionDate($event)"
                          ></p-calendar>
                          <div class="ui-message ui-messages-error ui-corner-all"
                               *ngIf="f.submitted && !NGexpeditionDate.valid">
                            <i class="fa fa-close"></i>
                            {{'EMPLOYEES.LBL_FECHAEXPEDICION' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="expCity">{{'EMPLOYEES.LBL_CIUDADEXPEDICION' | translate:param}}</label>
                            <p-autoComplete placeholder="Ciudad de expedición " field="camino" name="expCity" id="expCity" #expCity="ngModel" required="true"
                                            [(ngModel)]="ciudadExpDocumento"
                                            [suggestions]="resultExpeditionCity"
                                            (completeMethod)="searchExpeditionCity($event)"
                                            (onSelect)="captureExpeditionCity($event)">
                            </p-autoComplete>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !expCity.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_CIUDADEXPEDICION' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="primerNombre">{{'EMPLOYEES.LBL_PRIMER' | translate:param}}</label>
                            <input type="text" pInputText id="primerNombre" name="primerNombre"
                                   [(ngModel)]="employee.primerNombre" #primerNombre="ngModel" (keyup)="capitalize($event)"
                                   required/>
                          <div class="ui-message ui-messages-error ui-corner-all"
                               *ngIf="f.submitted && !primerNombre.valid">
                            <i class="fa fa-close"></i>
                            {{'EMPLOYEES.LBL_PRIMER' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="segundoNombre">{{'EMPLOYEES.LBL_SEGUNDO' | translate:param}}</label>
                            <input type="text" pInputText id="segundoNombre"  name="segundoNombre"
                                   [(ngModel)]="employee.segundoNombre" #segundoNombre="ngModel" (keyup)="capitalize($event)"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="primerApellido">{{'EMPLOYEES.LBL_PRIMERAPELLIDO' | translate:param}}</label>
                            <input type="text" pInputText id="primerApellido" name="primerApellido"
                                   [(ngModel)]="employee.primerApellido" #primerApellido="ngModel" (keyup)="capitalize($event)"
                                   required />
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !primerApellido.valid">
                              <i class="fa fa-close"></i>
                            {{'EMPLOYEES.LBL_PRIMERAPELLIDO' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="segundoApellido">{{'EMPLOYEES.LBL_SEGUNDOAPELLIDO' | translate:param}}</label>
                            <input type="text" pInputText id="segundoApellido" name="segundoApellido"
                                   [(ngModel)]="employee.segundoApellido" #segundoApellido="ngModel" (keyup)="capitalize($event)"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                               <label for="NGbirthDate">{{'EMPLOYEES.LBL_FECHANACIMIENTO' | translate:param}}</label>
                               <p-calendar id="NGbirthDate" name="NGbirthDate"  [showIcon]="true" [disabled]="disabled"
                                           [maxDate]="maxDate" [monthNavigator]="true" [yearNavigator]="true"
                                           [locale]="es" readonlyInput="readonlyInput" [yearRange]="range"
                                           [dataType]="date"  #NGbirthDate="ngModel"  [required]="true"
                                           [(ngModel)]="birthDate" (onSelect)="onBirthDate($event)"
                               ></p-calendar>
                               <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !NGbirthDate.valid">
                                 {{'EMPLOYEES.LBL_FECHANACIMIENTO' | translate:param}}  {{'LBL_REQUERIDO' | translate:param}}
                               </div>
                        </div>
                        <div class="form-group col-md-8">
                           <label for="birthPlace">{{'EMPLOYEES.LBL_CIUDADNACIMIENTO' | translate:param}}</label>
                           <p-autoComplete placeholder="Lugar de nacimieto" field="camino" name="birthPlace" id="birthPlace" #birthPlace="ngModel" required="true"
                                           [(ngModel)]="ciudadNacimiento"
                                           [suggestions]="resultBirthPlace"
                                           (completeMethod)="searchBirthPlace($event)"
                                           (onSelect)="captureBirthPlace($event)">
                           </p-autoComplete>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !birthPlace.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_CIUDADNACIMIENTO' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                   </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="NGgenderTypes">{{'EMPLOYEES.LBL_GENERO' | translate:param}}</label>
                            <p-dropdown id="NGgenderTypes"  name="NGgenderTypes" required="true"
                                        [options]="genderTypes" [autoWidth]="false"
                                        [(ngModel)]="employee.idGenero"
                                        #NGgenderTypes="ngModel"
                            ></p-dropdown>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !NGgenderTypes.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_GENERO' | translate:param}}  {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="NGmaritalStatusTypes">{{'EMPLOYEES.LBL_ESTADOCIVIL' | translate:param}}</label>
                            <p-dropdown id="NGmaritalStatusTypes"  name="NGmaritalStatusTypes" required="true"
                                        [options]="maritalStatusTypes" [autoWidth]="false"
                                        [(ngModel)]="employee.idEstadoCivil"
                                        #NGmaritalStatusTypes="ngModel"
                            ></p-dropdown>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !NGmaritalStatusTypes.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_ESTADOCIVIL' | translate:param}}  {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="NGrhRactorTypes">{{'EMPLOYEES.LBL_FACTORRH' | translate:param}} </label>
                            <p-dropdown id="NGrhRactorTypes"  name="NGgenderTypes" required="true"
                                        [options]="rhRactorTypes" [autoWidth]="false"
                                        [(ngModel)]="employee.idFactorRh"
                                        #NGrhRactorTypes="ngModel"
                            ></p-dropdown>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !NGrhRactorTypes.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_FACTORRH' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="NGhealthTypes">{{'EMPLOYEES.LBL_COBERTURASALUD' | translate:param}}</label>
                            <p-dropdown id="NGhealthTypes"  name="NGhealthTypes" required="true"
                                        [options]="healthTypes" [autoWidth]="false"
                                        [(ngModel)]="employee.idCoberturaSalud"
                                        #NGhealthTypes="ngModel"
                            ></p-dropdown>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !NGhealthTypes.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_COBERTURASALUD' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="NGaffiliationType">{{'EMPLOYEES.LBL_AFILIACION' | translate:param}}</label>
                            <p-dropdown id="NGaffiliationType"  name="NGaffiliationType" required="true"
                                        [options]="affiliationTypes" [autoWidth]="false"
                                        [(ngModel)]="employee.idTipoAfiliacion"
                                        #NGaffiliationType="ngModel"
                            ></p-dropdown>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !NGaffiliationType.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_AFILIACION' | translate:param}}  {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="NGacademicLevelTypes">{{'ACADEMICEDUCATION.LBL_NIVELESTUDIOS' | translate:param}}</label>
                            <p-dropdown id="NGacademicLevelTypes"  name="NGacademicLevelTypes" required="true"
                                        [options]="academicLevelTypes" [autoWidth]="false"
                                        [(ngModel)]="employee.idNivelEducacion"
                                        #NGacademicLevelTypes="ngModel"
                            ></p-dropdown>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !NGacademicLevelTypes.valid">
                              <i class="fa fa-close"></i>
                              {{'ACADEMICEDUCATION.LBL_NIVELESTUDIOS' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="NGoccupationsTypes">{{'EMPLOYEES.LBL_TIPOOCUPACION' | translate:param}}</label>
                            <p-dropdown id="NGoccupationsTypes"  name="NGoccupationsTypes" required="true"
                                        [options]="occupationsTypes" [autoWidth]="false"
                                        [(ngModel)]="employee.idTipoOcupacion"
                                        #NGoccupationsTypes="ngModel"
                            ></p-dropdown>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !NGoccupationsTypes.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_TIPOOCUPACION' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                        <div class="form-group col-md-6" *ngIf="employee.idTipoOcupacion == 2">
                          <label for="NGoccupations">{{'EMPLOYEES.LBL_OCUPACION' | translate:param}}</label>
                          <p-dropdown id="NGoccupations"  name="NGoccupations" required="true" filter="filter"
                                      [options]="occupations" [autoWidth]="false"
                                      [(ngModel)]="employee.idOcupacion"
                                      #NGoccupations="ngModel"
                          ></p-dropdown>
                          <div class="ui-message ui-messages-error ui-corner-all"
                               *ngIf="f.submitted && !NGoccupations.valid">
                            <i class="fa fa-close"></i>
                            {{'EMPLOYEES.LBL_OCUPACION' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6" *ngIf="employee.idTipoOcupacion == 1">
                            <label for="NGsector">{{'EMPLOYEES.LBL_SECTOR' | translate:param}}</label>
                            <p-dropdown id="NGsector"  name="NGsector" required="true"
                                        [options]="sector" [autoWidth]="false"
                                        [(ngModel)]="employee.idSectorEconomico"
                                        #NGsector="ngModel"
                                        (onChange)="updateActivities($event.value)"
                            ></p-dropdown>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !NGsector.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_SECTOR' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                        <div class="form-group col-md-6" *ngIf="employee.idTipoOcupacion == 1">
                            <label for="NGactivities">{{'EMPLOYEES.LBL_ACTIVIDAD' | translate:param}}</label>
                            <p-dropdown id="NGactivities"  name="NGactivities" required="true" filter="filter"
                                        [options]="activities" [autoWidth]="false"
                                        [(ngModel)]="employee.idActividadEconomica"
                                        #NGactivities="ngModel"
                            ></p-dropdown>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !NGactivities.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_ACTIVIDAD' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Ngalive">{{'EMPLOYEES.LBL_ACTIVIDAD' | translate:param}}</label>
                            <p-checkbox id="Ngalive"  name="Ngalive" binary="true"
                                        [(ngModel)]="employee.indicadorVivo"
                                        #Ngalive="ngModel"
                            >
                            </p-checkbox>
                        </div>
                        <div class="form-group col-md-3" *ngIf="employee.indicadorVivo == false">
                            <label for="NGdeathDate">{{'EMPLOYEES.LBL_VIVO' | translate:param}}</label>
                            <p-calendar id="NGdeathDate" name="NGdeathDate" [locale]="es" [showIcon]="true" [disabled]="disabled"
                                        [dataType]="date"  #NGdeathDate="ngModel" [required]="!employee.indicadorVivo"
                                        [(ngModel)]="deathDate" (onSelect)="onDeathDate($event)"
                            ></p-calendar>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !employee.indicadorVivo && !NGdeathDate.valid">
                              {{'EMPLOYEES.LBL_VIVO' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="indicador" class="control-label col-sm-3">{{'LBL_HABILITADO' | translate:param }}</label>
                          <div class=" col-sm-9">
                            <p-checkbox binary="true" id="indicador" name="indicador"
                                        [(ngModel)]="employee.indicadorHabilitado"
                                        #indicador="ngModel"></p-checkbox>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row form-footer-buttons">
                    <div class="form-group col-md-12">
                        <a (click)="goBack()" class="cancelar">{{'BTN_CANCELAR' | translate:param }}</a>
                        <button icon="fa-plus" label="Guardar" type="submit"
                                pButton></button>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
