<p-messages [value]="msgs"></p-messages>
<div *ngIf="employee">
  <div class="row-fluid">
    <div class="col-md-12">
      <form name="formulario" (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate id="formulario">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
          <div class="row">

            <div class="form-group col-md-4">
              <label for="peso">{{'EMPLOYEES.LBL_PESO' | translate:param}}</label>
              <input type="text" pInputText id="peso" name="peso" min="1"
                     [(ngModel)]="employee.peso" #weight="ngModel" (change)="getimc()"
                     (keyup)="inputNumberPeso()"
                     (paste)="inputNumberPeso()"
                     required/>
              <div class="ui-message ui-messages-error ui-corner-all"
                   *ngIf="f.submitted && !weight.valid">
                <i class="fa fa-close"></i>
                {{'EMPLOYEES.LBL_PESO' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="talla">{{'EMPLOYEES.LBL_ESTATURA' | translate:param}}</label>
              <input type="text" pInputText id="talla" name="talla" min="1"
                     [(ngModel)]="employee.talla" #size="ngModel" (change)="getimc()"
                     (keyup)="inputNumber()"
                     (paste)="inputNumber()"
                     required/>
              <div class="ui-message ui-messages-error ui-corner-all"
                   *ngIf="f.submitted && !size.valid">
                <i class="fa fa-close"></i>
                {{'EMPLOYEES.LBL_ESTATURA' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="imc">{{'EMPLOYEES.LBL_IMC' | translate:param}}</label>
              <input type="text" pInputText id="imc" name="imc"
                     [(ngModel)]="employee.imc" #imc="ngModel"
                     required readonly disabled/>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="idLateralidad">{{'EMPLOYEES.LBL_LATERALIDAD' | translate:param}}</label>
              <p-dropdown id="idLateralidad" name="idLateralidad" required="true"
                          [options]="lateralityTypes" [autoWidth]="false"
                          [(ngModel)]="employee.idLateralidad"
                          #idlaterality="ngModel"
              ></p-dropdown>
              <div class="ui-message ui-messages-error ui-corner-all"
                   *ngIf="f.submitted && !idlaterality.valid">
                <i class="fa fa-close"></i>
                {{'EMPLOYEES.LBL_LATERALIDAD' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="tallaCamisa">{{'EMPLOYEES.LBL_TALLACAMISA' | translate:param}}</label>
              <p-dropdown id="tallaCamisa" name="tallaCamisa" required="true"
                          [options]="listSizeShirt" [autoWidth]="false"
                          [(ngModel)]="employee.idTallaCamisa"
                          #sizeShirt="ngModel"
              ></p-dropdown>
              <div class="ui-message ui-messages-error ui-corner-all"
                   *ngIf="f.submitted && !sizeShirt.valid">
                <i class="fa fa-close"></i>
                {{'EMPLOYEES.LBL_TALLACAMISA' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="tallaPantalon">{{'EMPLOYEES.LBL_TALLAPANTALON' | translate:param}}</label>
              <p-dropdown id="tallaPantalon" name="tallaPantalon" required="true"
                          [options]="listSizePants" [autoWidth]="false"
                          [(ngModel)]="employee.idTallaPantalon"
                          #sizePants="ngModel"
              ></p-dropdown>
              <div class="ui-message ui-messages-error ui-corner-all"
                   *ngIf="f.submitted && !sizePants.valid">
                <i class="fa fa-close"></i>
                {{'EMPLOYEES.LBL_TALLAPANTALON' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="tallaCalzado">{{'EMPLOYEES.LBL_TALLACALZADO' | translate:param}}</label>
              <p-dropdown id="tallaCalzado" name="tallaCalzado" required="true"
                          [options]="listSizeFootwear" [autoWidth]="false"
                          [(ngModel)]="employee.idTallaCalzado"
                          #sizeFootwear="ngModel"
              ></p-dropdown>
              <div class="ui-message ui-messages-error ui-corner-all"
                   *ngIf="f.submitted && !sizeFootwear.valid">
                <i class="fa fa-close"></i>
                {{'EMPLOYEES.LBL_TALLACALZADO' | translate:param}} {{'LBL_REQUERIDO' | translate:param}}
              </div>
            </div>
          </div>
        </div>
        <div class="row form-footer-buttons">
          <div class="form-group col-md-12">
            <button icon="fa-plus" label="Guardar" type="submit"
                    pButton></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
