<h3 class="first">Colaboradores</h3>
<div>
    <div class="row datable-header">
        <div class="col-md-6 col-xs-12 datatable-header-add">
            <button type="button" pButton icon="fa-plus" (click)="add()" label="Nuevo Colaborador"></button>
        </div>
        <div class="col-md-6 col-xs-12 datatable-header-search" >
            <i class="fa fa-search"></i>
            <input #gb type="text" pInputText size="40" placeholder="Buscar...">
        </div>
    </div>

    <p-dataTable [value]="employees" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
        <p-column field="numeroDocumento" header="Número de documento" [sortable]="true"></p-column>
        <p-column field="primerNombre" header="Nombre " [sortable]="true"></p-column>
        <p-column field="fechaDesde" header="Desde" [sortable]="true"></p-column>
        <p-column field="cargoActual" header="Cargo Actual" [sortable]="true"></p-column>
        <p-column header="Acciones" styleClass="datatable-col-action">
            <template let-employee="rowData" pTemplate="body">
                <div class="btn-group" role="group">
                    <button type="button"  class="ui-button btn" icon="fa-eye"
                            pButton (click)="detail(employee)"></button>
                    <button type="button"  class="ui-button ui-button-success btn" icon="fa-pencil"
                            pButton (click)="update(employee)"></button>
                    <button type="button"  class="ui-button ui-button-danger btn" icon="fa-trash"
                            pButton (click)="delete(employee)" ></button>
                </div>
            </template>
        </p-column>
    </p-dataTable>
</div>
