<p-messages [value]="msgs"></p-messages>
<p-confirmDialog width="400" #cd>
   <p-footer>
      <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
   </p-footer>
</p-confirmDialog>
<div *ngIf="jobProjection">
   <div class="row">
      <div class="col-md-12">
         <div class="header">
            <h4 class="title">{{header}}</h4>
         </div>
      </div>
   </div>
   <form (ngSubmit)="f.valid && createProjection()" #f="ngForm" novalidate id="formulario">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
         <div class="ui-grid-row">
            <div class="ui-grid-col-6">
               <label for="cargo">Cargo</label>
               <p-dropdown id="cargo" name="cargo" required="true"
                           [options]="ListPositions" [autoWidth]="false"
                           [(ngModel)]="jobProjection.idCargo" (onChange)="changePosition()"
                           #cargo="ngModel"
               ></p-dropdown>
               <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="f.submitted && !cargo.valid">
                  <i class="fa fa-close"></i>
                  Cargo requerido
               </div>
            </div>
         </div>
         <div class="ui-grid-row">
            <div class="ui-grid-col-6">
               <label for="actuales">Plazas Actuales</label>
               <input id="actuales" name="actuales" #actuales="ngModel" pInputText type="text"
                      [(ngModel)]="jobProjection.plazasActuales" required disabled/>
            </div>
            <div class="ui-grid-col-6">
               <label for="costoA">Costo Actual</label>
               <input id="costoA" name="costoA" #costoA="ngModel" pInputText type="text"
                      [(ngModel)]="jobProjection.costoActual" required disabled/>
            </div>
         </div>
         <div class="ui-grid-row">
            <div class="ui-grid-col-6">
               <label for="proyectadas">Plazas Proyectadas</label>
               <input id="proyectadas" name="proyectadas" #proyectadas="ngModel" pInputText type="text"
                      [(ngModel)]="jobProjection.plazasProyectadas" required (keyup)="calculate()"/>
               <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="f.submitted && !proyectadas.valid">
                  <i class="fa fa-close"></i>
                  Plazas proyectadas requeridas
               </div>
            </div>
            <div class="ui-grid-col-6">
               <label for="costoP">Costo Proyectado</label>
               <input id="costoP" name="costoP" #costoP="ngModel" pInputText type="text"
                      [(ngModel)]="jobProjection.costoProyectado" required disabled/>
            </div>
         </div>
         <div class="ui-grid-row">
            <div class="ui-grid-col-12">
               <label for="observaciones">Observaciones</label>
               <textarea id="observaciones" name="observaciones" #observaciones="ngModel" pInputTextarea  rows="2" cols="35"
                         [(ngModel)]="jobProjection.observacion" required >p</textarea>
               <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="f.submitted && !observaciones.valid">
                  <i class="fa fa-close"></i>
                  Dirección requerida
               </div>
            </div>
         </div>
         <div class="ui-grid-row form-footer-buttons">
            <div class="ui-grid-col-4"></div>
            <div class="ui-grid-col-1">
               <a (click)="discard()" class="cancelar">Cancelar</a>
            </div>
            <div class="ui-grid-col-2">
               <button pButton icon="fa-plus" label="Guardar" type="submit" ></button>
            </div>
            <div class="ui-grid-col-5"></div>
         </div>
      </div>
   </form>
</div>


