<div *ngIf="jobProjection">
   <div class="row">
      <div class="col-md-12">
         <h3 class="first">Detalle Proyección Laboral</h3>
      </div>
   </div>
   <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12">
         <form class="form-horizontal">
            <fieldset>
               <div class="row">
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">Cargo:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8 "><strong>{{jobProjection.cargo}}</strong></label>
               </div>
               <div class="row">
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">Plazas Actuales:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{jobProjection.plazasActuales}}</strong></label>
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">Costo Actual:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{jobProjection.costoActual}}</strong></label>
               </div>
               <div class="row">
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">Plazas Proyectadas:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{jobProjection.plazasProyectadas}}</strong></label>
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">Costo Proyectado:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{jobProjection.costoProyectado}}</strong></label>
               </div>
               <div class="row">
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">Observaciones:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8 "><strong>{{jobProjection.observacion}}</strong></label>
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">Observaciones de Aprobación:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8 "><strong>{{jobProjection.observacionAprobacion}}</strong></label>
               </div>
            </fieldset>
         </form>
      </div>
   </div>
</div>
<div class="row form-footer-buttons">
   <div class="form-group col-md-12">
      <button icon="fa-arrow-left" label="Regresar" type="button"
              pButton (click)="goBack()"></button>
   </div>
</div>