<div *ngIf="jobProjection">
   <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12">
			<p-panel header="{{ 'PROYECCIONLABORAL.LBL_DETALLEPROYECCION' | translate }}">
         <form class="form-horizontal">
            <fieldset>
               <div class="row">
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'PLANTACOLABORADORES.LBL_CARGO' | translate }}:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8 "><strong>{{jobProjection.cargo}}</strong></label>
               </div>
               <div class="row">
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'PROYECCIONLABORAL.LBL_PLAZASATUALES' | translate }}:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{jobProjection.plazasActuales}}</strong></label>
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'PROYECCIONLABORAL.LBL_COSTOACTUAL' | translate }}:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{jobProjection.costoActual}}</strong></label>
               </div>
               <div class="row">
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'PROYECCIONLABORAL.LBL_PLAZASPROYECT' | translate }}:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{jobProjection.plazasProyectadas}}</strong></label>
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'PROYECCIONLABORAL.LBL_COSTOPROYECT' | translate }}:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8"><strong>{{jobProjection.costoProyectado}}</strong></label>
               </div>
               <div class="row">
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'PROYECCIONLABORAL.LBL_OBSERVACIONES' | translate }}:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8 "><strong>{{jobProjection.observacion}}</strong></label>
                  <label class="col-md-3 col-sm-6 col-xs-4 control-label">{{ 'PROYECCIONLABORAL.LBL_OBSERVAPROBACION' | translate }}:</label>
                  <label class="col-md-3 col-sm-6 col-xs-8 "><strong>{{jobProjection.observacionAprobacion}}</strong></label>
               </div>
            </fieldset>
				<div class="row form-footer-buttons">
					<div class="form-group col-md-12">
						<button icon="fa-arrow-left" label="{{ 'BTN_REGRESAR' | translate }}" type="button"
								  pButton (click)="goBack()"></button>
					</div>
				</div>
			</form>
			</p-panel>
		</div>
   </div>
</div>

