<p-messages *ngIf="alert" [value]="msgsAlert"></p-messages>
<div>
   <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="elementos"
                [paginator]="false" [responsive]="true" >
      <p-column header="{{ 'POSITION.LBL_ELEMENTOS' | translate }}">
         <template let-asset="rowData" pTemplate="body">
	         {{asset.codigoLista}} - {{asset.nombreLista}}
         </template>
      </p-column>
      <p-column header="{{ 'POSITION.LBL_DESCRIPCION' | translate }}">
         <template let-asset="rowData" pTemplate="body">
            <input type="text" pInputText [(ngModel)]="asset.descripcion" style="width: 100%" maxlength="100"/>
         </template>
      </p-column>
   </p-dataTable>

</div>
<div class="row form-footer-buttons">
	<div class="form-group col-md-12">
		<button icon="fa-arrow-right" label="{{ 'BTN_SIGUIENTE' | translate }}" type="button" (click)="next()"
				  pButton></button>
	</div>
</div>

<p-confirmDialog width="400" #cd>
	<p-footer>
		<button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
		<button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
	</p-footer>
</p-confirmDialog>