<div>
   <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listCompanyAssets"
                [paginator]="false" [responsive]="true" >
      <p-column header="Elementos">
         <template let-asset="rowData" pTemplate="body">
            {{asset.codigo}} - {{asset.nombre}}
         </template>
      </p-column>
      <p-column header="Descripción">
         <template let-asset="rowData" pTemplate="body">
            <input type="text" pInputText [(ngModel)]="asset.descripcion" style="width: 100%"/>
         </template>
      </p-column>
   </p-dataTable>

   <button type="button" pButton icon="fa-left-arrow" (click)="next()" label="Siguiente"></button>
</div>
<p-confirmDialog width="400"></p-confirmDialog>