<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<p-panel header="{{ 'PROCESOSELECCION.LBL_INFOPOSTULANTE' | translate }}" class="perfil">
			<form class="form-horizontal">
				<fieldset>
					<div class="form-group row">
						<div class="col-md-2">
							<div class="thumbnail">
								<img src="{{svcThUrlAvatar}}/file/{{candidate.imagen}}" alt="...">
							</div>
						</div>
						<div class="col-md-10">
							<h2>{{candidate.nombreCompleto}}</h2>
							<h4>{{candidate.tipoDocumento}} - {{candidate.numeroDocumento}}</h4>
							<span>{{candidate.fechaNacimiento}} ({{candidate.edad}})</span>
							<div class="perfil-footer-button">
								<button icon="fa-address-book-o" label="{{'PROCESOSELECCION.LBL_VERHOJADEVIDA' | translate }}" type="button"
								        (click)="curriculum()"
								        pButton></button>
								<!--<button icon="fa-dot-circle-o" label="{{'PROCESOSELECCION.LBL_CUESTIONARIOS' | translate }}" type="button"-->
								<!--disabled pButton></button>-->
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</p-panel>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<p-panel header="{{'PROCESOSELECCION.LBL_EXAMENMEDICO' | translate}}">
			<div class="row">
				<div class="col-md-12">
					<p>{{step.descripcion}}</p>
				</div>
			</div>
			<form class="form-horizontal">
				<fieldset>
					<div class="form-group">
						<div class="row">
							<div class="col-md-12">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{ 'PROCESOSELECCION.LBL_POSTULANTEA' | translate
									}}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12">{{publication.cargo}}</label>
								
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'PROCESOSELECCION.LBL_OFICINA' | translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12">{{publication.estructuraFisica}}</label>
							</div>
						</div>
						<div class="row">
							<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'PROCESOSELECCION.LBL_AREA' | translate }}:</label>
							<label class="col-md-3 col-sm-6 col-xs-12">{{publication.area}}</label>
						</div>
					</div>
				</fieldset>
			</form>
			<div *ngIf="enesperarespuesta && !noaplicaexamen">
				<form name="process" (ngSubmit)="fex.valid && onSubmitExam()" #fex="ngForm" novalidate id="processExam">
					<fieldset>
						<div *ngIf="institucionMedica">
							<div class="row">
								<div class="form-group col-md-3"></div>
								<div class="form-group col-md-6">
									<label>{{'PROCESOSELECCION.LBL_PROGRAMAREXAMEN' | translate}}</label>
									<p-calendar id="fechaFin" name="fechaFin" #fechaFin="ngModel" [showIcon]="true"
									            [minDate]="minDateEx" [monthNavigator]="true" [yearNavigator]="true"
									            [locale]="es" readonlyInput="readonlyInput"
									            dataType="date" [(ngModel)]="medicalExam.fechaProgramada" [showTime]="true"
									            dateFormat="yy'-'mm'-'dd"></p-calendar>
									<div class="ui-message ui-messages-error ui-corner-all" *ngIf="fex.submitted && !fechaFin.valid">
										<i class="fa fa-close"></i>
										{{'PROCESOSELECCION.LBL_FECHA' | translate }} {{'LBL_REQUERIDO' | translate }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-3"></div>
								<div class="form-group col-md-4">
									<label for="instMedica">* {{'PROCESOSELECCION.LBL_INSTITUCION' | translate }}</label>
									<p-dropdown id="instMedica" name="instMedica" #medical="ngModel" [options]="medicalInstitutions"
									            [autoWidth]="false" [(ngModel)]="medicalExam.idInstitucionMedica"
									            [required]="institucionMedica"></p-dropdown>
									<div class="ui-message ui-messages-error ui-corner-all" *ngIf="fex.submitted && !medical.valid">
										<i class="fa fa-close"></i>
										{{'PROCESOSELECCION.LBL_INSTITUCION' | translate }} {{'LBL_REQUERIDO' | translate }}
									</div>
								</div>
							</div>
						</div>
						<div class="row" *ngIf="!institucionMedica">
							<div class="form-group col-md-3"></div>
							<div class="form-group col-md-6">
								<p-checkbox binary="true" id="indicadorInstitucion" name="indicadorInstitucion"
								            [(ngModel)]="medicalExam.indicadorOtraInstitucion"
								            label="Institución medica de su preferencia"
								            #indicadorInst="ngModel" [required]="!institucionMedica"></p-checkbox>
								<div class="ui-message ui-messages-error ui-corner-all" *ngIf="fex.submitted && !indicadorInst.valid">
									<i class="fa fa-close"></i>
									{{'LBL_REQUERIDO' | translate }}
								</div>
							</div>
						</div>
						
						<div class="row form-footer-buttons">
							<div class="form-group col-md-12">
								<a (click)="goBack((fex.dirty === true))" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
								<button icon="fa-plus" label="{{'BTN_GUARDAR' | translate }}" type="submit"
								        pButton></button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div *ngIf="noaplicaexamen">
				<form name="process" (ngSubmit)="fnex.valid && onSubmitNoExam()" #fnex="ngForm" novalidate id="processNoExam">
					<fieldset>
						<div class="row">
							<div class="form-group col-md-3"></div>
							<div class="form-group col-md-6">
								Acá si el cargo al cual aplica tiene los mismos riesgos que el cargo que actualmente tiene
							</div>
						</div>
						<div class="row form-footer-buttons">
							<div class="form-group col-md-12">
								<a (click)="goBack((fex.dirty === true))" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
								<button icon="fa-plus" label="{{'BTN_GUARDAR' | translate }}" type="submit"
								        pButton></button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div *ngIf="respondido">
				<div *ngIf="institucionMedica">
					<div class="row">
						<div class="form-group col-md-3"></div>
						<div class="form-group col-md-6">
							<label><strong><h3>{{'PROCESOSELECCION.LBL_PROGRAMAREXAMEN' | translate}}</h3></strong></label>
							<p-calendar id="fechaFinr" name="fechaFinr" #fechaFin="ngModel" [showIcon]="true"
							            [minDate]="minDateEx" [monthNavigator]="true" [yearNavigator]="true"
							            [locale]="es" readonlyInput="readonlyInput" disabled="true"
							            dataType="date" [(ngModel)]="medicalExam.fechaProgramada" [showTime]="true"
							            dateFormat="yy'-'mm'-'dd"></p-calendar>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-3"></div>
						<div class="form-group col-md-4">
							<label><strong><h3>{{'PROCESOSELECCION.LBL_INSTITUCION' | translate }}</h3></strong></label>
							<label><h4>{{medicalExam.institucionMedica}}</h4></label>
						</div>
					</div>
				</div>
			</div>
			<!-- Se dispone el cuestionario-->
			<fieldset *ngIf="respondido">
				<div *ngIf="masterAnswer.idCuestionario">
					<solutions-questionnaires-detail [maestroRespuestas]="masterAnswer">
					</solutions-questionnaires-detail>
				</div>
			</fieldset>
			<!-- fin del cuestionario-->
			<form name="process" (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate id="process" *ngIf="respondido">
				<fieldset *ngIf="!readonly">
					<div class="row">
						<div class="form-group col-md-6">
							<label for="validStep">* {{'PROCESOSELECCION.LBL_CONTINUAELPROCESO' | translate }}</label>
							<p-dropdown id="validStep" name="validStep" #ngAprueba="ngModel" [options]="approvalOptions"
							            [autoWidth]="false" [(ngModel)]="indApproval" required></p-dropdown>
						</div>
						<div class="form-group col-md-6">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<label for="observacion">* {{'PROCESOSELECCION.LBL_OBSERVACIONES' | translate }}</label>
							<textarea id="observacion" name="observacion" pInputTextarea rows="4" cols="35" #observa="ngModel"
							          [(ngModel)]="candidateProcess.observacion" required="true" class="form-control"
							          maxlength="500"></textarea>
							<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !observa.valid">
								<i class="fa fa-close"></i>
								{{'PROCESOSELECCION.LBL_OBSERVACIONES' | translate }} {{'LBL_REQUERIDO' | translate }}
							</div>
						</div>
					</div>
					<div class="row form-footer-buttons">
						<div class="form-group col-md-12">
							<a (click)="goBack((f.dirty === true))" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
							<button icon="fa-plus" label="{{'BTN_GUARDAR' | translate }}" type="submit"
							        pButton></button>
						</div>
					</div>
				</fieldset>
				<fieldset *ngIf="readonly">
					<div class="row">
						<div class="form-group col-md-12">
							<label for="validStep">{{'PROCESOSELECCION.LBL_CONTINUAELPROCESO' | translate }}:</label>
							<p>{{candidateProcess.estadoDiligenciado}}</p>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<label for="observacion">{{'PROCESOSELECCION.LBL_OBSERVACIONES' | translate }}:</label>
							<p>{{candidateProcess.observacion}}</p>
						</div>
					</div>
					<div class="row form-footer-buttons">
						<div class="form-group col-md-12">
							<button icon="fa-arrow-left" label="{{'BTN_REGRESAR' | translate }}" type="button"
							        pButton (click)="goBack(false)"></button>
						</div>
					</div>
				</fieldset>
			</form>
		</p-panel>
	</div>
</div>
<p-confirmDialog width="400" #cd>
	<p-footer>
		<button type="button" pButton icon="fa-close" label="{{'BTN_NO' | translate }}" (click)="cd.reject()"></button>
		<button type="button" pButton icon="fa-check" label="{{'BTN_SI' | translate }}" (click)="cd.accept()"></button>
	</p-footer>
</p-confirmDialog>