<div>
	<div class="row">
		<div class="col-md-3 col-xs-12"></div>
		<div class="col-md-6 col-xs-12">
			<h4>{{ 'PROCESOSELECCION.LBL_HISTORIALPOSTULANTE' | translate}} </h4>
			<h4><strong>{{employee.primerNombre}} {{employee.primerApellido}}</strong></h4>
			<h4>{{employee.tipoDocumento}}: {{employee.numeroDocumento}}</h4>
		</div>
	</div>
	<div class="row datable-header">
		<div class="col-md-6 col-xs-12 datatable-header-add">
		</div>
		<div class="col-md-6 col-xs-12 datatable-header-search">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
				<input #gb type="text" pInputText size="40" placeholder="{{ 'LBL_BUSCAR' | translate}}" class="form-control"
				       [(ngModel)]="busqueda" (change)="setSearch()">
			</div>
		</div>
	</div>
	<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listHistory" [paginator]="true" [rows]="10"
	             [responsive]="true" [globalFilter]="gb">
		<p-column field="cargo" header="{{ 'PROCESOSELECCION.LBL_VACANTE' | translate}}" [sortable]="true"></p-column>
		<p-column field="fechaInicio" header="{{ 'LBL_FECHAINICIO' | translate}}" [sortable]="true"></p-column>
		<p-column field="estado" header="{{ 'PROCESOSELECCION.LBL_ESTADO' | translate}}" [sortable]="true"></p-column>
		<p-column field="responsableSeleccion" header="{{ 'VACANCIES.LBL_PROFESSIONAL' | translate}}" [sortable]="true"></p-column>
		<p-column field="codigo" header="{{ 'PROCESOSELECCION.LBL_CODIGOPASO' | translate}}" [sortable]="true"></p-column>
	</p-dataTable>
	<div class="row form-footer-buttons">
		<div class="form-group col-md-12">
			<button icon="fa-arrow-left" label="{{'BTN_REGRESAR' | translate }}" type="button"
			        pButton (click)="goBack()"></button>
		</div>
	</div>
</div>
