<p-messages [value]="msgs"></p-messages>
<div class="row">
	<div class="col-md-12">
		<p-accordion (onOpen)="onTabShow($event)" id="accordion">
			<p-accordionTab header="{{ 'PROCESOSELECCION.LBL_PUBLICARVACANTE' | translate }}"
			                [selected]="acordion == 0 || acordion == null ">
				<div *ngIf="publication">
					<form (ngSubmit)="f.valid && onSubmit(acordion)" #f="ngForm" novalidate id="formulario">
						<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
							<div class="ui-grid-row">
								<div class="ui-grid-col-1"></div>
								<div class="ui-grid-col-5">
									<h3>{{vacancy.cargo}}</h3>
									<h4>{{vacancy.area}}</h4>
									<h4>Salario: {{vacancy.salario}}</h4>
								</div>
								<div class="ui-grid-col-6">
									<h3>{{vacancy.tipoSolicitud}}-{{vacancy.formaReclutamiento}}</h3>
									<h4>Categoria: {{vacancy.categoria}}</h4>
									<h4>Jefe directo: {{vacancy.nombrejefe}}</h4>
								</div>
							</div>
							<hr>
							<div class="ui-grid-row">
								<div class="ui-grid-col-3">
									<div class="form-group">
										<label for="inicio" class="control-label col-sm-3">{{ 'LBL_NOMBRE' | translate }} </label>
										<div class=" col-sm-9">
											<p-calendar id="inicio" name="inicio" [showIcon]="true"
											            [yearNavigator]="true" [locale]="es" readonlyInput="true" [yearRange]="range"
											            [minDate]="today" dataType="date" #ingreso="ngModel" required="true"
											            [(ngModel)]="publication.fechaInicio" dateFormat="yy'-'mm'-'dd"></p-calendar>
											<div *ngIf="f.submitted&&!ingreso.valid" class="alert alert-danger">
												<i class="fa fa-close"></i>
												{{'PROCESOSELECCION.LBL_FECHA' | translate }} {{'LBL_REQUERIDO' | translate }}
											</div>
										</div>
									</div>
								</div>
								<div class="ui-grid-col-3">
									<div class="form-group">
										<label for="final" class="control-label col-sm-3">{{ 'LBL_NOMBRE' | translate }} </label>
										<div class=" col-sm-9">
											<p-calendar id="final" name="final" [showIcon]="true" [yearRange]="range"
											            [yearNavigator]="true" [locale]="es" readonlyInput="true"
											            [minDate]="vacancy.fechaInicio" dataType="date" #final="ngModel" required="true"
											            [(ngModel)]="publication.fechaFin" dateFormat="yy'-'mm'-'dd"></p-calendar>
											<div *ngIf="f.submitted&&!final.valid" class="alert alert-danger">
												<i class="fa fa-close"></i>
												{{'PROCESOSELECCION.LBL_FECHA' | translate }} {{'LBL_REQUERIDO' | translate }}
											</div>
										</div>
									</div>
								</div>
								<div class="ui-grid-col-3">
									<div class="  form-group">
										<label for="salario" class="control-label col-sm-3">Salario</label>
										<div class="col-sm-9">
											<input type="text" pInputText name="salario" id="salario" #salario="ngModel"
											       [(ngModel)]="vacancy.salario" disabled="true"/>
										</div>
									</div>
								</div>
								<div class="ui-grid-col-3">
									<div class="row">
										<div class=" col-sm-2 col-sm-offset-1">
											<p-checkbox [(ngModel)]="publication.indicadorSalario" binary="true" id="indicadorm" name="indicadorm"
											            #indicador="ngModel"></p-checkbox>
										</div>
										<label for="indicadorm" class="control-label col-sm-6">No mostrar</label>
									</div>
									<div class="row">
										<div class=" col-sm-2  col-sm-offset-1">
											<p-checkbox [(ngModel)]="publication.indicadorBonificacion" binary="true" id="indicador" name="indicador"
											            #indicador="ngModel"></p-checkbox>
										</div>
										<label for="indicador" class="control-label col-sm-6">Bonificaciòn</label>
									</div>
								</div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-6">
									<div class="row">
										<div class="col-md-10 col-md-offset-1">
											<div class="form-group">
												<label for="formeduca" class="control-label">* {{'PROCESOSELECCION.LBL_FORMACIONEDUCATIVA' | translate
													}}</label>
												<p-dropdown id="formeduca" name="formeduca" required="true"
												            [options]="listLevelStudy" [autoWidth]="false"
												            [(ngModel)]="publication.idNivelEducacion"
												            #idniveleduc="ngModel"
												></p-dropdown>
												<div *ngIf="f.submitted&&!idniveleduc.valid" class="alert alert-danger">
													<i class="fa fa-close"></i>
													{{'PROCESOSELECCION.LBL_FORMACIONEDUCATIVA' | translate }} {{'LBL_REQUERIDO' | translate }}
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-10 col-md-offset-1">
											<div class="  form-group">
												<label for="lugtrabajo" class="control-label">* {{'PROCESOSELECCION.LBL_LUGARTRABAJO' | translate
													}}</label>
												<input type="text" pInputText name="lugtrabajo" id="lugtrabajo" #lugtrabajo="ngModel"
												       [(ngModel)]="publication.lugarTrabajo" required />
												<div *ngIf="f.submitted&&!lugtrabajo.valid" class="alert alert-danger">
													<i class="fa fa-close"></i>
													{{'PROCESOSELECCION.LBL_LUGARTRABAJO' | translate }} {{'LBL_REQUERIDO' | translate }}
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-10 col-md-offset-1">
											<label for="tipotrabajo">* {{'PROCESOSELECCION.LBL_TIPOTRABAJO' | translate }}</label>
											<p-dropdown id="tipotrabajo" name="tipotrabajo" required="true"
											            [options]="listTypeJob" [autoWidth]="false"
											            [(ngModel)]="publication.idTipoTrabajo"
											            #tipotrabajo="ngModel"
											></p-dropdown>
											<div *ngIf="f.submitted&&!tipotrabajo.valid" class="alert alert-danger">
												<i class="fa fa-close"></i>
												{{'PROCESOSELECCION.LBL_TIPOTRABAJO' | translate }} {{'LBL_REQUERIDO' | translate }}
											</div>
										</div>
									</div>
								</div>
								<div class="ui-grid-col-6">
									<div class="row">
										<div class="col-md-10 col-md-offset-1">
											<div class="form-group">
												<label for="descripcion" class="control-label">* {{ 'POSITION.LBL_DESCRIPCION' | translate }}
												</label>
												<textarea id="descripcion" name="descripcion" pInputTextarea rows="3" cols="35" #descripcion="ngModel"
												          [(ngModel)]="publication.descripcionGeneral" required class="form-control"></textarea>
												<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !descripcion.valid">
													<i class="fa fa-close"></i>
													{{ 'POSITION.LBL_DESCRIPCION' | translate }} {{ 'LBL_REQUERIDO' | translate }}
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-10 col-md-offset-1">
											<div class="form-group">
												<label for="competencias" class="control-label">* {{ 'PROCESOSELECCION.LBL_COMPETENCIAS' | translate }} </label>
												<textarea id="competencias" name="competencias" pInputTextarea rows="3" cols="35"
												          #competencias="ngModel" [(ngModel)]="publication.competenciasLaborales" required
												          class="form-control"></textarea>
												<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !competencias.valid">
													<i class="fa fa-close"></i>
													{{ 'PROCESOSELECCION.LBL_COMPETENCIAS' | translate }} {{ 'LBL_REQUERIDO' | translate }}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-12">
									<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="requirementReferrals"
									             [paginator]="true" [rows]="10" [responsive]="true">
										<p-column field="nombre" header="{{ 'REQUERIMIENTOPERSONAL.LBL_NOMBREREFERIDO' | translate}}"
										          [sortable]="true"></p-column>
										<p-column field="telefono" header="{{ 'REQUERIMIENTOPERSONAL.LBL_TELEFONOREFERIDO' | translate}}"
										          [sortable]="true"></p-column>
										<p-column field="correoElectronico" header="{{ 'REQUERIMIENTOPERSONAL.LBL_CORREOREFERIDO' | translate}}"
										          [sortable]="true"></p-column>
										<p-column field="fechaReferencia" header="{{ 'REQUERIMIENTOPERSONAL.LBL_FECHAREFERENCIA' | translate}}"
										          [sortable]="true"></p-column>
									</p-dataTable>
								</div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-12">
									<div class="form-group">
										<label for="observacion" class="control-label">{{ 'PROCESOSELECCION.LBL_OBSERVACIONES' | translate }}</label>
										<textarea id="observacion" name="observacion" pInputTextarea rows="3" cols="35" #descripcion="ngModel"
										          [(ngModel)]="publication.observacion" required class="form-control"></textarea>
									</div>
								</div>
							</div>
							<div class="ui-grid-row form-footer-buttons">
								<div class="ui-grid-col-4"></div>
								<div class="ui-grid-col-1">
									<a (click)="goBack()" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
								</div>
								<div class="ui-grid-col-2">
									<button pButton icon="fa-plus" label="{{'BTN_GUARDAR' | translate }}"
									        type="submit"></button>
								</div>
								<div class="ui-grid-col-5"></div>
							</div>
						</div>
					</form>
				</div>
			</p-accordionTab>
			<p-accordionTab header="{{ 'PROCESOSELECCION.LBL_CUESTIONARIOS' | translate }}"
			                [selected]="acordion==1" [disabled]="!publication.idPublicacion">
				<div>
					<div class="row-fluid">
						<div class="col-md-12">
							<form name="questionnaireForm" (ngSubmit)="qf.valid && addPublicationsQuestionnaire()" #qf="ngForm" novalidate
							      id="questionnaireForm">
								
								<div class="row">
									<div class="form-group col-md-6">
										<label for="qlist">* {{'PROCESOSELECCION.LBL_CUESTIONARIO' | translate }}</label>
										<p-dropdown id="qlist" name="qlist" #ngQuestionnaire="ngModel" [options]="questionnariesList"
										            [autoWidth]="false" [(ngModel)]="questionnarie.idCuestionario" required></p-dropdown>
										<div class="ui-message ui-messages-error ui-corner-all" *ngIf="qf.submitted && !ngQuestionnaire.valid">
											<i class="fa fa-close"></i>
											{{'PROCESOSELECCION.LBL_CUESTIONARIO' | translate }} {{'LBL_REQUERIDO' | translate }}
										</div>
									</div>
									<div class="form-group col-md-6">
										<button icon="fa-plus" label="{{'BTN_AGREGAR' | translate }}" type="submit"
										        pButton></button>
									</div>
								</div>
							
							</form>
						</div>
					</div>
				</div>
				<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}"  [value]="publicationsQuestionnaires"
				             [responsive]="true" >
					<p-column field="cuestionario" header="{{ 'PROCESOSELECCION.LBL_CUESTIONARIO' | translate }}" [sortable]="false"></p-column>
					<p-column field="descripcion" header="{{ 'PROCESOSELECCION.LBL_DESCRIPCION' | translate }}" [sortable]="false"></p-column>
					<p-column header="{{ 'LBL_ORDEN' | translate }}" styleClass="datatable-col-action" >
						<template let-qstn="rowData" pTemplate="body">
							<div class="btn-group" role="group">
								<button type="button"  class="ui-button ui-button-info btn" icon="fa-arrow-down"
								        pButton (click)="sendBefore(qstn)" ></button>
								<button type="button"  class="ui-button ui-button-info btn" icon="fa-arrow-up"
								        pButton (click)="sendAfter(qstn)" ></button>
							</div>
						</template>
					</p-column>
					<p-column header="{{ 'LBL_ACCIONES' | translate }}" styleClass="datatable-col-action" >
						<template let-qstn="rowData" pTemplate="body">
							<div class="btn-group" role="group">
								<button type="button"  class="ui-button ui-button-danger btn" icon="fa-trash"
								        pButton (click)="disableQuestionnaire(qstn)" ></button>
							</div>
						</template>
					</p-column>
				</p-dataTable>
			</p-accordionTab>
		</p-accordion>
	</div>
</div>