<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<p-panel header="{{ 'PROCESOSELECCION.LBL_INFOPOSTULANTE' | translate }}" class="perfil">
			<form class="form-horizontal">
				<fieldset>
					<div class="form-group row">
						<div class="col-md-2">
							<div class="thumbnail">
								<img src="{{svcThUrl}}/file/{{candidate.imagen}}" alt="...">
							</div>
						</div>
						<div class="col-md-10">
							<h2>{{candidate.nombreCompleto}}</h2>
							<h4>{{candidate.tipoDocumento}} - {{candidate.numeroDocumento}}</h4>
							<span>{{candidate.fechaNacimiento}} ({{candidate.edad}})</span>
							<div class="perfil-footer-button">
								<button icon="fa-address-book-o" label="{{'PROCESOSELECCION.LBL_VERHOJADEVIDA' | translate }}" type="button"
								        (click)="curriculum()"
								        pButton></button>
							</div>
						</div>
					</div>
				
				</fieldset>
			</form>
		</p-panel>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<p-panel header="{{step.nombre}}">
			<p-tabView>
				<p-tabPanel header="General" leftIcon="fa-calendar">
					<div class="row">
						<div class="col-md-12">
							<p>{{step.descripcion}}</p>
						</div>
					</div>
					<form class="form-horizontal">
						<fieldset>
							<div class="form-group">
								<div class="row">
									<div class="col-md-12">
										<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{ 'PROCESOSELECCION.LBL_POSTULANTEA' | translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{publication.cargo}}</strong></label>
										
										<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'PROCESOSELECCION.LBL_OFICINA' | translate
											}}:</label>
										<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{publication.estructuraFisica}}</strong></label>
									</div>
								</div>
								<div class="row">
									<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'PROCESOSELECCION.LBL_AREA' | translate }}:</label>
									<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{publication.area}}</strong></label>
								</div>
							</div>
						</fieldset>
					</form>
					<form name="process" (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate id="process">
						<fieldset>
							<div *ngIf="readonly && showCalendar">
								<div class="row">
									<div class="col-md-6">
										<label><h3>{{'PROCESOSELECCION.LBL_ASIGNARFECHA' | translate}}</h3></label>
										<p>{{candidateProcess.fechaCita}}</p>
									</div>
									<div class="col-md-6">
										<label><h3>{{'PROCESOSELECCION.LBL_RESPONSABLE' | translate }}</h3></label>
										<p><strong>{{candidateProcess.nombreResponsable}}</strong></p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label><h3>{{'PROCESOSELECCION.LBL_DETALLECORREO' | translate }}</h3></label>
										<p><strong>{{candidateProcess.detalleCorreo}}</strong></p>
									</div>
								</div>
							</div>
							<div *ngIf="!readonly">
								<div *ngIf="showCalendar">
									<div class="row">
										<div class="form-group col-md-6">
											<label for="asignDate">{{'PROCESOSELECCION.LBL_ASIGNARFECHA' | translate}}</label>
											<p-calendar id="asignDate" name="asignDate" [showIcon]="true"
											            [locale]="es" readonlyInput="true" [minDate]="minDate" [showTime]="true"
											            dataType="date" #ngMeetDate="ngModel" required
											            [(ngModel)]="fechaCita" dateFormat="yy'-'mm'-'dd"></p-calendar>
											<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !ngMeetDate.valid">
												{{'PROCESOSELECCION.LBL_ASIGNARFECHA' | translate}} {{'LBL_REQUERIDO' | translate}}
											</div>
										</div>
										<div class="form-group col-md-6">
											<label for="responsable">* {{'PROCESOSELECCION.LBL_RESPONSABLE' | translate }}</label>
											<p-dropdown id="responsable" name="responsable" #ngResponsable="ngModel" [options]="responsables"
											            [autoWidth]="false" [(ngModel)]="candidateProcess.idResponsable" required></p-dropdown>
											<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !ngResponsable.valid">
												<i class="fa fa-close"></i>
												{{'PROCESOSELECCION.LBL_RESPONSABLE' | translate }} {{'LBL_REQUERIDO' | translate }}
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-md-12">
											<label for="descripcion">* {{'PROCESOSELECCION.LBL_DETALLECORREO' | translate }}</label>
											<textarea id="descripcion" name="descripcion" pInputTextarea rows="4" cols="35" #descr="ngModel"
											          [(ngModel)]="candidateProcess.detalleCorreo" required="true" class="form-control"
											          maxlength="500"></textarea>
											<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !descr.valid">
												<i class="fa fa-close"></i>
												{{'PROCESOSELECCION.LBL_DETALLECORREO' | translate }} {{'LBL_REQUERIDO' | translate }}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row" *ngIf="readonly">
								<div class="form-group col-md-12" *ngIf="step.indicadorObservacion">
									<label><h3>{{'PROCESOSELECCION.LBL_OBSERVACIONES' | translate }}</h3></label>
									<p>{{candidateProcess.observacion}}</p>
								</div>
							</div>
							<div class="row" *ngIf="!readonly">
								<div class="form-group col-md-12" *ngIf="step.indicadorObservacion">
									<label for="observacion">* {{'PROCESOSELECCION.LBL_OBSERVACIONES' | translate }}</label>
									<textarea id="observacion" name="observacion" pInputTextarea rows="4" cols="35" #observa="ngModel"
									          [(ngModel)]="candidateProcess.observacion" required="true" class="form-control"
									          maxlength="500"></textarea>
									<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !observa.valid">
										<i class="fa fa-close"></i>
										{{'PROCESOSELECCION.LBL_OBSERVACIONES' | translate }} {{'LBL_REQUERIDO' | translate }}
									</div>
								</div>
							</div>
							<div class="row" *ngIf="showInterface">
								<div class="col-md-6 col-md-offset-4"></div>
								<a href="{{step.interfaz}}" target="_blank">
									<button icon="fa-eye" label="{{'PROCESOSELECCION.LBL_VER' | translate }}" type="button"
									        pButton></button>
								</a>
							</div>
							<div class="row" *ngIf="!readonlyEstado">
								<div class="form-group col-md-10 col-md-offset-1" *ngIf="true">
									<label for="validStep">* {{'PROCESOSELECCION.LBL_APRUEBAPASO' | translate }}</label>
									<p-dropdown id="validStep" name="validStep" #ngAprueba="ngModel" [options]="approvalOptions"
									            [autoWidth]="false" [(ngModel)]="candidateProcess.idDesicionProcesoSeleccion"></p-dropdown>
								</div>

							</div>
							<div class="row" *ngIf="readonlyEstado">
								<div class="form-group col-md-6" *ngIf="true">
									<label><h3>{{'PROCESOSELECCION.LBL_APRUEBAPASO' | translate }}</h3></label>
									<p>{{candidateProcess.estadoDiligenciado}}</p>
								</div>
								<div class="form-group col-md-6">
								</div>
							</div>
							
							<div class="row form-footer-buttons">
								<div class="form-group col-md-12" *ngIf="!readonlyEstado">
									<a (click)="goBack()" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
									<button icon="fa-plus" label="{{'BTN_GUARDAR' | translate }}" type="submit"
									        pButton></button>
								
								</div>
								<div class="form-group col-md-12" *ngIf="readonlyEstado">
									<button icon="fa-arrow-left" label="{{'BTN_REGRESAR' | translate }}" type="button"
									        pButton (click)="goBack()"></button>
								</div>
							</div>
						</fieldset>
					</form>
				</p-tabPanel>
				<p-tabPanel *ngIf="showAttachments" header="Adjuntos" leftIcon="fa-print">
					<adjuntos-step *ngIf="candidateProcess.idProcesoSeleccion" [candidateProcess]="candidateProcess"></adjuntos-step>
				</p-tabPanel>
			</p-tabView>
		
		</p-panel>
	</div>
</div>
