<h3 class="first">{{'QUESTIONNAIRES.LBL_QUESTIONNAIRES' | translate}}</h3>
    <div class="row datable-header">
        <div class="col-md-6 col-xs-12 datatable-header-add">
            <button type="button" icon="fa-plus" label="{{'QUESTIONNAIRES.LBL_NEWQUESTIONNAIRE' | translate}}"
                    pButton (click)="add()"></button>
        </div>
        <div class="col-md-6 col-xs-12 datatable-header-search" >

          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input #gb type="text" pInputText size="40" placeholder="{{'LBL_BUSCAR' | translate}}" class="form-control"
                   [(ngModel)]="busqueda" (change)="setSearch()">
          </div>

        </div>
    </div>
		<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}"  [value]="questionnaires" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
        <p-column field="nombre" header="{{'LBL_NOMBRE' | translate}}" [sortable]="true"></p-column>
			<p-column field="indicadorHabilitado" header="{{ 'LBL_HABILITADO' | translate }}" [sortable]="true" styleClass="datatable-col-center">
				<template let-quest="rowData" pTemplate="body">
					<p-checkbox [(ngModel)]="quest.indicadorHabilitado" binary="true" disabled="true"></p-checkbox>
				</template>
			</p-column>
			<p-column field="indicadorPonderacion" header="{{ 'QUESTIONNAIRES.LBL_REQUIRESAVERAGE' | translate }}" [sortable]="true"
			          styleClass="datatable-col-center">
				<template let-quest="rowData" pTemplate="body">
					<p-checkbox [(ngModel)]="quest.indicadorHabilitado" binary="true" disabled="true"></p-checkbox>
				</template>
			</p-column>
        <p-column header="{{'LBL_ACCIONES' | translate}}" styleClass="datatable-col-action">
            <template let-quest="rowData" pTemplate="body">
                    <button type="button" icon="fa-pencil" class="ui-button-success" data-toggle="tooltip" title="{{'BTN_EDITAR' | translate}}"
                            pButton (click)="update(quest)"></button>
            </template>
        </p-column>
    </p-dataTable>
