<p-messages [value]="msgs"></p-messages>
<p-confirmDialog width="400" #cd>
   <p-footer>
      <button type="button" pButton icon="fa-close" label="{{ 'BTN_NO' | translate }}" (click)="cd.reject()"></button>
      <button type="button" pButton icon="fa-check" label="{{ 'BTN_SI' | translate }}" (click)="cd.accept()"></button>
   </p-footer>
</p-confirmDialog>
<div *ngIf="positionsActivities">
   <form (ngSubmit)="fr.valid && onSubmit()" #fr="ngForm" novalidate id="formulario">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
         <div class="ui-grid-row">
            <div class="ui-grid-col-12">
               <label for="idOcupacion"><h3>{{ 'OCUPACIONES.LBL_OCUPACIONES' | translate }} </h3></label>
            </div>
         </div>
         <div class="ui-grid-row">
            <div class="ui-grid-col-9">
               <p-dropdown id="idOcupacion" name="idOcupacion" required="true"
                           [options]="listActivities" [autoWidth]="false" filter="filter"
                           [(ngModel)]="positionsActivities.idOcupacion" #idOcupacion="ngModel"
               ></p-dropdown>
               <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="fr.submitted && !idOcupacion.valid">
                  <i class="fa fa-close"></i>
                  {{ 'POSITION.LBL_CARGO' | translate }} {{ 'LBL_REQUERIDO' | translate }}
               </div>
            </div>
            <div class="ui-grid-col-3">
               <button pButton icon="fa-plus" label="{{ 'BTN_AGREGAR' | translate }}" type="submit"></button>
            </div>
         </div>
      </div>
   </form>
   <div class="row">
      <div class="col-md-12">
         <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listPositionsActivities" [paginator]="true"
                      [rows]="10" [responsive]="true">
            <p-column field="ocupacion" header="{{ 'POSITION.LBL_OCUPACION' | translate }}" [sortable]="true"></p-column>
            <p-column header="{{ 'LBL_ACCION' | translate }}" styleClass="datatable-col-action">
               <template let-PA="rowData" pTemplate="body">
                  <button type="button" icon="fa-trash" class="ui-button-danger" data-toggle="tooltip" title="{{'BTN_INACTIVAR' | translate}}"

                          pButton (click)="del(PA)"></button>
               </template>
            </p-column>
         </p-dataTable>
      </div>
   </div>
</div>