<h3 class="first">{{ 'POSITION.LBL_OBSERVACIONCARGO' | translate }}</h3>
<p-messages [value]="msgs"></p-messages>
<div *ngIf="showForm">
   <div class="row-fluid">
      <div class="col-md-12">
         <form (ngSubmit)="fobs.valid && onSubmitObservacion()" #fobs="ngForm" novalidate>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
               <div class="row">
                  <div class=" col-sm-12">
                     <label for="obs">{{ 'POSITION.LBL_OBSERVACION' | translate }}</label>
                     <textarea pInputTextarea id="obs" name="obs"
                               [(ngModel)]="observation.observacion" #obs="ngModel"
                               [required]="true"></textarea>
                     <div *ngIf="fobs.submitted && !obs.valid"
                          class="ui-message ui-messages-error ui-corner-all">
                        {{ 'POSITION.LBL_OBSERVACION' | translate }} {{ 'LBL_REQUERIDO' | translate }}
                     </div>
                  </div>
               </div>
            </div>
            <div class="row form-footer-buttons">
               <div class="form-group col-md-12">
                  <button icon="fa-plus" label="{{ 'BTN_AGREGAR' | translate }} {{ 'POSITION.LBL_OBSERVACION' | translate }}" type="submit"
                          pButton></button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<div>
   <div class="row datable-header">
      <div class="col-md-6 col-xs-12 datatable-header-add">
         <button type="button" pButton icon="fa-plus" (click)="add()" label="{{ 'LBL_NUEVA' | translate }} {{ 'POSITION.LBL_OBSERVACION' | translate }}"></button>
      </div>
      <div class="col-md-6 col-xs-12 datatable-header-search">
         <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input #gb type="text" pInputText size="30" placeholder="{{ 'LBL_BUSCAR' | translate }}" class="form-control">
         </div>
      </div>
   </div>
   <p-dataTable [value]="observations" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
      <p-column field="idCargoEstadoObservacion" header="{{ 'LBL_ID' | translate }}" [sortable]="true"></p-column>
      <p-column field="estadoCargo" header="{{ 'LBL_ESTADO' | translate }}" [sortable]="true"></p-column>
      <p-column field="observacion" header="{{ 'POSITION.LBL_OBSERVACION' | translate }}" [sortable]="true"></p-column>
      <p-column field="auditoriaFecha" header="{{ 'LBL_FECHA' | translate }}" [sortable]="true"></p-column>
      <!--<p-column header="Acciones" styleClass="datatable-col-action">
         <template let-lcontact="rowData" pTemplate="body">
            <div class="btn-group" role="group">
               <button type="button" class="ui-button ui-button-success btn" icon="fa-pencil"
                       pButton (click)="update(lcontact)"></button>
               <button type="button" class="ui-button ui-button-danger btn" icon="fa-trash"
                       pButton (click)="delete(lcontact)"></button>
            </div>
         </template>
      </p-column>-->
   </p-dataTable>
</div>
<p-dialog header="Confirmación" [(visible)]="displayDialog"
			 responsive="true" modal="true">
	<p>{{ 'CONSTANTES.MSG_CONFIRMAGUARDAR' | translate }}</p>
	<p-footer>
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button type="button" pButton icon="fa-close" (click)="displayDialog=false" label="{{ 'BTN_NO' | translate }}"></button>
			<button type="button" pButton icon="fa-check" (click)="goBack()" label="{{ 'BTN_SI' | translate }}"></button>
		</div>
	</p-footer>
</p-dialog>