<div *ngIf="position">
	<div class="row">
		<div class="col-md-12">
			<h3 class="first">{{ 'POSITION.LBL_CARGO' | translate }}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<form class="form-horizontal">
					<p-panel header="{{ 'POSITION.LBL_IDENTIFICACION' | translate }}">
						<fieldset>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_NOMBRE' | translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.cargo}}</strong></label>
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_AREA' | translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{position.estructuraArea}}</strong></label>
							
							</div>
							<div class="row">
								
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_CARGODEPENDE' | translate}}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{position.cargoJefe}}</strong></label>
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_PERSONASDIRECTAS' | translate}}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{position.personaACargoDir}}</strong></label>
							
							</div>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_PERSONASINDIRECTAS' | translate}}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{position.personaACargoInd}}</strong></label>
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_MISION' | translate}}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{position.mision}}</strong></label>
							
							</div>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_ZONA' | translate}}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12"><strong>{{position.indicadorZona ? 'Si':'No'}}</strong></label>
							</div>
							<h4 class="first">{{ 'POSITION.LBL_OBSERVACIONCARGO' | translate }}</h4>
							<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="observations" [paginator]="true"
							             [rows]="10" [responsive]="true">
								<p-column field="idCargoEstadoObservacion" header="{{ 'LBL_ID' | translate }}" [sortable]="true"></p-column>
								<p-column field="estadoCargo" header="{{ 'LBL_ESTADO' | translate }}" [sortable]="true"></p-column>
								<p-column field="observacion" header="{{ 'POSITION.LBL_OBSERVACION' | translate }}" [sortable]="true"></p-column>
								<p-column field="auditoriaFecha" header="{{ 'LBL_FECHA' | translate }}" [sortable]="true"></p-column>
							</p-dataTable>
						</fieldset>
					</p-panel>
					<p-panel header="{{ 'POSITION.LBL_PRODUCTO' | translate }}">
						<fieldset>
							<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="positionCriterias" [paginator]="true"
							             [rows]="10" [responsive]="true">
								<p-column field="criterio" header="{{ 'POSITION.LBL_CRITERIOS' | translate }}" [sortable]="true"></p-column>
								<p-column field="descripcion" header="{{ 'POSITION.LBL_DESCRIPCION' | translate }}" [sortable]="true"></p-column>
								<p-column field="factor" header="{{ 'POSITION.LBL_FACTOR' | translate }}" [sortable]="true"></p-column>
								<p-column field="meta" header="{{ 'POSITION.LBL_META' | translate }}" [sortable]="true"></p-column>
							</p-dataTable>
						</fieldset>
					</p-panel>
					<p-panel header="{{ 'POSITION.LBL_INTERRELACIONES' | translate }}">
						<fieldset>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_INTERNAS' | translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.interrelacionesInternas}}</strong></label>
							</div>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_EXTERNAS' | translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.interrelacionesExternas}}</strong></label>
							</div>
						</fieldset>
					</p-panel>
					<p-panel header="{{ 'POSITION.LBL_ROLDENTRO' | translate }}">
						<fieldset>
							<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="positionRoles" [paginator]="false"
							             [responsive]="true">
								<p-column header="{{ 'POSITION.LBL_ROL' | translate }}">
									<template let-rol="rowData" pTemplate="body">
										{{rol.cragoRolProceso}}
									</template>
								</p-column>
							</p-dataTable>
						</fieldset>
					</p-panel>
					<p-panel header="{{ 'POSITION.LBL_RESPONSABILIDADESPRINCIPALES' | translate }}">
						<fieldset>
							<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="positionResponsabilities"
							             [paginator]="true"
							             [rows]="10" [responsive]="true">
								<p-column field="responsabilidad" header="{{ 'POSITION.LBL_RESPONSABILIDAD' | translate }}"
								          [sortable]="true"></p-column>
							</p-dataTable>
						</fieldset>
					</p-panel>
					<p-panel header="{{ 'POSITION.LBL_RESPONSABILIDADESCOMPLEMENTARIAS' | translate }}">
						<fieldset>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_RESPONSABILIDADESCOMPLEMENTARIAS' |
									translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.responsabilidadesAd}}</strong></label>
							</div>
						</fieldset>
					</p-panel>
					<p-panel header="{{ 'POSITION.LBL_POSICION' | translate }}">
						<fieldset>
							<div class="ui-grid-row">
								<div class="ui-grid-col-12">
									<label><h4>{{'POSITION.LBL_REEMPLAZA' | translate}}</h4></label>
								</div>
							</div>
							<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listAbsenceREE" [paginator]="true"
							             [rows]="10" [responsive]="true">
								<p-column field="cargo" header="{{'POSITION.LBL_CARGO' | translate}}" [sortable]="true"></p-column>
							</p-dataTable>
							<div class="ui-grid-row">
								<div class="ui-grid-col-12">
									<label><h4>{{'POSITION.LBL_REEMPLAZAPOR' | translate}}</h4></label>
								</div>
							</div>
							<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listAbsenceREP" [paginator]="true"
							             [rows]="10" [responsive]="true">
								<p-column field="cargo" header="{{'POSITION.LBL_CARGO' | translate}}" [sortable]="true"></p-column>
							</p-dataTable>
						</fieldset>
					</p-panel>
					<p-panel header="{{ 'POSITION.LBL_AUTORIDADES' | translate }}">
						<fieldset>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_DECISIONES' |
									translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.tomaDecisiones}}</strong></label>
							</div>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_ACTIVIDADES' |
									translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.actividadesSupervisa}}</strong></label>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label><h4>{{ 'POSITION.LBL_CARGOSUPERVISA' | translate }}</h4></label>
								</div>
							</div>
							<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listAbsenceSUP" [paginator]="true"
							             [rows]="10"
							             [responsive]="true">
								<p-column field="cargoRelacion" header="{{ 'POSITION.LBL_CARGO' | translate }}" [sortable]="true"></p-column>
							</p-dataTable>
						</fieldset>
					</p-panel>
					<p-panel header="{{ 'POSITION.LBL_REQUISITOS' | translate }}">
						<fieldset>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_CONOCIMIENTOS' |
									translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.conocimientosBasicos}}</strong></label>
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_EXPERIENCIA' |
									translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.tiempoExperiencia}} Años</strong></label>
							</div>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_OTROSREQUISITOS' |
									translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.otrosRequisitos}}</strong></label>
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_EDAD' |
									translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.edad}} {{position.edadMax}} Años</strong></label>
							</div>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'LBL_GENERO' |
									translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.genero}}</strong></label>
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'LBL_ESTADOCIVIL' |
									translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.estadoCivil}}</strong></label>
							</div>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_EDUCACION' |
									translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.nivelEducacion}}</strong></label>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-12">
									<label><h4>{{ 'OCUPACIONES.LBL_OCUPACIONES' | translate }} </h4></label>
								</div>
							</div>
							<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listPositionsActivities" [paginator]="true"
							             [rows]="10" [responsive]="true">
								<p-column field="ocupacion" header="{{ 'POSITION.LBL_OCUPACION' | translate }}" [sortable]="true"></p-column>
							</p-dataTable>
						</fieldset>
					</p-panel>
				</form>
				<p-panel header="{{ 'POSITION.LBL_COMPETENCIAS' | translate }}">
					<fieldset>
						<p-tabView orientation="left">
							<p-tabPanel *ngFor="let group of groups; let i = index" header="{{group.grupoCompetencia}}"
							            [selected]="i == 0">
								<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="group.competencies"
								             [responsive]="true" id="positionCompetenciesDT" styleClass="table-overflow">
									<p-column field="competencia" header="{{ 'POSITION.LBL_COMPETENCIA' | translate }}"
									          [sortable]="true"></p-column>
									<p-column header="{{ 'POSITION.LBL_PONDERACION' | translate }}" field="cargoCompetencia">
										<template let-competencie="rowData" pTemplate="body">
											<p-dropdown [options]="ponderanciesList" [(ngModel)]="competencie.cargoCompetencia.idPonderacion"
											            [autoWidth]="false" disabled="true"></p-dropdown>
										</template>
									</p-column>
								</p-dataTable>
							</p-tabPanel>
							<p-tabPanel header="" *ngIf="1 != 1"></p-tabPanel>
						</p-tabView>
					</fieldset>
				</p-panel>
				<form class="form-horizontal">
					<p-panel header="{{ 'POSITION.LBL_ACTIVOS' | translate }}">
						<fieldset>
							<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="elementos"
							             [paginator]="false" [responsive]="true">
								<p-column header="{{ 'POSITION.LBL_ELEMENTOS' | translate }}">
									<template let-asset="rowData" pTemplate="body">
										{{asset.codigoLista}} - {{asset.nombreLista}}
									</template>
								</p-column>
								<p-column header="{{ 'POSITION.LBL_DESCRIPCION' | translate }}">
									<template let-asset="rowData" pTemplate="body">
										<label>{{ asset.descripcion}}</label>
									</template>
								</p-column>
							</p-dataTable>
						</fieldset>
					</p-panel>
					<p-panel header="{{ 'POSITION.LBL_PRODUCTIVIDAD' | translate }}">
						<fieldset>
							<div>
								<div class="row">
									<div class="col-md-6">
										<label for="idProductividad">{{ 'POSITION.LBL_PRODUCTIVIDAD' | translate }}</label>
										<p-dropdown id="idProductividad" name="idProductividad" required="true"
										            [options]="ListProductivity" [autoWidth]="false"
										            [(ngModel)]="productivity.idProductividad"
										            #idProductividad="ngModel" disabled="true">
										</p-dropdown>
									</div>
									<div class="col-md-6">
										<label for="idNivelIQ">{{ 'POSITION.LBL_NIVEL' | translate }}</label>
										<p-dropdown id="idNivelIQ" name="idNivelIQ" required="true"
										            [options]="ListIQLevel" [autoWidth]="false"
										            [(ngModel)]="productivity.idProductividadIq"
										            #idNivelIQ="ngModel" disabled="true"
										></p-dropdown>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="idNivelAptitude">{{ 'POSITION.LBL_NIVELAPTITUD' | translate }}</label>
										<p-dropdown id="idNivelAptitude" name="idNivelAptitude" required="true"
										            [options]="ListAptitudeLevel" [autoWidth]="false"
										            [(ngModel)]="productivity.idProductividadAptitud"
										            #idNivelAptitude="ngModel" disabled="true"
										></p-dropdown>
									</div>
								</div>
							</div>
						</fieldset>
					</p-panel>
					<p-panel header="{{ 'POSITION.LBL_PERSONALIDAD' | translate }}">
						<fieldset>
							<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="atributos"
							             [paginator]="false" [responsive]="true">
								<p-column header="{{ 'POSITION.LBL_ATRIBUTOS' | translate }}">
									<template let-personality="rowData" pTemplate="body">
										{{personality.codigoLista}} - {{personality.nombreLista}}
									</template>
								</p-column>
								<p-column header="{{ 'POSITION.LBL_DESCRIPCION' | translate }}">
									<template let-personality="rowData" pTemplate="body">
										<label>{{personality.descripcion}}</label>
									</template>
								</p-column>
							</p-dataTable>
						</fieldset>
					</p-panel>
					<p-panel header="{{ 'POSITION.LBL_FACTORES' | translate }}">
						<fieldset>
							<div class="ui-grid-row">
								<div class="ui-grid-col-12">
									<label><h4>{{ 'POSITION.LBL_EXAMENES' | translate }} </h4></label>
								</div>
							</div>
							<p-dataTable [value]="PositionExam" [paginator]="true" [rows]="10" [responsive]="true" class="datatable-col-center">
								<p-column field="examen" header="{{ 'POSITION.LBL_NOMBRE' | translate }}" [sortable]="true"></p-column>
								<p-column header="{{ 'POSITION.LBL_INGRESO' | translate }}">
									<template let-exam="rowData" pTemplate="body">
										<label>{{exam.indicadorIngreso ? 'Aplica':'No Aplica'}}</label>
									</template>
								</p-column>
								<p-column header="{{ 'POSITION.LBL_PERIOCIDAD' | translate }}">
									<template let-exam="rowData" pTemplate="body">
										<label>{{exam.indicadorPeriodicidad ? 'Aplica':'No Aplica'}}</label>
									</template>
								</p-column>
								<p-column header="{{ 'POSITION.LBL_RETIRO' | translate }}">
									<template let-exam="rowData" pTemplate="body">
										<label>{{exam.indicadorRetiro ? 'Aplica':'No Aplica'}}</label>
									</template>
								</p-column>
							</p-dataTable>
							<div class="ui-grid-row">
								<div class="ui-grid-col-12">
									<label><h4>{{ 'POSITION.LBL_RIESGOS' | translate }} </h4></label>
								</div>
							</div>
							<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listRisks" [paginator]="true" [rows]="10"
							             [responsive]="true">
								<p-column field="tipo" header="{{ 'POSITION.LBL_TIPO' | translate }}" [sortable]="true"></p-column>
								<p-column field="subtipo" header="{{ 'POSITION.LBL_SUBTIPO' | translate }}" [sortable]="true"></p-column>
								<p-column field="riesgo" header="{{ 'POSITION.LBL_RIESGO' | translate }}" [sortable]="true"></p-column>
								<p-column field="indicadorHabilitado" header="{{ 'LBL_HABILITADO' | translate }}" [sortable]="true"
								          styleClass="datatable-col-center">
									<template let-riesgo="rowData" pTemplate="body">
										<label>{{riesgo.indicadorHabilitado?'Si':'No'}}</label>
									</template>
								</p-column>
							</p-dataTable>
						</fieldset>
					</p-panel>
					<p-panel header="{{ 'POSITION.LBL_PRODUCTO' | translate }}">
						<fieldset>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_PUNTOS' |
									translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.puntos}}</strong></label>
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_CATEGORIA' |
									translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.categoria}}</strong></label>
							</div>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_SALARIO' |
									translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.salario}}</strong></label>
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'POSITION.LBL_REQUIERE' |
									translate }}:</label>
								<label
									class="col-md-3 col-sm-6 col-xs-12 "><strong>{{position.indicadorRequiereFormacion?'Si':'No'}}</strong></label>
							</div>
						</fieldset>
					</p-panel>
					<p-panel header="{{ 'POSITION.LBL_RElACION' | translate }}">
						<fieldset>
							<p-tree [value]="treeArrray" layout="horizontal" selectionMode="single" [(selection)]="selectedNode"></p-tree>
						</fieldset>
					</p-panel>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row form-footer-buttons">
	<div class="form-group col-md-12">
		<button icon="fa-arrow-left" label="{{'BTN_REGRESAR' | translate }}" type="button"
		        pButton (click)="goBack()"></button>
	</div>
</div>
