<p-tabView>
   <p-tabPanel *ngFor="let group of groups; let i = index" header="{{group.grupoCompetencia}}" >
      <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="group.competencies"
                    [responsive]="true" id="positionCompetenciesDT" styleClass="dejemeverelcombo" >
         <p-column field="competencia" header="Competencia" [sortable]="true"></p-column>
         <p-column header="Acciones" field="cargoCompetencia" >
            <template let-competencie="rowData" pTemplate="body">
             <p-dropdown [options]="ponderanciesList" [(ngModel)]="competencie.cargoCompetencia.idPonderacion"
                         [autoWidth]="false" (onBlur)="update(competencie, i)"></p-dropdown>
            </template>
         </p-column>
      </p-dataTable>
   </p-tabPanel>
   <p-tabPanel header=""></p-tabPanel>
</p-tabView>
<p-confirmDialog width="400"></p-confirmDialog>
<div class="row">
   <div class="col-md-10">
   </div>
   <div class="col-md-2">
      <button type="button" pButton icon="fa-left-arrow" (click)="next()"
              label="Siguiente"></button>
   </div>
</div>