<h3 class="first"> {{'FAULTSANDSANCTIONS.LBL_FALTASANCION' | translate }}</h3>
<div>
    <div class="row datable-header">
        <div class="col-md-6 col-xs-12 datatable-header-add">
            <button type="button" icon="fa-plus" label="Nueva Falta"
                    pButton (click)="add()"></button>
        </div>
        <div class="col-md-6 col-xs-12 datatable-header-search" >

          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input #gb type="text" pInputText size="40" placeholder=" {{'LBL_BUSCAR' | translate }}" class="form-control"
                   [(ngModel)]="busqueda" (change)="setSearch()">
          </div>

        </div>
    </div>

    <p-dataTable  emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="faults" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
        <p-column field="tipoFalta" header="{{'LBL_TIPO' | translate }}" [sortable]="true"></p-column>
        <p-column field="falta" header="{{'LBL_NOMBRE' | translate }}" [sortable]="true"></p-column>
        <p-column field="accion" header="{{'LBL_ACCION' | translate }} " [sortable]="true"></p-column>
        <p-column field="indicadorHabilitado" header="{{'LBL_ESTADO' | translate }}" [sortable]="true" styleClass="datatable-col-center">
           <template let-fault="rowData" pTemplate="body">
              <p-checkbox [(ngModel)]="fault.indicadorHabilitado" binary="true" disabled="true"></p-checkbox>
           </template>
        </p-column>
        <p-column header="{{'LBL_ACCIONES' | translate }}" styleClass="datatable-col-action">
            <template let-fault="rowData" pTemplate="body">
                    <!--<button type="button" icon="fa-eye" class="ui-button-info"
                            pButton (click)="detail(employee)"></button>-->
                    <button type="button" icon="fa-pencil" class="ui-button-success" data-toggle="tooltip" title="{{'BTN_EDITAR' | translate}}"
                            pButton (click)="update(fault)"></button>
              <!--<button type="button" icon="fa-trash" class="ui-button-danger"
                      pButton (click)="del(fault)" ></button>-->

            </template>
        </p-column>
    </p-dataTable>
</div>
<p-confirmDialog width="400"></p-confirmDialog>
