<h3 class="first">Faltas y Sanciones</h3>
<div>
    <div class="row datable-header">
        <div class="col-md-6 col-xs-12 datatable-header-add">
            <button type="button" icon="fa-plus" label="Nueva Falta"
                    pButton (click)="add()"></button>
        </div>
        <div class="col-md-6 col-xs-12 datatable-header-search" >

          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input #gb type="text" pInputText size="40" placeholder="Buscar..." class="form-control">
          </div>

        </div>
    </div>

    <p-dataTable [value]="faults" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
        <p-column field="tipoFalta" header="Tipo" [sortable]="true"></p-column>
        <p-column field="falta" header="Nombre" [sortable]="true"></p-column>
        <p-column field="accion" header="Acción " [sortable]="true"></p-column>
        <p-column field="indicadorHabilitado" header="Estado" [sortable]="true">
           <template let-fault="rowData" pTemplate="body">
              <p-checkbox [(ngModel)]="fault.indicadorHabilitado" binary="true" disabled="true"></p-checkbox>
           </template>
        </p-column>
        <p-column header="Acciones" styleClass="datatable-col-action">
            <template let-fault="rowData" pTemplate="body">
                    <!--<button type="button" icon="fa-eye" class="ui-button-info"
                            pButton (click)="detail(employee)"></button>-->
                    <button type="button" icon="fa-pencil" class="ui-button-success"
                            pButton (click)="update(fault)"></button>
              <!--<button type="button" icon="fa-trash" class="ui-button-danger"
                      pButton (click)="del(fault)" ></button>-->

            </template>
        </p-column>
    </p-dataTable>
</div>
<p-confirmDialog width="400"></p-confirmDialog>
