<h3 class="first">{{ 'REQUERIMIENTOPERSONAL.LBL_REQUERIMIENTOPERSONAL' | translate}}</h3>
<div>
	<div class="row datable-header">
		<div class="col-md-6 col-xs-12 datatable-header-add">
			<button type="button" icon="fa-plus" label="{{ 'REQUERIMIENTOPERSONAL.BTN_AGREGARNUEVO' | translate}}"
			        pButton (click)="add()"></button>
		</div>
		<div class="col-md-6 col-xs-12 datatable-header-search">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
				<input #gb type="text" pInputText size="40" placeholder="{{ 'LBL_BUSCAR' | translate}}" class="form-control">
			</div>
		</div>
	</div>
	<p-dataTable  emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}"  [value]="personnelRequirements" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
		<p-column field="cargo" header="{{ 'POSITION.LBL_CARGO' | translate}}" [sortable]="true"></p-column>
		<p-column field="cantidadVacantes" header="{{ 'REQUERIMIENTOPERSONAL.LBL_CANTIDADAPLAZAS' | translate}}" [sortable]="true"></p-column>
		<p-column field="fechaSolicitud" header="{{ 'LBL_FECHA' | translate}}" [sortable]="true"></p-column>
		<p-column field="estado" header="{{ 'LBL_ESTADO' | translate}}" [sortable]="true"></p-column>
		<p-column header="{{ 'LBL_ACCIONES' | translate}}" styleClass="datatable-col-action">
			<template let-prequest="rowData" pTemplate="body">
				<button type="button" icon="fa-eye" class="ui-button-info"
				        pButton (click)="detail(prequest)"></button>
				<button *ngIf="(prequest.idEstado === creationProccesState.idLista || prequest.idEstado === creationProccesState.idLista)"
				        type="button" icon="fa-pencil"
				        class="ui-button-success"
				        pButton (click)="update(prequest)"></button>
				<button *ngIf="prequest.idEstado !== creationProccesState.idLista" type="button" icon="fa-list-alt" class="ui-button-success"
				        pButton (click)="observations(prequest)"></button>
			</template>
		</p-column>
	</p-dataTable>
</div>
<p-dialog header="{{'REQUERIMIENTOPERSONAL.LBL_OBSERVACIONES' | translate}}" [(visible)]="displayActions"
			 modal="modal" width="700" responsive="true" draggable="false" >
	<div style="overflow: scroll; height: 300px;">
	<div *ngFor="let acc of requirementsAction">
		<h4>{{acc.accion}} - {{nombreTercero}}</h4>
		<h5>{{auditoriaFecha}}</h5>
		<p>{{acc.observacion}}</p>
		<hr>
	</div>
	</div>
	<p-footer>
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button type="button" pButton (click)="displayActions=false" label="{{'LBL_CERRAR' | translate}}"></button>
		</div>
	</p-footer>
</p-dialog>
<p-confirmDialog width="400"></p-confirmDialog>