<div>
	<form (ngSubmit)="f.valid && onFilter()" #f="ngForm" novalidate id="formulario">
		<div class="row">
			<div class="col-md-4">
				<label for="typeareas">{{'EXAMENOCUPACIONAL.LBL_TIPOAREA' | translate }}</label>
				<p-dropdown id="typeareas" name="typeareas" #typearea="ngModel" [options]="listTypeArea" [autoWidth]="false"
				            [(ngModel)]="idTipoArea" required></p-dropdown>
				<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !typearea.valid">
					<i class="fa fa-close"></i>
					{{'EXAMENOCUPACIONAL.LBL_TIPOAREA' | translate }} {{'LBL_REQUERIDO' | translate }}
				</div>
			</div>
			<div class="col-md-4">
				<label for="offic">{{'EXAMENOCUPACIONAL.LBL_OFICINA' | translate }}</label>
				<p-dropdown id="offic" name="offic" #ngoffice="ngModel" [options]="listTypeArea" [autoWidth]="false"
				            [(ngModel)]="idTipoArea" required></p-dropdown>
				<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !ngoffice.valid">
					<i class="fa fa-close"></i>
					{{'EXAMENOCUPACIONAL.LBL_OFICINA' | translate }} {{'LBL_REQUERIDO' | translate }}
				</div>
			</div>
			<!--<div class="col-md-4">-->
			<!--<label for="evType">{{'EXAMENOCUPACIONAL.LBL_TIPONOVEDAD' | translate }}</label>-->
			<!--<p-dropdown id="evType" name="evType" #ngEvType="ngModel" [options]="listTypeArea" [autoWidth]="false"-->
			<!--[(ngModel)]="eventuality.idTipoNovedad" required></p-dropdown>-->
			<!--<div class="ui-message ui-messages-error ui-corner-all" *ngIf="f.submitted && !ngEvType.valid">-->
			<!--<i class="fa fa-close"></i>-->
			<!--{{'EXAMENOCUPACIONAL.LBL_TIPONOVEDAD' | translate }} {{'LBL_REQUERIDO' | translate }}-->
			<!--</div>-->
			<!--</div>-->
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<button type="submit" class="ui-button-success" title="{{'EXAMENOCUPACIONAL.BTN_FILTRAR' | translate}}"
				        pButton ></button>
			</div>
		</div>
	</form>
	<div class="row datable-header">
		<div class="col-md-6 col-xs-12 datatable-header-add"></div>
		<div class="col-md-6 col-xs-12 datatable-header-search">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
				<input #gb type="text" pInputText size="40" placeholder="{{'LBL_BUSCAR' | translate }}" class="form-control"
				       [(ngModel)]="busqueda" (change)="setSearch()">
			</div>
		</div>
	</div>
	<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listEmployee" [paginator]="true" [rows]="10"
	             [responsive]="true" [globalFilter]="gb">
		<p-column styleClass="datatable-col-action">
			<template pTemplate="header">
				<p-checkbox binary="true" onclick="selectEmployee(empl)"></p-checkbox>
			</template>
			<template let-empl="rowData" pTemplate="body">
				<p-checkbox binary="true"  [(ngModel)]="listSelectEmployee"></p-checkbox>
			</template>
		</p-column>
		<p-column field="numeroDocumento" header="{{'EXAMENOCUPACIONAL.LBL_CODIGO' | translate }}" [sortable]="true"></p-column>
		<p-column field="nombre" header="{{'EXAMENOCUPACIONAL.LBL_NOMBRE' | translate }}" [sortable]="true"></p-column>
		<p-column header="{{'LBL_ACCIONES' | translate }}" styleClass="datatable-col-action">
			<template let-dc="rowData" pTemplate="body">
				<button type="button" icon="fa-eye" class="ui-button-success" data-toggle="tooltip" title="{{'BTN_VISUALIZAR' | translate}}"
				        pButton (click)="detail(dc)"></button>
			</template>
		</p-column>
	</p-dataTable>
</div>
<p-confirmDialog icon="fa fa-question-circle" #cd width="400">
	<p-footer>
		<button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
		<button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
	</p-footer>
</p-confirmDialog>
