/**
------------------------- CSS Globales --------------------------------------
 */
body{
   height: 100%!important;
}


/**
-------------------------- Cambios Main Theme PrimeNG ------------------------
 */
body .ui-widget,
body .ui-widget .ui-widget,
body .ui-widget input,
body .ui-widget select,
body .ui-widget textarea,
body .ui-widget button  {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}
body .ui-state-disabled,
body .ui-widget:disabled {
  opacity: 0.6;
  filter: Alpha(Opacity= 35);
  background-color: #ccc;
  cursor: default !important;
  color: #000;
}
/** -- Datepicker -- */
.ui-datepicker select.ui-datepicker-month {
   width: 54%;
}
.ui-datepicker select.ui-datepicker-year {
   width: 40%;
}

/*
----------------- Cambios Theme AdminLTE ---------------------------------
 */
.wrapper-login > .content{
  padding: 0px;
}
.content-wrapper,
.right-side {
  min-height: 100%;
  background-color: #f4f3ef;
  z-index: 800;
}
.info-box-text {
  text-transform: capitalize;
  text-align: center;
}
.icon-mainmenu{
  font-size: 2em;
}
.sidebar-menu > li > a {
  padding: 10px 10px ;
}

/** fix Menu top border */
@media (min-width: 768px){
   .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
      top: 2px;
   }
}

.sidebar-menu .treeview-menu > li > a {
   padding: 5px 5px 5px 26px;
   white-space: pre-line;
}
.sidebar-menu .treeview-menu > li > a > .fa{
   margin-left: -24px;
}
.sidebar-menu li > a > .pull-right-container {
   right: 0px;
}
.header-help{
   padding-top: 12px!important;
   padding-bottom: 9px!important;
}
.main-header .logo {
   background-color: #FFF!important;
}

/**
------------------------ Main CSS ------------------------------------
 */
a{
   cursor: pointer;
}
/** ---- Breadcrumb ------ */
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb > .btn-default{
  background-color: #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}





.buscar-table {
    text-align: right;
    margin-bottom: 0
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #e4e4e4;
    border-radius: 6px;
    background-color: #fff
}

#custom-search-input input {
    border: 0;
    box-shadow: none
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: 0;
    box-shadow: none;
    border: 0;
    color: #666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc
}

#custom-search-input .glyphicon-search {
    font-size: 23px
}

.search-box {
    padding-bottom: 10px
}


.menu-theme-title{
  text-align: center;
  padding: 4px;
}
.menu-theme {
    margin: 0 15px 10px;
    text-align: center;
    margin-top: -4px
}

.colortheme {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.colorwhite {
    background-color: white;
}

.colorblack {
    background-color: #333;
}

.colorblue {
    background-color: #006ca8
}

.colorgreen {
    background-color: #00632e
}

.colorpurple{
  background-color: #605ca8;
}

.user-avatar{
   -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
           box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/**
------------------------ General CSS ------------------------------------
 */
a.cancelar {
    color: red !important;
    margin: 10px;
}

a.cancelar:hover {
    text-decoration: underline;
    cursor: pointer;
}

/**
------------------------ Loading ------------------------------------
 */
#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}

#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}

#loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px;
}

#loader .dot::before {
    border-radius: 100%;
    content: "";
    height: 87.5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
    transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.1s normal none infinite running load;
    background: #133c55 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
    transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.2s normal none infinite running load;
    background: #1c597f none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
    transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.3s normal none infinite running load;
    background: #2576a9 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
    transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.4s normal none infinite running load;
    background: #2f93d2 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
    transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.5s normal none infinite running load;
    background: #59a9db none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
    transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.6s normal none infinite running load;
    background: #83bfe4 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
    transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.7s normal none infinite running load;
    background: #add4ed none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
    transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.8s normal none infinite running load;
    background: #d7eaf6 none repeat scroll 0 0;
}

#loader .lading {
    /** background-image: url("../assets/images/loading.gif"); */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 180px;
}

@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/**
------------------------ Vertical Tabs ------------------------------------
 */
.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}

.tabs-left {
    border-right: 1px solid #ddd;
}

.tabs-right {
    border-left: 1px solid #ddd;
}

.tabs-left > li, .tabs-right > li {
    float: none;
    margin-bottom: 2px;
}

.tabs-left > li {
    margin-right: -1px;
}

.tabs-right > li {
    margin-left: -1px;
}

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-right > li.active > a,
.tabs-right > li.active > a:hover,
.tabs-right > li.active > a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent;
}

.tabs-left > li > a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block;
}

.tabs-right > li > a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}

/**
------------------------ Datatable ------------------------------------
 */
.ui-datatable table {
   table-layout: auto !important;
}
.ui-datatable table th{
   white-space: nowrap;
}
.datable-header {
    margin-bottom: 10px;
}

.datatable-header-add {

}

.datatable-header-search {
    text-align: right;
}

.datatable-header-search i {
    margin: 4px 4px 0 0;
}

.datatable-col-action {
    text-align: center;
    white-space: nowrap;
}
.datatable-col-action button{

}
.datatable-col-action .btn-group{
   display: inline-flex;
}

.datatable-col-center {
   text-align: center;
   white-space: nowrap;
}
.ui-datatable .ui-sortable-column-icon {
  /*float: right;*/
}
.ui-datatable-thead >tr > th > span{
  font-weight: bold;
  font-size: .8em;
}
body .ui-datatable .ui-datatable-thead > tr > th,
body .ui-datatable .ui-datatable-tfoot > tr > td,
body .ui-paginator{
   background-color: #ededed;
   white-space: nowrap;
}
.table-overflow .ui-datatable-data>tr>td{
   overflow: visible!important;
}

/**
------------------------ Edit PrimeNG CSS ------------------------------
 */
.ui-datatable-header {
    overflow: auto;
}
body .ui-button,
body .ui-state-active,
body .ui-state-highlight{
    background-color: #5d5d5d!important;
}
p-tree{
  display: inherit;
  overflow: auto;
  height: 410px;
}

/**
------------------------ Form CSS ------------------------------
 */

label{
  font-weight: 300;
}
form [class*="col-"] {
    padding: 6px;
}

.form-footer-buttons {
    text-align: center;
    border-top: 1px #e9e9e9 solid;
    margin-top: 10px;
    padding-top: 8px;
}
p-dropdown.form-control,
p-autocomplete.form-control{
  padding: 0px;
  background-color: rgba(0,0,0,0);
  border: 0 solid;
}
p-autocomplete .ui-autocomplete,
p-dropdown .ui-dropdown{
  width: 100%;
}
p-autoComplete .ui-autocomplete-input{
  width: 100%;
}
p-calendar,
p-togglebutton {
  display: block;
}

.ui-tree {
  width: 100%!important;
}
body .ui-tree .ui-treenode .ui-treenode-content .ui-treenode-label {
  padding: 4px!important;
  width: 90%;
  white-space: initial;
}

body .ui-tree .ui-treenode .ui-treenode-content .ui-tree-toggler {
  vertical-align: top!important;
}



/**
----------------------------------------------------------------------
---------------------------- COLOR CSS -------------------------------
----------------------------------------------------------------------
 */

/* -- Botones Blue -- */
body.skin-blue .ui-button:focus,
body.skin-blue .ui-button:enabled:hover {
  background-color: #29ABE2!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(41, 171, 226, 0.6);
  -webkit-box-shadow : inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(41, 171, 226, 0.6);
  -moz-box-shadow : inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(41, 171, 226, 0.6);
}
/* -- Paginador Blue -- */
body.skin-blue .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active:hover {
  background-color: #29ABE2!important;
}
/* -- focus input text Blue -- */
body.skin-blue .ui-inputtext.ui-state-focus,
body.skin-blue .ui-inputtext:focus {
  border: 1px solid #29ABE2;
}
body.skin-blue .form-control:focus{
  border-color: #29ABE2!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(41, 171, 226, 0.6);
}
body.skin-blue .user-avatar{
   border: 4px solid #29ABE2;
}



/* -- Botones black -- */
body.skin-black .ui-button:focus,
body.skin-black .ui-button:enabled:hover {
  background-color: #b1c800!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(177, 200, 0, 0.6);
  -webkit-box-shadow : inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(177, 200, 0, 0.6);
  -moz-box-shadow : inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(177, 200, 0, 0.6);
}
/* -- Paginador Black -- */
body.skin-black .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active:hover {
  background-color: #b1c800!important;
}
/* -- focus input text Black -- */
body.skin-black .ui-inputtext.ui-state-focus,
body.skin-black .ui-inputtext:focus {
  border: 1px solid #29ABE2;
}
body.skin-black .form-control:focus{
  border-color: #29ABE2!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(41, 171, 226, 0.6);
}
body.skin-black .user-avatar{
   border: 4px solid #29ABE2;
}




/* -- Botones Green -- */
body.skin-green .ui-button:focus,
body.skin-green .ui-button:enabled:hover {
  background-color: #009c41!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(0, 156, 65, 0.6);
  -webkit-box-shadow : inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(0, 156, 65, 0.6);
  -moz-box-shadow : inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(0, 156, 65, 0.6);
}
/* -- Paginador Green -- */
body.skin-green .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active:hover {
  background-color: #009c41!important;
}
/* -- focus input text Green -- */
body.skin-green .ui-inputtext.ui-state-focus,
body.skin-green .ui-inputtext:focus {
  border: 1px solid #009c41;
}
body.skin-green .form-control:focus{
  border-color: #009c41!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 156, 65, 0.6);
}
body.skin-green .user-avatar{
   border: 4px solid #009c41;
}




/* -- Botones Purple -- */
body.skin-purple .ui-button:focus,
body.skin-purple .ui-button:enabled:hover {
  background-color: #605ca8!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(96, 92, 168, 0.6);
  -webkit-box-shadow : inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(96, 92, 168, 0.6);
  -moz-box-shadow : inset 0 1px 1px rgba(0,0,0,.075),0 0 2px rgba(96, 92, 168, 0.6);
}
/* -- Paginador Purple -- */
body.skin-purple .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active:hover {
  background-color: #605ca8!important;
}
/* -- focus input text Purple -- */
body.skin-purple .ui-inputtext.ui-state-focus,
body.skin-purple .ui-inputtext:focus {
  border: 1px solid #605ca8;
}
body.skin-purple .form-control:focus{
  border-color: #605ca8!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(96, 92, 168, 0.6);
}
body.skin-purple .user-avatar{
   border: 4px solid #605ca8;
}





li.inhabilitado{
   background-color: #ccc!important;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav, body .ui-tabview.ui-tabview-left .ui-tabview-nav, body .ui-tabview.ui-tabview-right .ui-tabview-nav{
   background: transparent;
}
body .ui-tabview .ui-tabview-panel{
   background-color: #FFF;
}