@font-face {
  font-family: 'icomoon';
  src:  url('th/icomoon.eot?15e1w0');
  src:  url('th/icomoon.eot?15e1w0#iefix') format('embedded-opentype'),
  url('th/icomoon.ttf?15e1w0') format('truetype'),
  url('th/icomoon.woff?15e1w0') format('woff'),
  url('th/icomoon.svg?15e1w0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-THDashboard:before {
  content: "\e906";
}
.icon-THApl:before {
  content: "\e907";
}
.icon-THDO:before {
  content: "\e908";
}
.icon-THRS .path1:before {
  content: "\e909";
  color: rgb(77, 77, 77);
}
.icon-THRS .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-THRS .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-THRS .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-THRS .path5:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-THRS .path6:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-THRS .path7:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-THRS .path8:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-THRS .path9:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-THRS .path10:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-THRS .path11:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-THRS .path12:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-THRS .path13:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-THRS .path14:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-THRS .path15:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-THRS .path16:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-THRS .path17:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-THRS .path18:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-THRS .path19:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-THRS .path20:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-THRS .path21:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-THRS .path22:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-THRS .path23:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-THRS .path24:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-THRep:before {
  content: "\e921";
}
.icon-THFd:before {
  content: "\e922";
}
.icon-THBso:before {
  content: "\e923";
}

