<h3>{{ 'PLANTACOLABORADORES.LBL_PLANTACOLAB' | translate }}</h3>
<div class="row">
	<div class="col-md-4">
		<p-tree id="treedCompany" [(value)]="treedCompany" selectionMode="single"
		        [(selection)]="selectedNode"
		        (onNodeSelect)="nodeSelect($event.node)"
		        (onNodeExpand)="nodeExpand($event.node)"
		></p-tree>
		{{empty}}
	</div>
	<div class="col-md-8" *ngIf="area.idEstructuraOrganizacional == null">
		<p-tabView>
			<p-tabPanel header="{{ 'PLANTACOLABORADORES.LBL_AREATRABAJO' | translate }}">
				<h4>{{ 'PLANTACOLABORADORES.MSG_NODO' | translate }}</h4>
			</p-tabPanel>
		</p-tabView>
	</div>
	<div class="col-md-8" *ngIf="area.idEstructuraOrganizacional != null">
		<p-tabView (onChange)="handleChangeTab($event.index)">
			<p-tabPanel header="{{ 'PLANTACOLABORADORES.MSG_INFOAREA' | translate }}" [selected]="true">
				<form class="form-horizontal">
					<fieldset>
						<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{ 'LBL_CODIGO' | translate }}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{area.codigo}}</strong></label>
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{ 'PLANTACOLABORADORES.LBL_NOMBREAREA' | translate
									}}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{area.nombre}}</strong></label>
							</div>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{ 'PLANTACOLABORADORES.LBL_TIPOESTRUCTURA' | translate
									}}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{area.tipoEstructura}}</strong></label>
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{ 'PLANTACOLABORADORES.LBL_CENTROCOSTOS' | translate
									}}:</label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{area.centroCostos}}</strong></label>
							</div>
							<div class="row">
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{ 'PLANTACOLABORADORES.LBL_TIPOAREA' | translate
									}}: </label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{area.tipoArea}}</strong></label>
								<label class="col-md-3 col-sm-6 col-xs-12 control-label">{{ 'PLANTACOLABORADORES.LBL_ESTRUCTFISICA' | translate
									}}: </label>
								<label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{area.estructuraFisica}}</strong></label>
							</div>
						</div>
					</fieldset>
				</form>
				<div>
					<div class="row" *ngIf="editingPosition">
						<div class="col-md-12">
							<form name="positionForm" (ngSubmit)="fp.valid && ((osPosition.plazas - osPosition.ocupados) >= 0) && savePosition()"
							      #fp="ngForm" novalidate>
								<fieldset>
									<legend>{{ 'PLANTACOLABORADORES.MSG_CREANDOEDITAREA' | translate }}:</legend>
									<div class="form-group ">
										<div class="row">
											<div class="form-group col-md-12">
												<label for="cargo">* {{ 'PLANTACOLABORADORES.LBL_CARGO' | translate }}</label>
												<p-autoComplete placeholder="Buscar cargo" field="cargo" name="cargo" id="cargo"
												                minLength="3" delay="500"
												                [suggestions]="positionList" required="true"
												                (completeMethod)="positionSearch($event)" #nCargo="ngModel"
												                (onSelect)="capturePosition($event)" [(ngModel)]="selectedPosition">
												</p-autoComplete>
												<div class="ui-message ui-messages-warning ui-corner-all"
												     *ngIf="positionRepeated">
													<i class="fa fa-close"></i>
													{{ 'PLANTACOLABORADORES.MSG_CARGOASIGNADO' | translate }}
												</div>
												<div class="ui-message ui-messages-error ui-corner-all"
												     *ngIf="fp.submitted && (badPostion || !nCargo.valid)">
													<i class="fa fa-close"></i>
													{{ 'PLANTACOLABORADORES.MSG_CARGOREQ' | translate }}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-3">
												<label for="nPlazas">* {{ 'PLANTACOLABORADORES.LBL_NUMEROPLAZAS' | translate }}</label>
												<input type="number" min="1" max="9999" pInputText id="nPlazas" name="nPlazas" pattern="[0-9]{1,4}"
												       maxlength="4" (keyup)="maxlength()"
												       [(ngModel)]="osPosition.plazas" #nPlazas="ngModel" required/>
												<div class="ui-message ui-messages-error ui-corner-all"
												     *ngIf="fp.submitted && !nPlazas.valid && !nPlazas.errors.pattern">
													<i class="fa fa-close"></i>
													{{ 'PLANTACOLABORADORES.MSG_PLAZASREQ' | translate }}
												</div>
												<div class="ui-message ui-messages-error ui-corner-all"
												     *ngIf="fp.submitted && !nPlazas.valid && nPlazas.errors.pattern">
													<i class="fa fa-close"></i>
													{{ 'PLANTACOLABORADORES.MSG_PLAZASMAX' | translate }}
												</div>
											</div>
											
											<div class="form-group col-md-3">
												<label>{{ 'PLANTACOLABORADORES.LBL_OCUPADOS' | translate }}: {{osPosition.ocupados}}</label>
											</div>
											<div class="form-group col-md-3">
												<label>{{ 'PLANTACOLABORADORES.LBL_VACANTES' | translate }}: {{osPosition.plazas -
													osPosition.ocupados}}</label>
											</div>
											<div class="form-group col-md-3">
												<label for="cEnabled">{{ 'LBL_HABILITADO' | translate }}</label>
												<p-checkbox id="cEnabled" name="cEnabled" binary="true"
												            [(ngModel)]="osPosition.indicadorHabilitado"></p-checkbox>
											</div>
											<div class="form-group col-md-4">
												<div class="ui-message ui-messages-error ui-corner-all"
												     *ngIf="(osPosition.plazas - osPosition.ocupados) < 0">
													<i class="fa fa-close"></i>
													{{ 'PLANTACOLABORADORES.MSG_NUMEROPLAZASMENOR' | translate }} {{osPosition.ocupados}}
												</div>
											</div>
										</div>
										<div class="row form-footer-buttons">
											<div class="form-group col-md-12">
												<a (click)="cancelEditingPosition((fp.dirty === true))" class="cancelar">{{ 'BTN_CANCELAR' | translate }}</a>
												<button pButton type="submit" label="{{ 'BTN_GUARDAR' | translate }}"></button>
											</div>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<div *ngIf="!editingPosition">
						<div class="row datable-header">
							<div class="col-md-6 col-xs-12 datatable-header-add">
								<button *ngIf="!area.indicadorPlantaConfirmada" type="button" pButton icon="fa-plus" (click)="editPosition(null)"
								        label="Nuevo Cargo"></button>
							</div>
							<div class="col-md-6 col-xs-12 datatable-header-search">
								<i class="fa fa-search"></i>
								<input #gb type="text" pInputText size="40" placeholder="{{ 'LBL_BUSCAR' | translate }}">
							</div>
						</div>
						<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="osPositions"
						             [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
							<p-column field="cargo" header="{{ 'PLANTACOLABORADORES.LBL_CARGO' | translate }}" [sortable]="true"></p-column>
							<p-column header="Salario" [sortable]="true">
								<template let-osp="rowData" pTemplate="body">
									{{(osp.salario).toLocaleString()}}
								</template>
							</p-column>
							<p-column field="plazas" header="{{ 'PLANTACOLABORADORES.LBL_NUMEROPLAZAS' | translate }}"
							          [sortable]="true"></p-column>
							<p-column header="{{ 'PLANTACOLABORADORES.LBL_SALARIOTOTAL' | translate }}" [sortable]="true">
								<template let-osp="rowData" pTemplate="body">
									{{(osp.salario*osp.plazas).toLocaleString()}}
								</template>
							</p-column>
							<p-column field="ocupados" header="{{ 'PLANTACOLABORADORES.LBL_OCUPADOS' | translate }}" [sortable]="true"></p-column>
							<p-column header="Vacantes" [sortable]="true">
								<template let-osp="rowData" pTemplate="body">
									{{osp.plazas-osp.ocupados}}
								</template>
							</p-column>
							<p-column *ngIf="!area.indicadorPlantaConfirmada" header="{{ 'LBL_ACCIONES' | translate }}"
							          styleClass="datatable-col-action">
								<template let-osp="rowData" pTemplate="body">
									<div class="btn-group" role="group">
										<button type="button" class="ui-button ui-button-success btn" icon="fa-pencil" data-toggle="tooltip" title="{{'BTN_EDITAR' | translate}}"
										        pButton (click)="editPosition(osp)"></button>
										<button *ngIf="osp.ocupados == 0" type="button" class="ui-button ui-button-danger btn"
										        icon="fa-trash" data-toggle="tooltip" title="{{'BTN_ELIMINAR' | translate}}"
										        pButton (click)="delete(osp)"></button>
									</div>
								</template>
							</p-column>
						</p-dataTable>
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-4">
										<strong>{{ 'PLANTACOLABORADORES.LBL_NUMCARGOS' | translate }}:</strong>
										{{osPositions.length}}
									</div>
									<div class="col-md-4">
										<strong>{{ 'PLANTACOLABORADORES.LBL_PLAZAS' | translate }}:</strong>
										{{countSlots}}
									</div>
									<div class="col-md-4">
										<strong>{{ 'PLANTACOLABORADORES.LBL_COSTOPLANTA' | translate }}:</strong>
										$ {{countCost.toLocaleString()}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
									</div>
									<div class="col-md-4">
										<button type="button" class="ui-button ui-button-danger btn" icon="fa-check-square-o"
										        *ngIf="!area.indicadorPlantaConfirmada"
										        pButton (click)="confirmStructure()"
										        label="{{ 'PLANTACOLABORADORES.BTN_CONFIRMAPLANTA' | translate }}"></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</p-tabPanel>
			<p-tabPanel header="{{ 'EMPLOYEES.LBL_COLABORADORES' | translate }}">
				<fieldset>
					<div class="col-md-12">
						<div class="row" *ngIf="editingPerson">
							<form name="personForm" (ngSubmit)="pp.valid && !badEmployee && savePersonPosition()" #pp="ngForm"
							      novalidate>
									<legend>{{ 'PLANTACOLABORADORES.MSG_ASIGNACOLABORADORCARGO' | translate }}</legend>
									<div class="form-group ">
										<div class="row">
											<div class="form-group col-md-12">
												<label for="colaborador">* {{ 'EMPLOYEES.LBL_COLABORADOR' | translate }}</label>
												<p-autoComplete placeholder="{{ 'PLANTACOLABORADORES.MSG_ASIGNACOLABORADORCARGO' | translate }}"
												                field="nombreCompleto"  name="colaborador" id="colaborador"
												                minLength="3" delay="300" [suggestions]="employeeList" required="true"
												                (completeMethod)="employeeSearch($event)"
												                (onSelect)="captureEmployee($event)" [(ngModel)]="selectedEmployee">
												</p-autoComplete>
												<div class="ui-message ui-messages-error ui-corner-all"
												     *ngIf="pp.submitted && badEmployee">
													<i class="fa fa-close"></i>
													{{ 'PLANTACOLABORADORES.MSG_COLABREQUERIDO' | translate }}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-4">
												<label for="ingreso">* {{ 'PLANTACOLABORADORES.LBL_ASIGNADODESDE' | translate }}</label>
												<p-calendar id="ingreso" name="ingreso"  [showIcon]="true"
												            [yearNavigator]="true" [yearRange]="range" [locale]="es" readonlyInput="true"
												            [maxDate]="maxDate"  dataType="date" #ingreso="ngModel" required="true"
												            [(ngModel)]="personsPosition.asignadoDesde" dateFormat="yy'-'mm'-'dd"></p-calendar>
												
												<!--<p-calendar id="ingreso" name="ingreso" [showIcon]="true" [maxDate]="maxDate"-->
												            <!--[yearNavigator]="true" [locale]="es" readonlyInput="true"-->
												            <!--#ingreso="ngModel" required="true" [dataType]="date"-->
												            <!--[yearRange]="range" -->
												            <!--&gt;</p-calendar>-->
												<div class="ui-message ui-messages-error ui-corner-all"
												     *ngIf="pp.submitted && !ingreso.valid" >
													<i class="fa fa-close"></i>
													{{ 'PLANTACOLABORADORES.LBL_FECHAINGRESOREQ' | translate }}
												</div>
											</div>
											<div class="form-group col-md-5">
												<label for="tipoContrato">* {{ 'PLANTACOLABORADORES.LBL_TIPOCONTRATO' | translate }}</label>
												<p-dropdown name="tipoContrato" id="tipoContrato" #idtipoContrato="ngModel"
												            required="true"
												            [autoWidth]="false" [(ngModel)]="personsPosition.idTipoContrato"
												            [options]="contracTypeList"></p-dropdown>
												<div class="ui-message ui-messages-error ui-corner-all"
												     *ngIf="pp.submitted && !idtipoContrato.valid">
													<i class="fa fa-close"></i>
													{{ 'PLANTACOLABORADORES.LBL_TIPOCONTRATO' | translate }}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4"*ngIf="indicadorZonaPosition && area.indicadorZona" >
												<label for="zona">{{'PLANTACOLABORADORES.LBL_ZONA' | translate }}</label>
												<p-dropdown id="zona" name="zona" required="true"
												            [options]="listZonas" [autoWidth]="false"
												            [(ngModel)]="personsPosition.idZona"
												            #zona="ngModel"
												></p-dropdown>
												<div class="ui-message ui-messages-error ui-corner-all"
												     *ngIf="pp.submitted && !zona.valid">
													<i class="fa fa-close"></i>
													{{'PLANTACOLABORADORES.LBL_ZONA' | translate }} {{'LBL_REQUERIDO' | translate }}
												</div>
											</div>
										</div>
										<div class="row form-footer-buttons">
											<div class="form-group col-md-12">
												<a (click)="cancelEditingPerson((pp.dirty === true))" class="cancelar">{{ 'BTN_CANCELAR' | translate }}</a>
												<button pButton type="submit" label="{{ 'BTN_GUARDAR' | translate }}"></button>
											</div>
										</div>
									</div>
							</form>
						</div>
					</div>
				</fieldset>
				<div *ngIf="!editingPerson">
					<div class="row datable-header">
						<div class="col-md-6">
						</div>
						<div class="col-md-6 col-xs-12 datatable-header-search">
							<i class="fa fa-search"></i>
							<input #pl type="text" pInputText size="40" placeholder="{{ 'LBL_BUSCAR' | translate }}">
						</div>
					</div>
					<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="postionSlots"
					             [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="pl" #dt>
						<p-column field="cargo" header="{{ 'PLANTACOLABORADORES.LBL_CARGO' | translate }}"></p-column>
						<p-column field="nombreCompleto" header="{{ 'EMPLOYEES.LBL_COLABORADOR' | translate }}" [sortable]="true"></p-column>
						<p-column field="asignadoDesde" header="{{ 'PLANTACOLABORADORES.LBL_ASIGNADODESDE' | translate }}"
						          [sortable]="true">
							<template let-pp="rowData" pTemplate="body">
								{{ pp.asignadoDesde | date: 'yyyy-MM-dd'}}
							</template>
						</p-column>
						<p-column header="{{ 'LBL_ACCIONES' | translate }}" styleClass="datatable-col-action">
							<template let-pp="rowData" pTemplate="body">
								<div class="btn-group" role="group">
									<button type="button" class="ui-button ui-button-success btn" icon="fa-child" data-toggle="tooltip" title="{{ 'PLANTACOLABORADORES.MSG_ASIGNACOLABORADOR' | translate }}"
									        pButton (click)="editPersonSlot(pp)"></button>
									<button *ngIf="pp.idTercero != 0" type="button" class="ui-button ui-button-danger btn"
									        icon="fa-trash" data-toggle="tooltip" title="{{'BTN_ELIMINAR' | translate}}"
									        pButton (click)="removePerson(pp)"></button>
								</div>
							</template>
						</p-column>
					</p-dataTable>
				</div>
			</p-tabPanel>
		</p-tabView>
	</div>
</div>
<p-confirmDialog width="400" #cd>
	<p-footer>
		<button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
		<button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
	</p-footer>
</p-confirmDialog>