<div>
<div>
    <div class="row datable-header">
      <div class="col-md-6 col-xs-12 datatable-header-add" *ngIf="!ecd">
        <button type="button" pButton icon="fa-plus" (click)="add()" label="Nuevo Dato Clínico"></button>
      </div>
      <form *ngIf="ecd" (ngSubmit)="d.valid && saveDiagnostic()" #d="ngForm" novalidate id="diagnosticForm">
        <div class="row">
          <div class="col-md-1 col-xs-1" >
          </div>
          <div class="col-md-4 col-xs-12" >
          <label >{{'EMPLOYEES.LBL_DIAGNOSTICO' | translate }}</label>
          <p-autoComplete placeholder="Buscar diagnóstico" field="label" name="diagnostico" id="diagnostico" [(ngModel)]="ecd.diagnostico" [disabled]="editing"
                          #diagnostico="ngModel" [suggestions]="diagnosticList" [required]="!editing" (completeMethod)="diagnosticSearch($event)" (onSelect)="captureDiagnosticId($event)">
          </p-autoComplete>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="d.submitted && wrongDiagnostic && !editing">
            <i class="fa fa-close"></i>{{'EMPLOYEES.LBL_DIAGNOSTICO' | translate}} {{'LBL_REQUERIDO' | translate}}
          </div>
        </div>
        <div class="col-md-3 col-xs-12" >
          <label >{{'LBL_FECHAINICIO' | translate}}</label>
          <p-calendar id="fechaInicio" name="fechaInicio" #fechaInicio="ngModel"  [showIcon]="true" [disabled]="editing"
                      [maxDate]="maxDateInicio" [minDate]="minDateInicio" [monthNavigator]="true" [yearNavigator]="true"
                      [yearRange]="rangeInicio" [locale]="es" readonlyInput="readonlyInput" dataType="date"
                      dateFormat="yy'-'mm'-'dd"
                      (onSelect)="onSelectInicio($event)" [(ngModel)]="ecd.fechaInicio" [required]="!editing"></p-calendar>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="d.submitted && !fechaInicio.valid && !editing">
            <i class="fa fa-close"></i>{{'LBL_FECHAINICIO' | translate}} {{'LBL_REQUERIDO' | translate}}
          </div>
        </div>
        <div class="col-md-3 col-xs-12" >
          <label >{{'LBL_FECHAFIN' | translate}}</label>
          <p-calendar id="fechaFin" name="fechaFin" #fechaFin="ngModel"  [showIcon]="true"
                      [maxDate]="maxDateFin" [minDate]="minDateFin" [monthNavigator]="true" [yearNavigator]="true"
                      [yearRange]="rangeFin" [locale]="es" readonlyInput="readonlyInput" [required]="editing"
                      (onSelect)="onSelectFin($event)" dataType="date" [(ngModel)]="ecd.fechaFin" dateFormat="yy'-'mm'-'dd" ></p-calendar>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="d.submitted && !fechaFin.valid && editing">
            <i class="fa fa-close"></i>{{'LBL_FECHAFIN' | translate}} {{'LBL_REQUERIDO' | translate}}
          </div>
        </div>
      </div>
      <div class="row form-footer-buttons" >
        <div class="col-md-4 col-xs-1" >
        </div>
        <div class="col-md-1 col-xs-1" >
            <a (click)="goBack((d.dirty === true))" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
        </div>
        <div class="col-md-2 col-xs-1" >
          <button class="ui-button ui-button-success btn" icon="fa-plus" pButton icon="fa-plus" type="submit" label="{{ 'BTN_AGREGAR' | translate }}"></button>
        </div>
        <div class="col-md-5 col-xs-1" ></div>
      </div>
      </form>
    </div>
    <p-dataTable *ngIf="!ecd" emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}"  [value]="clinicalInformations"   [paginator]="true" [rows]="10"
                  [responsive]="true">
        <p-column field="codigo" header="{{'LBL_CODIGO' | translate}}" [sortable]="true"></p-column>
        <p-column field="descripcion" header="{{'EMPLOYEES.LBL_DIAGNOSTICO' | translate}}" [sortable]="true"></p-column>
        <p-column field="fechaInicio" header="{{'LBL_FECHAINICIO' | translate}}" [sortable]="true"></p-column>
        <p-column field="fechaFin" header="{{'LBL_FECHAFIN' | translate}}" [sortable]="true"></p-column>
        <p-column header="Acciones" styleClass="datatable-col-action">
            <template let-clinicalInformation="rowData" pTemplate="body">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" pButton class="ui-button ui-button-success btn" (click)="update(clinicalInformation)" icon="fa-pencil" data-toggle="tooltip" title="{{'BTN_EDITAR' | translate}}"></button>
                </div>
            </template>
        </p-column>
    </p-dataTable>
</div>
	<p-confirmDialog width="400" acceptLabel="{{'BTN_SI' | translate }}" rejectLabel="{{'BTN_NO' | translate }}"></p-confirmDialog>