<div *ngIf="colaborador">
    <div class="row">
        <div class="col-md-12">
            <div class="colaboradord clearfix">
                <div class="header">
                    <h4 class="title">Colaboradores</h4>
                </div>
                
                <div class="clearfix">
                    <div class="col-md-6 col-md-offset-3">
                        <h2>Agregando Colaborador</h2>
                        <form name="form" (ngSubmit)="f.form.valid && addColaborador()" #f="ngForm" novalidate>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !numeroDocumento.valid }">
                                <label for="numeroDocumento">Documento</label>
                                <input type="text" class="form-control" name="numeroDocumento" [(ngModel)]="colaborador.numeroDocumento" #numeroDocumento="ngModel" required />
                                <div *ngIf="f.submitted && !numeroDocumento.valid" class="help-block">Documento is required</div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !primerNombre.valid }">
                                <label for="primerNombre">Nombre</label>
                                <input type="text" class="form-control" name="primerNombre" [(ngModel)]="colaborador.primerNombre" #primerNombre="ngModel" required />
                                <div *ngIf="f.submitted && !primerNombre.valid" class="help-block">Nombre is required</div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fechaDesde.valid }">
                                <label for="fechaDesde">Fecha Desde</label>
                                <input type="text" class="form-control" name="fechaDesde" [(ngModel)]="colaborador.fechaDesde" #fechaDesde="ngModel" required />
                                <div *ngIf="f.submitted && !fechaDesde.valid" class="help-block">Fecha is required</div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !cargoActual.valid }">
                                <label for="cargoActual">Cargo</label>
                                <input type="text" class="form-control" name="cargoActual" [(ngModel)]="colaborador.cargoActual" #cargoActual="ngModel" required />
                                <div *ngIf="f.submitted && !cargoActual.valid" class="help-block">Cargo is required</div>
                            </div>
                            <div class="form-group">
                                    <button class="btn btn-primary">Register</button>
                                <a (click)="goBack()" class="btn btn-link">Cancel</a>
                            </div>
                        </form>
                    </div>

                </div>

            </div>

        </div>
    <div>
</div>
        <!--<h4>Avatar: {{colaborador.Avatar}}</h4>
<h4>ciudadExpedicion: {{colaborador.ciudadExpedicion}}</h4>
<h4>fechaExp: {{colaborador.fechaExp}}</h4>
<h4>idtercero: {{colaborador.idtercero}}</h4>
<h4>ciudadNacimiento: {{colaborador.ciudadNacimiento}}</h4>
<h4>nacionalidad: {{colaborador.nacionalidad}}</h4>
<h4>genero: {{colaborador.genero}}</h4>
<h4>estadoCivil: {{colaborador.estadoCivil}}</h4>
<h4>factorrh: {{colaborador.factorrh}}</h4>
<h4>numeroDeHijos: {{colaborador.numeroDeHijos}}</h4>
<h4>lateralidad: {{colaborador.lateralidad}}</h4>
<h4>nivelEducativo: {{colaborador.nivelEducativo}}</h4>
<h4>profesion: {{colaborador.profesion}}</h4>
<h4>estratoSocioEconomico: {{colaborador.estratoSocioEconomico}}</h4>
<h4>vivienda: {{colaborador.vivienda}}</h4>
<h4>vehiculo: {{colaborador.vehiculo}}</h4>
<h4>tallaCamisa: {{colaborador.tallaCamisa}}</h4>
<h4>tallaPantalon: {{colaborador.tallaPantalon}}</h4>
<h4>tallaCalzado: {{colaborador.tallaCalzado}}</h4>-->