
<div *ngIf="colaborador">



    <div class="row">

        <div class="col-md-12">
            <div class="card clearfix">
                <div class="header">
                    <h4 class="title">Colaboradores</h4>
                </div>

                <div class="clearfix">
                    <div class="col-md-2">
                        <img class="thumbnail pull-left img-responsive" src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg">
                    </div>
                    <div class="col-md-8">
                        <h4>{{colaborador.primerNombre}} - {{colaborador.fechaNacimiento}}</h4>
                        <span>{{colaborador.tipoDocumento}} {{colaborador.numeroDocumento}}</span><br />
                        <span>{{colaborador.cargoActual}} - Area/oficina ({{colaborador.fechaDesde}})</span>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="btn btn-primary">Historial Laboral</a>
                    </div>
                </div>

                <div class="col-xs-9">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home-r">
                            <h4>Avatar: {{colaborador.Avatar}}</h4>
                            <h4>ciudadExpedicion: {{colaborador.ciudadExpedicion}}</h4>
                            <h4>fechaExp: {{colaborador.fechaExp}}</h4>
                            <h4>idtercero: {{colaborador.idtercero}}</h4>
                            <h4>ciudadNacimiento: {{colaborador.ciudadNacimiento}}</h4>
                            <h4>nacionalidad: {{colaborador.nacionalidad}}</h4>
                            <h4>genero: {{colaborador.genero}}</h4>
                            <h4>estadoCivil: {{colaborador.estadoCivil}}</h4>
                            <h4>factorrh: {{colaborador.factorrh}}</h4>
                            <h4>numeroDeHijos: {{colaborador.numeroDeHijos}}</h4>
                            <h4>lateralidad: {{colaborador.lateralidad}}</h4>
                            <h4>nivelEducativo: {{colaborador.nivelEducativo}}</h4>
                            <h4>profesion: {{colaborador.profesion}}</h4>
                            <h4>estratoSocioEconomico: {{colaborador.estratoSocioEconomico}}</h4>
                            <h4>vivienda: {{colaborador.vivienda}}</h4>
                            <h4>vehiculo: {{colaborador.vehiculo}}</h4>
                            <h4>tallaCamisa: {{colaborador.tallaCamisa}}</h4>
                            <h4>tallaPantalon: {{colaborador.tallaPantalon}}</h4>
                            <h4>tallaCalzado: {{colaborador.tallaCalzado}}</h4>
                        </div>
                        <div class="tab-pane" id="profile-r">Reclutamiento</div>
                        <div class="tab-pane" id="messages-r">Novedades</div>
                        <div class="tab-pane" id="settings-r">Formación y Capacitación</div>
                    </div>
                </div>

                <div class="col-xs-3"> <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-right">
                        <li class="active"><a href="#home-r" data-toggle="tab">>Info Personal</a></li>
                        <li><a href="#profile-r" data-toggle="tab">Reclutamiento</a></li>
                        <li><a href="#messages-r" data-toggle="tab">Novedades</a></li>
                        <li><a href="#settings-r" data-toggle="tab">Formación y Capacitación</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>