<div>
    <p-dataTable [value]="colaboradores" selectionMode="single" [(selection)]="selectedColaborador" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [responsive]="true">
        <header>Colaboradores</header>
        <p-column field="numeroDocumento" header="Número de documento" [sortable]="true"></p-column>
        <p-column field="primerNombre" header="Nombre " [sortable]="true"></p-column>
        <p-column field="fechaDesde" header="Desde" [sortable]="true"></p-column>
        <p-column field="cargoActual" header="Cargo Actual" [sortable]="true"></p-column>
        <footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></footer>
    </p-dataTable>

    <button type="button" pButton icon="fa-check" (click)="addColaborador()" label="Crear Colaborador"></button>
</div>
