<div *ngIf="colaborador">


    <div class="row">

        <div class="col-md-12">
            <div class="card clearfix">
                <div class="header">
                    <h4 class="title">Colaboradores</h4>
                </div>

                <div class="clearfix">
                    <div class="col-md-2">
                        <img class="thumbnail pull-left img-responsive"
                             src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg">
                    </div>
                    <div class="col-md-8">
                        <h4>{{colaborador.primerNombre}} - {{colaborador.fechaNacimiento}}</h4>
                        <span>{{colaborador.tipoDocumento}} {{colaborador.numeroDocumento}}</span><br/>
                        <span>{{colaborador.cargoActual}} - Area/oficina ({{colaborador.fechaDesde}})</span>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="btn btn-primary">Historial Laboral</a>
                    </div>
                </div>

                <div class="col-xs-9">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="infoPersonal">


                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="pnlDatosGenerales">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion"
                                               href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Datos Generales
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                         aria-labelledby="headingOne">
                                        <div class="panel-body">

                                            <form class="form-horizontal">
                                                <fieldset>
                                                    <div class="form-group">

                                                        <label class="col-md-3 control-label">Fecha de Exp.:</label>
                                                        <label class="col-md-3 "><strong>{{colaborador.fechaExp}}</strong></label>

                                                        <label class="col-md-3 control-label">Ciudad de Exp.:</label>
                                                        <label class="col-md-3"><strong>{{colaborador.ciudadExpedicion}}</strong></label>

                                                        <label class="col-md-3 control-label">Fecha de Nacimiento:</label>
                                                        <label class="col-md-3"><strong>{{colaborador.fechaNacimiento}}</strong></label>

                                                        <label class="col-md-3 control-label">ciudad de Nacimiento:</label>
                                                        <label class="col-md-3"><strong>{{colaborador.ciudadNacimiento}}</strong></label>

                                                        <label class="col-md-3 control-label">Nacionalidad:</label>
                                                        <label class="col-md-3"><strong>{{colaborador.nacionalidad}}</strong></label>

                                                        <label class="col-md-3 control-label">Genero:</label>
                                                        <label class="col-md-3"><strong>{{colaborador.genero}}</strong></label>

                                                        <label class="col-md-3 control-label">Estado Civil:</label>
                                                        <label class="col-md-3"><strong>{{colaborador.estadoCivil}}</strong></label>

                                                        <label class="col-md-3 control-label">Factor RH:</label>
                                                        <label class="col-md-3"><strong>{{colaborador.factorrh}}</strong></label>

                                                        <label class="col-md-3 control-label">Numero de Hijos:</label>
                                                        <label class="col-md-3"><strong>{{colaborador.numeroDeHijos}}</strong></label>

                                                        <label class="col-md-3 control-label">Lateralidad:</label>
                                                        <label class="col-md-3"><strong>{{colaborador.lateralidad}}</strong></label>

                                                        <label class="col-md-3 control-label">Nivel Educativo:</label>
                                                        <label class="col-md-3"><strong>{{colaborador.nivelEducativo}}</strong></label>

                                                        <label class="col-md-3 control-label">Profesión:</label>
                                                        <label class="col-md-3"><strong>{{colaborador.profesion}}</strong></label>

                                                    </div>
                                                </fieldset>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="pnlInformacionFamiliar">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                               aria-controls="collapseTwo">
                                                Información Familiar
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            Información Familiar
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="pnlUbicacion">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                               aria-controls="collapseThree">
                                                Ubicación
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            info de la ubicación
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="pnlFormacionAcademica">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                               aria-controls="collapseThree">
                                                Formación Academica
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            info Formacion academica
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="pnlExperienciaLaboral">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                               aria-controls="collapseThree">
                                                Experiencia Laboral
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            info de la xp laboral
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="pnlReferencias">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                               aria-controls="collapseThree">
                                                Referencias
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            Info Referencias
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFour">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                               aria-controls="collapseThree">
                                                Ubicación
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            info de la ubicación
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="profile-r">Reclutamiento</div>
                        <div class="tab-pane" id="messages-r">Novedades</div>
                        <div class="tab-pane" id="settings-r">Formación y Capacitación</div>
                    </div>
                </div>

                <div class="col-xs-3"> <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-right">
                        <li class="active"><a href="#infoPersonal" data-toggle="tab">Info Personal</a></li>
                        <li><a href="#reclutamiento" data-toggle="tab">Reclutamiento</a></li>
                        <li><a href="#novedades" data-toggle="tab">Novedades</a></li>
                        <li><a href="#formacion" data-toggle="tab">Formación y Capacitación</a></li>
                        <li><a href="#evaluaciones" data-toggle="tab">Evaluación de Competencias</a></li>
                        <li><a href="#rituales" data-toggle="tab">Rituales Gerenciales</a></li>
                        <li><a href="#disciplinarios" data-toggle="tab">Procesos Disciplinarios</a></li>
                        <li><a href="#beneficios" data-toggle="tab">Plan de Beneficio</a></li>
                        <li><a href="#examenes" data-toggle="tab">Examenes Ocupacionales</a></li>
                        <li><a href="#dotaciones" data-toggle="tab">Dotaciones</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>