<div>
	<div>
		<div class="row datable-header">
			<div class="col-md-6 col-xs-12 datatable-header-add"></div>
			<div class="col-md-6 col-xs-12 datatable-header-search">
				<div class="input-group">
					<div class="input-group-addon"><i class="fa fa-search"></i></div>
					<input #gb type="text" pInputText size="40" placeholder="{{'LBL_BUSCAR' | translate }}" class="form-control"
					       [(ngModel)]="busqueda" (change)="setSearch()">
				</div>
			</div>
		</div>
		<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="listEmployee" [paginator]="true" [rows]="10"
		             [responsive]="true" [globalFilter]="gb">
			<p-column field="numeroDocumento" header="{{'EXAMENOCUPACIONAL.LBL_DOCUMENTO' | translate }}" [sortable]="true"></p-column>
			<p-column field="nombreCompleto" header="{{'EXAMENOCUPACIONAL.LBL_COLABORADOR' | translate }}" [sortable]="true"></p-column>
			<p-column field="cargo" header="{{'EXAMENOCUPACIONAL.LBL_COLABORADOR' | translate }}" [sortable]="true"></p-column>
			<p-column field="estructuraArea" header="{{'EXAMENOCUPACIONAL.LBL_TIPOAREA' | translate }}" [sortable]="true"></p-column>
			<p-column field="estructuraOrganizacional" header="{{'EXAMENOCUPACIONAL.LBL_AREAOFICINA' | translate }}" [sortable]="true">
			</p-column>
			<p-column field="fechaUltimoExamen" header="{{'EXAMENOCUPACIONAL.LBL_FECHAREINEGRO' | translate }}" [sortable]="true"></p-column>
			<p-column field="fechaUltimoExamen" header="{{'EXAMENOCUPACIONAL.LBL_DIAS' | translate }}" [sortable]="true"></p-column>
			<p-column field="fechaUltimoExamen" header="{{'EXAMENOCUPACIONAL.LBL_DIASAACUMULADOS' | translate }}" [sortable]="true"></p-column>
			<p-column header="{{'LBL_ACCIONES' | translate }}" styleClass="datatable-col-action">
				<template let-exam="rowData" pTemplate="body">
					<button type="button" icon="fa-calendar" class="ui-button-success" data-toggle="tooltip"
					        title="{{'EXAMENOCUPACIONAL.BTN_PROGRAMAREXAMEN' | translate}}"
					        pButton (click)="exam(exam)"></button>
				</template>
			</p-column>
		</p-dataTable>
	</div>
</div>
<p-confirmDialog icon="fa fa-question-circle" #cd width="400">
	<p-footer>
		<button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
		<button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
	</p-footer>
</p-confirmDialog>

