<p-messages [value]="msgs"></p-messages>
<p-confirmDialog width="400" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="{{'BTN_NO' | translate }}" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="{{'BTN_SI' | translate }}" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<div class="col-md-10 col-md-offset-1">

  <div *ngIf="addinglocation">
    <div *ngIf="reference">
      <div class="row">
        <div class="col-md-12">
          <div class="header">
            <h4 class="title">{{header}}</h4>
          </div>
        </div>
      </div>
      <form (ngSubmit)="f.valid && onSubmit()" #f="ngForm" novalidate id="formulario">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label for="tipodeReferencia">* {{'EMPLOYEES.LBL_TIPOREFERENCIA' | translate }}</label>
                    <p-dropdown  id="tipodeReferencia" name="tipodeReferencia" [options]="referencesTypes" [autoWidth]="false" required="true"
                                 [(ngModel)]="reference.idTipoReferencia"  #tipodeReferencia="ngModel"  ></p-dropdown>
                    <div class="ui-message ui-messages-error ui-corner-all"
                         *ngIf="f.submitted && !tipodeReferencia.valid">
                      <i class="fa fa-close"></i>
                      {{'EMPLOYEES.LBL_TIPOREFERENCIA' | translate }} {{'LBL_REQUERIDO' | translate }}
                    </div>
                </div>
                <div class="ui-grid-col-8">
                    <label for="empresa">* {{'EMPLOYEES.LBL_NOMBREEMPRESA' | translate }}</label>
                    <input pInputText type="text" id="empresa" name="empresa" #empresa="ngModel"
                           [(ngModel)]="reference.empresa" #empresa="ngModel" required maxlength="100"/>
                    <div class="ui-message ui-messages-error ui-corner-all"
                         *ngIf="f.submitted && !empresa.valid">
                      <i class="fa fa-close"></i>
                      {{'EMPLOYEES.LBL_NOMBREEMPRESA' | translate }} {{'LBL_REQUERIDO' | translate }}
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <label for="primerNombre">* {{'EMPLOYEES.LBL_PRIMER' | translate }}</label>
                    <input pInputText type="text" id="primerNombre" name="primerNombre" #primerNombre="ngModel"
                           [(ngModel)]="reference.primerNombre" (keyup)="capitalize($event)" required maxlength="50"/>
                    <div class="ui-message ui-messages-error ui-corner-all"
                         *ngIf="f.submitted && !primerNombre.valid">
                      <i class="fa fa-close"></i>
                      {{'EMPLOYEES.LBL_PRIMER' | translate }} {{'LBL_REQUERIDO' | translate }}
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <label for="segundoNombre">Segundo nombre</label>
                    <input pInputText type="text" id="segundoNombre" name="segundoNombre" maxlength="50"
                           [(ngModel)]="reference.segundoNombre" (keyup)="capitalize($event)" />
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <label for="primerApellido">* {{'EMPLOYEES.LBL_PRIMERAPELLIDO' | translate }}</label>
                    <input pInputText type="text" id="primerApellido" name="primerApellido" #primerApellido="ngModel"
                           [(ngModel)]="reference.primerApellido" (keyup)="capitalize($event)" required maxlength="50"/>
                    <div class="ui-message ui-messages-error ui-corner-all"
                         *ngIf="f.submitted && !primerApellido.valid">
                      <i class="fa fa-close"></i>
                      {{'EMPLOYEES.LBL_PRIMERAPELLIDO' | translate }} {{'LBL_REQUERIDO' | translate }}
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <label for="segundoApellido">{{'EMPLOYEES.LBL_SEGUNDOAPELLIDO' | translate }}</label>
                    <input pInputText type="text" id="segundoApellido" name="segundoApellido" maxlength="50"
                           [(ngModel)]="reference.segundoApellido" (keyup)="capitalize($event)" />
                </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-6">
                <label for="celular">* {{'LBL_CELULAR' | translate }}</label>
	              <p-inputMask id="celular" name="celular" #celular="ngModel"
	                           [(ngModel)]="reference.telefonoMovil" required
	                           mask="?(999) 999-9999" placeholder="(999) 999-9999"
	              ></p-inputMask>
                <!--<input pInputText type="text" id="celular" name="celular" #celular="ngModel"-->
                       <!--[(ngModel)]="reference.telefonoMovil" required/>-->
                <div class="ui-message ui-messages-error ui-corner-all"
                     *ngIf="f.submitted && !celular.valid">
                  <i class="fa fa-close"></i>
                  {{'LBL_CELULAR' | translate }} {{'LBL_REQUERIDO' | translate }}
                </div>
              </div>
                <div class="ui-grid-col-6">
                    <label for="telefono">{{'LBL_TELEFONO' | translate }}</label>
	                <p-inputMask id="telefono" name="telefono"
	                             mask="?(999) 999-9999 Ext 9999" placeholder="(999) 999-9999 Ext 99999"
	                             #telefono="ngModel" [(ngModel)]="reference.telefonoFijo" type="text"
	                ></p-inputMask>
                    <!--<input pInputText type="text" id="telefono" name="telefono" #telefono="ngModel"-->
                           <!--[(ngModel)]="reference.telefonoFijo" />-->
                    <div class="ui-message ui-messages-error ui-corner-all"
                         *ngIf="f.submitted && !telefono.valid">
                      <i class="fa fa-close"></i>
                      {{'LBL_TELEFONO' | translate }} {{'LBL_REQUERIDO' | translate }}
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-10">
                    <label for="direccion">* {{'LBL_DIRECCION' | translate }}</label>
                    <textarea id="direccion" name="direccion" pInputTextarea  rows="5" #direccion="ngModel" disabled="true" required
                              [(ngModel)]="reference.direccion" ></textarea>
                    <div class="ui-message ui-messages-error ui-corner-all"
                         *ngIf="f.submitted && reference.direccion===''">
                      <i class="fa fa-close"></i>
                      {{'LBL_DIRECCION' | translate }} {{'LBL_REQUERIDO' | translate }}
                    </div>
                </div>
                <div class="ui-grid-col-2" style="margin-top: 24px;">
                  <button pButton icon="fa-plus" label="{{'BTN_EDITARDIRECCION' | translate }}" (click)="toggleform()"></button>
                </div>
            </div>
            <!--<div class="ui-grid-row">
                <div class="ui-grid-col-12">
                  <p-fileUpload multiple="multiple"
                                name="referencefile[]"
                                url="http://localhost:3000/upload"
                                chooseLabel="Seleccione"
                                uploadLabel="Subir"
                                cancelLabel="Cancelar"
                                (onUpload)="onUpload($event)"
                  >
                    <template pTemplate type="content">
                      <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                      </ul>
                    </template>
                  </p-fileUpload>
               </div>
            </div>-->
          <div class="ui-grid-row form-footer-buttons">
            <div class="ui-grid-col-4"></div>
            <div class="ui-grid-col-1">
              <a (click)="goBack( (f.dirty === true) )" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
            </div>
            <div class="ui-grid-col-2">
              <button pButton icon="fa-plus" label="{{'BTN_GUARDAR' | translate }}" type="submit" (click)="focusUP()"></button>
            </div>
            <div class="ui-grid-col-5"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="!addinglocation">
    <locations-form [parentTitle]="'Referencias'" (dismiss)="toggleform()" (create)="bindLocation($event)" [localizacion]="localizacion"></locations-form>
  </div>
</div>