<div *ngIf="reference">
    <div class="row">
        <div class="col-md-12">
            <h3 class="first">{{'EMPLOYEES.LBL_REFERENCIAS' | translate:param }}</h3>
        </div>
    </div>

    <div class="row">
          <form class="form-horizontal">
              <fieldset>
                  <div class="form-group">
                      <div class="row">
                          <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_TIPOREFERENCIA' | translate:param }}:</label>
                          <label class="col-md-3 col-sm-6 col-xs-12 " *ngIf="reference.tipodeReferencia"><strong>{{reference.tipodeReferencia.label}}</strong></label>

                          <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_EMPRESA' | translate:param }}:</label>
                          <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{reference.empresa}}</strong></label>
                      </div>
                      <div class="row">
                          <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_PRIMER' | translate:param }}:</label>
                          <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{reference.primerNombre}}</strong></label>

                          <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_SEGUNDO' | translate:param }}:</label>
                          <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{reference.segundoNombre}}</strong></label>
                      </div>
                      <div class="row">
                          <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_PRIMERAPELLIDO' | translate:param }}:</label>
                          <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{reference.primerApellido}}</strong></label>

                          <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'EMPLOYEES.LBL_SEGUNDOAPELLIDO' | translate:param }}:</label>
                          <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{reference.segundoApellido}}</strong></label>
                      </div>
                      <div class="row">
                          <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'LBL_CIUDAD' | translate:param }}/{{'LBL_MUNICIPIO' | translate:param }}:</label>
                          <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{reference.ciudad}}</strong></label>

                          <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'LBL_TELEFONO' | translate:param }}:</label>
                          <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{reference.telefonoFijo}}</strong></label>
                      </div>
                      <div class="row">
                          <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'LBL_CELULAR' | translate:param }}:</label>
                          <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{reference.telefonoMovil}}</strong></label>

                          <label class="col-md-3 col-sm-6 col-xs-12 control-label">{{'LBL_DIRECCION' | translate:param }}:</label>
                          <label class="col-md-3 col-sm-6 col-xs-12 "><strong>{{reference.direccion}}</strong></label>
                      </div>

                  </div>
              </fieldset>
          </form>

    </div>
</div>

<div class="row form-footer-buttons">
  <div class="form-group col-md-12">
    <button icon="fa-arrow-left" label="{{'BTN_REGRESAR' | translate:param }}"
            pButton (click)="goBack()"></button>
  </div>
</div>
