<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="logo">
      <img scr="assets/images/logogestionamos.png" class="img-responsive" />
    </div>




  <div >
    <ul class="nav" id="mainMenu">
      <li class="active">
        <a href="#">
          <i class="icon-THDashboard"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="dropdown">
        <a href="#menuSistema" aria-controls="menuSistema" data-toggle="collapse" aria-expanded="false" data-parent="#mainMenu">
          <i class="icon-THApl"></i>
          <p>
            Sistema
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="menuSistema">
          <ul class="nav">
            <li><a href="#">Item A</a></li>
            <li><a href="#">Item B</a></li>
            <li><a href="#">Item C</a></li>
            <li><a href="#">Item D</a></li>
          </ul>
        </div>
      </li>

      <li>
        <a href="#menuOrganizacion" aria-controls="menuOrganizacion" data-toggle="collapse" aria-expanded="false" data-parent="#mainMenu">
          <i class="icon-THDO"></i>
          <p>
            Organización
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="menuOrganizacion">
          <ul class="nav">
            <li><a href="#">Item A</a></li>
            <li><a href="#">Item B</a></li>
            <li><a href="#">Item C</a></li>
            <li><a href="#">Item D</a></li>
          </ul>
        </div>
      </li>

      <li>
        <a href="#menuReclutamiento" aria-controls="menuReclutamiento" data-toggle="collapse" aria-expanded="false" data-parent="#mainMenu">
          <i class="fa fa-cog"></i>
          <p>
            Reclutamiento
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="menuReclutamiento">
          <ul class="nav">
            <li><a href="#">Item A</a></li>
            <li><a href="#">Item B</a></li>
          </ul>
        </div>
      </li>

      <li>
        <a href="#menuFormacion" aria-controls="menuFormacion" data-toggle="collapse" aria-expanded="false" data-parent="#mainMenu">
          <i class="icon-THFd"></i>
          <p>
            Formación
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="menuFormacion">
          <ul class="nav">
            <li><a href="#">Item A</a></li>
            <li><a href="#">Item B</a></li>
          </ul>
        </div>
      </li>

      <li>
        <a href="#menuBienestar" aria-controls="menuBienestar" data-toggle="collapse" aria-expanded="false" data-parent="#mainMenu">
          <i class="icon-THBso"></i>
          <p>
            Bienestar
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="menuBienestar">
          <ul class="nav">
            <li><a href="#">Item A</a></li>
            <li><a href="#">Item B</a></li>
          </ul>
        </div>
      </li>

      <li>
        <a href="#menuReportes" aria-controls="menuReportes" data-toggle="collapse" aria-expanded="false" data-parent="#mainMenu">
          <i class="icon-THRep"></i>
          <p>
            Reportes
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="menuReportes">
          <ul class="nav">
            <li><a href="#">Item A</a></li>
            <li><a href="#">Item B</a></li>
          </ul>
        </div>
      </li>

    </ul>
  </div>


  </div>
</div>


