<h3>Administración de Menús</h3>
<div class="row datable-header">
   <div class="col-md-6 col-xs-12 datatable-header-add">
      <button type="button" pButton icon="fa-plus" (click)="newModule()" label="Agregar Módulo"></button>
      <button type="button" pButton icon="fa-plus" (click)="newMenu()" label="Agregar Menú"
              *ngIf="modulo"></button>
   </div>
</div>
<div class="ui-grid-row">
   
   <div class="col-md-4">
      <p-tree id="treedCompany" [(value)]="treeMenu" selectionMode="single"
              [(selection)]="selectedNode"
              (onNodeSelect)="nodeSelect($event.node)"
              (onNodeExpand)="nodeExpand($event.node)"
      ></p-tree>
   </div>
   
   <div class="col-md-8">
      <p-fieldset legend="{{header}}">
         <div class="row-fluid">
            <div class="col-md-12">
               <form *ngIf="!guardando" (ngSubmit)="!codeExists&&f.valid && save()" #f="ngForm" novalidate>
                  <div class="row">
                     <div class="form-group">
                        <label for="codigo" class="control-label col-sm-3">* {{ 'LBL_CODIGO' | translate }} </label>
                        <div class=" col-sm-9">
                           <input type="text" pInputText class="form-control" id="codigo"
                                  name="codigo"
                                  [(ngModel)]="menus.codigoMenu"
                                  (change)="validateCode()"
                                  (keyup)="capitalizeCode()"
                                  #codigo="ngModel" maxlength="10"
                                  required/>
                           <div class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="f.submitted && !codigo.valid">
                              Código es requerido
                           </div>
                           <div class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="codeExists">
                              Ya se encuentra registrado ese código
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group">
                        <label for="nombre" class="control-label col-sm-3">* Nombre </label>
                        <div class=" col-sm-9">
                           <input type="text" pInputText class="form-control" id="nombre"
                                  name="nombre"
                                  [(ngModel)]="menus.menu"
                                  #nombre="ngModel"
                                  (keyup)="capitalizeName()"
                                  required/>
                           <div class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="f.submitted && !nombre.valid">
                              Nombre es requerido
                           </div>
                        </div>
                     </div>
                  </div>
                  <div *ngIf="!modulo">
                     <div class="row">
                        <div class="form-group">
                           <label for="ruta" class="control-label col-sm-3">* Formulario </label>
                           <div class=" col-sm-9">
                              <input type="text" pInputText class="form-control" id="ruta" name="ruta"
                                     [(ngModel)]="menus.ruta"
                                     #ruta="ngModel"
                                     required/>
                              <div class="ui-message ui-messages-error ui-corner-all"
                                   *ngIf="f.submitted && !ruta.valid">
                                 Ruta del Formulario es requerido
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group">
                           <label for="secuencia" class="control-label col-sm-3">* Secuencia </label>
                           <div class=" col-sm-9">
                              <input type="text" pInputText class="form-control" id="secuencia" name="secuencia"
                                     [(ngModel)]="menus.secuencia"
                                     #orden="ngModel"
                                     required/>
                              <div class="ui-message ui-messages-error ui-corner-all"
                                   *ngIf="f.submitted && !orden.valid">
                                 Secuencia es requerido
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group">
                        <label for="indicador" class="control-label col-sm-3">{{ 'LBL_HABILITADO' | translate }}</label>
                        <div class=" col-sm-9">
                           <p-checkbox binary="true" id="indicador" name="indicador"
                                       [(ngModel)]="menus.indicadorHabilitado"
                                       #indicador="ngModel"></p-checkbox>
                        </div>
                     </div>
                  </div>
                  <div class="row form-footer-buttons">
                     <div class="form-group col-md-12">
                        <a (click)="displayDialog=true" class="cancelar">{{ 'BTN_CANCELAR' | translate }}</a>
                        <button pButton type="submit" formaction="" label="{{ 'BTN_GUARDAR' | translate }}"></button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </p-fieldset>
      <p-dialog header="Confirmación" [(visible)]="displayDialog"
                responsive="true" modal="true">
         <p>{{ 'MSG_CONFIRMACION' | translate }}</p>
         <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
               <button type="button" pButton icon="fa-close" (click)="displayDialog=false" label="No"></button>
               <button type="button" pButton icon="fa-check" (click)="doCancel()" label="Si"></button>
            </div>
         </p-footer>
      </p-dialog>
   </div>
</div>
<p-growl [value]="msgs"></p-growl>
