<!DOCTYPE html>
<html lang="es">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  <title><%= APP_TITLE %></title>

  <meta name="description" content="">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
  <meta name="viewport" content="width=device-width"/>

  <link rel="icon" href="assets/favicon/favicon-<%= ENV_CONFIG.ENV %>.ico" type="image/x-icon">



  <!-- inject:css -->
  <!-- endinject -->






</head>
<body class="hold-transition sidebar-collapse sidebar-mini">

<sd-app>
	<div class="flex-fix">
		<div class="flex-parent">
			<div class="flex-child">
				<div class="loading-spinner"></div>
				<div class="loading-logo"></div>
			</div>
		</div>
	</div>
</sd-app>

<script>
  // Fixes undefined module function in SystemJS bundle
  function module() {
  }
</script>

<!-- shims:js -->
<!-- endinject -->

<% if (BUILD_TYPE === 'dev') { %>
<script src="<%= APP_BASE %>app/system-config.js"></script>
<% } %>

<!-- libs:js -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGbuJ1E0iLIzoLzWwlSHqUlkqbDNpvQuA"></script>

<% if (BUILD_TYPE === 'dev') { %>
<script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e.stack || e,
        'Not expecting this error? Report it at https://github.com/mgechev/angular-seed/issues');
    });
</script>
<% } %>
</body>
</html>
