<h3>{{ 'CENTROSDECOSTOS.LBL_CENTROCOSTOS' | translate }}</h3>
<div class="col-sm-6 col-sm-offset-3">
    <h2 class="text-center">{{ 'CENTROSDECOSTOS.LBL_EDITACENTROCOSTOS' | translate }}</h2>
    <form class="form-horizontal" #f="ngForm" (ngSubmit)="!codeExists&&f.form.valid&&createGruposGestion()" novalidate
          (keydown.enter)="$event.preventDefault()">
        <div class="form-group">
            <label for="codigoCentroCostos" class="control-label col-sm-3">Código </label>
            <div class=" col-sm-9">
                <p id="codigoCentroCostos">{{centroCostos.codigoCentroCostos}}</p>
            </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !cCostos.valid }">
            <label for="cCostos" class="control-label col-sm-3">{{ 'LBL_NOMBRE' | translate }} </label>
            <div class=" col-sm-9">
                <input type="text" pInputText class="form-control" id="cCostos" name="cCostos" #cCostos="ngModel"
                       [(ngModel)]="centroCostos.centroCostos" required maxlength="60" pattern="[A-Z]{1}.*"
                       (keyup)="capitalize()"
                >
                <div *ngIf="f.submitted&&!cCostos.valid" class="alert alert-danger">
                    <div [hidden]="!cCostos.errors.required">{{ 'CENTROSDECOSTOS.MSG_INGRESACODIGO' | translate }}</div>
                    <div [hidden]="!cCostos.errors.maxlength">{{ 'CENTROSDECOSTOS.MSG_NOM60CARACT' | translate }}</div>
                    <div [hidden]="!cCostos.errors.pattern">{{ 'CENTROSDECOSTOS.MSG_NOMBMAYUSCULA' | translate }}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="indicador" class="control-label col-sm-3">{{ 'LBL_HABILITADO' | translate }}</label>
            <div class=" col-sm-9">
                <p-checkbox [(ngModel)]="centroCostos.indicadorHabilitado" binary="true" id="indicador" name="indicador"
                            #indicador="ngModel"></p-checkbox>
            </div>
        </div>
        <div class="row form-footer-buttons">
            <div class="col-md-10">
            <a (click)="displayDialog=true" class="cancelar">{{ 'BTN_CANCELAR' | translate }}</a>
            <button type="submit" pButton label="{{ 'BTN_ACTUALIZAR' | translate }}" #submit
                    (keydown.enter)="submit.click()"></button>
        </div>
        </div>
    </form>
    <p-dialog header="{{ 'LBL_CONFIRMACION' | translate }}" [(visible)]="displayDialog"
              responsive="true" modal="true">
        <p>{{ 'CENTROSDECOSTOS.MSG_CONFIRMACIONSALIR' | translate }}</p>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="displayDialog=false" label="{{ 'BTN_NO' | translate }}"></button>
                <button type="button" pButton icon="fa-check" (click)="goBack()" label="{{ 'BTN_SI' | translate }}"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>
