<p-messages [value]="msgs"></p-messages>
<p-confirmDialog width="400" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="{{'BTN_NO' | translate }}" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa-check" label="{{'BTN_SI' | translate }}" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
<div class="col-md-10 col-md-offset-1">

<div *ngIf="experience">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <h4 class="title">{{header}}</h4>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <form id="formulario" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="empresa">* {{'EMPLOYEES.LBL_EMPRESA' | translate }}</label>
                            <input id="empresa" type="text" pInputText name="empresa" maxlength="100"
                                   [(ngModel)]="experience.empresa" #empresa="ngModel"
                                   required/>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="f.submitted && !empresa.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_EMPRESA' | translate }} {{'LBL_REQUERIDO' | translate }}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="telefonoEmpresa">* {{'LBL_TELEFONO' | translate }} {{'EMPLOYEES.LBL_EMPRESA' | translate }}</label>
	                        <p-inputMask id="telefonoEmpresa" name="telefonoEmpresa"
	                                     mask="?(999) 999-9999 Ext 9999" placeholder="(999) 999-9999 Ext 99999"  #telefonoEmpresa="ngModel"
	                                     required   [(ngModel)]="experience.telefonoEmpresa"
	                                     type="text"
	                        ></p-inputMask>
                          <div class="ui-message ui-messages-error ui-corner-all"
                               *ngIf="f.submitted && !telefonoEmpresa.valid">
                            <i class="fa fa-close"></i>
                            {{'LBL_TELEFONO' | translate }} {{'EMPLOYEES.LBL_EMPRESA' | translate }} {{'LBL_REQUERIDO' | translate }}
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="sectorEmpresa">* {{'EMPLOYEES.LBL_SECTOR' | translate }} {{'EMPLOYEES.LBL_EMPRESA' | translate
	                            }}</label>
                            <p-dropdown name="sectorEmpresa" id="sectorEmpresa"  required="true" [autoWidth]="false"
                                        [(ngModel)]="experience.idSectorEmpresa" filter="filter"
                                        [options]="sector" #sectorEmpresa="ngModel"
                                        (onChange)="updateActivities($event.value)"
                            ></p-dropdown>
                            <div class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="f.submitted && !sectorEmpresa.valid">
                                <i class="fa fa-close"></i>
                                {{'EMPLOYEES.LBL_SECTOR' | translate }} {{'EMPLOYEES.LBL_EMPRESA' | translate }} {{'LBL_REQUERIDO' | translate }}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="subsectorEmpresa">* {{'EMPLOYEES.LBL_ACTIVIDADECONOMICA' | translate }}</label>
                            <p-dropdown name="subSectorEmpresa" id="subSectorEmpresa" [autoWidth]="false" required="true"
                                        [(ngModel)]="experience.idSubSectorEmpresa" filter="filter"
                                        [options]="activities" #subSectorEmpresa="ngModel"
                            ></p-dropdown>
                            <div  class="ui-message ui-messages-error ui-corner-all"
                                  *ngIf="f.submitted && !subSectorEmpresa.valid">
                                <i class="fa fa-close"></i>
                                {{'EMPLOYEES.LBL_ACTIVIDADECONOMICA' | translate }} {{'LBL_REQUERIDO' | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="cargo">* {{'EMPLOYEES.LBL_CARGO' | translate }}</label>
                            <input id="cargo" type="text" pInputText name="cargo" maxlength="100"
                                   [(ngModel)]="experience.cargo" #cargo="ngModel"
                                   required/>
                            <div  class="ui-message ui-messages-error ui-corner-all"
                                  *ngIf="f.submitted && !cargo.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_CARGO' | translate }} {{'LBL_REQUERIDO' | translate }}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nivelCargo">* {{'EMPLOYEES.LBL_NIVELCARGO' | translate }}</label>
                            <p-dropdown name="nivelCargo" id="nivelCargo" [autoWidth]="false" required="true"
                                        [(ngModel)]="experience.idNivelCargo"
                                        [options]="officeLevel" #nivelCargo="ngModel"
                            ></p-dropdown>
                            <div  class="ui-message ui-messages-error ui-corner-all"
                                  *ngIf="f.submitted && !nivelCargo.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_NIVELCARGO' | translate }} {{'LBL_REQUERIDO' | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="areaCargo">* {{'EMPLOYEES.LBL_AREACARGO' | translate }}</label>
                            <input id="areaCargo" type="text" pInputText name="areaCargo"
                                   [(ngModel)]="experience.areaCargo" #areaCargo="ngModel" maxlength="100"
                                   required/>
                            <div  class="ui-message ui-messages-error ui-corner-all"
                                  *ngIf="f.submitted && !areaCargo.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_AREACARGO' | translate }} {{'LBL_REQUERIDO' | translate }}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="jefeInmediato">* {{'EMPLOYEES.LBL_JEFEINMEDIATO' | translate }}</label>
                            <input id="jefeInmediato" type="text" pInputText name="jefeInmediato"
                                   [(ngModel)]="experience.jefeInmediato" #jefeInmediato="ngModel" maxlength="100"
                                   required/>
                            <div  class="ui-message ui-messages-error ui-corner-all"
                                  *ngIf="f.submitted && !jefeInmediato.valid">
                              <i class="fa fa-close"></i>
                              {{'EMPLOYEES.LBL_JEFEINMEDIATO' | translate }} {{'LBL_REQUERIDO' | translate }}
                            </div>
                          </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="ciudad">* {{'LBL_CIUDAD' | translate }}</label>
                        <p-autoComplete placeholder="Buscar Ciudad " field="camino" name="ciudad" id="ciudad" #ciudad="ngModel" required="true"
                                        [(ngModel)]="city"
                                        [suggestions]="cityList"
                                        (completeMethod)="searchCity($event)"
                                        (onSelect)="captureCity($event)">
                        </p-autoComplete>
                        <div  class="ui-message ui-messages-error ui-corner-all"
                              *ngIf="f.submitted && !ciudad.valid">
                          <i class="fa fa-close"></i>
                          {{'LBL_CIUDAD' | translate }} {{'LBL_REQUERIDO' | translate }}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                          <label for="ingreso">* {{'EMPLOYEES.LBL_INGRESO' | translate }}</label>
                          <p-calendar id="ingreso" name="ingreso" #ingreso="ngModel" dateFormat="yy'-'mm'-'dd"
                                      (onSelect)="onSelectMethodCalendarIngreso($event)" [showIcon]="true"
                                      [maxDate]="maxDateIngreso" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="range"
                                      [locale]="es" readonlyInput="true" dataType="date" required="true"
                                      [(ngModel)]="experience.fechaIngresa">
                          </p-calendar>
                          <div  class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="f.submitted && !ingreso.valid">
                            <i class="fa fa-close"></i>
                            {{'EMPLOYEES.LBL_INGRESO' | translate }} {{'LBL_REQUERIDO' | translate }}
                          </div>
                        </div>
                        <div class="form-group col-md-2">
                          <label for="actualmente">{{'EMPLOYEES.LBL_ACTUALMENTE' | translate }}</label>
                          <p-toggleButton id="actualmente" name="actualmente" onLabel="Si" offLabel="No" #actualmente="ngModel"
                                          onIcon="fa-check-square" offIcon="fa-square"
                                          [(ngModel)]="experience.indicadorActualmente">
                          </p-toggleButton>
                        </div>
                        <div class="form-group col-md-5" *ngIf="!experience.indicadorActualmente">
                          <label for="finalizacion">* {{'EMPLOYEES.LBL_FINALIZACION' | translate }}</label>
                          <p-calendar id="finalizacion" name="finalizacion" #finalizacion="ngModel" dateFormat="yy'-'mm'-'dd"
                                      (onSelect)="onSelectMethodCalendarFinalizacion($event)" [showIcon]="true" required="true"
                                      [minDate]="minDate" [maxDate]="maxDateFinal" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="range"
                                      [locale]="es"  readonlyInput="true" dataType="date"
                                      [(ngModel)]="experience.fechaTermina">
                          </p-calendar>
                          <div  class="ui-message ui-messages-error ui-corner-all"
                                *ngIf="f.submitted && !finalizacion.valid">
                            <i class="fa fa-close"></i>
                            {{'EMPLOYEES.LBL_FINALIZACION' | translate }} {{'LBL_REQUERIDO' | translate }}
                          </div>
                      </div>

                    </div>

						 <div class="row">

							 <div class="form-group col-md-6">
								 <label >{{'LBL_ADJUNTAR' | translate}} </label>


								 <div *ngIf="((experience.idAdjunto != null))" class="btn-group" role="group" style="display: block;">
									 <a class="btn btn-default" style="max-width: 87%; overflow: hidden;" (click)="downloadFile(experience.idAdjunto)">
										 <i class="fa fa-file-o" aria-hidden="true"></i>
										 {{dataUploadArchivo}}
									 </a>
									 <a class="btn btn-danger" (click)="uploadAgain(false)">
										 <i class="fa fa-times" aria-hidden="true"></i>
									 </a>
								 </div>

								 <p-fileUpload  *ngIf="((experience.idAdjunto == null))" name="file" url="{{svcThUrl}}" auto="true"
								                class="upload-avatar"
													 chooseLabel="{{'LBL_ADJUNTAR' | translate}}"
													 (onBeforeSend) = "onBeforeSend($event)"
													 (onSelect) = "onSelect($event, $event.files)"
													 (onUpload) = "uploadingOk($event)"
								                maxFileSize="{{fsize}}" accept="{{ftype}}"
								 >
								 </p-fileUpload>
							 </div>

						 </div>
                    <!--<div class="row">
                        <div class="form-group col-md-5">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="indicador" class="control-label col-sm-3">Habilitado</label>
                          <div class=" col-sm-9">
                            <p-checkbox binary="true" id="indicador" name="indicador"
                                        [(ngModel)]="experience.indicadorHabilitado"
                                        #indicador="ngModel"></p-checkbox>
                          </div>
                        </div>
                    </div>-->
                </div>
              <div class="row form-footer-buttons">
                <div class="form-group col-md-12">
                    <a (click)="goBack((f.dirty === true))" class="cancelar">{{'BTN_CANCELAR' | translate }}</a>
                  <button pButton type="submit" label="{{'BTN_GUARDAR' | translate }}"></button>
                </div>
              </div>
            </form>
      </div>

    </div>

</div>
</div>