<div>
    <div class="row datable-header">
        <div class="col-md-6 col-xs-12 datatable-header-add">
	        <button type="button" pButton icon="fa-plus" (click)="add()" label="Nueva Experiencia"
	                *ngIf="seccion.NUEVO ? seccion.NUEVO.visible : true"
	        ></button>
        </div>
        <div class="col-md-6 col-xs-12 datatable-header-search" >
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input #gb type="text" pInputText size="30" placeholder="{{'LBL_BUSCAR' | translate }}" class="form-control">
          </div>
        </div>
    </div>
    <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}"  [value]="experiences" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
        <p-column field="empresa" header="{{'EMPLOYEES.LBL_EMPRESA' | translate }}" [sortable]="true"></p-column>
        <p-column field="cargo" header="{{'EMPLOYEES.LBL_CARGO' | translate }}" [sortable]="true"></p-column>
        <p-column field="fechaTermina" header="{{'EMPLOYEES.LBL_FINALIZACION' | translate }}" [sortable]="true"></p-column>
        <p-column field="ciudad" header="{{'LBL_CIUDAD' | translate }}" [sortable]="true"></p-column>
        <p-column header="{{'LBL_ACCIONES' | translate }}" styleClass="datatable-col-action">
            <template let-experience="rowData" pTemplate="body">
                <div class="btn-group" role="group">
	                <button type="button" class="ui-button btn" icon="fa-eye" data-toggle="tooltip" title="{{'BTN_VISUALIZAR' | translate}}"
	                        pButton (click)="detail(experience)"
	                        *ngIf="seccion.visible ? seccion.visible : true"
	                ></button>
	                <button type="button" class="ui-button ui-button-success btn" icon="fa-pencil" data-toggle="tooltip"
	                        title="{{'BTN_EDITAR' | translate}}"
	                        pButton (click)="update(experience)"
	                        *ngIf="seccion.EDITAR ? seccion.EDITAR.visible : true"
	                ></button>
	                <button type="button" class="ui-button ui-button-danger btn" icon="fa-trash" data-toggle="tooltip"
	                        title="{{'BTN_INACTIVAR' | translate}}"
	                        pButton (click)="delete(experience)"
	                        *ngIf="seccion.ELIMINAR ? seccion.ELIMINAR.visible : true"
	                ></button>
                </div>
            </template>
        </p-column>
    </p-dataTable>
</div>
<p-confirmDialog width="400" #cd>
	<p-footer>
		<button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
		<button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
	</p-footer>
</p-confirmDialog>
