<div *ngIf="experience">
    <div class="row">
        <div class="col-md-12">
            <h3 class="first">Experiencia laboral</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">


            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">

                        <label class="col-md-3 control-label">Empresa:</label>
                        <label class="col-md-3 "><strong>{{experience.empresa}}</strong></label>

                        <label class="col-md-3 control-label">Teléfono Empresa:</label>
                        <label class="col-md-3 "><strong>{{experience.telefonoEmpresa}}</strong></label>

                        <label class="col-md-3 control-label">Sector Empresa:</label>
                        <label class="col-md-3 "><strong>{{experience.sectorEmpresa}}</strong></label>

                        <label class="col-md-3 control-label">Sub Sector Empresa:</label>
                        <label class="col-md-3 "><strong>{{experience.subsectorEmpresa}}</strong></label>

                        <label class="col-md-3 control-label">Cargo:</label>
                        <label class="col-md-3 "><strong>{{experience.cargo}}</strong></label>

                        <label class="col-md-3 control-label">Nivel Cargo:</label>
                        <label class="col-md-3 "><strong>{{experience.nivelCargo}}</strong></label>

                        <label class="col-md-3 control-label">Area Cargo:</label>
                        <label class="col-md-3 "><strong>{{experience.areaCargo}}</strong></label>

                        <label class="col-md-3 control-label">Jefe Inmediato:</label>
                        <label class="col-md-3 "><strong>{{experience.jefeInmediato}}</strong></label>

                        <label class="col-md-3 control-label">Ciudad:</label>
                        <label class="col-md-3 "><strong>{{experience.ciudad}}</strong></label>

                        <label class="col-md-3 control-label">Ingreso:</label>
                        <label class="col-md-3 "><strong>{{experience.ingreso}}</strong></label>

                        <label class="col-md-3 control-label">Finalizacion:</label>
                        <label class="col-md-3 "><strong>{{experience.finalizacion}}</strong></label>

                        <label class="col-md-3 control-label">Tiempo Experiencia:</label>
                        <label class="col-md-3 "><strong>{{experience.tiempoExperiencia}}</strong></label>

                        <label class="col-md-3 control-label">Actualmente:</label>
                        <label class="col-md-3 "><strong>{{experience.actualmente}}</strong></label>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>
    <div class="row form-footer-buttons">
    <div class="form-group col-md-12">
        <a (click)="goBack()" class="btn btn-primary"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
    </div>
</div>

