
<div *ngIf="experience">


    <div class="row">
        <div class="col-md-10 col-md-offset-1">
			  <p-panel header="{{'EMPLOYEES.LBL_EXPERIENCIALABORAL' | translate }}">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-md-2 col-sm-6 col-xs-10 control-label"> {{'EMPLOYEES.LBL_EMPRESA' | translate }} :</label>
                        <label class="col-md-4 col-sm-6 col-xs-10 "><strong>{{experience.empresa}}</strong></label>

                        <label class="col-md-2 col-sm-6 col-xs-10 control-label"> {{'LBL_TELEFONO' | translate }} {{'EMPLOYEES.LBL_EMPRESA' | translate }}:</label>
                        <label class="col-md-4 col-sm-6 col-xs-10 "><strong>{{experience.telefonoEmpresa}}</strong></label>
                      </div>

                      <div class="row">
                        <label class="col-md-2 col-sm-6 col-xs-10 control-label">{{'EMPLOYEES.LBL_SECTOR' | translate }} {{'EMPLOYEES.LBL_EMPRESA' | translate }}:</label>
                        <label class="col-md-4 col-sm-6 col-xs-10 "><strong>{{experience.sectorEmpresa}}</strong></label>

                        <label class="col-md-2 col-sm-6 col-xs-10 control-label">{{'EMPLOYEES.LBL_ACTIVIDADECONOMICA' | translate }}:</label>
                        <label class="col-md-4 col-sm-6 col-xs-10 "><strong>{{experience.subSectorEmpresa}}</strong></label>
                      </div>

                      <div class="row">
                        <label class="col-md-2 col-sm-6 col-xs-10 control-label">{{'EMPLOYEES.LBL_CARGO' | translate }}:</label>
                        <label class="col-md-4 col-sm-6 col-xs-10 "><strong>{{experience.cargo}}</strong></label>

                        <label class="col-md-2 col-sm-6 col-xs-10 control-label">{{'EMPLOYEES.LBL_NIVELCARGO' | translate }}:</label>
                        <label class="col-md-4 col-sm-6 col-xs-10 "><strong>{{experience.nivelCargo}}</strong></label>
                      </div>

                      <div class="row">
                        <label class="col-md-2 col-sm-6 col-xs-10 control-label">{{'EMPLOYEES.LBL_AREACARGO' | translate }}:</label>
                        <label class="col-md-4 col-sm-6 col-xs-10 "><strong>{{experience.areaCargo}}</strong></label>

                        <label class="col-md-2 col-sm-6 col-xs-10 control-label">{{'EMPLOYEES.LBL_JEFEINMEDIATO' | translate }}:</label>
                        <label class="col-md-4 col-sm-6 col-xs-10 "><strong>{{experience.jefeInmediato}}</strong></label>
                      </div>

                      <div class="row">
                        <label class="col-md-2 col-sm-6 col-xs-10 control-label">{{'LBL_CIUDAD' | translate }}:</label>
                        <label class="col-md-4 col-sm-6 col-xs-10 "><strong>{{experience.ciudad}}</strong></label>

                      </div>
                      <div class="row">
                        <label class="col-md-2 col-sm-6 col-xs-10 control-label">{{'EMPLOYEES.LBL_INGRESO' | translate }}:</label>
                        <label class="col-md-4 col-sm-6 col-xs-10 "><strong>{{experience.fechaIngresa}}</strong></label>
                        <div *ngIf="experience.indicadorActualmente">
                          <label class="col-md-2 col-sm-6 col-xs-10 control-label" >{{'EMPLOYEES.LBL_ACTUALMENTE' | translate }}:</label>
                          <label class="col-md-4 col-sm-6 col-xs-10 "><strong>{{experience.indicadorActualmente === true ? 'Si' : 'No'}}</strong></label>
                        </div>
                        <div *ngIf="!experience.indicadorActualmente">
                            <label class="col-md-2 col-sm-6 col-xs-10 control-label">{{'EMPLOYEES.LBL_FINALIZACION' | translate }}:</label>
                            <label class="col-md-4 col-sm-6 col-xs-10 "><strong>{{experience.fechaTermina}}</strong></label>
                        </div>
                      </div>

                      <div class="row">

                        <label class="col-md-2 col-sm-6 col-xs-10 control-label">{{'EMPLOYEES.LBL_TIEMPOEXPERIENCIA' | translate }}:</label>
                        <label class="col-md-4 col-sm-6 col-xs-10 "><strong>{{experience.tiempoExperiencia}}</strong></label>
                      </div>

                    </div>
                </fieldset>
					<div class="row form-footer-buttons">
						<div class="form-group col-md-12">
							<button icon="fa-arrow-left" label="{{'BTN_REGRESAR' | translate }}" type="button"
									  pButton (click)="goBack()"></button>
						</div>
					</div>
            </form>
			  </p-panel>
        </div>
    </div>
</div>
