<h3 class="first">Experiencia laboral</h3>
<div>
    <div class="row datable-header">
        <div class="col-md-6 col-xs-12 datatable-header-add">
            <button type="button" pButton icon="fa-plus" (click)="add()" label="Nueva Experiencia"></button>
        </div>
        <div class="col-md-6 col-xs-12 datatable-header-search" >
            <i class="fa fa-search"></i>
            <input #gb type="text" pInputText size="40" placeholder="Buscar...">
        </div>
    </div>
    <p-dataTable [value]="experiences" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
        <p-column field="empresa" header="Título Obtenido" [sortable]="true"></p-column>
        <p-column field="cargo" header="Ingreso " [sortable]="true"></p-column>
        <p-column field="finalizacion" header="Finalización" [sortable]="true"></p-column>
        <p-column field="ciudad" header="Ciudad" [sortable]="true"></p-column>
        <p-column header="Acciones" styleClass="datatable-col-action">
            <template let-experience="rowData" pTemplate="body">
                <div class="btn-group" role="group">
                    <button type="button"  class="ui-button btn" icon="fa-eye"
                            pButton (click)="detail(experience)"></button>
                    <button type="button"  class="ui-button ui-button-success btn" icon="fa-pencil"
                            pButton (click)="update(experience)"></button>
                    <button type="button"  class="ui-button ui-button-danger btn" icon="fa-trash"
                            pButton (click)="delete(experience)" ></button>
                </div>
            </template>
        </p-column>
    </p-dataTable>
</div>