
<p-messages [value]="msgs"></p-messages>
<p-confirmDialog width="400" #cd>
   <p-footer>
      <button type="button" pButton icon="fa-close" label="{{ 'BTN_NO' | translate }}" (click)="cd.reject()"></button>
      <button type="button" pButton icon="fa-check" label="{{ 'BTN_SI' | translate }}" (click)="cd.accept()"></button>
   </p-footer>
</p-confirmDialog>
<div *ngIf="employee">
   <div id="#profile" class="row">
      <div class="col-md-offset-3 col-md-6">
         <div class="header">
            <h3 class="title">{{"USER_SESSION.LBL_USUARIO" | translate}}</h3>
         </div>
         <div class="clearfix card-header">
            <div class="col-md-5">
					<div class="thumbnail img-responsive">
							<img src="{{svcThUrl}}/file/{{image}}" alt="...">
					</div>
					<p-fileUpload name="file" url="{{svcThUrl}}" auto="true" class="upload-avatar"
									  chooseLabel="{{'USER_SESSION.LBL_NUEVOAVATAR' | translate}}"
									  (onBeforeSend)="onBeforeSend($event)"
									  (onUpload)="onUpload($event)" accept="image/*"
					></p-fileUpload>
				</div>
            <div class="col-md-7">
               <h2>{{employee.nombreCompleto}}</h2>
					<h4>{{employee.tipoDocumento}} : {{employee.numeroDocumento}}</h4>
               <span>{{employee.fechaNacimiento}}  ({{employee.edad}})</span><br/>
					<div *ngIf="!ldap">
	               <div *ngIf="user">
	                  <div class="header" style=" margin-top: 40px;">
	                     <h4 class="title" style="border-bottom: 1px solid #ccc;padding-bottom: 8px;">
	                        {{"USER_SESSION.LBL_CAMBIOCONTRASENA" | translate}}
	                     </h4>
	                  </div>
	               </div>
	               <form #f="ngForm" (ngSubmit)="f.valid && onSubmit()" novalidate>
								<div class="form-group">
									<label for="pass_actual" class="control-label">{{"USER_SESSION.LBL_CONTRASENAACTUAL" | translate}}</label>
									<div class="input-group">
                           <input [type]="showOldPass" pInputText id="pass_actual" name="pass_actual"
                                  class="form-control" [(ngModel)]="oldPass" #pass_actual="ngModel" required/>
                           <span class="input-group-btn">
                              <button type="button"
                                      (click)="show()"
                                      class="btn btn-default"
                              > <i class="fa {{eye}}"></i>
                              </button>
                           </span>
									</div>
                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all"
                             *ngIf="f.submitted && !pass_actual.valid">
                           <i class="fa fa-close"></i>
                           {{"USER_SESSION.LBL_CONTRASENAACTUALREQUERIDA" | translate}}
                        </div>
						<div class="form-group">
                     <label for="pass_nueva" class="control-label">{{"USER_SESSION.LBL_NUEVACONTRASENA" | translate}}</label>

                        <input [type]="showPass" pInputText id="pass_nueva" name="pass_nueva" class="form-control"
                               [(ngModel)]="newPass" #pass_nueva="ngModel" required/>
                        <div class="ui-message ui-messages-error ui-corner-all"
                             *ngIf="f.submitted && !pass_nueva.valid">
                           <i class="fa fa-close"></i>
                           {{"USER_SESSION.LBL_CONTRASENANUEVAREQUERIDA" | translate}}
                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all"
                             *ngIf="f.submitted && newPass == oldPass">
                           <i class="fa fa-close"></i>
                           {{"USER_SESSION.LBL_NUEVADIFERENTEALAACTUAL" | translate}}
                        </div>
						</div>
						<div class="form-group">
                     <label for="pass_nueva2" class="control-label">{{"USER_SESSION.LBL_REPETIRCONTRASENA" | translate}}</label>

                        <input [type]="showConfim" pInputText id="pass_nueva2" name="pass_nueva" class="form-control"
                               [(ngModel)]="newPassConfirm" #pass_nueva2="ngModel" required/>
                        <div class="ui-message ui-messages-error ui-corner-all"
                             *ngIf="f.submitted && !pass_nueva2.valid">
                           <i class="fa fa-close"></i>
                           {{"USER_SESSION.LBL_CONTRASENANUEVAREQUERIDA" | translate}}
                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all"
                             *ngIf="f.submitted && newPassConfirm != newPass && newPass != null && newPass != ''">
                           <i class="fa fa-close"></i>
                           {{"USER_SESSION.LBL_DEBECOINCIDIRCONTRASENA" | translate}}
                        </div>
						</div>
                  <div class="form-footer-buttons">
                     <a (click)="goBack()" class="cancelar">{{"BTN_VOLVER" | translate}}</a>
                     <button type="submit" pButton icon="fa-plus" label="{{'BTN_GUARDAR' | translate}}"
                             (keydown.enter)="submit.click()" #submit></button>
                  </div>
               </form>
					</div>
            </div>


            </div>
         </div>


      </div>
   </div>
