
<p-messages [value]="msgs"></p-messages>
<p-confirmDialog width="400" #cd>
   <p-footer>
      <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
   </p-footer>
</p-confirmDialog>
<div *ngIf="employee">
   <div id="#profile" class="row">
      <div class="col-md-offset-3 col-md-6">
         <div class="header">
            <h4 class="title">{{"USER_SESSION.LBL_USUARIO" | translate:param}}</h4>
         </div>
         <div class="clearfix card-header">
            <div class="col-md-4">
               <img class="img-circle img-responsive user-avatar" src="assets/images/user-160x160.jpg">

            </div>
            <div class="col-md-8">
               <h4>{{employee.nombreCompleto}} - {{employee.fechaNacimiento}}</h4>
               <span>{{employee.tipoDocumento}} : {{employee.numeroDocumento}}</span><br/>
               <p-fileUpload name="myfile[]" url="http://localhost:3000/upload" auto="true"
                             chooseLabel="{{'USER_SESSION.LBL_NUEVOAVATAR' | translate:param}}"></p-fileUpload>


               <div *ngIf="user">
                  <div class="header" style=" margin-top: 40px;">
                     <h4 class="title" style="border-bottom: 1px solid #ccc;padding-bottom: 8px;">
                        {{"USER_SESSION.LBL_CAMBIOCONTRASENA" | translate:param}}
                     </h4>
                  </div>
               </div>
               <form class="form-horizontal" #f="ngForm" (ngSubmit)="f.valid && onSubmit()" novalidate>
                  <div class="row">
                     <label for="pass_actual" class="control-label col-sm-4">{{"USER_SESSION.LBL_CONTRASENAACTUAL" | translate:param}}</label>
                     <div class=" col-sm-8">
                        <input type="text" pInputText id="pass_actual" name="pass_actual" class="form-control"
                               [(ngModel)]="oldPass" #pass_actual="ngModel" required/>
                        <div class="ui-message ui-messages-error ui-corner-all"
                             *ngIf="f.submitted && !pass_actual.valid">
                           <i class="fa fa-close"></i>
                           {{"USER_SESSION.LBL_CONTRASENAACTUALREQUERIDA" | translate:param}}
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <label for="pass_nueva" class="control-label col-sm-4">{{"USER_SESSION.LBL_NUEVACONTRASENA" | translate:param}}</label>
                     <div class=" col-sm-8">
                        <input type="text" pInputText id="pass_nueva" name="pass_nueva" class="form-control"
                               [(ngModel)]="newPass" #pass_nueva="ngModel" required/>
                        <div class="ui-message ui-messages-error ui-corner-all"
                             *ngIf="f.submitted && !pass_nueva.valid">
                           <i class="fa fa-close"></i>
                           {{"USER_SESSION.LBL_CONTRASENANUEVAREQUERIDA" | translate:param}}
                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all"
                             *ngIf="f.submitted && newPass == oldPass">
                           <i class="fa fa-close"></i>
                           Contraseña nueva debe ser diferente de la Actual
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <label for="pass_nueva2" class="control-label col-sm-4">{{"USER_SESSION.LBL_REPETIRCONTRASENA" | translate:param}}</label>
                     <div class=" col-sm-8">
                        <input type="text" pInputText id="pass_nueva2" name="pass_nueva" class="form-control"
                               [(ngModel)]="newPassConfirm" #pass_nueva2="ngModel" required/>
                        <div class="ui-message ui-messages-error ui-corner-all"
                             *ngIf="f.submitted && !pass_nueva2.valid">
                           <i class="fa fa-close"></i>
                           {{"USER_SESSION.LBL_CONTRASENANUEVAREQUERIDA" | translate:param}}
                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all"
                             *ngIf="f.submitted && newPassConfirm != newPass && newPass != null && newPass != ''">
                           <i class="fa fa-close"></i>
                           Debe coincidir con la Contraseña nueva
                        </div>
                     </div>
                  </div>
                  <div class="form-footer-buttons">
                     <a (click)="displayDialog=true" class="cancelar">{{"BTN_CANCELAR" | translate:param}}</a>
                     <button type="submit" pButton icon="fa-plus" label="{{'BTN_CANCELAR' | translate:param}}"
                             (keydown.enter)="submit.click()" #submit></button>
                  </div>

               </form>
            </div>


            </div>
         </div>
         

      </div>
   </div>

