<h3>{{ 'USUARIOS.LBL_USUARIOS' | translate }}</h3>
<p-tabView>
    <p-tabPanel header="{{ 'USUARIOS.LBL_DATOSUSER' | translate }}">
        <p-panel header="{{ 'USUARIOS.LBL_DATOSTERCERO' | translate }}" *ngIf="isTerceroSet">
				<fieldset>
            <div class="col-md-3">
                <div class="ui-grid-col-10">
                    <img class="thumbnail img-responsive"
                         src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg ">
                </div>
            </div>

            <div class="col-md-9">
                <div class="ui-grid-col-6">
                    <p>{{tercero.primerNombre}} {{tercero.segundoNombre}} {{tercero.primerApellido}}
                        {{tercero.segundoApellido}}</p>
                    <p>{{tercero.numeroDocumento}}</p>
                </div>
                <div class="ui-grid-col-6">
                    <p></p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="ui-grid-col-4">
                    <label>{{ 'LBL_GENERO' | translate }} :</label>
                    <p>{{tercero.genero}}</p>
                    <label>{{ 'LBL_CIUDAD' | translate }} :</label>
                    <p>{{tercero.ciudadNacimiento}}</p>
                </div>
                <div class="ui-grid-col-4">
                    <label>{{ 'LBL_ESTADOCIVIL' | translate }}:</label>
                    <p>{{tercero.estadoCivil}}</p>
                    <label>{{ 'EMPLOYEES.LBL_DIRECCIONRESIDENCIA' | translate }}:</label>
	                  <div>
		                  <ul>
			                  <li *ngFor="let l of locations">{{l.direccion}}</li>
		                  </ul>
	                  </div>
                    <p></p>
                </div>
                <div class="ui-grid-col-4">
                    <label>{{ 'LBL_EPS' | translate }} :</label>
                    <p><i>pendiente diligenciar</i></p>
                    <label>{{ 'LBL_TELEFONO' | translate }} :</label>
                    <p>{{tercero.telefonoFijo}}</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="pull-right">
                    <label> {{ 'USUARIOS.LBL_EDITAINFOTERCERO' | translate }} </label>
                    <button pButton type="button" icon="glyphicon-pencil" (click)="editEmployee(tercero.idTercero)" iconPos="right"
                            label="{{ 'BTN_EDITAR' | translate }}"></button>
                </div>
            </div>
				</fieldset>
        </p-panel>

        <p-panel header="{{ 'USUARIOS.LBL_INFOCONTACTO' | translate }}" *ngIf="isTerceroSet">
			  <fieldset>
            <form class="form-horizontal" #fu="ngForm" novalidate (ngSubmit)="!sameUser&&fu.form.valid && displayUpdate()"
                  novalidate autocomplete="off">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="uSistema" class="control-label col-sm-4">{{ 'USUARIOS.LBL_USUARIOSISTEMA' | translate }}</label>
                        <div class="col-sm-8">
                            <input name="uSistema" id="uSistema" type="text" pInputText #uSistema="ngModel"
                                   [(ngModel)]="usuario.usuarioSistema" required maxlength="80"
                                   pattern="([0-9]+|([a-z0-9ñ]+([-._/]{1}[a-z0-9ñ]+))?)"
                                   (keyup)="userCleanUp($event.target.value);validateCreationUser();"/>
                            <div *ngIf="sameUser" class="alert alert-danger">{{ 'USUARIOS.MSG_USUARIOEXISTE' | translate }}
                            </div>
                            <div *ngIf="fu.submitted&&!uSistema.valid" class="alert alert-danger">
                                <div [hidden]="!uSistema.errors.required">{{ 'USUARIOS.MSG_VALORUSUARIO' | translate }}
                                </div>
                                <div [hidden]="!uSistema.errors.pattern">{{ 'USUARIOS.MSG_NOMCARACT' | translate }}
                                </div>
                                <div [hidden]="!uSistema.errors.maxlength">{{ 'USUARIOS.MSG_USER80CARACT' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email" class="control-label col-sm-4">{{ 'USUARIOS.LBL_CORREOELECTRONICO' | translate }}</label>
                        <div class="col-sm-8">
                            <input name="email" id="email" type="email" pInputText #email="ngModel"
                                   [(ngModel)]="usuario.correoElectronico" required maxlength="80"
                                   pattern="[a-z0-9]+([-._]?[a-z0-9]+)+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
                                   (keyup)="emailCleanUp($event.target.value)"
                            />
                            <div *ngIf=" fu.submitted&&!email.valid" class="alert alert-danger">
                                <div [hidden]="!email.errors.required">{{ 'USUARIOS.MSG_VALORCORREO' | translate }}</div>
                                <div [hidden]="!email.errors.maxlength">{{ 'USUARIOS.MSG_VALOR80CARACT' | translate }}
                                </div>
                                <div [hidden]="!email.errors.pattern">{{ 'USUARIOS.MSG_ESTANDAR' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="usuarioLDAP" class="control-label col-sm-4">{{ 'USUARIOS.LBL_LDAP' | translate }}</label>
                        <div class="ui-grid-col-6">
                            <p-checkbox name="usuarioLDAP" id="usuarioLDAP" #usuarioLDAP="ngModel"
                                        [(ngModel)]="usuario.usuarioLdap" binary="true"></p-checkbox>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="habilitado" class="control-label col-sm-4">{{ 'LBL_HABILITADO' | translate }}</label>
                        <div class="col-sm-8">
                            <p-checkbox name="habilitado" id="habilitado" #habilitado="ngModel"
                                        [(ngModel)]="usuario.indicadorHabilitado" binary="true"></p-checkbox>
                        </div>
                    </div>
                </div>
					<div class="row form-footer-buttons">
					   <div class="form-group col-md-12">
					      <a (click)="displayDialog=true" class="cancelar">{{ 'BTN_CANCELAR' | translate }}</a>
					      <button pButton type="submit" label="{{ 'BTN_ACTUALIZAR' | translate }}"></button>
					   </div>
					</div>
            </form>
			  </fieldset>
        </p-panel>

    </p-tabPanel>
    <p-tabPanel header="{{ 'USUARIOS.LBL_ROLESGRUPOS' | translate }}" *ngIf="isUserCreated">
        <p-panel header="Agregar Rol o Grupo de Gestión">
			  <fieldset>
            <div class="ui-grid-row">
                <div class="col-sm-6">
                    <form #rolesForm="ngForm" class="form-horizontal" *ngIf="creatingRol"
                          (ngSubmit)="isGreaterRol&&rolesForm.form.valid&&createUserRole()">
                        <div class="form-group">
                            <label for="profile" class="control-label col-sm-4">Rol</label>
                            <div class="col-sm-8">
                                <select [(ngModel)]="curUsuarioRol.idRol" name="profile" id="profile"
                                        class="form-control" required>
                                    <option *ngFor="let c of roles" [ngValue]="c.idRol">{{c.rol}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">{{ 'LBL_FECHAINICIO' | translate }}</label>
                            <div class="col-sm-7">
                                <p-calendar [(ngModel)]="curUsuarioRol.fechaInicio" name="fechaInicio"
                                            id="fechaInicio" dateFormat="yy-mm-dd" [showIcon]="true"
                                            [minDate]="currentDate" readonlyInput="true"
                                            (onSelect)="isRequiredRol=true;validateGreaterRol();"></p-calendar>
                            </div>
                            <div [hidden]="!curUsuarioRol.fechaInicio" class="col-sm-1 pull-right">
                                <button pButton type="button" class="ui-button-danger"
                                        (click)="clearSelectionRol()"
                                        icon="fa-close"></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">{{ 'LBL_FECHAFIN' | translate }}</label>
                            <div class="col-sm-8">
                                <p-calendar [(ngModel)]="curUsuarioRol.fechaFin" name="fechaFin" id="fechaFin"
                                            dateFormat="yy-mm-dd" [minDate]="curUsuarioRol.fechaInicio" [showIcon]="true"
                                            [required]="isRequiredRol" [disabled]="!isRequiredRol"
                                            (onSelect)="validateGreaterRol();"
                                            readonlyInput="true" #fechaFin="ngModel"></p-calendar>
                                <div *ngIf="rolesForm.submitted&&!isGreaterRol" class="alert alert-danger">{{
	                                'USUARIOS.MSG_FECHAFINALMAYOR' | translate }}
                                </div>
                                <div *ngIf="rolesForm.submitted&&isRequiredRol&&curUsuarioRol.fechaFin==null"
                                     class="alert alert-danger">{{ 'USUARIOS.MSG_FECHAFINAL' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="row form-footer-buttons">
                                <div class="form-group col-md-6">
                                <button pButton type="submit" label="{{ 'BTN_AGREGAR' | translate }}"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <form #gruposForm="ngForm" class="form-horizontal" *ngIf="creatingGroup"
                          (ngSubmit)="isGreaterGroup&&gruposForm.form.valid&&createUserGroup()">
                        <div class="form-group">
                            <label for="rol" class="control-label col-sm-4">{{ 'USUARIOS.LBL_GRUPOGESTION' | translate }}</label>
                            <div class="col-sm-8">
                                <select [(ngModel)]="curUsuarioGrupo.idGrupoGestion" name="rol" id="rol"
                                        class="form-control" required>
                                    <option *ngFor="let c of gruposGestion" [ngValue]="c.idGrupoGestion">
                                        {{c.grupoGestion}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">{{ 'LBL_FECHAINICIO' | translate }}</label>
                            <div class="col-sm-7">
                                <p-calendar [(ngModel)]="curUsuarioGrupo.fechaInicio" name="rfechaInicio"
                                            id="rfechaInicio" [minDate]="currentDate" [showIcon]="true"
                                            dateFormat="yy-mm-dd" readonlyInput="true"
                                            (onSelect)="isRequiredGroup=true;validateGreaterGroup();"></p-calendar>
                            </div>
                            <div [hidden]="!curUsuarioGrupo.fechaInicio" class="col-sm-1 pull-right">
                                <button pButton type="button" class="ui-button-danger"
                                        (click)="clearSelectionGroup()"
                                        icon="fa-close"></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">{{ 'LBL_FECHAFIN' | translate }}</label>
                            <div class="col-sm-8">
                                <p-calendar [(ngModel)]="curUsuarioGrupo.fechaFin" name="rfechaFin" id="rfechaFin"
                                            [minDate]="curUsuarioGrupo.fechaInicio" [showIcon]="true"
                                            dateFormat="yy-mm-dd" [required]="isRequiredGroup"
                                            [disabled]="!isRequiredGroup"
                                            (onSelect)="validateGreaterGroup();"
                                            readonlyInput="true" #fechaFin="ngModel"></p-calendar>
                                <div *ngIf="gruposForm.submitted&&!isGreaterGroup" class="alert alert-danger">{{ 'USUARIOS.MSG_FECHAFINALMAYOR' | translate }}
                                </div>
                                <div *ngIf="gruposForm.submitted&&isRequiredGroup&&curUsuarioGrupo.fechaFin==null"
                                     class="alert alert-danger">{{ 'USUARIOS.MSG_FECHAFINAL' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="row form-footer-buttons">
                            <div class="form-group col-md-6 pull-right">
                                <button pButton type="submit" label="{{ 'BTN_AGREGAR' | translate }}"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}"  [value]="curRoles" [paginator]="true" [rows]="10"
                                 [responsive]="true">
                        <p-column field="rol" header="{{ 'USUARIOS.LBL_ROL' | translate }}"></p-column>
                        <p-column header="{{ 'USUARIOS.MSG_PERIODOHAB' | translate }}">
                            <template let-const="rowData" pTemplate="body">
                                <p>FI:{{const.fechaInicio}}<br>FF:{{const.fechaFin}}</p>
                            </template>
                        </p-column>
                        <p-column header="{{ 'LBL_ACCION' | translate }}" styleClass="datatable-col-action">
                            <template let-constantData="rowData" pTemplate="body">
                                <div class="btn-group" role="group">
                                    <button type="button" class="ui-button ui-button-danger btn" icon="fa-close" data-toggle="tooltip" title="{{'BTN_ELIMINAR' | translate}}"
                                            pButton (click)="removeRole(constantData.idUsuarioRol)"></button>
                                </div>
                            </template>
                        </p-column>
                    </p-dataTable>
                </div>
                <div class="ui-grid-col-6">
                    <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}"  [value]="curGrupos" [paginator]="true" [rows]="10"
                                 [responsive]="true">
                        <p-column field="grupoGestion" header="{{ 'USUARIOS.LBL_GRUPOGESTION' | translate }}"></p-column>
                        <p-column header="{{ 'USUARIOS.MSG_PERIODOHAB' | translate }}">
                            <template let-const="rowData" pTemplate="body">
                                <p>FI:{{const.fechaInicio}}<br>FF:{{const.fechaFin}}</p>
                            </template>
                        </p-column>
                        <p-column header="{{ 'LBL_ACCION' | translate }}" styleClass="datatable-col-action">
                            <template let-constantData="rowData" pTemplate="body">
                                <div class="btn-group" role="group">
                                    <button type="button" class="ui-button ui-button-danger btn" icon="fa-close"
                                            pButton (click)="removeGroup(constantData.idUsuarioGrupoGestion)"></button>
                                </div>
                            </template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
				  <div class="row form-footer-buttons">
					  <div class="form-group col-md-12">
						  <button icon="fa-arrow-left" label="{{ 'BTN_REGRESAR' | translate }}" type="button"
									 pButton (click)="goBack()"></button>
					  </div>
				  </div>
			  </fieldset>
        </p-panel>
    </p-tabPanel>
    <p-tabPanel header="{{ 'USUARIOS.LBL_HISTORIAL' | translate }}" rightIcon="fa-calendar" *ngIf="isUserCreated">
        <div class="row datable-header">
            <div class="col-md-6 col-xs-12 datatable-header-add">
            </div>
			  <div class="col-md-6 col-xs-12 datatable-header-search">
				  <div class="input-group">
					  <div class="input-group-addon"><i class="fa fa-search"></i></div>
					  <input #gbs type="text" pInputText size="40" placeholder="{{ 'LBL_BUSCAR' | translate }}" class="form-control">
				  </div>
			  </div>
        </div>
        <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}"  [value]="historico" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gbs">
            <p-column field="idAuditoria" header="{{ 'LBL_ID' | translate }}" [sortable]="true"></p-column>
            <p-column field="historia" header="{{ 'USUARIOS.LBL_HISTORIA' | translate }}" [sortable]="true"></p-column>
            <p-column field="valorAnterior" header="{{ 'USUARIOS.LBL_VALORANTERIOR' | translate }}" [sortable]="true"></p-column>
            <p-column field="valorNuevo" header="{{ 'USUARIOS.LBL_VALORNUEVO' | translate }}" [sortable]="true"></p-column>
        </p-dataTable>
    </p-tabPanel>
</p-tabView>
<p-dialog header="{{ 'LBL_CONFIRMACION' | translate }}" [(visible)]="displayDialog"
          responsive="true" modal="true">
    <p>{{ 'USUARIOS.MSG_CONFIRMASALIR' | translate }}</p>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="displayDialog=false" label="{{ 'BTN_NO' | translate }}"></button>
            <button type="button" pButton icon="fa-check" (click)="goBack()" label="{{ 'BTN_SI' | translate }}"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog header="{{ 'LBL_CONFIRMACION' | translate }}" [(visible)]="displayUpdateDialog"
          responsive="true" modal="true">
    <p>{{ 'USUARIOS.MSG_CONFIRMACION' | translate }}</p>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="displayUpdateDialog=false" label="{{ 'BTN_NO' | translate }}"></button>
            <button type="button" pButton icon="fa-check" (click)="createUser()" label="{{ 'BTN_SI' | translate }}"></button>
        </div>
    </p-footer>
</p-dialog>
