<h3>Usuarios</h3>
<div class="row datable-header">
    <div class="col-md-6 col-xs-12 datatable-header-add">
        <button type="button" pButton icon="fa-plus" (click)="addUser()" label="Nuevo Usuario"></button>
    </div>
    <div class="col-md-6 col-xs-12 datatable-header-search">
        <i class="fa fa-search"></i>
        <input type="text" pInputText size="40" placeholder="Buscar..." (keyup)="showData($event.target.value)">
    </div>
</div>
<p-dataTable [value]="usuarios" [paginator]="true" [rows]="10" [responsive]="true">
    <p-column field="idUsuario" header="Id" [sortable]="true"></p-column>
    <p-column field="nombre" header="Nombre" [sortable]="true"></p-column>
    <p-column field="documento" header="Numero Documento" [sortable]="true"></p-column>
    <p-column field="usuario" header="Usuario" [sortable]="true"></p-column>
    <p-column field="indHab" header="Habilitado" [sortable]="true">
        <template let-const="rowData" pTemplate="body">
            <p-checkbox [(ngModel)]="const.indHab" binary="true" disabled="true"></p-checkbox>
        </template>
    </p-column>
    <p-column header="Acciones" styleClass="datatable-col-action">
        <template let-constantData="rowData" pTemplate="body">
            <div class="btn-group" role="group">
                <button type="button" class="ui-button btn" icon="fa-eye"
                        pButton (click)="viewUser(constantData.idUsuario)"></button>
                <button type="button" class="ui-button ui-button-success btn" icon="fa-pencil" pButton
                        (click)="editUser(constantData.idUsuario)"></button>
            </div>
        </template>
    </p-column>
</p-dataTable>