<h3>{{ 'LBL_ ADMINISTRADOR' | translate:param }} {{ 'LBL_USUARIOS' | translate:param }}</h3>
<p-tabView>
    <p-tabPanel header="Datos de Usuario">
        <p-fieldset legend="Buscar Tercero para asignar Usuario" *ngIf="!isTerceroSet">
            <form #fc="ngForm">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-3" style="text-align: center"><label>{{ 'LBL_TIPODOCUMENTO' | translate:param }}:</label>
                    </div>
                    <div class="ui-grid-col-3">
                        <select [(ngModel)]="selectedTipo" id="idTipoDato" name="idTipoDato" class="form-control"
                                required #idTipoDato="ngModel">
                            <option *ngFor="let c of datatypeDetails" [ngValue]="c.idLista">
                                {{c.codigo}} - {{c.nombre}}
                            </option>
                        </select>
                    </div>
                    <div class="ui-grid-col-3" style="text-align: center"><label for="numDocumento">{{ 'LBL_NUMERODOCUMENTO' | translate:param }}
                        :</label></div>
                    <div class="ui-grid-col-3">
                        <input id="numDocumento" name="numDocumento" #numDocumento="ngModel" type="text" pInputText
                               [(ngModel)]="numeroDocumento" required maxlength="20" (keyup)="changeEvent($event)"
                              (paste)="changeEvent($event)"/>
                        <div *ngIf="fc.submitted&&!numDocumento.valid" class="alert alert-danger">
                            <div [hidden]="!numDocumento.errors.required">Debe ingresar un numero de documento.</div>
                            <div [hidden]="!numDocumento.errors.maxlength">El número de documento no debe tener mas de
                                20 caracteres.
                            </div>
                        </div>
                        <div *ngIf="!terceroExiste" class="alert alert-danger"> El Tercero no existe</div>
                        <div *ngIf="userExists" class="alert alert-danger"> El Tercero ya posee un usuario.</div>
                    </div>
                    <div class="pull-right">
                        <a (click)="displayDialog=true" class="cancelar">Cancelar</a>
                        <button pButton type="button" (click)="findPerson()" label="Buscar" #submit
                                *ngIf="terceroExiste"></button>
                        <button pButton type="button" icon="fa-check" iconPos="left" label="Crear Tercero"
                                *ngIf="!terceroExiste"></button>
                    </div>
                </div>
            </form>
        </p-fieldset>

        <p-fieldset legend="Datos Tercero" *ngIf="isTerceroSet">

            <div class="col-md-3">
                <div class="ui-grid-col-10">
                    <img class="thumbnail img-responsive"
                         src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg ">
                </div>
            </div>

            <div class="col-md-9">
                <div class="ui-grid-col-6">
                    <p>{{tercero.primerNombre}} {{tercero.segundoNombre}} {{tercero.primerApellido}}
                        {{tercero.segundoApellido}}</p>
                    <p>{{tercero.numeroDocumento}}</p>
                </div>
                <div class="ui-grid-col-6">
                    <p></p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="ui-grid-col-4">
                    <label>Género :</label>
                    <p></p>
                    <label>Ciudad :</label>
                    <p></p>
                </div>
                <div class="ui-grid-col-4">
                    <label>Estado civil :</label>
                    <p></p>
                    <label>Dirección :</label>
                    <p></p>
                </div>
                <div class="ui-grid-col-4">
                    <label>EPS :</label>
                    <p></p>
                    <label>Teléfono :</label>
                    <p></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="pull-right">
                    <label>Editar información de Tercero </label>
                    <button pButton type="button" icon="glyphicon-pencil" iconPos="right" label="Editar"></button>
                </div>
            </div>
        </p-fieldset>

        <p-fieldset legend="Información Contacto" *ngIf="isTerceroSet">
            <form class="form-horizontal" #fu="ngForm" (ngSubmit)="!sameUser&&fu.form.valid && createUser()" novalidate
                  *ngIf="!isUserCreated&&isTerceroSet" autocomplete="off">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="uSistema" class="control-label col-sm-4">Usuario Sistema</label>
                        <div class="col-sm-8">
                            <input name="uSistema" id="uSistema" type="text" pInputText #uSistema="ngModel"
                                   [(ngModel)]="usuario.usuarioSistema" required maxlength="80"
                                   pattern="[a-z0-9]+([-._]?[a-z0-9]+)+" (change)="validateCreationUser()"
                                   (keyup)="userCleanUp($event.target.value);validateCreationUser();"/>
                            <div *ngIf="sameUser" class="alert alert-danger">El usuario ya existe para otro tercero
                            </div>
                            <div *ngIf="fu.submitted&&!uSistema.valid" class="alert alert-danger">
                                <div [hidden]="!uSistema.errors.required">Debe ingresar un valor para el Usuario
                                </div>
                                <div [hidden]="!uSistema.errors.pattern">El nombre de usuario solo debe contener letras
                                    y los caracteres . - y/o _
                                </div>
                                <div [hidden]="!uSistema.errors.maxlength">El nombre de usuario no debe tener mas de 80
                                    caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email" class="control-label col-sm-4">Correo Electronico</label>
                        <div class="col-sm-8">
                            <input name="email" id="email" type="email" pInputText #email="ngModel"
                                   [(ngModel)]="usuario.correoElectronico" required maxlength="80"
                                   pattern="[a-z0-9]+([-._]?[a-z0-9]+)+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
                                   (keyup)="emailCleanUp($event.target.value)"
                            />
                            <div *ngIf=" fu.submitted&&!email.valid" class="alert alert-danger">
                                <div [hidden]="!email.errors.required">Debe ingresar un valor para el correo</div>
                                <div [hidden]="!email.errors.maxlength">El valor no debe tener mas de 80 caracteres.
                                </div>
                                <div [hidden]="!email.errors.pattern">El correo electronico no cumple con el estandar
                                    xxxxx@yyyyy.com[.zz]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="usuarioLDAP" class="control-label col-sm-4">Usuario LDAP</label>
                        <div class="ui-grid-col-6">
                            <p-checkbox name="usuarioLDAP" id="usuarioLDAP" #usuarioLDAP="ngModel"
                                        [(ngModel)]="usuario.usuarioLdap" binary="true"></p-checkbox>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="habilitado" class="control-label col-sm-4">Habilitado</label>
                        <div class="col-sm-8">
                            <p-checkbox name="habilitado" id="habilitado" #habilitado="ngModel"
                                        [(ngModel)]="usuario.indicadorHabilitado" binary="true"></p-checkbox>
                        </div>
                    </div>
                    <div class="form-group" [hidden]="isUserCreated">
                        <a (click)="displayDialog=true" class="cancelar">Cancelar</a>
                        <button pButton type="submit" label="Guardar"></button>
                    </div>
                </div>
            </form>
            <div class="col-sm-6" *ngIf="isUserCreated&&isTerceroSet">
                <div class="form-group">
                    <label for="uSistema" class="control-label col-sm-4">Usuario Sistema</label>
                    <div class="col-sm-8">
                        <input type="text" pInputText disabled [(ngModel)]="usuario.usuarioSistema"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Usuario LDAP</label>
                    <div class="ui-grid-col-6">
                        <p-checkbox [(ngModel)]="usuario.usuarioLdap" binary="true" disabled></p-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" *ngIf="isUserCreated&&isTerceroSet">
                <div class="form-group">
                    <label class="control-label col-sm-4">Correo Electronico</label>
                    <div class="col-sm-8">
                        <input pInputText [(ngModel)]="usuario.correoElectronico" disabled type="email"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Habilitado</label>
                    <div class="col-sm-8">
                        <p-checkbox [(ngModel)]="usuario.indicadorHabilitado" binary="true" disabled></p-checkbox>
                    </div>
                </div>
                <div class="col-md-12, pull-right">
                    <a (click)="displayDialog=true" class="cancelar">Regresar</a>
                </div>
            </div>
        </p-fieldset>

    </p-tabPanel>
    <p-tabPanel header="Roles y Grupos de Gestión" *ngIf="isUserCreated">
        <p-fieldset>
            <div class="row">
                <div class="col-sm-6">
                    <form #rolesForm="ngForm" class="form-horizontal" *ngIf="creatingRol"
                          (ngSubmit)="isGreaterRol&&rolesForm.form.valid&&createUserRole()">
                        <div class="form-group">
                            <label for="profile" class="control-label col-sm-4">Rol</label>
                            <div class="col-sm-8">
                                <select [(ngModel)]="curUsuarioRol.idRol" name="profile" id="profile"
                                        class="form-control" required>
                                    <option *ngFor="let c of roles" [ngValue]="c.idRol">{{c.rol}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="fechaInicio">Fecha Inicio</label>
                            <div class="col-sm-7">
                                <p-calendar [(ngModel)]="curUsuarioRol.fechaInicio" name="fechaInicio" [showIcon]="true"
                                            id="fechaInicio" dateFormat="yy-mm-dd"
                                            [minDate]="currentDate" readonlyInput="true"
                                            (onSelect)="isRequiredRol=true;validateGreaterRol();"></p-calendar>

                            </div>
                            <div [hidden]="!curUsuarioRol.fechaInicio" class="col-sm-1 pull-right">
                            <button pButton type="button" class="ui-button-danger" (click)="clearSelectionRol()"
                                    icon="fa-close"></button>
                        </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Fecha Fin</label>
                            <div class="col-sm-8">
                                <p-calendar [(ngModel)]="curUsuarioRol.fechaFin" name="fechaFin" id="fechaFin"
                                            [showIcon]="true"
                                            dateFormat="yy-mm-dd" [minDate]="curUsuarioRol.fechaInicio"
                                            [required]="isRequiredRol" [disabled]="!isRequiredRol"
                                            (onSelect)="validateGreaterRol();"
                                            readonlyInput="true" #fechaFin="ngModel"></p-calendar>
                                <div *ngIf="rolesForm.submitted&&!isGreater" class="alert alert-danger">La fecha Final
                                    debe ser mayor que la
                                    Inicial
                                </div>
                                <div *ngIf="rolesForm.submitted&&isRequiredRol&&curUsuarioRol.fechaFin==null"
                                     class="alert alert-danger">Debe
                                    seleccionar una fecha final
                                </div>
                            </div>
                        </div>
                        <div class="row form-footer-buttons">
                            <div class="form-group col-md-6 pull-right">
                            <button pButton type="submit" label="Agregar"></button>
                        </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <form #gruposForm="ngForm" class="form-horizontal" *ngIf="creatingGroup"
                          (ngSubmit)="isGreaterGroup&&gruposForm.form.valid&&createUserGroup()">
                        <div class="form-group">
                            <label for="rol" class="control-label col-sm-4">Grupo Gestion</label>
                            <div class="col-sm-8">
                                <select [(ngModel)]="curUsuarioGrupo.idGrupoGestion" name="rol" id="rol"
                                        class="form-control" required>
                                    <option *ngFor="let c of gruposGestion" [ngValue]="c.idGrupoGestion">
                                        {{c.grupoGestion}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Fecha Inicio</label>
                            <div class="col-sm-7">
                                <p-calendar [(ngModel)]="curUsuarioGrupo.fechaInicio" name="rfechaInicio"
                                            id="rfechaInicio" [showIcon]="true" [minDate]="currentDate"
                                            dateFormat="yy-mm-dd" readonlyInput="true"
                                            (onSelect)="isRequiredGroup=true;validateGreaterGroup();"></p-calendar>
                            </div>
                            <div [hidden]="!curUsuarioGrupo.fechaInicio" class="pull-right">
                                <button pButton type="button" class="ui-button-danger"
                                        (click)="clearSelectionGroup()"
                                        icon="fa-close"></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Fecha Fin</label>
                            <div class="col-sm-8">
                                <p-calendar [(ngModel)]="curUsuarioGrupo.fechaFin" name="rfechaFin" id="rfechaFin"
                                            [showIcon]="true" [minDate]="curUsuarioGrupo.fechaInicio"
                                            dateFormat="yy-mm-dd" [required]="isRequiredGroup"
                                            [disabled]="!isRequiredGroup"
                                            (onSelect)="validateGreaterGroup();"
                                            readonlyInput="true" #fechaFin="ngModel"></p-calendar>
                                <div *ngIf="gruposForm.submitted&&!isGreater" class="alert alert-danger">La fecha Final
                                    debe ser
                                    mayor que la
                                    Inicial
                                </div>
                                <div *ngIf="gruposForm.submitted&&isRequiredGroup&&curUsuarioGrupo.fechaFin==null"
                                     class="alert alert-danger">Debe
                                    seleccionar una fecha final
                                </div>
                            </div>
                        </div>
                        <div class="row form-footer-buttons">
                            <div class="form-group col-md-6 pull-right">
                            <button pButton type="submit" label="Agregar"></button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate:param }}"  [value]="curRoles" [paginator]="true" [rows]="10"
                                 [responsive]="true">
                        <p-column field="rol" header="Rol"></p-column>
                        <p-column header="Periodo Habilitación">
                            <template let-const="rowData" pTemplate="body">
                                <p>FI:{{const.fechaInicio}}<br>FF:{{const.fechaFin}}</p>
                            </template>
                        </p-column>
                        <p-column header="Acción" styleClass="datatable-col-action">
                            <template let-constantData="rowData" pTemplate="body">
                                <div class="btn-group" role="group">
                                    <button type="button" class="ui-button ui-button-danger btn" icon="fa-close"
                                            pButton (click)="removeRole(constantData.idUsuarioRol)"></button>
                                </div>
                            </template>
                        </p-column>
                    </p-dataTable>
                </div>
                <div class="ui-grid-col-6">
                    <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate:param }}"  [value]="curGrupos" [paginator]="true" [rows]="10"
                                 [responsive]="true">
                        <p-column field="grupoGestion" header="GrupoGestion"></p-column>
                        <p-column header="Periodo Habilitación">
                            <template let-const="rowData" pTemplate="body">
                                <p>FI:{{const.fechaInicio}}<br>FF:{{const.fechaFin}}</p>
                            </template>
                        </p-column>
                        <p-column header="Acción" styleClass="datatable-col-action">
                            <template let-constantData="rowData" pTemplate="body">
                                <div class="btn-group" role="group">
                                    <button type="button" class="ui-button ui-button-danger btn" icon="fa-close"
                                            pButton (click)="removeGroup(constantData.idUsuarioGrupoGestion)"></button>
                                </div>
                            </template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>

            <div class="pull-right form-footer-buttons">
                <a (click)="displayDialog=true" class="cancelar">Regresar</a>
            </div>
        </p-fieldset>
    </p-tabPanel>
    <p-tabPanel header="Historial" rightIcon="fa-calendar" *ngIf="isUserCreated">
        <div class="row datable-header">
            <div class="col-md-6 col-xs-12 datatable-header-add">
            </div>
            <div class="col-md-6 col-xs-12 datatable-header-search">
                <i class="fa fa-search"></i>
                <input #gbs type="text" pInputText size="40" placeholder="Buscar...">
            </div>
        </div>
        <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate:param }}"  [value]="historico" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gbs">
            <p-column field="idAuditoria" header="Id" [sortable]="true"></p-column>
            <p-column field="historia" header="Historia" [sortable]="true"></p-column>
            <p-column field="valorAnterior" header="Valor Anterior" [sortable]="true"></p-column>
            <p-column field="valorNuevo" header="Valor Nuevo" [sortable]="true"></p-column>
        </p-dataTable>
    </p-tabPanel>
</p-tabView>
<p-dialog header="Confirmación" [(visible)]="displayDialog"
          responsive="true" modal="true">
    <p>Si continua perdera la información no guardada.Esta seguro que desea salir?.</p>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="displayDialog=false" label="No"></button>
            <button type="button" pButton icon="fa-check" (click)="goBack()" label="Si"></button>
        </div>
    </p-footer>
</p-dialog>
