<div class="row">
	<div class="col-md-offset-1 col-md-10">

		<h3>{{ 'USUARIOS.LBL_USUARIOS' | translate }}</h3>
		<p-tabView>
			<p-tabPanel header="{{ 'USUARIOS.LBL_DATOSUSER' | translate }}" leftIcon="fa-address-book">
				<p-panel header="{{ 'USUARIOS.LBL_DATOSTERCERO' | translate }}">
					<fieldset>
				<div class="col-md-10 col-md-offset-1">
					<div class="row form-group">
					<div class="col-md-4">
						<img class="thumbnail img-responsive"
							  src="{{svcThUrlAvatar}}/file/{{tercero.imagen}}">
					</div>
						<div class="col-md-8" style="text-align: match-parent">
						<h2>{{tercero.nombreCompleto}}</h2>
						<h4>{{tercero.fechaNacimiento}} ({{tercero.edad}})</h4>
						<span>{{tercero.tipoDocumento}} : {{tercero.numeroDocumento}}</span><br/>
					</div>
				</div>
					</div>
							<p></p>
				<div class="col-md-10 col-md-offset-1">
						<div class="row form-group">
						<div class="col-md-6">
							<label class="control-label">{{ 'LBL_GENERO' | translate }} :</label>
							<p>{{tercero.genero}}</p>
						</div>
						<div class="col-md-6">
							<label class="control-label">{{ 'LBL_ESTADOCIVIL' | translate }}:</label>
							<p>{{tercero.estadoCivil}}</p>
						</div>
						<div class="col-md-6">
							<label class="control-label">{{ 'LBL_EPS' | translate }} :</label>
							<p><i>pendiente diligenciar</i></p>
						</div>
						<div class="col-md-6">
							<label class="control-label">{{ 'LBL_CIUDAD' | translate }} :</label>
							<p>{{tercero.ciudadNacimiento}}</p>
						</div>
						<div class="col-md-6">
							<label class="control-label">{{ 'EMPLOYEES.LBL_DIRECCIONRESIDENCIA' | translate }}:</label>
							<div>
								<ul>
									<li *ngFor="let l of locations">{{l.direccion}}</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<label class="control-label">{{ 'LBL_TELEFONO' | translate }} :</label>
							<p>{{tercero.telefonoFijo}}</p>
						</div>
					</div>
				</div>
					</fieldset>
				</p-panel>

					<p-panel header="{{ 'USUARIOS.LBL_INFOCONTACTO' | translate }}">
					<fieldset>
						<div class="row">
							<div class="col-md-6">
							<div class="form-group">
							<label for="uSistema" class="control-label col-sm-4">{{ 'USUARIOS.LBL_USUARIOSISTEMA' | translate
								}}</label>
							<input id="uSistema" type="text" pInputText disabled [(ngModel)]="usuario.usuarioSistema"/>
							</div>
						</div>
							<div class="col-md-6">
							<div class="form-group">
									<label class="control-label col-sm-4">{{ 'USUARIOS.LBL_CORREOELECTRONICO' | translate }}</label>
									<input pInputText [(ngModel)]="usuario.correoElectronico" disabled type="email"/>
								</div>
							</div>
					</div>
						<p></p>
						<div class="row">
						<div class="col-md-6">
						<div class="form-group">
								<label class="control-label col-sm-4">{{ 'USUARIOS.LBL_LDAP' | translate }}</label>
								<p-checkbox [(ngModel)]="usuario.usuarioLdap" binary="true" disabled></p-checkbox>
							</div>
						</div>
						<div class="col-sm-6">
						<div class="form-group">
								<label class="control-label col-sm-4">{{ 'LBL_HABILITADO' | translate }}</label>
								<p-checkbox [(ngModel)]="usuario.indicadorHabilitado" binary="true" disabled></p-checkbox>
							</div>
						</div>
					</div>

						<div class="row form-footer-buttons">
							<div class="form-group col-md-12">
								<button icon="fa-arrow-left" label="{{ 'BTN_REGRESAR' | translate }}" type="button"
										  pButton (click)="goBack()"></button>
							</div>
						</div>

					</fieldset>
					</p-panel>

			</p-tabPanel>
			<p-tabPanel header="{{ 'USUARIOS.LBL_ROLESGRUPOS' | translate }}" leftIcon="fa-tags">
				<div class="ui-grid-row">
					<div class="ui-grid-col-6">
						<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="curRoles"
										 [paginator]="true"
										 [rows]="10"
										 [responsive]="true">
							<p-column field="rol" header="{{ 'USUARIOS.LBL_ROL' | translate }}"></p-column>
							<p-column header="{{ 'USUARIOS.LBL_PERIODOHABILITACION' | translate }}">
								<template let-const="rowData" pTemplate="body">
									<p>FI:{{const.fechaInicio}}<br>FF:{{const.fechaFin}}</p>
								</template>
							</p-column>
						</p-dataTable>
					</div>
					<div class="ui-grid-col-6">
						<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="curGrupos"
										 [paginator]="true"
										 [rows]="10"
										 [responsive]="true">
							<p-column field="grupoGestion" header="{{ 'USUARIOS.LBL_GRUPOGESTION' | translate }}"></p-column>
							<p-column header="{{ 'USUARIOS.LBL_PERIODOHABILITACION' | translate }}">
								<template let-const="rowData" pTemplate="body">
									<p>FI:{{const.fechaInicio}}<br>FF:{{const.fechaFin}}</p>
								</template>
							</p-column>
						</p-dataTable>
					</div>
				</div>

				<div class="row form-footer-buttons">
					<div class="form-group col-md-12">
						<button icon="fa-arrow-left" label="{{ 'BTN_REGRESAR' | translate }}" type="button"
								  pButton (click)="goBack()"></button>
					</div>
				</div>


			</p-tabPanel>
			<p-tabPanel header="{{ 'USUARIOS.LBL_HISTORIAL' | translate }}" leftIcon="fa-calendar">
				<div class="row datable-header">
					<div class="col-md-6 col-xs-12 datatable-header-add">
					</div>
					<div class="col-md-6 col-xs-12 datatable-header-search">
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-search"></i></div>
							<input #gbs type="text" pInputText size="40" placeholder="{{ 'LBL_BUSCAR' | translate }}"
									 class="form-control">
						</div>
					</div>
				</div>
				<p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="historico" [paginator]="true"
								 [rows]="10"
								 [responsive]="true" [globalFilter]="gbs">
					<p-column field="idAuditoria" header="{{ 'LBL_ID' | translate }}" [sortable]="true"></p-column>
					<p-column field="historia" header="{{ 'USUARIOS.LBL_HISTORIAL' | translate }}"
								 [sortable]="true"></p-column>
					<p-column field="valorAnterior" header="{{ 'USUARIOS.LBL_VALORANTERIOR' | translate }}"
								 [sortable]="true"></p-column>
					<p-column field="valorNuevo" header="{{ 'USUARIOS.LBL_VALORNUEVO' | translate }}"
								 [sortable]="true"></p-column>
				</p-dataTable>
			</p-tabPanel>
		</p-tabView>
	</div>
</div>