<h3>{{ 'LBL_ ADMINISTRADOR' | translate:param }} {{ 'LBL_USUARIOS' | translate:param }}</h3>
<p-tabView>
    <p-tabPanel header="{{ 'LBL_DATOSUSUARIO' | translate:param }}">
        <p-fieldset legend="{{ 'LBL_DATOSTERCERO' | translate:param }}">

            <div class="col-md-3">
                <div class="ui-grid-col-10">
                    <img class="thumbnail img-responsive"
                         src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg ">
                </div>
            </div>

            <div class="col-md-9">
                <div class="ui-grid-col-6">
                    <p>{{tercero.primerNombre}} {{tercero.segundoNombre}} {{tercero.primerApellido}}
                        {{tercero.segundoApellido}}</p>
                    <p>{{tercero.numeroDocumento}}</p>
                </div>
                <div class="ui-grid-col-6">
                    <p></p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="ui-grid-col-4">
                    <label>{{ 'LBL_GENERO' | translate:param }} :</label>
                    <p></p>
                    <label>{{ 'LBL_CIUDAD' | translate:param }} :</label>
                    <p></p>
                </div>
                <div class="ui-grid-col-4">
                    <label>{{ 'LBL_ESTADOCIVIL' | translate:param }} :</label>
                    <p></p>
                    <label>{{ 'LBL_DIRECCIONRESIDENCIA' | translate:param }} :</label>
                    <p></p>
                </div>
                <div class="ui-grid-col-4">
                    <label>{{ 'LBL_EPS' | translate:param }} :</label>
                    <p></p>
                    <label>{{ 'LBL_TELEFONO' | translate:param }} :</label>
                    <p></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="pull-right">
                    <label>Editar información de Tercero </label>
                    <button pButton type="button" icon="glyphicon-pencil" iconPos="right" label="Editar"></button>
                </div>
            </div>
        </p-fieldset>

        <p-fieldset legend="Información Contacto">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="uSistema" class="control-label col-sm-4">{{ 'LBL_USUARIO' | translate:param }}{{ 'LBL_SISTEMA' | translate:param }}</label>
                    <div class="col-sm-8">
                        <input type="text" pInputText disabled [(ngModel)]="usuario.usuarioSistema"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">{{ 'LBL_USUARIO' | translate:param }} {{ 'LBL_LDAP' | translate:param }}</label>
                    <div class="ui-grid-col-6">
                        <p-checkbox [(ngModel)]="usuario.usuarioLdap" binary="true" disabled></p-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-4">{{ 'LBL_CORREOELECTRONICO' | translate:param }}</label>
                    <div class="col-sm-8">
                        <input pInputText [(ngModel)]="usuario.correoElectronico" disabled type="email"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">{{ 'LBL_HABILITADO' | translate:param }}</label>
                    <div class="col-sm-8">
                        <p-checkbox [(ngModel)]="usuario.indicadorHabilitado" binary="true" disabled></p-checkbox>
                    </div>
                </div>
                <div class="col-md-12, pull-right">
                    <a (click)="goBack()" class="cancelar">{{ 'BTN_REGRESAR' | translate:param }}</a>
                </div>
            </div>
        </p-fieldset>

    </p-tabPanel>
    <p-tabPanel header="{{ 'LBL_ROLES' | translate:param }} Y {{ 'LBL_GESTION' | translate:param }}">
        <div class="ui-grid-row">
            <div class="ui-grid-col-6">
                <p-dataTable [value]="curRoles" [paginator]="true" [rows]="10"
                             [responsive]="true">
                    <p-column field="rol" header="{{ 'LBL_ROL' | translate:param }}"></p-column>
                    <p-column header="{{ 'LBL_PERIODOHABILITACION' | translate:param }}">
                        <template let-const="rowData" pTemplate="body">
                            <p>FI:{{const.fechaInicio}}<br>FF:{{const.fechaFin}}</p>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
            <div class="ui-grid-col-6">
                <p-dataTable [value]="curGrupos" [paginator]="true" [rows]="10"
                             [responsive]="true">
                    <p-column field="grupoGestion" header="{{ 'LBL_GESTION' | translate:param }}"></p-column>
                    <p-column header="{{ 'LBL_PERIODOHABILITACION' | translate:param }}">
                        <template let-const="rowData" pTemplate="body">
                            <p>FI:{{const.fechaInicio}}<br>FF:{{const.fechaFin}}</p>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>

        <div class="col-md-12, pull-right">
            <a (click)="goBack()" class="cancelar">{{ 'LBL_REGRESAR' | translate:param }}</a>
        </div>
    </p-tabPanel>
    <p-tabPanel header="{{ 'LBL_HISTORIAL' | translate:param }}" rightIcon="fa-calendar">
        <div class="row datable-header">
            <div class="col-md-6 col-xs-12 datatable-header-add">
            </div>
            <div class="col-md-6 col-xs-12 datatable-header-search">
                <i class="fa fa-search"></i>
                <input #gbs type="text" pInputText size="40" placeholder="Buscar...">
            </div>
        </div>
        <p-dataTable [value]="historico" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gbs">
            <p-column field="idAuditoria" header="{{ 'LBL_ID' | translate:param }}" [sortable]="true"></p-column>
            <p-column field="historia" header="{{ 'LBL_HISTORIAL' | translate:param }}" [sortable]="true"></p-column>
            <p-column field="valorAnterior" header="{{ 'LBL_VALOR' | translate:param }} {{ 'LBL_ANTERIOR' | translate:param }}" [sortable]="true"></p-column>
            <p-column field="valorNuevo" header="{{ 'LBL_VALORL' | translate:param }}{{ 'LBL_NUEVO' | translate:param }}" [sortable]="true"></p-column>
        </p-dataTable>
    </p-tabPanel>
</p-tabView>