<div id="wrapper" class="wrapper">
	
	<sd-toolbar *ngIf="sessionStart"></sd-toolbar>
	
	<sd-navbar *ngIf="sessionStart"></sd-navbar>
	
	<div id="content-wrapper" [ngClass]="sessionStart ? 'content-wrapper' : 'wrapper-login'">
		<!-- Content Header (Page header) -->
		<section class="content-header" *ngIf="sessionStart">
			<sd-breadcrumb></sd-breadcrumb>
		</section>
		<p-messages id="msgNotificacion" [value]="msgs"></p-messages>
		<!-- Main content -->
		<section id="main" class="content clearfix">
			<router-outlet></router-outlet>
		</section>
		<!-- /.content -->
	</div>
	
	<footer class="main-footer" *ngIf="sessionStart">
		<div class="pull-right hidden-xs">
			<b>Version</b> 0.0.22
		</div>
		Copyright &copy; 2017 <a href="http://www.ciberdix.com" target="_blank">Ciberdix</a>. All right reserved.
	</footer>

</div>

<p-dialog id="dlgSessionOff" header="Advertencia"
[(visible)]="display" modal="true" [width]="400"
			 [draggable]="false" [resizable]="false">
	La sesión se cerrará en <strong>{{idleState}}</strong> a partir de este momento si no se detecta actividad por parte del usuario.
</p-dialog>
