<div>
   <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="processRoles"
                [paginator]="false" [responsive]="true" >
      <p-column header="{{ 'POSITION.LBL_ROL' | translate }}">
         <template let-rol="rowData" pTemplate="body">
            {{rol.codigo}} - {{rol.nombre}}
         </template>
      </p-column>
      <p-column header="-" styleClass="datatable-col-action">
         <template let-rol="rowData" pTemplate="body">
            <p-checkbox [(ngModel)]="rol.asignadoAlCargo" binary="true" (onChange)="updateProcessRol(rol)"></p-checkbox>
         </template>
      </p-column>
   </p-dataTable>
</div>
<div class="ui-grid-row form-footer-buttons">
   <div class="ui-grid-col-10">
      <p-messages [value]="msgsAlert"></p-messages>
   </div>
   <div class="ui-grid-col-2 pull-right">
      <button pButton label="{{ 'BTN_SIGUIENTE' | translate }}" type="button" (click)="next()"></button>
   </div>
</div>
<p-confirmDialog width="400"></p-confirmDialog>
