<div>
   <p-dataTable emptyMessage="{{ 'MSG_NORECORDSFOUND' | translate }}" [value]="processRoles"
                [paginator]="false" [responsive]="true" >
      <p-column header="Rol">
         <template let-rol="rowData" pTemplate="body">
            {{rol.codigo}} - {{rol.nombre}}
         </template>
      </p-column>
      <p-column header="-" styleClass="datatable-col-action">
         <template let-rol="rowData" pTemplate="body">
            <p-checkbox [(ngModel)]="rol.asignadoAlCargo" binary="true" (onChange)="updateProcessRol(rol)"></p-checkbox>
         </template>
      </p-column>
   </p-dataTable>
</div>
<p-confirmDialog width="400"></p-confirmDialog>
